.content-top{
    // border-top: 1px solid var(--ion-color-light-shade);
    text-align: center;
    background-color: var(--ion-color-light);
}
.logo{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}