.content-top {
  // border-top   : 1px solid var(--ion-color-light-shade);
  text-align      : center;
  background-color: var(--ion-color-light);
}

.row-top {
  font-size       : 12px;
  box-shadow      : 1px 2px 6px rgba(0, 0, 0, 0.1);
  padding-left    : 0.5em;
  padding-right   : 0.5em;
  background-color: var(--ion-color-light);
  width           : 100%;
  text-align      : center;
}

.border-b {
  border-top: 0.6em solid var(--ion-color-primary);
}

.boxShadow {
  font-size : 0.9em;
  text-align: center;
  box-shadow: 1px -1px 6px rgba(0, 0, 0, 0.1);
}

.has-filter {
  position: relative;

  &::after {
    content         : "";
    display         : block;
    border-radius   : 50%;
    height          : 0.5em;
    width           : 0.5em;
    background-color: var(--ion-color-danger);
    position        : absolute;
    right           : 0;
    top             : 0;
    z-index         : 1;
  }
}

.font-size {
  // font-size     : 0.7em;
  color         : var(--ion-color-medium);
  padding-top   : 0.3em;
  padding-bottom: 0.3em;
}

.padding-s {
  padding-left : 0.5em;
  padding-right: 0.5em;
  width        : 2em;
}

.back_white {
  background-color: var(--ion-color-light);
}

.date-font {
  font-size     : 0.6em;
  color         : var(--ion-color-medium);
  padding-bottom: 0.2em;
}

.back-border {
  // border-radius   : 0.5em;
  display         : inline-block;
  background-color: var(--ion-color-secondary);
  color           : var(--ion-color-light);
  padding         : 0.1em 0.3em;
}