<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>邮箱绑定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]='form'>
      <ion-row>
        <ion-col size="3">
          <ion-label position="floating" class='email-address'>
            <span *ngIf="isFinish">绑定邮箱</span>
            <span *ngIf="!isFinish">邮箱地址</span>
          </ion-label>
        </ion-col>
        <ion-col size='6'>
          <ion-input placeholder="邮箱地址" formControlName="Email" [color]='isModiy?"":"medium"' type="text"
            [readonly]='!isModiy'></ion-input>
        </ion-col>
        <ion-col *ngIf='!isModiy&&!isChange' size='3'>
          <ion-button style="font-size: 0.7rem;" color='secondary' size='small' fill='outline' (click)='onChange()'>更换邮箱
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row [class.hidden]='!isModiy&&!isChange'>
        <ion-col size="3.5">
          <ion-label position="floating">邮箱验证码</ion-label>
        </ion-col>
        <ion-col size='4'>
          <ion-input placeholder="请输入验证码" formControlName="Code" (blur)="sendAction()"></ion-input>
        </ion-col>
        <ion-col size='3' *ngIf='countDown==0;else countdown'>
          <ion-button fill="outline" size='small' color="secondary" [disabled]='form.invalid' (click)="sendEmailCode()">
            <span [style.font-size.rem]="0.8">
              发送验证码
            </span>
          </ion-button>
        </ion-col>
        <ng-template #countdown>
          <ion-col size='3' class='down-count'>
            <ion-label color='medium'>{{ countDown }} s</ion-label>
          </ion-col>
        </ng-template>
      </ion-row>
    </form>
  </ion-list>
  <ion-row>
    <ion-col push='9'>
      <ion-button (click)="sendAction()" fill='clear' [disabled]='form.invalid||!form.value.Code'>
        <ion-label *ngIf="isFinish" color='secondary'>绑定</ion-label>
        <ion-label *ngIf="!isFinish" color='secondary'>下一步</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>