<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col (click)="dismiss()" class="ion-padding-start">Cancel</ion-col>
      <ion-col (click)="onReset()" class="ion-text-center">Reset</ion-col>
      <ion-col (click)="onSearch()" class="ion-text-end ion-padding-end">Determine</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="search-cond">

    <article class="left">
      <div class='tab' [class.active]='tab===1' (click)='onTabClick(1)'>
        <span>{{langOpt.NonStopOnly}}</span>
        <div [class.border-raduis]='selectInfo?.isDirect'></div>
      </div>
      <div class='tab' [class.active]='tab===2' (click)='onTabClick(2)'>
        <span>{{langOpt.Airlines}}</span>
        <div [class.border-raduis]='selectInfo?.aircompony'></div>
      </div>
      <div class='tab' [class.active]='tab===3' (click)='onTabClick(3)'>
        <span>{{langOpt.TakeTime}}</span>
        <div [class.border-raduis]='selectInfo?.timeSpan'></div>
      </div>
      <div class='tab' [class.active]='tab===4' (click)='onTabClick(4)'>
        <span>{{langOpt.takeoffland}}</span>
        <div [class.border-raduis]='selectInfo?.fromAir||selectInfo?.toAir'></div>
      </div>
    </article>
    <ion-list style='flex:1;padding: 1em;width: 75%;'>
      <article class="right">
        <app-direct-fly [langOpt]='langOpt' [class.hidden]='tab!==1'></app-direct-fly>
        <app-air-company [langOpt]='langOpt' [class.hidden]='tab!==2'></app-air-company>
        <app-takeoff-time [langOpt]='langOpt' [class.hidden]='tab!==3'></app-takeoff-time>
        <app-takeoff-landing-airport [langOpt]='langOpt' [class.hidden]='tab!==4'></app-takeoff-landing-airport>
      </article>
    </ion-list>
  </section>

</ion-content>