<ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col (click)="dismiss()" class="ion-padding-start">取消</ion-col>
        <ion-col (click)="onReset()" class="ion-text-center">重置</ion-col>
        <ion-col  (click)="onSearch()" class="ion-text-end ion-padding-end">确定</ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <section class="search-cond">
  
      <article class="left">
        <div class='tab' [class.active]='tab===1' (click)='onTabClick(1)'>
          <span>直飞/中转</span>
          <div [class.border-raduis]='tab===1'></div>
        </div>
        <div class='tab' [class.active]='tab===2' (click)='onTabClick(2)'>
          <span>航空公司</span>
          <div [class.border-raduis]='tab===2'></div>
        </div>
        <div class='tab' [class.active]='tab===3' (click)='onTabClick(3)'>
          <span>起飞时段</span>
          <div [class.border-raduis]='tab===3'></div>
        </div>
        <div class='tab' [class.active]='tab===4' (click)='onTabClick(4)'>
          <span>起降机场</span>
          <div [class.border-raduis]='tab===4'></div>
        </div>
      </article>
      <ion-list style='flex:1;padding: 1em;width: 75%;'>
        <article class="right">
          <app-direct-fly [class.hidden]='tab!==1'></app-direct-fly>
          <app-air-company [class.hidden]='tab!==2'></app-air-company>
          <app-takeoff-time [class.hidden]='tab!==3'></app-takeoff-time>
          <app-takeoff-landing-airport [class.hidden]='tab!==4'></app-takeoff-landing-airport>
        </article>
      </ion-list>
    </section>
  
  </ion-content>