<ion-header>
  <ion-toolbar>
    <ion-title>信息确认</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  请核对您的证件信息：请及时核对您的证件信息，避免耽误行程预订，谢谢！
<ion-row>
  <ion-col>姓名：</ion-col>
  <ion-col>白文静</ion-col>
</ion-row>
<ion-row>
  <ion-col>登机名：</ion-col>
  <ion-col>白文静</ion-col>
</ion-row>
<ion-row>
  <ion-col>证件类型：</ion-col>
  <ion-col>身份证</ion-col>
</ion-row>
<ion-row>
  <ion-col>姓名：</ion-col>
  <ion-col>白文静</ion-col>
</ion-row>
<ion-row>
  <ion-col>姓名：</ion-col>
  <ion-col>白文静</ion-col>
</ion-row>
</ion-content>