<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>需求单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <div class="container">
      <ion-segment (ionChange)="segmentChanged($event)" mode='md' value="plane" color='secondary'>
        <ion-segment-button value="team">
          <ion-label>团队</ion-label>
        </ion-segment-button>
        <ion-segment-button value="meeting">
          <ion-label>会议</ion-label>
        </ion-segment-button>
        <ion-segment-button value="visa">
          <ion-label>签证</ion-label>
        </ion-segment-button>
        <ion-segment-button value="car">
          <ion-label>用车</ion-label>
        </ion-segment-button>
        <ion-segment-button value="flight">
          <ion-label>机场服务</ion-label>
        </ion-segment-button>
      </ion-segment>
      </div>
    </ion-list>
</ion-content>
