ion-content{
    position: relative;
    .bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}