<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>微信维护</ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <ion-button (click)="toggleDeleteButton()">
          <ion-text color='secondary' *ngIf='!toggleChecked'>编辑</ion-text>
          <ion-text color='secondary' *ngIf='toggleChecked'>完成</ion-text>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list #List (ionDrag)='onSlidingItemDrag()'>
    <ion-item-sliding (click)="itemClick()" *ngFor="let item of items">
      <ion-item>
        <ion-label>{{ item?.Name }}</ion-label>
        <ion-button color="danger" size='small' *ngIf="toggleChecked" (click)="delete(item)">删除</ion-button>
      </ion-item>
      <ion-item-options side='end'>
        <ion-item-option color="danger" (click)="delete(item)">
          <ion-text color='light'>删除</ion-text>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <section class="bottom">
    <ion-button (click)="bind()"  color='secondary'  *ngIf='isShowBindButton'>绑定微信</ion-button>
  </section>

</ion-content>