@font-face {
	font-family: "iconfont";
	src: url('./iconfont.eot');
	src: url('./iconfont.eot?#iefix') format('eot'),
		url('./iconfont.woff2') format('woff2'),
		url('./iconfont.woff') format('woff'),
		url('./iconfont.ttf') format('truetype'),
		url('./iconfont.svg#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-home-fill:before {
	content: "\E001";
}

.icon-home:before {
	content: "\E002";
}

.icon-hotel:before {
	content: "\E003";
}

.icon-my-fill:before {
	content: "\E004";
}

.icon-my:before {
	content: "\E005";
}

.icon-plane:before {
	content: "\E006";
}

.icon-scan:before {
	content: "\E007";
}

.icon-train:before {
	content: "\E008";
}

.icon-trip-fill:before {
	content: "\E009";
}

.icon-trip:before {
	content: "\E00A";
}
