<ion-header >
  <ion-toolbar>
    <ion-buttons slot='start'>
      <!-- <ion-button (click)='back()'>
        <ion-icon name='arrow-back' color='dark'></ion-icon>
      </ion-button> -->
      <ion-back-button defaultHref='' ></ion-back-button>
    </ion-buttons>
    <ion-title>{{hotelName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="images"  *ngIf='roomImages?.length'>
    <app-swiper-slides [items]='images' [logoUrl]='agent?.LogoFullFileName' [defaultImage]='config?.PrerenderImageUrl'>
    </app-swiper-slides>
  </div>
  <ion-list class="house-info">
    <ion-item-divider>
      {{room?.Name}}详情
    </ion-item-divider>
    <ion-item-group>
      <ion-item *ngIf='room?.RoomDetails'>
        <ion-label class='ion-text-wrap'>
          <ng-container *ngFor='let it of room.RoomDetails'>
            <ng-container *ngIf='it.Description'>
              <span class='name'>{{it.Name}}：</span>
              <span class='desc'>{{it.Description}}</span>
            </ng-container>
          </ng-container>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>