<ion-row>
    <ion-col>订单编号：{{orderTrip?.OrderId}}</ion-col>
    <ion-col size='4' text-end padding-end>{{orderTrip?.Status}}</ion-col>
</ion-row>
<ion-row>
    <ion-col>机票事务号：{{orderTrip?.OrderTicketId}}</ion-col>
</ion-row>
<ion-row>
    <ion-col>
        旅客：
        {{orderTrip?.Passenger?.Name}}
    </ion-col>
    <ion-col padding-end>
        {{orderTrip?.Passenger?.CredentialsNumber}}
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>航班：{{orderTrip?.Number}}</ion-col>
</ion-row>
<ion-row>
    <ion-col>起飞时间：
        <strong>{{orderTrip?.StartTime?.replace("T"," ")?.substr(0,'2019-10-01 11:00:09'.length)}} <span
                *ngIf='getWeekName(orderTrip?.StartTime) as wn'>({{wn}})</span></strong>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>{{orderTrip?.FromName}}</ion-col>
    <ion-col size='1.5'>
            -->
    </ion-col>
    <ion-col text-end padding-end>{{orderTrip?.ToName}}</ion-col>
</ion-row>