:host {
  width: 100%;
}
ion-row {
  &.action-btns {
    ion-col {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right:1em ;
    }
  }
  ion-col {
    &.status {
      padding-right: 1em;
      font-size: 1.1rem;
      text-align: end;
    }
    align-self: flex-start;
    font-size: 0.9rem;
    &:not(.dark) {
      color: var(--ion-color-medium);
    }
  }
}
.select-text {
  user-select: text;
}
