<div class='order-item' *ngIf='order'>
  <!-- 飞机 -->
  <ng-container *ngIf='order.OrderFlightTickets?.length'>
    <ng-container *ngIf='order.OrderFlightTickets?.length'>
      <div class="item">
        <div>编号</div>
        <div class="select-text">
          <span style="font-weight: bold;">{{order.Id}}</span>
          <span *ngIf='order.InsertDateTime'>{{order.InsertDateTime?.replace("T"," ")?.substr(0,19)}}</span>
        </div>
      </div>
      <div class="item">
        <div [style.align-self]='order["checkPay"]?"center":""'>金额</div>
        <div style="display: flex;align-items: center;">
          <ion-text color='danger'>
            <span>
              ￥{{getFlightOrderTotalAmount()}}
            </span>
            <span *ngIf='order.OrderInsurances?.length'>
              (含保险)</span>
          </ion-text>
          <span>
            <ion-text color='secondary'>
              ({{order.StatusName == "等待处理" ? "等待审批" : order.StatusName}})
            </ion-text>
          </span>
          <ng-container *ngIf='order["checkPay"]'>
            <ion-button (click)='onPay($event)' size='small' color='secondary'>去支付
            </ion-button>
          </ng-container>
        </div>
      </div>
      <ng-container *ngFor='let t of order.OrderFlightTickets;let i=index;'>
        <ng-container *ngIf='t.VariablesJsonObj&&t.VariablesJsonObj["isShow"]'>
          <div class="order-flight-ticket">
            <ng-container *ngFor='let trip of t.OrderFlightTrips ;let first=first;'>
              <div class="item" style='align-items: center;'
                *ngIf='t.TicketType==OrderFlightTicketType.International?first:true'>
                <div>
                  旅客
                </div>
                <div>
                  <span>{{trip.OrderFlightTicket.Passenger.CheckName}}</span>
                  <span>
                    <ion-text color='secondary'>({{t.StatusName}})</ion-text>
                  </span>
                </div>
                <ng-container *ngIf='environment.mockProBuild&& t.VariablesJsonObj.isShowBtnByTimeAndTicketType'>
                  <ion-button *ngIf='t.VariablesJsonObj.isTicketCanRefund 
                    && !t.VariablesJsonObj.IsCustomApplyRefund 
                    &&!t.VariablesJsonObj.IsCustomApplyExchange else showrefunding' size='small'
                    (click)='onRefundFlightTicket($event,t)' color='danger'>
                    <ion-text color='light'>退票 </ion-text>
                  </ion-button>
                  <ng-template #showrefunding>
                    <ion-text color='medium'
                      *ngIf='t.VariablesJsonObj.IsCustomApplyRefund&&!t.VariablesJsonObj.IsCustomApplyExchange&&t.Status != OrderFlightTicketStatusType.Refunded'>
                      退票申请中
                    </ion-text>
                  </ng-template>
                  <ion-button *ngIf='t.VariablesJsonObj.isShowExchangeBtn
                    &&!t.VariablesJsonObj.IsCustomApplyRefund
                    &&!t.VariablesJsonObj.IsCustomApplyExchange else showExchanging' size='small'
                    (click)='onExchangeFlightTicket($event,t,trip)' color='secondary'>
                    <ion-text color='light'>改签</ion-text>
                  </ion-button>
                  <ng-template #showExchanging>
                    <ion-text *ngIf='!t.VariablesJsonObj.IsCustomApplyRefund
                    &&t.VariablesJsonObj.IsCustomApplyExchange
                      &&t.Status != OrderFlightTicketStatusType.ChangeTicket' color='medium'>改签申请中</ion-text>
                  </ng-template>
                  <ion-button *ngIf='t.VariablesJsonObj.isShowCancelBtn' size='small'
                    (click)='onAbolishFlightOrder($event,t)' color='secondary'>
                    <ion-text color='light'>取消订单</ion-text>
                  </ion-button>
                </ng-container>
              </div>
              <div class="item">
                <div>
                  <span *ngIf='t.TicketType==OrderFlightTicketType.International?first:true'>
                    行程
                  </span>
                </div>
                <div>
                  <div>
                    <span>
                      {{trip.TakeoffDate}}
                    </span>
                    <span *ngIf='getDateWeekName(trip.TakeoffDate) as n'>
                      ({{n}})
                    </span>
                    <span>
                      {{trip.TakeoffShortTime}}
                    </span>
                    <span>
                      {{trip.FlightNumber}}
                    </span>
                  </div>
                  <div>
                    {{trip.FromCityName}}---{{trip.ToCityName}}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <!-- 火车 -->
  <ng-container *ngIf='order.OrderTrainTickets?.length'>
    <ng-container *ngFor='let orderTrainTicket of order.OrderTrainTickets'>
      <ion-grid class="train">
        <ion-row>
          <ion-col size='2'>
            <ion-text color="medium"> 编号</ion-text>
          </ion-col>
          <ion-col class='select-text' class='dark'>
            <strong style="user-select:text">{{order.Id}}</strong>
          </ion-col>
          <ion-col>
            <span *ngIf='order.InsertDateTime'>{{order.InsertDateTime?.replace("T"," ")?.substr(0,19)}}</span>
          </ion-col>
        </ion-row>
        <ion-row [class.btn-show-margin]="order['checkPay']" style="align-items: center;">
          <ion-col size='2'>
            <ion-text color="medium"> 金额</ion-text>
          </ion-col>
          <ion-col>
            <ion-text color='danger'>
              ￥{{getTotalAmount(order,orderTrainTicket.Key) + trainInsuranceAmount(orderTrainTicket)}}
              <span *ngIf="trainInsuranceAmount(orderTrainTicket) as amount">(含保险{{amount}})</span>
            </ion-text>
            <ion-text color='secondary'>
              （{{order.StatusName == "等待处理" ? "等待审批" : order.StatusName}}）
            </ion-text>
          </ion-col>
          <ion-col class='ion-text-end' *ngIf='check(orderTrainTicket)' size='3'>
            <ion-col style="justify-content: flex-end;">
              <ng-container *ngIf='order["checkPay"]'>
                <ion-button (click)='onPay($event)' size='small' color='secondary'>去支付
                </ion-button>
              </ng-container>
            </ion-col>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='order?.OrderPassengers?.length' style="align-items: center;"
          [class.btn-show-margin]="orderTrainTicket.Status == OrderTrainTicketStatusType.Issued && tmc?.TrainIsAllowExchange && TrainSupplierType[orderTrainTicket.Supplier] !='0' && orderTrainTicket.BookType != TrainBookType.Offline||
        (orderTrainTicket.Status == OrderTrainTicketStatusType.Issued || orderTrainTicket.Status == OrderTrainTicketStatusType.Exchanged) 
                  &&  tmc?.TrainIsAllowRefund && TrainSupplierType[orderTrainTicket.Supplier] !='0' && orderTrainTicket.BookType != TrainBookType.Offline">
          <ion-col size='2'>
            <ion-text color="medium"> 旅客</ion-text>
          </ion-col>
          <ion-col style="align-items: center;display: flex;">
            <ng-container *ngIf='orderTrainTicket.Passenger as p'>
              <ion-text>
                {{p.CheckName}}
              </ion-text>
              <ion-text color='secondary' class="ion-padding-end">({{orderTrainTicket.StatusName}})</ion-text>
              <!-- <span class='ion-margin-start'>{{p.CredentialsNumber}}</span> -->
              <ion-button (click)='onExchangeTrainTicket($event,orderTrainTicket)' color='secondary'
                *ngIf='orderTrainTicket.Status == OrderTrainTicketStatusType.Issued && tmc?.TrainIsAllowExchange && TrainSupplierType[orderTrainTicket.Supplier] !="0" && orderTrainTicket.BookType != TrainBookType.Offline'>
                <span>改签</span>
              </ion-button>
              <ion-button (click)='onRefundTrainTicket($event,orderTrainTicket)' color='secondary'
                *ngIf='(orderTrainTicket.Status == OrderTrainTicketStatusType.Issued || orderTrainTicket.Status == OrderTrainTicketStatusType.Exchanged) 
                  &&  tmc?.TrainIsAllowRefund && TrainSupplierType[orderTrainTicket.Supplier] !="0" && orderTrainTicket.BookType != TrainBookType.Offline'>
                <span>退票</span>
              </ion-button>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='2'>
            <ion-text color="medium"> 行程</ion-text>
          </ion-col>
          <ion-col>
            <div>
              <div *ngFor='let orderTrainTrip of orderTrainTicket.OrderTrainTrips'>
                <span>{{orderTrainTrip.StartTime?.substr(0,"yyyy-mm-dd".length)}}</span>
                <span style='margin-left:0.5em'>{{getHHmm(orderTrainTrip.StartTime)}}</span>
                <span>{{orderTrainTrip.TrainNo}}</span>
                <span class="ion-padding-start">{{orderTrainTrip.TrainCode}}</span>
                <div>{{orderTrainTrip.FromStationName}}---{{orderTrainTrip.ToStationName}}</div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
  <!-- 酒店 -->
  <ng-container *ngIf='order.OrderHotels?.length'>
    <ng-container *ngFor='let  orderHotel of order.OrderHotels'>
      <ion-grid class="hotel">
        <ion-row>
          <ion-col size='2'>
            <ion-text color="medium"> 编号</ion-text>
          </ion-col>
          <ion-col class='select-text' class='dark'>
            <strong>{{order.Id}}</strong>
          </ion-col>
          <ion-col>
            <span *ngIf='order.InsertDateTime'>{{order.InsertDateTime?.replace("T"," ")?.substr(0,19)}}</span>
          </ion-col>

        </ion-row>
        <ion-row [class.btn-show-margin]="order['checkPay']" style="align-items: center">
          <ion-col size='2'>
            <ion-text color="medium"> 金额</ion-text>
          </ion-col>
          <ion-col>
            <div style="align-items: center;display: flex;">
              <ion-text color='danger'>
                ￥{{order.TotalAmount}}
              </ion-text>
              <ion-text color='medium'>
                {{orderHotel.PaymentType==2?"(现付)":orderHotel.PaymentType==1?"(预付)":""}}
              </ion-text>
              <ion-text color='secondary'>
                （{{order.StatusName == "等待处理" ? "等待审批" : order.StatusName}}）
              </ion-text>
              <ion-button *ngIf='order["checkPay"]' (click)='onPay($event)' size='small' color='secondary'>去支付
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='order?.OrderPassengers?.length'>
          <ion-col size='2'>
            <ion-text color="medium"> 旅客</ion-text>
          </ion-col>
          <ion-col>
            <ng-container *ngIf='orderHotel.Passenger as p'>
              <div>
                <span>
                  {{p.CheckName}}
                </span>
                <ion-text color="secondary">
                  （{{orderHotel.StatusName}}）
                </ion-text>
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='2'>
            <ion-text color="medium"> 行程</ion-text>
          </ion-col>
          <ion-col>
            <div>
              {{orderHotel.HotelName}}
              <br />
              {{orderHotel.BeginDate?.substr(0,"yyyy-MM-dd".length)}}&nbsp;{{orderHotel.countDay}}晚
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='orderHotel.ConfirmNumber as cnumber'>
          <ion-col size='3'>
            酒店确认号
          </ion-col>
          <ion-col>
            {{cnumber}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf='false'>
          <ion-col *ngIf='false'>
            <ion-text color='danger'>￥{{getTotalAmount(order,orderHotel.Key)}}</ion-text>
          </ion-col>
          <ion-col>
            {{orderHotel.StatusName}}
            <ion-button
              *ngIf='false&&orderHotel.Status == OrderHotelStatusType.PayFailure && orderHotel.PaymentType == HotelPaymentType.SelfPay'>
              重新担保</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
  <ng-container *ngIf='order.OrderCars?.length'>
    <app-car-item [order]="order"></app-car-item>
  </ng-container>
</div>
<!-- <ion-datetime cancelText='取消' doneText='确定' class="hidden ion-hide" displayFormat="YYYY-MM-DD" ></ion-datetime> -->