<div class='order-item' *ngIf='order'>
  <ng-container *ngIf='order.OrderFlightTickets?.length'>
    <ng-container *ngIf='order.OrderFlightTickets?.length&&order.OrderFlightTickets[0].TicketType==OrderFlightTicketType.International else domestic'>
      <ion-row class='order-id'>
        <ion-col size='3'>
          订单编号
        </ion-col>
        <ion-col class="select-text dark">
          <strong>
            {{order.Id}}
          </strong>
        </ion-col>
        <ion-col *ngIf='getInterTotalAmount() as d' class="status">
          <ion-text color='secondary'>
            <span>{{order.StatusName == "等待处理" ? "等待审批" : order.StatusName}}</span>
            <span>{{order.InsertDateTime}}</span>
          </ion-text>
          <ion-text color='danger'>
            ￥{{d.amount}}
            <ng-container *ngIf='d.insurance as insuranceAmount'>
              (含保险{{insuranceAmount}})</ng-container>
          </ion-text>
        </ion-col>
      </ion-row>
      <ng-container *ngIf='order.OrderFlightTickets?.length' class='order-flight-trip'>
        <ion-row *ngIf='order.OrderPassengers?.length'>
          <ion-col size='3'>旅客信息</ion-col>
          <ion-col>
            <div>
              <div *ngFor='let p of order.OrderPassengers'>
                <span>
                  {{p.CheckName}}
                </span>
                <span *ngIf='getPassengerTicketStatus(p) as t'>
                  <ion-text color='secondary'>({{t.StatusName}})</ion-text>
                </span>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='order.OrderFlightTickets[0].OrderFlightTrips as trips;'>
          <ion-col size='3'>行程信息</ion-col>
          <ion-col size='9'>
            <div>
              <div class='ticket-trip' *ngFor='let orderFlightTrip of trips; let first=first;'>
                <ng-container *ngIf='orderFlightTrip.Status == OrderFlightTripStatusType.Normal'>
                  <div>
                    <span>
                      {{orderFlightTrip.TakeoffTime?.substr(0,"yyyy-mm-dd".length)}}
                    </span>
                    <span *ngIf='getDateWeekName(orderFlightTrip.TakeoffTime?.substr(0,"yyyy-mm-dd".length)) as n'>
                      ({{n}})
                    </span>
                    <span style="margin: 0 0.5em;">
                      {{getHHmm(orderFlightTrip.TakeoffTime)}}
                    </span>
                    <span>
                      {{orderFlightTrip.FlightNumber}}
                    </span>
                  </div>
                  <div>
                    {{orderFlightTrip.FromCityName}}
                    <span *ngIf='false&&orderFlightTrip.FromAirport as air'>
                      <!-- ({{air}}) -->
                    </span>
                    <span>-</span>
                    {{orderFlightTrip.ToCityName}}
                    <span *ngIf='false&&orderFlightTrip.ToAirport as air'>
                      <!-- ({{air}}) -->
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="action-btns">
          <ion-col *ngIf='checkPay()'>
            <ion-button (click)='onPay($event)' size='small' color='secondary'>现在去支付
            </ion-button>
            <ng-container *ngIf=''>
              <!-- <ion-button *ngIf='showRefundBtn(orderFlightTicket)'
                (click)='onRefundFlightTicket($event,orderFlightTicket)' color='danger'>
                <ion-text color='light'>退票</ion-text>
              </ion-button> -->
            </ng-container>
          </ion-col>
        </ion-row>
      </ng-container>
    </ng-container>
    <ng-template #domestic>
      <ion-row>
        <ion-col size='3'>
          订单编号
        </ion-col>
        <ion-col class='select-text dark'>
          <strong>{{order.Id}}</strong>
        </ion-col>
        <ion-col class='status'>
          <ion-text color='secondary'>
            {{order.StatusName == "等待处理" ? "等待审批" : order.StatusName}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='3'>
          完成时间
        </ion-col>
        <ion-col>
          <span *ngIf='order.InsertDateTime'>
            {{order.InsertDateTime}}
          </span>
        </ion-col>
      </ion-row>
      <ng-container *ngIf='order.OrderFlightTickets?.length' class='order-flight-trip'>
        <ion-row *ngIf='order?.OrderPassengers?.length'>
          <ion-col size='3'>旅客信息</ion-col>
          <ion-col>
            <ion-text *ngIf='getPassenger(order.OrderFlightTickets[0]) as p'>
              {{p.CheckName}} <span>{{p.CredentialsNumber}}</span>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngFor='let orderFlightTrip of order.OrderFlightTickets[0].OrderFlightTrips'>
          <ion-col size='3'>行程信息</ion-col>
          <ion-col size='9'>
            <ion-label class='ticket-trip'>
              <ng-container *ngIf='orderFlightTrip.Status == OrderFlightTripStatusType.Normal'>
                <div>
                  <span>{{orderFlightTrip.TakeoffTime?.substr(0,"yyyy-mm-dd".length)}}</span>
                  <span
                    *ngIf='getDateWeekName(orderFlightTrip.TakeoffTime?.substr(0,"yyyy-mm-dd".length)) as n'>({{n}})</span>
                  <span style="margin: 0 0.5em;">{{getHHmm(orderFlightTrip.TakeoffTime)}}</span>
                  <span>{{orderFlightTrip.FlightNumber}}</span>
                </div>
                <div>
                  <span>
                    {{orderFlightTrip.FromCityName}}
                  </span>
                  <span *ngIf='false&&orderFlightTrip.FromAirport as air'>({{air}})</span>
                  <span>-</span>
                  <span>
                    {{orderFlightTrip.ToCityName}}
                  </span>
                  <span *ngIf='false&&orderFlightTrip.ToAirport as air'>({{air}})</span>
                </div>
              </ng-container>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3'>
            机票状态
          </ion-col>
          <ion-col style="display: flex;align-items: center;">
            <ion-text color='secondary'>{{order.OrderFlightTickets[0].StatusName}}</ion-text>
            <ion-text color='danger' style="margin-left:auto;padding-right: 1em;">
              ￥{{getTotalAmount(order,order.OrderFlightTickets[0].Key) + flightInsuranceAmount(order.OrderFlightTickets[0])}}
              <span
                *ngIf='flightInsuranceAmount(order.OrderFlightTickets[0]) as insuranceAmount'>(含保险{{insuranceAmount}})</span>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class='action-btns'>
          <ion-col *ngIf='checkPay()'>
            <ion-button (click)='onPay($event)' color='secondary'>现在去支付
            </ion-button>
            <ion-button *ngIf='showRefundBtn(order.OrderFlightTickets[0])'
              (click)='onRefundFlightTicket($event,order.OrderFlightTickets[0])' color='danger'>
              <ion-text color='light'>退票</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ng-container>
    </ng-template>
  </ng-container>
  <ng-container *ngIf='order.OrderTrainTickets?.length'>
    <ng-container *ngFor='let orderTrainTicket of order.OrderTrainTickets'>
      <ion-grid class="train">
        <ion-row>
          <ion-col size='4'>
            订单编号
          </ion-col>
          <ion-col class='select-text' class='dark'>
            <strong>{{order.Id}}</strong>
          </ion-col>
          <ion-col class='status'>
            <ion-text color='secondary'>
              {{order.StatusName == "等待处理" ? "等待审批" : order.StatusName}}</ion-text>
          </ion-col>
        </ion-row>
        <ng-container *ngIf='orderTrainTicket.OrderTrainTrips'>
          <ion-row>
            <ion-col size='4'>
              <ion-text color='ticketIsReject(orderTrainTicket)?"danger":""'>火车票事务号</ion-text>
            </ion-col>
            <ion-col class='select-text'>
              <ion-text color='ticketIsReject(orderTrainTicket)?"danger":""'>
                {{orderTrainTicket.Id}}</ion-text>
            </ion-col>
          </ion-row>
        </ng-container>
        <ion-row *ngIf='order?.OrderPassengers?.length'>
          <ion-col size='4'>旅客信息</ion-col>
          <ion-col>
            <ng-container *ngIf='getPassenger(orderTrainTicket) as p'>
              {{p.CheckName}}
              <span class='ion-margin-start'>{{p.CredentialsNumber}}</span>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'>行程信息</ion-col>
          <ion-col>
            <div>
              <div *ngFor='let orderTrainTrip of orderTrainTicket.OrderTrainTrips'>
                <span>{{orderTrainTrip.StartTime?.substr(0,"yyyy-mm-dd".length)}}</span>
                <span style='margin-left:0.5em'>{{getHHmm(orderTrainTrip.StartTime)}}</span>
                <span>{{orderTrainTrip.TrainNo}}</span>
                <div>{{orderTrainTrip.FromStationName}}---{{orderTrainTrip.ToStationName}}</div>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'>
            车票状态
          </ion-col>
          <ion-col>
            {{orderTrainTicket.StatusName}}
          </ion-col>
          <ion-col class="ion-padding-end ion-text-end">
            <ion-text color='danger'>
              ￥{{getTotalAmount(order,orderTrainTicket.Key) + trainInsuranceAmount(orderTrainTicket)}}
              <span *ngIf="trainInsuranceAmount(orderTrainTicket) as amount">(含保险{{amount}})</span>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class='ion-text-end' *ngIf='check(orderTrainTicket)'>
          <ion-col style="justify-content: flex-end;">
            <ion-button (click)='onExchange($event,orderTrainTicket)' color='secondary'
              *ngIf='orderTrainTicket.Status == OrderTrainTicketStatusType.Issued && tmc?.TrainIsAllowExchange && TrainSupplierType[orderTrainTicket.Supplier] !="0" && orderTrainTicket.BookType != TrainBookType.Offline'>
              <span>改签</span>
            </ion-button>
            <ion-button (click)='onRefundTrainTicket($event,orderTrainTicket)' color='secondary'
              *ngIf='(orderTrainTicket.Status == OrderTrainTicketStatusType.Issued || orderTrainTicket.Status == OrderTrainTicketStatusType.Exchanged) 
          &&  tmc?.TrainIsAllowRefund && TrainSupplierType[orderTrainTicket.Supplier] !="0" && orderTrainTicket.BookType != TrainBookType.Offline'>
              <span>退票</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
  <ng-container *ngIf='order.OrderHotels?.length'>
    <ng-container *ngFor='let  orderHotel of order.OrderHotels'>
      <ion-grid class="hotel">
        <ion-row>
          <ion-col size='3.5'>
            订单编号
          </ion-col>
          <ion-col class='select-text' class='dark'>
            <strong>{{order.Id}}</strong>
          </ion-col>
          <ion-col class='status'>
            <ion-text color='secondary'>
              {{order.StatusName == "等待处理" ? "等待审批" : order.StatusName}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3.5'>
            酒店事务号
          </ion-col>
          <ion-col class='select-text'>
            {{orderHotel.Id}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3.5'>
            酒店名称
          </ion-col>
          <ion-col>
            {{orderHotel.HotelName}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf='order?.OrderPassengers?.length'>
          <ion-col size='3.5'>旅客信息</ion-col>
          <ion-col>
            <ng-container *ngIf='getPassenger(orderHotel) as p'>
              {{p.CheckName}} <span class='ion-margin-start'>{{p.CredentialsNumber}}</span>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3.5'>
            入住时间
          </ion-col>
          <ion-col>
            {{orderHotel.BeginDate?.substr(0,"yyyy-MM-dd".length)}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3.5'>
            离店时间
          </ion-col>
          <ion-col>
            {{orderHotel.EndDate?.substr(0,"yyyy-MM-dd".length)}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf='order.TotalAmount as m'>
          <ion-col size='3.5'>
            房费
          </ion-col>
          <ion-col>
            <ion-text color='danger'>
              ￥{{m}}
            </ion-text>
            <ion-text color='medium'>
              {{order.TravelPayType==2?"(现付)":order.TravelPayType==1?"(预付)":""}}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='orderHotel.ConfirmNumber as cnumber'>
          <ion-col size='3.5'>
            酒店确认号
          </ion-col>
          <ion-col>
            {{cnumber}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf='false'>
          <ion-col *ngIf='false'>
            <ion-text color='danger'>￥{{getTotalAmount(order,orderHotel.Key)}}</ion-text>
          </ion-col>
          <ion-col>
            {{orderHotel.StatusName}}
            <ion-button
              *ngIf='false&&orderHotel.Status == OrderHotelStatusType.PayFailure && orderHotel.PaymentType == HotelPaymentType.SelfPay'>
              重新担保</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
  <ng-container *ngIf='order.OrderCars?.length'>
    <app-car-item [order]="order"></app-car-item>
  </ng-container>
</div>