<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=''></app-back-button>
    </ion-buttons>
    <ion-title>当前已选择航班信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group *ngFor='let bookInfo of  passengerAndBookInfos$|async'>
    <ng-container *ngIf='bookInfo.bookInfo'>
      <ion-item-divider color='primary' sticky>
        <ion-label color='dark'>{{bookInfo?.credential?.Name}}&nbsp;&nbsp;&nbsp;{{bookInfo?.credential?.Number}}</ion-label>
      </ion-item-divider>
      <ion-item>
        <div class='detail'>
          <div class='date'>
            <strong>
              <div *ngIf='bookInfo.bookInfo?.flightSegment?.FromCityName&&bookInfo.bookInfo?.flightSegment?.ToCityName'>
                <ion-text color='secondary'>{{bookInfo.bookInfo?.flightSegment?.FromCityName}}</ion-text>
                <small style="font-size: .7rem;margin: 0 0.25em;">到</small>
                <ion-text color='secondary'>{{bookInfo.bookInfo?.flightSegment?.ToCityName}}</ion-text>
              </div>
              {{getDate(bookInfo.bookInfo?.flightSegment)}} <ion-text color='secondary'>
                {{getTripTypeTip(bookInfo.bookInfo)}}</ion-text>
            </strong>

            <ion-button fill='clear' size='small' (click)='remove(bookInfo)'>
              <ion-icon name="trash" color='danger' mode='ios'>
              </ion-icon>
            </ion-button>
            <div class='reset'>
              <ion-button expand='block' color='secondary' size='small' fill='clear' (click)='reelect(bookInfo)'>重选
              </ion-button>
            </div>
          </div>
          <app-fly-list-item [flightSegment]='bookInfo.bookInfo?.flightSegment' [showDetails]='true' [flightPolicy]='bookInfo.bookInfo?.flightPolicy'
            [isAgreement]='bookInfo.bookInfo?.flightPolicy?.Cabin?.FareType==FlightCabinFareType.Agreement'>
          </app-fly-list-item>
          <div>
            <ion-row>
              <ion-col class='ion-text-end'>
                <div style="display: flex;align-items: center;justify-content: flex-end;width: 100%;">
                  <ion-label color='danger'>机票票价:￥{{bookInfo.bookInfo?.flightPolicy?.Cabin?.SalesPrice}}</ion-label>
                  <ion-label color='danger' class='ion-margin-start'>税费:￥{{bookInfo.bookInfo?.flightSegment?.Tax}}
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <ion-label class='rules ion-text-wrap' color='danger'>
            {{bookInfo.bookInfo?.flightPolicy?.Rules?.join("; ")}}
          </ion-label>
          <ion-label *ngIf='getFlightIllegalTip(bookInfo) as tip' color='danger' class='rules ion-text-wrap'>
            提示：({{tip}})
          </ion-label>
          <ion-label *ngIf='getFlightlegalTip(bookInfo) as tip' color='danger' class='rules ion-text-wrap'>提示：({{tip}})
          </ion-label>
          <ion-label class='rules ion-text-wrap' color='dark' (click)='onSelectLowestSegment(bookInfo)' *ngIf='canShowLowerSegment(bookInfo)'>
            当前航班前后{{bookInfo.bookInfo?.flightPolicy?.LowerSegment?.LowerSegmentRangTime&&bookInfo.bookInfo?.flightPolicy?.LowerSegment?.LowerSegmentRangTime!='0-0:00'?
            bookInfo.bookInfo?.flightPolicy?.LowerSegment?.LowerSegmentRangTime:"60"}}分钟内有更低价航班:{{bookInfo.bookInfo?.flightPolicy?.LowerSegment?.Number}}&nbsp;
            {{getTime(bookInfo.bookInfo?.flightPolicy?.LowerSegment?.TakeoffTime)}}
            <ion-button color='secondary' size='small'>选择更低价</ion-button>
          </ion-label>
        </div>
      </ion-item>
      <ion-item lines='none' *ngIf='showSelectReturnTripButton'>
        <ion-button slot='end' expand='block' color='secondary' (click)='onSelectReturnTrip()'>
          选择回程
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf='!searchModel?.isExchange' slot='end' (click)='nextStep()' color='secondary' [disabled]='bookInfos?.length <= 0'>下一步
    </ion-button>
    <ion-button *ngIf='searchModel?.isExchange' slot='end' (click)='onExchange()' color='secondary' [disabled]='bookInfos?.length <= 0'>确认改签
    </ion-button>
  </ion-toolbar>
</ion-footer>