.flight-city-page-container {
  transform: translate3d(100%, 0, 0);
  transition: all ease-in-out 200ms;
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: white;
  // z-index: 1000;
  &.show {
    transform: translate3d(0, 0, 0);
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .item {
    margin: 0;
    padding: 0.5em 1em;
  }
  .list .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .list .item.selected {
    color: var(--ion-color-secondary);
  }
  .list .item label {
    font-size: 14px;
  }
  .list .letter-header {
    font-weight: bolder;
    background-color: #eee;
    height: 20px;
    padding: 0 0.6em;
    position: sticky;
    top: 0;
    label {
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
    }
  }
  .letters-wrapper {
    position: sticky;
    right: 0;
    top: 0;
    width: 2em;
    float: right;
  }
  .letter-navs {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: transparent;
    position: absolute;
    right: 0.5em;
    z-index: 99;
    top: 5vh;
  }
  .letter-navs .nav-letter {
    padding: 0.15em 0.5em;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: hsl(0, 0%, 60%);
  }
  .hot-cities-wrapper .header {
    display: flex;
    align-items: center;
    padding: 1em;
  }
  .hot-cities-wrapper .header .icon {
    margin-left: auto;
    margin-right: 1em;
  }
  .hot-cities-wrapper .list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .hot-cities-wrapper .list-wrapper {
    width: 100%;
    padding: 0 1.5em 0.5em 1.5em;
  }
  &.md .hot-cities-wrapper .list-wrapper {
    padding: 0 0.5em 0 0.5em;
  }

  .hot-cities-wrapper .b-item {
    background: #f6f6f6;
    border-radius: 5px;
    width: 90px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin: 8px;
    text-align: center;
    padding: 0.1em 0.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .b-item label {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
  }
  .header {
    height: 44px;
    display: flex;
    align-items: center;
    padding-top: 0.5em;
    ion-icon {
      font-size: 1.2rem;
      opacity: 0.8;
      margin: 0 0.2em;
    }
    .back-icon {
      font-size: 1.5rem;
    }
    ion-searchbar {
      --border-radius: 5px;
      padding: 0;
      margin-right: -0.5em;
      height: 100%;
    }
    .cancel {
      color: var(--ion-color-secondary);
    }
  }
  .segments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    border-bottom: 1px solid #e5e5e5;
    .segment {
      position: relative;
      &.active {
        label {
          color: var(--ion-color-secondary);
        }
      }
      &.active::after {
        position: absolute;
        content: "";
        display: block;
        height: 3px;
        background-color: var(--ion-color-secondary, #5099fe);
        bottom: -8px;
        left: 0;
        right: 0;
        border-radius: 4px;
      }
    }
  }
  .container {
    height: calc(100% - 98px);
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    position: relative;
    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: all ease 200ms;
      height: 100%;
      &.domestic.show,
      &.international.show {
        transform: translate(0, 0);
      }
      &.domestic {
        transform: translate(-100%, 0);
      }
      &.international {
        transform: translate(100%, 0);
      }
    }
  }
  .international-page-container {
    display: flex;
    height: 101%;
    .sidebar {
      text-align: center;
      flex-basis: 100px;
      width: 100px;
      height: 100%;
      background: #f1f1f1;
      .tab {
        padding: 1em;
        &.active {
          background: #ffffff;
          color: var(--ion-color-secondary, #5099fe);
        }
      }
    }
    .main {
      max-height: 100%;
      overflow: auto;
      flex: 1;
      .label-header {
        padding: 16px;
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
      }
      .list {
        padding-bottom: 0.5em;
        .row {
          display: flex;
          justify-content: space-around;
        }
        .city-item {
          flex: 1;
          font-size: 14px;
          max-width: 80px;
          background: #f6f6f6;
          border-radius: 3px;
          margin-top: 0.8em;
          min-height: 35px;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 33.33%;
          &.empty {
            background: transparent;
            visibility: collapse;
          }
          &.f-8 {
            font-size: 8px;
            flex-basis: 66.66%;
            max-width: initial;
          }
          &.f-10 {
            flex-basis: 66.66%;
            font-size: 10px;
          }
          &.f-12 {
            font-size: 12px;
          }
        }
      }
    }
  }
  .fab-btn {
    color: white;
    background-color: rgba(var(--ion-color-secondary-rgb), 0.6);
    border-radius: 50%;
    position: fixed;
    right: 10vw;
    width: 2em;
    height: 2em;
    bottom: 5vh;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      font-size: 1.1rem;
    }
    transition: all ease-in-out 200ms;
    transform: translate3d(1000%, 0, 0);
    &.show {
      z-index: 99;
      transform: translate3d(0, 0, 0);
    }
  }
}
