<!-- 预订显示 -->
<ng-container
  *ngIf='viewModel?.orderFlightTicket?.Status==OrderFlightTicketStatusType.Booked||viewModel?.orderFlightTicket?.Status==OrderFlightTicketStatusType.Booking'>
  <app-flight-trip *ngFor='let trip of viewModel?.orderFlightTicket?.OrderFlightTrips' [trip]='trip'
    [ticket]='viewModel?.orderFlightTicket' [type]='"book"'></app-flight-trip>
</ng-container>

<!-- 出票显示 -->
<ng-container
  *ngIf='viewModel?.orderFlightTicket?.Status==OrderFlightTicketStatusType.Issued||viewModel?.orderFlightTicket?.Status==OrderFlightTicketStatusType.Issuing'>
  <app-flight-trip *ngFor='let trip of viewModel?.orderFlightTicket?.OrderFlightTrips' [trip]='trip'
    [ticket]='viewModel?.orderFlightTicket' [type]='"issue"'></app-flight-trip>
</ng-container>

<!-- 改签显示 -->
<ng-container
  *ngIf='viewModel?.orderFlightTicket?.StatusName?.includes("改签")'>
  <app-flight-trip *ngFor='let trip of viewModel?.orderFlightTicket?.OrderFlightTrips' [trip]='trip'
    [ticket]='viewModel?.orderFlightTicket' [type]='"exchange"' [orderItems]='viewModel?.order?.OrderItems' [tickets]='viewModel?.order?.OrderFlightTickets'>
  </app-flight-trip>
</ng-container>

<!-- 退票显示 -->
<ng-container
  *ngIf='viewModel?.orderFlightTicket?.StatusName?.includes("退票")'>
  <app-flight-trip *ngFor='let trip of viewModel?.orderFlightTicket?.OrderFlightTrips' [trip]='trip'
    [ticket]='viewModel?.orderFlightTicket' [type]='"refund"' [orderItems]='viewModel?.order?.OrderItems' [tickets]='viewModel?.order?.OrderFlightTickets'>
  </app-flight-trip>
</ng-container>