.icon-mobile {
  padding-top: 0.3em;
  display: block;
}
ion-item.item-interactive-disabled {
  ion-label,
  ion-input,
  ion-input input {
    opacity: 0.8;
    font-weight: bold;
  }
}
ion-list > ion-button {
  margin: 1em;
}
.search-result {
  position: absolute;
  left: 1em;
  top: 5.5em;
  width: 15em;
  // background: white;
  z-index: 99;
  ul {
    list-style-type: none;
    &,
    li {
      margin: 0;
      padding: 0;
    }
    li {
      padding: 1em;
    }
    li + li {
      border-top: 1px solid rgba(var(--ion-color-dark-rgb), 0.16);
    }
  }
}
.tip {
  color: var(--ion-color-secondary);
  font-size: 12px;
  padding: 1em;
  .txt {
    text-indent: 1em;
  }
}
