ul.train {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0.25em 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgba(var(--ion-color-dark-rgb), 0.12);
    padding: 0.5em;
  }
}
ion-content {
  --backround: #f2f2f2;
}
ion-title {
  font-size: 0.9rem;
  &.text-start {
    text-align: start;
  }
  &.text-center {
    text-align: center;
  }
}
.xs-font-size{
  font-size: 0.6rem;
}
.sm-font-size{
  font-size: 0.8rem;
}
.tabs {
  display: flex;
  align-items: center;
  .tab {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.5rem;
    ion-icon {
      font-size: 1.3rem;
      --opacity: 0.6;
      color: var(--ion-color-medium);
    }
    ion-note {
      font-size: 0.7rem;
    }
    &.active {
      --opacity: 1;
      ion-icon {
        color: var(--ion-color-secondary);
      }
      ion-note {
        color: var(--ion-color-secondary);
      }
    }
  }
}
ion-list.fakelist{
  margin-top: 0;
}
.icon-search-train{
  margin: 0 1em;
}