.price {
  color: var(--ion-color-danger);
  align-self: flex-start;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
}
.time,
.station,
.train-item,
.seat-item,
.stop-line-stop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time {
  .travel-time-name {
    font-size: 0.7rem;
  }
  strong {
    font-size: 1.5rem;
  }
  .has-add-day-tip {
    position: relative;
    &::after {
      content: attr(adddaytip);
      position: absolute;
      right: -0.5em;
      top: -1.8em;
      font-size: 0.6rem;
    }
  }
}
.right {
  width: 20vw;
}

.station ion-icon {
  margin: -1px;
}

img.access-by-IdCard {
  width: 1.5em;
  position: absolute;
  left: 3.9em;
  top: 1em;
  filter: grayscale(100%);
}
// .seat-count {
//   color: var(--ion-color-danger);
// }
.info {
  font-size: 0.9rem;
  flex: 1;
  line-height: 36px;
  * + * {
    margin-top: 0.15em;
  }
}
.seat {
  margin: 0.5em 0;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
  font-size: 0.9rem;
  .seat-item {
    justify-content: flex-start;
    padding: 0.5em 0;
    ion-button {
      padding-left: 0.25em;
    }
  }
}

.seat-outline {
  font-size: 0.7rem;
}

.seats {
  font-size: 0.9rem;
  ion-row {
    border: 2px solid var(--ion-color-medium);
    border-radius: 4px;
    margin: 0.5em 0;
    &[color="primary"] {
      border-color: var(--ion-color-primary);
    }
    &[color="danger"] {
      border-color: rgba(var(--ion-color-danger-rgb), 0.6);
      ion-button[color="danger"] {
        opacity: 0.6;
      }
    }
    &[color="secondary"] {
      border-color: var(--ion-color-secondary);
    }
    &[color="success"] {
      border-color: var(--ion-color-success);
    }
    &[color="warning"] {
      border-color: var(--ion-color-warning);
    }
  }
}
.no-seat {
  opacity: 0.5;
  // background: #fefefe;
}

.stop-line-stop {
  position: relative;
  margin: 0 1em;
  padding: 1em 0 20px;
  justify-content: center;
  font-size: 12px;
  &::after {
    content: attr(data);
    top: 0%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    margin-left: -10px;
  }
  .line {
    background-color: rgba(var(--ion-color-dark-rgb), 0.3);
    height: 1px;
    width: 6.1em;
    position: relative;
    top: -1.1em;
    margin-left: 4px;
    &::after {
      content: "";
      position: absolute;
      right: 0em;
      top: -0.2em;
      display: block;
      height: 1px;
      width: 0.5em;
      transform: rotate(45deg);
      background-color: inherit;
    }
  }
}
:host {
  width: 100%;
  padding: 0.3em 0;
}
.disabled {
  opacity: 0.6;
}
