<ion-toolbar>
  <div class='query-tabs'>
    <app-query-tab [label]='"推荐排序"' [class.has-condition]='isStarPriceHasConditionFiltered()' (active)='onActiveTab($event)'></app-query-tab>
    <app-query-tab [label]='"星级价格"' [class.has-condition]='isStarPriceHasConditionFiltered()' (active)='onActiveTab($event)'></app-query-tab>
    <app-query-tab [label]='"位置区域"' [class.has-condition]='isStarPriceHasConditionFiltered()'  (active)='onActiveTab($event)'></app-query-tab>
    <app-query-tab [label]='"筛选"' [class.has-condition]='isStarPriceHasConditionFiltered()' (active)='onActiveTab($event)'></app-query-tab>
  </div>
</ion-toolbar>
<app-recommend-rank (rank)='onRank($event)'   *ngIf='activeTab?.label=="推荐排序"' [@openClose]='activeTab.isActive'>
</app-recommend-rank>
<app-hotel-starprice  *ngIf='activeTab?.label=="星级价格"' [@openClose]='activeTab.isActive'
  (starPriceChange)='onStarPriceChange($event)'></app-hotel-starprice>
<app-hotel-filter  *ngIf='activeTab?.label=="筛选"'  [@openClose]='activeTab.isActive'
  (filter)='onFilter($event)'>
</app-hotel-filter>
<app-hotel-geo  *ngIf='activeTab?.label=="位置区域"'  [@openClose]='activeTab.isActive'
  (geoFilterChange)='onFilterGeo($event)'>
</app-hotel-geo> 