<div class='query-tabs'>
    <app-query-tab [tab]='{label:langOpt.Recommended,id:"Recommended"}' [class.has-condition]='filterItemInfo?.isRanks' (active)='onActiveTab($event)'>
    </app-query-tab>
    <app-query-tab [tab]='{label:langOpt.PriceStar,id:"PriceStar"}' [class.has-condition]='filterItemInfo?.isStarPrice' (active)='onActiveTab($event)'>
    </app-query-tab>
    <app-query-tab [tab]='{label:langOpt.Location,id:"Location"}' [class.has-condition]='filterItemInfo?.isLocationAreas' (active)='onActiveTab($event)'></app-query-tab>
    <app-query-tab [tab]='{label:langOpt.Filter,id:"Filter"}' [class.has-condition]='filterItemInfo?.isFilters' (active)='onActiveTab($event)'>
    </app-query-tab>
</div>