
.query-tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}
.has-condition {
  position: relative;
  &::after {
    position: absolute;
    right: -0.71em;
    transform: translate(-0.9em, 0);
    top: -0.3em;
    display: block;
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: var(--ion-color-danger);
    font-size: 12px;
  }
}

