.cropcontainer {
    position: relative;

    /* Limit image width to avoid overflow the container */
    img {
        max-width: 200%;
        width: 150%;
        /* This rule is very important, please do not ignore this! */
    }

    ion-button {
        position: absolute;
        top     : 1em;
        z-index : 1;

        &.cancel-btn {
            left: 1em;

        }

        &.rotate-btn {
            left     : 50%;
            transform: translateX(-50%);
        }

        &.ok-btn {
            right: 1em;
        }
    }
}

.result-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: cover;
}

:host.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}