<section class="days" #daysContainer>
    <ng-container *ngIf='days.length else fackList'>
        <article *ngFor='let item of days' [attr.date]='item?.date' #dayItem [class.active]='item.selected' (click)='onDaySelected(item)'>
            <ion-text>{{item?.topDesc}}</ion-text>
            <ion-text class='ion-text-nowrap'>
                <strong>
          {{item?.date?.substring("2018-".length,"2018-10-21".length)}}
        </strong>
            </ion-text>
            <ion-text class='price' color='danger' *ngIf='item?.price'>
                ￥{{item?.price}}
            </ion-text>
            <ion-text class='price' color='dark' *ngIf='false&&!item?.price'>
                查价
            </ion-text>
        </article>
    </ng-container>
    <ng-template #fackList>
        <article *ngFor='let item of [1,2,3,4,5,6,7,8]'>
            <ion-skeleton-text style="width: 2em;height:2em;" animated></ion-skeleton-text>
        </article>
    </ng-template>
</section>
<section class="calendar" (click)='onCalendar()'>
    <i class="icon icon-calendar"></i>
    <!-- <ion-icon color='secondary' size='large' name='calendar'></ion-icon> -->
    <ion-text>日历</ion-text>
</section>