.travelled{
    width: 3.3em;
    height: 1.5em;
    color: var(--ion-color-light);
    background-color: dodgerblue;
    text-align: center;
    /* display: flex; */
    line-height: 1.5em;
    font-size: 0.9em;
    border-radius: 0.3em;
}