<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <!-- <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button> -->
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>信息确认</ion-title>
    <ion-buttons slot='end'>
      <ion-button color='secondary' fill='clear' (click)='maintainCredentials()'>
        <ion-label>证件维护</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class='ion-padding-start ion-padding-end' *ngIf='!staff?.IsModifyPassword'>
    <ion-text color='danger'>您的密码还是初始密码，请及时修改。</ion-text>
    <ion-item>
      <ion-label position='floating' class='label-password'>
        请输入新密码
      </ion-label>
      <ion-input [(ngModel)]='password' type='password'></ion-input>
    </ion-item>
    <ion-button [style.width.%]='100' color='secondary' expand='block' fill='clear' (click)='confirmPassword()'>确认密码
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf='credentials?.length'>
    <ion-row>
      <ion-col>请核对您的证件信息：请及时核对您的证件信息，避免耽误行程预订，谢谢！</ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid class='ion-margin-top' *ngFor='let c of credentials;'>
    <ion-row>
      <ion-col>姓名：</ion-col>
      <ion-col>{{c.FirstName}}{{c.LastName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>登机名：</ion-col>
      <ion-col>{{c.CheckName}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>性别：</ion-col>
        <ion-col>{{c.Gender=="M"?"男":"女"}}</ion-col>
      </ion-row>
    <ion-row>
      <ion-col>证件类型：</ion-col>
      <ion-col>{{c.Type|credential}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>证件号码：</ion-col>
      <ion-col>{{c.Number}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>出生年月：</ion-col>
      <ion-col>{{c.Birthday.substring(0,c?.Birthday.indexOf("T"))}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>证件到期日期</ion-col>
      <ion-col>{{c.ExpirationDate.substring(0,c?.ExpirationDate.indexOf("T"))}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>国籍</ion-col>
      <ion-col>{{c.Country}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>发证国籍</ion-col>
      <ion-col>{{c.IssueCountry}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class='ion-text-center'>
          <ion-button class='ion-margin-bottom ion-margin-top' color='secondary' (click)='confirmCredentials()' *ngIf='credentials?.length'>
            确认证件
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-toolbar *ngIf='credentials?.length==0' class='ion-text-center'>
    <ion-label color="medium" >请维护您的证件信息</ion-label>
  </ion-toolbar>
</ion-content>