<ion-header>
    <ion-buttons>
        <app-back-button></app-back-button>
        <form (ngSubmit)='onSearchCities()'>
            <ion-searchbar animated='true' [debounce]='300' name='searchbar' style='padding:0' [(ngModel)]='searchCityKeyWords' type='search' placeholder="搜索" (ionChange)='onSearchCities()'>
            </ion-searchbar>
        </form>
    </ion-buttons>
    <ion-toolbar *ngIf='tabs'>
        <div class='continents'>
            <div class='c' #continentTab [attr.dataid]='t.id' *ngFor='let t of tabs' (click)='onActiveTab(t)' [class.active]='t.active'>{{t.name}}</div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-refresher slot='fixed' (ionRefresh)='doRefresh()'>
        <ion-refresher-content>正在刷新...</ion-refresher-content>
    </app-refresher>
    <ng-container *ngIf='isLoading else listtemp'>
        正在加载...
    </ng-container>
    <ng-template #listtemp>
        <ion-list>
            <ion-item *ngFor='let it of searchResults;let i=index;' @flyInOut (click)='onCitySelected(it)'>
                <ion-label class='ion-text-wrap'>
                    {{it.Text}}
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-template>
    <ion-infinite-scroll (ionInfinite)="loadMoreData()">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>