<ion-list lines='none'>
    <ion-radio-group mode='md' [value]='!filterCondition?.userOps?.airCompanyOp?"unlimit":""'>
        <ion-item  (click)='onReset()'>
            <ion-label>{{langOpt.all}}</ion-label>
            <ion-radio value='unlimit'></ion-radio>
        </ion-item>
    </ion-radio-group>
    <ion-item *ngFor="let entry of filterCondition?.airCompanies">
        <ion-thumbnail>
            <img [src]="entry.icon" alt="logo">
        </ion-thumbnail>
        <ion-label class='ion-text-wrap'>{{entry.label}}<ng-container *ngIf='entry.id'>({{entry.id}})</ng-container></ion-label>
        <ion-checkbox #cbox slot="end" [(ngModel)]='entry.isChecked'  (ionChange)='onionChange()'>
        </ion-checkbox>
    </ion-item>
    <ion-item></ion-item>
</ion-list>