ion-row ion-col {
  .number {
    width: 100%;
    display: flex;
    align-items: center;
  }
  width: 3em;
  max-width: 4em;
}
ion-icon {
  font-size: 1.3rem;
  &.disabled {
    color: rgba(var(--ion-color-secondary-rgb), 0.5);
  }
}
ion-grid {
  background: transparent;
  input {
    background: transparent;
  }
}
#type {
  margin-left: -0.3em;
}
ion-item {
  &.item-disabled {
    opacity: 1;
    --background: rgba(var(--ion-color-medium-rgb), 0.08);
    input {
      border: none;
      background: transparent;
    }
  }
  label {
    width: 100px;
    display: inline-flex;
    margin-right: 0.5em;
  }
  .row {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    input {
      background: transparent;
    }
  }
  .c{
    width: 100%;
  }
}
