<div style='width: 100%' *ngIf='credential'>
  <ion-grid class="id-type" [class.disabled]='!isModified'>
    <ion-row>
      <ion-col>证件:</ion-col>
      <ion-col text-end>
        <ion-button fill='clear' color='secondary' size='small' (click)='onModify()'>
          <ion-icon name="checkmark" mode='md' size='small' slot='start' color='success' *ngIf='isModified'>
          </ion-icon>
          <ion-icon name="create" mode='md' size='small' slot='start' *ngIf='!isModified'></ion-icon>
          <ion-text *ngIf='!isModified'>修改</ion-text>
          <ion-text *ngIf='isModified' (click)='onSave()'>保存</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines='none' no-margin no-padding [disabled]='!isModified'>
          <ion-label>证件类型</ion-label>
          <ion-select [(ngModel)]='credential' name='Type' okText="确定" cancelText="取消"
            selectedText='{{credential.Type|credential}}' [compareWith]='compareFn'>
            <ion-select-option [value]="opt" *ngFor='let opt of credentials'>
              {{(opt?.Type|credential)}}{{opt?.Number}}
            </ion-select-option>
          </ion-select>
          <input type="text" value="{{credential.Type}}" hidden ValidateName="Type">
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>证件号码：</ion-col>
      <ion-col>
        <input type="text" [disabled]='!isModified' [(ngModel)]='credential.Number' name='Number'
          ValidateName="Number">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>登机姓：</ion-col>
      <ion-col>
        <input type="text" [disabled]='!isModified' [(ngModel)]='credential.CheckFirstName'
          ValidateName='CheckFirstName' name='CheckFirstName'>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>登机名：</ion-col>
      <ion-col>
        <input type="text" [disabled]='!isModified' [(ngModel)]='credential.CheckLastName'
          ValidateName='CheckLastName' name='CheckLastName'>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>