.id-type {
    margin: 0;
    padding: 0;
    &.disabled ion-row:not(:first-child) {
      color: var(--ion-color-medium);
      input {
        border: none;
        background: transparent;
      }
    }
  }