.id-type {
  margin: 0;
  padding: 0;
  &.disabled ion-row:not(:first-child) {
    // color: var(--ion-color-medium);
    input {
      border: none;
      background: transparent;
      color: var(--ion-color-dark);
    }
  }
  input {
    text-align: end;
    padding-right: 1em;
    &[disabled] {
      opacity: 0.7;
    }
  }
  ion-item.item-disabled {
    opacity: 1;
    ion-select{
      opacity: 0.7;
    }
  }
}
:host {
  width: 100%;
}
