.id-type {
  margin: 0;
  padding: 0;
  &.disabled ion-row:not(:first-child) {
    // color: var(--ion-color-medium);
    input {
      border: none;
      background: transparent;
      color: var(--ion-color-dark);
    }
  }
  input {
    padding-right: 1em;
    &[disabled] {
      opacity: 0.7;
      border: none;
    }
  }
  ion-item.item-disabled {
    opacity: 1;
    ion-select {
      opacity: 0.7;
    }
  }
}
:host {
  width: 100%;
}
ion-row ion-col {
  .number {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &:first-child {
    text-align: end;
  }
  &:last-child {
    text-align: start;
  }
}
ion-icon {
  font-size: 1.3rem;
  &.disabled {
    color: rgba(var(--ion-color-secondary-rgb), 0.5);
  }
}
