<ion-item lines='none'>
  <ion-text color='{{!isModified?"medium":"dark"}}'>
    <strong>证件信息:</strong>
  </ion-text>
  <ion-button slot='end' fill='clear' color='secondary' *ngIf='canEdit&&isself' (click)='onMaintainCredentials()'>
    维护证件</ion-button>
  <ion-button fill='clear' color='secondary' slot="end" size='small' (click)='onModify()' *ngIf='canEdit'>

    <ion-icon name="create-outline" mode='md' size='small' slot='start' *ngIf='!isModified'></ion-icon>
    <ion-text *ngIf='!isModified'>修改</ion-text>
    <ion-icon name="checkmark" mode='md' size='small' slot='start' color='success' *ngIf='isModified'>
    </ion-icon>
    <ion-text *ngIf='isModified' (click)='onSave()' color='success'>保存</ion-text>
  </ion-button>
</ion-item>
<ion-item [disabled]='!isModified' lines='none' *ngIf='credential'>
  <div class="c" [class.is-exchange]='!isModified'>
    <div class="row" (click)='openSelect()'>
      <label for="type">证件类型:</label>
      <span class='number'>
        {{credential.Type|credential}}
      </span>
      <ion-icon name="caret-down-outline" [class.disabled]='!isModified' mode='md' color='secondary'></ion-icon>
    </div>
    <div class="row">
      <label>证件号码:</label>
      <input type="text" appShowtip [disabled]='!canEditNumber' [(ngModel)]='credential.HideNumber' name='Number' ValidateName="Number">
    </div>
    <div class="row">
      <label class="ion-text-end">姓:</label>
      <input type="text" [disabled]='!canEditSurname' [(ngModel)]='credential.Surname' ValidateName='Surname' name='Surname'>
    </div>
    <div class="row">
      <label class="ion-text-end">名:</label>
      <input type="text" [disabled]='!canEditName' [(ngModel)]='credential.Givenname' ValidateName='Givenname' name='Givenname'>
    </div>
  </div>
</ion-item>
<ion-item lines='none' style="display: none;">
  <ion-select [(ngModel)]='credential' name='Type' okText="确定" cancelText="取消" selectedText='{{credential?.Type|credential}}' [compareWith]='compareFn'>
    <ion-select-option [value]="opt" *ngFor='let opt of credentials'>
      {{(opt?.Type|credential)}}{{opt?.HideNumber}}
    </ion-select-option>
  </ion-select>
  <input type="text" value="{{credential?.Type}}" hidden ValidateName="Type">
</ion-item>