<ng-container>
    <ion-list>
        <ion-item-group style="margin: .5em;">
            <ion-item-divider>
                <ion-text class="text-trip"><span style="font-size:12px">行程{{index+1}}</span></ion-text>
                <ion-icon slot="end" name="trash-outline" color="secondary" class="trash-outline" (click)="onDelete()" class="ion-text-end" *ngIf="enable"></ion-icon>
            </ion-item-divider>
            <ion-radio-group [(ngModel)]='trip.IsBackway'>
                <ion-buttons class="radios">
                    <ion-item lines='none'>
                        <ion-radio value="false" mode='md'></ion-radio>
                        <ion-label>单程</ion-label>
                    </ion-item>
                    <ion-item lines='none'>
                        <ion-radio value="true" mode='md'></ion-radio>
                        <ion-label>往返</ion-label>
                    </ion-item>
                </ion-buttons>
            </ion-radio-group>
            <ion-item [attr.tripType]='"tripType"'>
                <ion-text [color]="!enable?'dark':'dark'">
                    出差类别
                </ion-text>
                <ion-select slot="end" class="ion-text-end" [(ngModel)]="trip.TripType" okText="确定" cancelText="取消" [compareWith]="compareWithFn" (ionChange)="getRegionTypes(trip.TripType)" [disabled]="!enable">
                    <ion-select-option value="Domestic" *ngIf="domestic">国内</ion-select-option>
                    <ion-select-option value="International" *ngIf="international">国际*港澳台</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf='vmRegionTypes?.length'>
                <ion-text [color]="!enable?'dark':'dark'">
                    交通住宿
                </ion-text>
                <ion-select (ionChange)='onRegionTypeChange($event)' [disabled]="!enable" style="max-width: initial;flex: 3; text-align: end;" [(ngModel)]="trip.travelTools" okText="确定" multiple="true" cancelText="取消" [compareWith]="compareTravelToolWithFn">
                    <ion-select-option value="{{t.value}}" *ngFor='let t of vmRegionTypes'>{{t.label}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item detail (click)="onStartingCity(true)">
                <ion-text [color]="!enable?'dark':'dark'">
                    出发城市
                </ion-text>
                <ion-label class="ion-text-end">
                    <ion-text [color]="!enable?'medium':'dark'">{{trip.FromCityName||" "}}</ion-text>
                </ion-label>
            </ion-item>
            <ion-item detail (click)="onSelectCity(false,false,trip)">
                <ion-text [color]="!enable?'dark':'dark'">
                    目的城市
                </ion-text>
                <label class="ion-text-end" *ngFor='let t of trip.ToCities;let last=last;'>
                    <ion-text  [color]="!enable?'medium':'dark'">{{t.Name||" "}}
                        <ng-container *ngIf='!last'>&nbsp;·&nbsp;</ng-container>
                    </ion-text>
                </label>
            </ion-item>

            <ion-item *ngIf='isShowCheckInCity' detail (click)="onSelectCity1(false,false,trip)">
                <ion-text [color]="!enable?'dark':'dark'">
                    入住城市
                </ion-text>
                <label class="ion-text-end" *ngFor='let g of trip.ToCityArrive;let last=last;'>
                    <ion-text [color]="!enable?'medium':'dark'">{{g.Name}}
                        <ng-container *ngIf='!last'>&nbsp;·&nbsp;</ng-container>
                    </ion-text>
                </label>
            </ion-item>

            <ion-item detail>
                <ion-text [color]="!enable?'dark':'dark'">
                    出差开始时间
                </ion-text>
                <ion-datetime style="max-width: initial;flex: 3; text-align: end;" [disabled]="!enable" displayFormat="YYYY-MM-DD" [(ngModel)]="trip.StartDate" doneText="确定" cancelText="取消">
                </ion-datetime>
            </ion-item>
            <ion-item detail>
                <ion-text [color]="!enable?'dark':'dark'">
                    出差结束时间
                </ion-text>
                <ion-datetime style="max-width: initial;flex: 3; text-align: end;" [disabled]="!enable" displayFormat="YYYY-MM-DD" [(ngModel)]="trip.EndDate" (ionChange)="duageTime(trip.StartDate,trip.EndDate)" doneText="确定" cancelText="取消">
                </ion-datetime>
            </ion-item>
            <ion-item *ngIf="pass">
                <div class="pass">
                    <div *ngFor='let t of trip.travelTools'>
                        <ion-button slot='end' color="secondary" style="height: 2.4em;" (click)="goReserve(t)">
                            预订{{getTravelTools(t)}}
                        </ion-button>
                    </div>
                </div>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ng-container>