<ng-container>
  <ion-list>
    <ion-item-group style="margin: .5em;">
      <ion-item-divider>
        <ion-text>行程{{index+1}}</ion-text>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-input placeholder="请输入"></ion-input>
        <ion-icon name="trash-outline" class="trash-outline" (click)="onDelete()"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          交通住宿
        </ion-label>
        <ion-select [value]="trip.TravelTool">
          <!-- <ion-select-option value=" ">请选择</ion-select-option> -->
          <ion-select-option value="机票">机票</ion-select-option>
          <ion-select-option value="火车票">火车票</ion-select-option>
          <ion-select-option value="酒店">酒店</ion-select-option>
          <ion-select-option value="租车">租车</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          单程往返
        </ion-label>
        <ion-select [value]="trip.IsBackway">
          <ion-select-option value="false">单程</ion-select-option>
          <ion-select-option value="true">往返</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          出发城市
        </ion-label>
        <ion-label (click)="onSelectCity(true)">
        <ion-text color="medium">{{trip.FromCityName||"请选择"}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label  (click)="onSelectCity(false)">
          目的城市
        </ion-label>
        <ion-label>
          <ion-text color="medium">{{trip.ToCityName||"请选择"}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          出差开始时间
        </ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="请选择" [(ngModel)]="trip.StartDate"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          出差结束时间
        </ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="请选择" [(ngModel)]="trip.EndDate"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-label>时长（天）
        </ion-label>
        <ion-input placeholder="请输入" slot="end" [(ngModel)]="trip.Day"></ion-input>
      </ion-item>
      
    </ion-item-group>
  </ion-list>

</ng-container>