<ng-container>
  <ion-list>
    <ion-item-group style="margin: .5em;">
      <ion-item-divider>
        <ion-text>行程{{index+1}}</ion-text>
        <ion-icon slot="end" name="trash-outline" color="secondary" class="trash-outline" (click)="onDelete()"
          class="ion-text-end" *ngIf="enable"></ion-icon>
      </ion-item-divider>
      <ion-item lines="none" *ngIf='regionTypes?.length'>
        <ion-text [color]="!enable?'dark':'dark'">
          交通住宿
        </ion-text>
        <ion-select [disabled]="!enable" style="max-width: initial;flex: 3; text-align: end;"
          [(ngModel)]="trip.travelTools" okText="确定" multiple="true" cancelText="取消"
          [compareWith]="compareTravelToolWithFn">
          <ion-select-option value="{{t.value}}" *ngFor='let t of regionTypes'>{{t.label}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-text [color]="!enable?'dark':'dark'">
          单程往返
        </ion-text>
        <ion-select style="max-width: initial;flex: 3; text-align: end;" [disabled]="!enable"
          [(ngModel)]="trip.IsBackway" okText="确定" cancelText="取消" [compareWith]="compareWithFn">
          <ion-select-option [value]="false">单程</ion-select-option>
          <ion-select-option [value]="true">往返</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" detail (click)="onSelectCity(true)">
        <ion-text [color]="!enable?'dark':'dark'">
          出发城市
        </ion-text>
        <ion-label class="ion-text-end">
          <ion-text [color]="!enable?'medium':'dark'">{{trip.FromCityName||" "}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail (click)="onSelectCity(false)">
        <ion-text [color]="!enable?'dark':'dark'">
          目的城市
        </ion-text>
        <ion-label class="ion-text-end">
          <ion-text [color]="!enable?'medium':'dark'">{{trip.ToCityName||" "}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail>
        <ion-text [color]="!enable?'dark':'dark'">
          出差开始时间
        </ion-text>
        <ion-datetime style="max-width: initial;flex: 3; text-align: end;" [disabled]="!enable"
          displayFormat="YYYY-MM-DD" [(ngModel)]="trip.StartDate" doneText="确定" cancelText="取消">
        </ion-datetime>
      </ion-item>
      <ion-item lines="none" detail>
        <ion-text [color]="!enable?'dark':'dark'">
          出差结束时间
        </ion-text>
        <ion-datetime  style="max-width: initial;flex: 3; text-align: end;" [disabled]="!enable"
          displayFormat="YYYY-MM-DD" [(ngModel)]="trip.EndDate" (ionChange)="duageTime(trip.StartDate,trip.EndDate)" doneText="确定" cancelText="取消">
        </ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-text [color]="!enable?'dark':'dark'">时长（天）
        </ion-text>
        <ion-label slot="end" class="ion-text-end" [color]="!enable?'medium':'dark'">
          {{getNumberOfDays(trip.StartDate,trip.EndDate)}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="pass">
        <div>
          <div *ngFor='let t of trip.travelTools'>
            <ion-button slot='end' color="secondary" style="height: 2.4em;" (click)="goReserve(t)">
              预定{{getTravelTools(t)}}
            </ion-button>
          </div>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ng-container>