<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=""></app-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf='orderDetail&&orderDetail.Order else nomoredata'>
    <app-swiper-slide-content [tabs]="tabs">
      <div class="swiper-slide" #slide>
        <!-- 订单信息 -->
        <div>
          <ion-item-divider>
            订单信息
          </ion-item-divider>
          <div>
            <ion-row>
              <ion-col size='3'>订单编号:</ion-col>
              <ion-col>{{orderDetail.Order.Id}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>订单状态:</ion-col>
              <ion-col>{{orderDetail.Order.StatusName == "等待处理" ? "等待审批" : orderDetail.Order.StatusName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>付款方式:</ion-col>
              <ion-col>{{orderDetail.TravelType}}-{{orderDetail.TravelPayType}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>完成时间:</ion-col>
              <ion-col>{{orderDetail.Order.InsertDateTime}}</ion-col>
            </ion-row>
            <ion-row (click)='showPricePopover()' *ngIf='orderDetail.Order?.Type=="Flight"'>
              <ion-col size='3'>应付金额:</ion-col>
              <ion-col>
                <div>
                  {{getOrderTotalAmount()}}
                  <span *ngIf='getInsuranceAmount() as insuranceAmount'>(含保险{{insuranceAmount}})</span>
                </div>
              </ion-col>
              <ion-col size='2'>
                <ion-icon name="chevron-forward-outline" mode='ios'>
                </ion-icon>
              </ion-col>
            </ion-row>
            <ng-container>
              <ng-container *ngIf='tmc?.IsShowServiceFee'>
                <ion-row *ngFor='let orderHotel of orderDetail.Order.OrderHotels'>
                  <ion-col size='3'>
                    <ng-container *ngIf='orderDetail.Order.OrderHotels.length>1'>
                      <strong *ngIf='orderHotel.HotelName as n'>
                        {{n.length>10?n.substr(0,10)+"...":n}}
                      </strong>
                    </ng-container>
                    服务费:
                  </ion-col>
                  <ion-col>{{getHotelServiceFee(orderHotel.Key)}}
                  </ion-col>
                </ion-row>
              </ng-container>
            </ng-container>
            <ion-row>
              <ion-col size='3'>已付金额:</ion-col>
              <ion-col>{{getOrderPayAmount()}}</ion-col>
            </ion-row>
          </div>
          <div>
            <ion-item-divider>审批记录</ion-item-divider>
          </div>
          <div>
            <div *ngFor='let history of orderDetail.Histories'>
              <div class='approval-info'>
                <ion-row class="ion-padding-top">
                  <ion-col size='4'>审批类型:</ion-col>
                  <ion-col>{{getVariableObj(history,"TypeName")}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size='4'>审批人:</ion-col>
                  <ion-col>{{history.Account?.RealName}} <span
                      *ngIf='history.StatusName'>({{history.StatusName}})</span></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size='4'>发起审批时间:</ion-col>
                  <ion-col>{{history?.InsertDateTime}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size='4'>审批截止时间:</ion-col>
                  <ion-col>{{history?.ExpiredTime?.startsWith("1800")?"":history?.ExpiredTime}}</ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" #slide *ngFor="let passenger of orderDetail.Order.OrderPassengers;let i=index">
        <div>
          <!-- 旅客信息 -->
          <ng-container>
            <ion-item-divider>
              旅客信息
            </ion-item-divider>
            <ion-row>
              <ion-col size='3'>姓名</ion-col>
              <ion-col>{{passenger.CheckName}} <span
                  *ngIf='passenger.PassengerTypeName'>({{passenger.PassengerTypeName}})</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>证件号码</ion-col>
              <ion-col>{{passenger.CredentialsNumber}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>联系电话</ion-col>
              <ion-col>{{passenger.Mobile}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>邮箱</ion-col>
              <ion-col>{{passenger.Email}}</ion-col>
            </ion-row>
            <ng-container *ngIf='getPassengerCostOrgInfo(passenger) as info'>
              <ion-row>
                <ion-col size='3'>外部编号</ion-col>
                <ion-col>
                  <div *ngFor='let n of info.OutNumbers'>
                    <span>{{n.Name}}:{{n.Number}}</span>
                  </div>
                </ion-col>
              </ion-row>
            </ng-container>
            <ion-item-divider>
              联系信息
            </ion-item-divider>
            <ion-row>
              <ion-col size='3'>类型</ion-col>
              <ion-col>旅客</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>姓名</ion-col>
              <ion-col>{{passenger.Name}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>邮箱</ion-col>
              <ion-col>{{passenger.Email}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>电话</ion-col>
              <ion-col>{{passenger.Mobile}}</ion-col>
            </ion-row>
          </ng-container>
          <ng-container *ngFor="let ticket of passengerTikects[passenger.Id];let idx=index;let last=last;">
            <div *ngIf="ticket['isShow']">
              <!-- 航班信息 -->
              <ng-container>
                <ion-item-divider>
                  航班信息
                </ion-item-divider>
                <ion-row>
                  <ion-col size='3'>
                    机票状态
                  </ion-col>
                  <ion-col>
                    {{ticket?.StatusName}}
                  </ion-col>
                </ion-row>
                <ng-container *ngFor="let trip of ticket.OrderFlightTrips;">
                  <ion-row>
                    <ion-col size='3'>出发城市</ion-col>
                    <ion-col>
                      {{trip.FromCityName}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size='3'>目的城市</ion-col>
                    <ion-col>
                      {{trip?.ToCityName}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size='3'>起飞</ion-col>
                    <ion-col>
                      <div>
                        <div>
                          {{trip?.TakeoffTime?.replace("T"," ")?.substring(0,19)}}
                        </div>
                        <div>
                          {{trip?.FromAirportName}}({{trip?.FromAirport}}){{trip?.FromTerminal}}
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size='3'>到达</ion-col>
                    <ion-col>
                      <div>{{trip?.ArrivalTime?.replace("T"," ")?.substring(0,19)}}</div>
                      <div>
                        {{trip?.ToAirportName}}({{trip?.ToAirport}}){{trip?.ToTerminal}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ng-container>
              </ng-container>
              <!-- 成本中心 -->
              <ng-container *ngIf='getPassengerCostOrgInfo(ticket) as info'>
                <ion-row *ngIf="info.CostCenterCode&&info.CostCenterName">
                  <ion-col size='3'>成本中心</ion-col>
                  <ion-col>
                    {{info.CostCenterCode}}-{{info.CostCenterName}}
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="info.OrganizationCode&&info.OrganizationName">
                  <ion-col size='3'>组织架构</ion-col>
                  <ion-col>{{info.OrganizationCode}}-{{info.OrganizationName}}</ion-col>
                </ion-row>
                <ion-row *ngIf="info.IllegalPolicy">
                  <ion-col size='3'>违规</ion-col>
                  <ion-col>{{info.IllegalPolicy}}</ion-col>
                </ion-row>
                <ion-row *ngIf="info.IllegalReason">
                  <ion-col size='3'>违规原因</ion-col>
                  <ion-col>{{info.IllegalReason}}</ion-col>
                </ion-row>
              </ng-container>
              <!-- 保险信息 -->
              <ng-container *ngIf='getOrderInsurances(ticket) as orderInsurance'>
                <ion-grid>
                  <ion-item-divider *ngIf="orderInsurance.StatusName">
                    保险信息
                  </ion-item-divider>
                  <ion-row *ngIf="orderInsurance.StatusName">
                    <ion-col size='3'>
                      保单状态
                    </ion-col>
                    <ion-col>
                      {{orderInsurance.StatusName}}
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.BookTime?.replace("T"," ")?.substring(0,19) as time'>
                    <ion-col size='3'>
                      预订时间
                    </ion-col>
                    <ion-col>
                      {{time}}
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.EffectiveDate?.startsWith("1800") ? "" :
                  orderInsurance.EffectiveDate?.replace("T"," ") as time'>
                    <ion-col size='3'>保单生效时间</ion-col>
                    <ion-col> {{time}} </ion-col>
                  </ion-row>
                  <ion-row
                    *ngIf='orderInsurance.ExpireDate?.startsWith("1800") ? "" : orderInsurance.ExpireDate?.replace("T"," ") as time'>
                    <ion-col size='3'>保单失效时间</ion-col>
                    <ion-col> {{time}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf="orderInsurance.Name">
                    <ion-col size='3'>保险类型</ion-col>
                    <ion-col> {{orderInsurance?.Name}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.PolicyNo as n'>
                    <ion-col size='3'>保单号</ion-col>
                    <ion-col> {{n}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.Onumber as s'>
                    <ion-col size='3'>供应商订单号</ion-col>
                    <ion-col> {{s}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='false && orderInsurance.Name as n'>
                    <ion-col size='3'>保险名称</ion-col>
                    <ion-col> {{n}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='false && orderInsurance.Supplier as s'>
                    <ion-col size='3'>供应商</ion-col>
                    <ion-col> {{s}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.Count as c'>
                    <ion-col size='3'>数量</ion-col>
                    <ion-col> {{c}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.Premium as p'>
                    <ion-col size='3'>保费</ion-col>
                    <ion-col> {{p}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.InsuredAmount as a'>
                    <ion-col size='3'>最大保额</ion-col>
                    <ion-col> {{a}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='false && orderInsurance.BookCode as c'>
                    <ion-col size='3'>预订代码</ion-col>
                    <ion-col> {{c}} </ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.Detail as detail'>
                    <ion-col size='3'>投保须知</ion-col>
                  </ion-row>
                  <ion-row *ngIf='orderInsurance.Detail as detail'>
                    <ion-col>
                      <p class='clip-text ion-no-margin' (click)='onShowOrderInsurance(ticket)'
                        [class.show]='orderInsurance["isShowDetail"]'>
                        {{detail}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ng-container>
            </div>
            <ion-row style="padding-left:0em;background-color: var(--ion-color-secondary);"
              *ngIf='orderDetail.Order.OrderFlightTickets.length>1&&!last&&ticket["isShow"]'>
              <ion-col class="ion-text-justify" color="secondary">
                <div color="secondary" class="ion-text-center display-flex" style="height: 2em;"
                  (click)="onShowFlightTicket(idx,passenger,ticket)">原始航班信息
                  <ion-icon name="chevron-down-outline" *ngIf="!ticket['isToggle']"></ion-icon>
                  <ion-icon name="chevron-up-outline" *ngIf="ticket['isToggle']"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ng-container>
        </div>
      </div>
    </app-swiper-slide-content>
  </ng-container>
  <ng-template #nomoredata>
    <span *ngIf='isLoading'>
      正在获取订单详情...
    </span>
    <app-or-comp *ngIf='!isLoading'>暂无数据</app-or-comp>
  </ng-template>
</ion-content>