<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=""></app-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-swiper-slide-content [tabs]="tabs">
    <ng-container *ngIf='orderDetail&&orderDetail.Order else nomoredata'>
      <div class="swiper-slide" #slide>
        <!-- 订单信息 -->
        <div>
          <ion-item-divider>
            订单信息
          </ion-item-divider>
          <div>
            <ion-row>
              <ion-col size='3'>订单编号:</ion-col>
              <ion-col>{{orderDetail.Order.Id}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>订单状态:</ion-col>
              <ion-col>{{orderDetail.Order.StatusName == "等待处理" ? "等待审批" : orderDetail.Order.StatusName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>付款方式:</ion-col>
              <ion-col>{{orderDetail.TravelType}}-{{orderDetail.TravelPayType}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>完成时间:</ion-col>
              <ion-col>{{orderDetail.Order.InsertDateTime}}</ion-col>
            </ion-row>
            <ion-row (click)='showPricePopover()' *ngIf='orderDetail.Order?.Type=="Flight"'>
              <ion-col size='3'>应付金额:</ion-col>
              <ion-col>
                <div>
                  {{getOrderTotalAmount()}}
                  <span *ngIf='getInsuranceAmount() as insuranceAmount'>(含保险{{insuranceAmount}})</span>
                </div>
              </ion-col>
              <ion-col size='2'>
                <ion-icon name="chevron-forward-outline" mode='ios'>
                </ion-icon>
              </ion-col>
            </ion-row>
            <ng-container>
              <ng-container *ngIf='tmc?.IsShowServiceFee'>
                <ion-row *ngFor='let orderHotel of orderDetail.Order.OrderHotels'>
                  <ion-col size='3'>
                    <ng-container *ngIf='orderDetail.Order.OrderHotels.length>1'>
                      <strong *ngIf='orderHotel.HotelName as n'>
                        {{n.length>10?n.substr(0,10)+"...":n}}
                      </strong>
                    </ng-container>
                    服务费:
                  </ion-col>
                  <ion-col>{{getHotelServiceFee(orderHotel.Key)}}
                  </ion-col>
                </ion-row>
              </ng-container>
            </ng-container>
            <ion-row>
              <ion-col size='3'>已付金额:</ion-col>
              <ion-col>{{getOrderPayAmount()}}</ion-col>
            </ion-row>
          </div>
          <div>
            <ion-item-divider>审批记录</ion-item-divider>
          </div>
          <div>
            <div *ngFor='let history of orderDetail.Histories'>
              <div class='approval-info'>
                <ion-row class="ion-padding-top">
                  <ion-col size='4'>审批类型:</ion-col>
                  <ion-col>{{getVariableObj(history,"TypeName")}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size='4'>审批人:</ion-col>
                  <ion-col>{{history.Account?.RealName}} <span
                      *ngIf='history.StatusName'>({{history.StatusName}})</span></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size='4'>发起审批时间:</ion-col>
                  <ion-col>{{history?.InsertDateTime}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size='4'>审批截止时间:</ion-col>
                  <ion-col>{{history?.ExpiredTime?.startsWith("1800")?"":history?.ExpiredTime}}</ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" #slide *ngFor="let ticket of orderDetail.Order.OrderFlightTickets;let i=index">
        <div>
          <ion-item-divider>
            航班信息
          </ion-item-divider>
          <ion-row>
            <ion-col size='3'>
              机票状态
            </ion-col>
            <ion-col>
              {{ticket?.StatusName}}
            </ion-col>
          </ion-row>
          <ng-container *ngFor="let trip of ticket.OrderFlightTrips">
            <ion-row>
              <ion-col size='3'>出发城市</ion-col>
              <ion-col>
                {{trip.FromCityName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>目的城市</ion-col>
              <ion-col>
                {{trip?.ToCityName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>起飞</ion-col>
              <ion-col>
                <div>
                  <div>
                    {{trip?.TakeoffTime?.replace("T"," ")?.substring(0,19)}}
                  </div>
                  <div>
                    {{trip?.FromAirportName}}({{trip?.FromAirport}}){{trip?.FromTerminal}}
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>到达</ion-col>
              <ion-col>
                <div>{{trip?.ArrivalTime?.replace("T"," ")?.substring(0,19)}}</div>
                <div>
                  {{trip?.ToAirportName}}({{trip?.ToAirport}}){{trip?.ToTerminal}}
                </div>
              </ion-col>
            </ion-row>
            <ion-item-divider>
              旅客信息
            </ion-item-divider>
            <ion-row>
              <ion-col size='3'>姓名</ion-col>
              <ion-col>{{ticket.Passenger.CheckName}} <span
                  *ngIf='ticket.Passenger.PassengerTypeName'>({{ticket.Passenger.PassengerTypeName}})</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>证件号码</ion-col>
              <ion-col>{{ticket.Passenger.CredentialsNumber}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>联系电话</ion-col>
              <ion-col>{{ticket.Passenger.Mobile}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>邮箱</ion-col>
              <ion-col>{{ticket.Passenger.Email}}</ion-col>
            </ion-row>
            <ng-container *ngIf='getPassengerCostOrgInfo(ticket) as info'>
              <ion-row>
                <ion-col size='3'>成本中心</ion-col>
                <ion-col>
                  {{info.CostCenterCode}}-{{info.CostCenterName}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>组织架构</ion-col>
                <ion-col>{{info.OrganizationCode}}-{{info.OrganizationName}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>外部编号</ion-col>
                <ion-col>
                  <div *ngFor='let n of info.OutNumbers'>
                    <span>{{n.Name}}:{{n.Number}}</span>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>违规</ion-col>
                <ion-col>{{info.IllegalPolicy}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>违规原因</ion-col>
                <ion-col>{{info.IllegalReason}}</ion-col>
              </ion-row>
            </ng-container>
            <ion-item-divider>
              联系信息
            </ion-item-divider>
            <ion-row>
              <ion-col size='3'>类型</ion-col>
              <ion-col>旅客</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>姓名</ion-col>
              <ion-col>{{ticket.Passenger.Name}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>邮箱</ion-col>
              <ion-col>{{ticket.Passenger.Email}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='3'>电话</ion-col>
              <ion-col>{{ticket.Passenger.Mobile}}</ion-col>
            </ion-row>
            <ion-item-divider>
              保险信息
            </ion-item-divider>
            <ng-container *ngIf='getOrderInsurances(ticket) as orderInsurance'>
              <ion-grid>
                <ion-row>
                  <ion-col size='3'>
                    保单状态
                  </ion-col>
                  <ion-col>
                    {{orderInsurance.StatusName}}
                  </ion-col>
                </ion-row>
               <ion-row>
                <ion-col size='3'>
                  预订时间
                </ion-col>
                <ion-col *ngIf='orderInsurance.BookTime?.replace("T"," ")?.substring(0,19) as time'>
                  {{time}}
                </ion-col>
              </ion-row>
              <ion-row *ngIf='orderInsurance.EffectiveDate?.startsWith("1800") ? "" :
              orderInsurance.EffectiveDate?.replace("T"," ") as time'>
                <ion-col size='3'>保单生效时间</ion-col>
                <ion-col> {{time}} </ion-col>
              </ion-row>
               <ion-row
                *ngIf='orderInsurance.ExpireDate?.startsWith("1800") ? "" : orderInsurance.ExpireDate?.replace("T"," ") as time'>
                <ion-col size='3'>保单失效时间</ion-col>
                <ion-col> {{time}} </ion-col>
              </ion-row>
            <ion-row >
                <ion-col size='3'>保险类型</ion-col>
                <ion-col> {{orderInsurance?.Name}} </ion-col>
              </ion-row>
               <ion-row *ngIf='orderInsurance.PolicyNo as n'>
                <ion-col size='3'>保单号</ion-col>
                <ion-col> {{n}} </ion-col>
              </ion-row>
               <ion-row *ngIf='orderInsurance.Onumber as s'>
                <ion-col size='3'>供应商订单号</ion-col>
                <ion-col> {{s}} </ion-col>
              </ion-row>
             <ion-row *ngIf='false && orderInsurance.Name as n'>
                <ion-col size='3'>保险名称</ion-col>
                <ion-col> {{n}} </ion-col>
              </ion-row>
              <ion-row *ngIf='false && orderInsurance.Supplier as s'>
                <ion-col size='3'>供应商</ion-col>
                <ion-col> {{s}} </ion-col>
              </ion-row>
               <ion-row *ngIf='orderInsurance.Count as c'>
                <ion-col size='3'>数量</ion-col>
                <ion-col> {{c}} </ion-col>
              </ion-row>
              <ion-row *ngIf='orderInsurance.Premium as p'>
                <ion-col size='3'>保费</ion-col>
                <ion-col> {{p}} </ion-col>
              </ion-row>
              <ion-row *ngIf='orderInsurance.InsuredAmount as a'>
                <ion-col size='3'>最大保额</ion-col>
                <ion-col> {{a}} </ion-col>
              </ion-row>
              <ion-row *ngIf='false && orderInsurance.BookCode as c'>
                <ion-col size='3'>预订代码</ion-col>
                <ion-col> {{c}} </ion-col>
              </ion-row>
            <ion-row *ngIf='orderInsurance.Detail as detail'>
                <ion-col size='3'>投保须知</ion-col>
              </ion-row>
                <ion-row *ngIf='orderInsurance.Detail as detail'>
                <ion-col >
                  <p class='clip-text ion-no-margin'
                  (click)='orderInsurance["isShowDetail"]=!orderInsurance["isShowDetail"]'
                    [class.show]='orderInsurance["isShowDetail"]'>
                    {{detail}} </p>
                </ion-col>
                </ion-row>
              </ion-grid>
            </ng-container>

            <!-- <ion-list-header>保客信息</ion-list-header>
            <ion-grid class='insurance-customer'>
              <ion-row>
                <ion-col size='3'>
                  证件号码
                </ion-col>
                <ion-col>
                  {{orderPassenger.CredentialsNumber}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>姓名</ion-col>
                <ion-col>{{orderPassenger.Name}}</ion-col>
              </ion-row>
              <ion-row *ngIf='false'>
                <ion-col size='3'>登机姓名(18位)</ion-col>
                <ion-col>{{orderPassenger.CheckName}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>联系方式</ion-col>
                <ion-col>{{orderPassenger.Mobile}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>邮箱地址</ion-col>
                <ion-col>{{orderPassenger.Email}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>旅客类型</ion-col>
                <ion-col>{{orderPassenger.PassengerTypeName}}</ion-col>
              </ion-row>
              <ion-row *ngIf='getOrderTravelsValues(orderInsurance.Key,"CostCenterName") as n'>
                <ion-col size='3'>成本中心名称</ion-col>
                <ion-col>{{n}}</ion-col>
              </ion-row>
              <ion-row *ngIf='getOrderTravelsValues(orderInsurance.Key,"CostCenterCode") as c'>
                <ion-col size='3'>成本中心代码</ion-col>
                <ion-col>{{c}}</ion-col>
              </ion-row>
              <ion-row *ngIf='getOrderTravelsValues(orderInsurance.Key,"OrganizationName") as o'>
                <ion-col size='3'>组织架构名称</ion-col>
                <ion-col>{{o}}</ion-col>
              </ion-row>
              <ion-row *ngIf='getOrderTravelsValues(orderInsurance.Key,"OrganizationCode") as c'>
                <ion-col size='3'>组织架构代码</ion-col>
                <ion-col>{{c}}</ion-col>
              </ion-row>
              <ion-row *ngIf='getOrderTravelsValues(orderInsurance.Key,"IllegalPolicy") as r'>
                <ion-col size='3'>违规事项</ion-col>
                <ion-col>{{r}}</ion-col>
              </ion-row>
              <ion-row *ngIf='getOrderTravelsValues(orderInsurance.Key,"IllegalReason") as a'>
                <ion-col size='3'>违规原因</ion-col>
                <ion-col>{{a}}</ion-col>
              </ion-row>
              <ion-row *ngIf='false && orderInsurance.Status != OrderInsuranceStatusType.Abolish 
                    && orderInsurance.Status != OrderInsuranceStatusType.Abolishing'>
                <ion-col size='3'>
                  <ion-button size='small' color='secondary'>发送短信</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button size='small' color='secondary'>发送邮件</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-item-divider *ngIf='false'>保费/成本信息</ion-item-divider>
            <ion-grid class='ion-text-start' *ngIf='false'>
              <ion-row>
                <ion-col size='3'>保险费</ion-col>
                <ion-col size='3'>退保手续费</ion-col>
                <ion-col size='3'>应收(付)价</ion-col>
                <ion-col size='3'>实收金额</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='3'>客户</ion-col>
                <ion-col>{{getOrderItemsSum(OrderItemHelper.Insurance)}}</ion-col>
                <ion-col>{{getOrderItemsSum(OrderItemHelper.InsuranceRefundDeduction)}}</ion-col>
                <ion-col>{{getOrderItemsSum(null,"Amount")}}</ion-col>
                <ion-col>{{getOrderPaysAmount(orderInsurance.Key)}}</ion-col>
              </ion-row>
              <ion-row *ngIf='isAgent|async'>
                <ion-col size='3'>成本</ion-col>
                <ion-col>{{getOrderItemsSum(OrderItemHelper.FlightTicket)}}</ion-col>
                <ion-col>{{getOrderItemsSum(OrderItemHelper.InsuranceRefundDeduction)}}</ion-col>
                <ion-col>{{getOrderItemsSum("","CostAmount")}}</ion-col>
                <ion-col>{{getOrderPayCostsAmount(orderInsurance.Key)}}</ion-col>
              </ion-row>
            </ion-grid> -->
          </ng-container>
        </div>
      </div>
    </ng-container>
  </app-swiper-slide-content>
  <ng-template #nomoredata>
    <span *ngIf='isLoading'>
      正在获取订单详情...
    </span>
    <app-or-comp *ngIf='!isLoading'>暂无数据</app-or-comp>
  </ng-template>
</ion-content>