<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start' (click)='goBack()'>
      <ion-button fill='clear'>
        <ion-icon class='icon-back' color='dark' name='arrow-back' slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar type='search' [debounce]='240' [(ngModel)]='vmKeyowrds' [animated]='true' placeholder="城市名称/拼音/三字码"
      (ionChange)='onSearchByKeywords()' mode='ios'>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<!-- <ion-toolbar class='seg'>
  <ion-segment color='secondary' mode='md' (ionChange)="segmentChanged($event)">
    <ion-segment-button checked value='domestic'>国内(含港澳台)</ion-segment-button>
    <ion-segment-button value='overseas' class='overseas'>海外</ion-segment-button>
  </ion-segment>
</ion-toolbar> -->
<ion-content>
  <ion-refresher (ionRefresh)='doRefresh(true)' slot='fixed'>
    <ion-refresher-content>正在刷新数据</ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf='isSearching else n'>
    <ion-label>正在搜索...</ion-label>
  </ng-container>
  <ng-template #n>
    <ion-list class='holder'>
    </ion-list>
    <ion-list *ngIf='textSearchResults?.length else nodatatempl'>
      <ion-note *ngIf='vmKeyowrds=="北京南苑"' margin-start>您要找的是不是<ion-text color='secondary'
          (click)='vmKeyowrds="BJS";onSearchByKeywords()' margin-start>北京</ion-text>
      </ion-note>
      <ion-item *ngFor='let item of textSearchResults' (click)='onCitySelected(item)'>
        <ion-note *ngIf='item.IsHot' color='danger' class='hot' margin-end>热门</ion-note>
        <ion-label>
          <ion-text [color]="item?.Selected?'secondary':'dark'">{{item?.Nickname}}
          </ion-text>
          <ion-text *ngIf='item.Pinyin' color='medium'>({{item.Pinyin}})</ion-text>
          <ion-text *ngIf='item.Code' color='medium'>({{item.Code}})</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
  <ng-template #nodatatempl>
    <app-or-comp>暂无数据</app-or-comp>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='onActiveTab("hot")' size='small' color='{{activeTab=="hot"?"secondary":""}}'>
      <ion-text color='danger'>热门</ion-text>
    </ion-fab-button>
    <ion-fab-button (click)='onActiveTab("history")' size='small' color='{{activeTab=="history"?"secondary":""}}'>
      <!-- <ion-icon name="logo-instagram"></ion-icon> -->
      历史
    </ion-fab-button>
  </ion-fab>
</ion-content>