<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot='start' (click)='goBack()'>
      <ion-button fill='clear'>
        <ion-icon class='icon-back' name='arrow-back' slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar (ionFocus)='onIonFocus()' (ionBlur)='onIonBlur()'  [debounce]='240' [(ngModel)]='vmKeyowrds' [animated]='true' placeholder="城市名称/拼音/三字码"
      (ionChange)='onSearchByKeywords()' mode='ios'>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<!-- <ion-toolbar class='seg'>
  <ion-segment color='secondary' mode='md' (ionChange)="segmentChanged($event)">
    <ion-segment-button checked value='domestic'>国内(含港澳台)</ion-segment-button>
    <ion-segment-button value='overseas' class='overseas'>海外</ion-segment-button>
  </ion-segment>
</ion-toolbar> -->
<ion-header class='nav-links' color='dark' [class.hidden]='isSearching' #links>
  <div class='nav'>
    <ion-text *ngFor='let nav of listCitiesViewModel' (click)='onNavLickClick(nav.link)'
      [style.display]="(nav?.link=='history')&&historyCities.length==0?'none':'block'" text-center
      class="{{nav?.link}}-link">
      <a href='javascript:!0'>{{nav?.displayName}}</a>
    </ion-text>
  </div>
</ion-header>
<ion-content #cnt class='mainCnt' scroll-y='true' force-overscroll='false'>
  <div class='city-list-container' [class.hidden]='isSearching'>
    <ion-text class='curTargetNav' slot='fixed' color='light'>
      <h1 #curNavText></h1>
    </ion-text>
    <section class='cities'>
      <ion-list class='history-class' [style.display]='historyCities.length>0?"block":"none"'>
        <ion-item-divider color='primary' sticky>
          <ion-label color='dark'>
            <h6>历史</h6>
          </ion-label>
        </ion-item-divider>
        <div class='history-cites'>
          <ion-grid padding-end margin-end>
            <ion-row wrap>
              <ion-col size='4' *ngFor='let city of historyCities'>
                <ion-button szie='small' expand='block' fill='outline' color='{{city?.Selected?"secondary":"medium"}}'>
                  <ion-label color='{{city?.Selected?"secondary":"medium"}}' (click)='onCitySelected(city,true)'>
                    {{city?.Nickname}}
                  </ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-list>
      <ion-list class='hot-class'>
        <ion-item-divider color='primary' sticky>
          <ion-label color='dark'>
            <h6>热门城市</h6>
          </ion-label>
        </ion-item-divider>
        <ion-grid padding-end margin-end>
          <ion-row wrap>
            <ng-container *ngIf='hotCities.length else fakeHotCityTemp'>
              <ion-col size='4' *ngFor='let city of hotCities'>
                <ion-button szie='small' expand='block' fill='outline' color='{{city?.Selected?"secondary":"medium"}}'
                  (click)='onCitySelected(city,true)'>
                  <ion-label> {{city?.Nickname}}</ion-label>
                </ion-button>
              </ion-col>
            </ng-container>
            <ng-template #fakeHotCityTemp>
              <ion-col size='4' *ngFor='let city of [1,2,3,4,5,6,7,8,9]'>
                <ion-button szie='small' expand='block' fill='outline'>
                  <ion-skeleton-text animated style="height:100%"></ion-skeleton-text>
                </ion-button>
              </ion-col>
            </ng-template>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ng-container *ngIf='listCitiesViewModel.length else fakelistCitiesViewTemplate'>
        <ion-list *ngFor='let nav of listCitiesViewModel' class='{{nav.link}}-class'
          [style.display]='nav?.link!=="cur"&&nav?.link!=="history"&&nav?.link!=="hot"?"block":"none"'>
          <ion-item-divider color='primary' sticky>
            <ion-label color='dark'>
              <h6>{{nav?.link}}</h6>
            </ion-label>
          </ion-item-divider>
          <ng-container *ngIf='nav?.items else fakeNavItemTemplate'>
            <div margin-start padding-end (click)='onCitySelected(item,true)'
              *ngFor='let item of nav?.items;let i= index;trackBy:i'>
              <h6>
                <ion-text [color]="item?.Selected?'secondary':'dark'">{{item?.Nickname}}</ion-text>
              </h6>
            </div>
          </ng-container>
          <ng-template #fakeNavItemTemplate>
            <div margin-start padding-end *ngFor='let item of [1,2,3,4,5];let i= index;trackBy:i'>
              <h6>
                <ion-skeleton-text animated [style.width.%]='item*20'></ion-skeleton-text>
              </h6>
            </div>
          </ng-template>
        </ion-list>
      </ng-container>
      <ng-template #fakelistCitiesViewTemplate>
        <ion-list *ngFor='let nav of [1,2,3,4,5]' class='{{nav.link}}-class'
          [style.display]='nav?.link!=="cur"&&nav?.link!=="history"&&nav?.link!=="hot"?"block":"none"'>
          <ion-item-divider color='primary' sticky>
            <ion-skeleton-text animated [style.width.%]='10'></ion-skeleton-text>
          </ion-item-divider>
          <div margin-start padding-end *ngFor='let item of [1,2,3,4,5];let i= index;trackBy:i'>
            <h6>
              <ion-skeleton-text animated [style.width.%]='item*20'></ion-skeleton-text>
            </h6>
          </div>
        </ion-list>
      </ng-template>
    </section>
  </div>
  <div class='search-city-results' [class.show]='isSearching'  [class.ios]='isIos' (click)='onCloseSearchPanel($event)'>
    <ng-container *ngIf='isFiltering else n'>
      <ion-label>正在搜索...</ion-label>
    </ng-container>
    <ng-template #n>
      <ion-list class='holder'>
      </ion-list>
      <ion-list *ngIf='textSearchResults?.length else nodatatempl'>
        <ion-note *ngIf='vmKeyowrds=="北京南苑"' margin-start>您要找的是不是<ion-text color='secondary' (click)='vmKeyowrds="BJS";onSearchByKeywords()' margin-start>北京</ion-text></ion-note>
        <ion-item *ngFor='let item of textSearchResults' (click)='onCitySelected(item,true)'>
          <ion-label>
            <ion-text [color]="item?.Selected?'secondary':'dark'">{{item?.Nickname}}
            </ion-text>
            <ion-text *ngIf='item.Pinyin' color='medium'>({{item.Pinyin}})</ion-text>
            <ion-text *ngIf='item.Code' color='medium'>({{item.Code}})</ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
    <ng-template #nodatatempl>
      <app-or-comp>没有匹配的数据</app-or-comp>
    </ng-template>
  </div>
</ion-content>