<ion-header>
  <ion-toolbar color='success'>
    <ion-buttons slot='start'>
      <app-back-button color='dark' (click)='back()'>
      </app-back-button>
    </ion-buttons>
    <ion-title>1.0.6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)='openSelectCityPage()'>选择城市</ion-button> -->





  <ion-button (click)='showModal()'  color='"dark"'>点击测试更新</ion-button>
  <app-update-comp *ngIf='showHcp'></app-update-comp>
  <!-- <ion-button (click)='showModal()' *ngIf='!showHcp' color='success'>测试更新</ion-button> -->
  <!-- <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active">回到登录界面</ion-button> -->
  <!-- <ion-button color='secondary' [routerLink]="['/tabs/home']" color='dark'>回到首页</ion-button> -->
  <!-- <ion-button color='tertiary' (click)='alipay()'>测试支付宝支付</ion-button> -->
  <!-- <ion-button color='success'>测试4</ion-button> -->
  <!-- <p *ngIf='info.msg'>{{info|json}}</p> -->
  <!-- <ion-button (click)='showModal()' *ngIf='showHcp' color='"dark"'>点击测试更新</ion-button>
  <ion-button (click)='showModal()' *ngIf='!showHcp' color='success'>测试更新</ion-button>
  <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active">回到登录界面</ion-button>
  <ion-button color='secondary' [routerLink]="['/tabs/home']" color='dark'>回到首页</ion-button>
  <ion-button color='tertiary' (click)='alipay()'>测试支付宝支付</ion-button>
  <ion-button color='success'>测试4</ion-button>
  <p *ngIf='info.msg'>{{info|json}}</p>
  <app-update-comp *ngIf='showHcp'></app-update-comp> -->
  <!-- <app-slidvalidate-com></app-slidvalidate-com> -->
  <!-- <app-scan-comp></app-scan-comp> -->
  <!-- <img src="assets/11.jpg" alt="weixin图标">
  <img src="assets/12.jpg" alt="weixin图标"> -->
</ion-content>
<!-- <app-select-city-comp></app-select-city-comp> -->
