<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref="" [backFn]='back.bind(this)'></app-back-button>
    </ion-buttons>
    <ion-title>当前已选择航班信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group *ngFor='let bookInfo of  bookInfos'>
    <ng-container *ngIf='bookInfo.info'>
      <ion-item-divider color='primary' sticky (click)='onSelect(bookInfo)'>
        <ion-label color='dark'>
          {{bookInfo.info?.credential?.Name}}{{bookInfo.info?.credential?.Number}}</ion-label>
        <ion-checkbox slot='end' [(ngModel)]="bookInfo.isSelected" [disabled]='true'
          style="opacity: 1;margin-right: 1em;">
        </ion-checkbox>
      </ion-item-divider>
      <ion-item (click)='onSelect(bookInfo)'>
        <div class='detail'>
          <div class='date'>
            <strong>{{bookInfo.info?.bookInfo?.flightSegment?.TakeoffTime?.substr(0,"yyyy-MM-dd".length)}}</strong>
          </div>
          <app-fly-list-item [flightSegment]='bookInfo.info?.bookInfo?.flightSegment' [showDetails]='true'
            [flightPolicy]='bookInfo.info?.bookInfo?.flightPolicy'>
          </app-fly-list-item>
          <div>
            <ion-row>
              <ion-col class='ion-text-end'>
                <div style="display: flex;align-items: center;justify-content: flex-end;width: 100%;">
                  <ion-label color='danger'>机票票价:￥{{bookInfo.info?.bookInfo?.flightPolicy?.Cabin?.SalesPrice}}
                  </ion-label>
                  <ion-label color='danger' class='ion-margin-start'>税费:￥{{bookInfo.info?.bookInfo?.flightSegment?.Tax}}
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <ion-label class='rules ion-text-wrap' color='danger'>
            {{bookInfo.info?.bookInfo?.flightPolicy?.Rules?.join("; ")}}
          </ion-label>
        </div>
      </ion-item>
    </ng-container>
  </ion-item-group>
</ion-content>
<ion-footer>
  <div class='btns'>
    <ion-button slot='end' expand='block' (click)='onCancel()' color='primary'>取消
    </ion-button>
    <ion-button slot='end' expand='block' (click)='onConfirm()' color='secondary'>确定
    </ion-button>
  </div>
</ion-footer>