<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <app-back-button defaultHref=""></app-back-button>
        </ion-buttons>
        <ion-title>Train ticket order details</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf='orderDetail&&orderDetail.Order else nomoredata'>
        <app-swiper-slide-content [tabs]="tabs">
            <div class="swiper-slide" #slide>
                <!-- 订单信息 -->
                <div>
                    <ion-item-divider>
                        Order information
                    </ion-item-divider>
                    <div>
                        <ion-row>
                            <ion-col size='3'>Order No.:</ion-col>
                            <ion-col>{{orderDetail.Order.Id}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size='3'>Order number:</ion-col>
                            <ion-col>{{orderDetail.Order.StatusName == "等待处理" ? "等待审批" : orderDetail.Order.StatusName.replace('等待审批','Pending payment').replace('等待处理','Pending payment')}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size='3'>Payment method:</ion-col>
                            <ion-col>{{orderDetail.TravelType.replace('因公','Company').replace('私付','Individual payment')}}-{{orderDetail.TravelPayType.replace('公付','Company')}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size='3'>Completion time:</ion-col>
                            <ion-col>{{orderDetail.Order.InsertDateTime}}</ion-col>
                        </ion-row>
                        <ion-row (click)='showPricePopover()'>
                            <ion-col size='3'>Total amount:</ion-col>
                            <ion-col>
                                <div>
                                    <ion-text color="danger">￥{{orderDetail.Order.TotalAmount}}
                                    </ion-text>
                                    <span *ngIf='getInsuranceAmount() as insuranceAmount'>(Including insurance{{insuranceAmount}})</span>
                                    <ion-text color="secondary" style="font-size: 0.7rem;">Payable details</ion-text>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ng-container>
                            <ng-container *ngIf='tmc?.IsShowServiceFee'>
                                <ion-row *ngFor='let orderHotel of orderDetail.Order.OrderHotels'>
                                    <ion-col size='3'>
                                        <ng-container *ngIf='orderDetail.Order.OrderHotels.length>1'>
                                            <strong *ngIf='orderHotel.HotelName as n'>
                        {{n.length>10?n.substr(0,10)+"...":n}}
                      </strong>
                                        </ng-container>
                                        Service fee:
                                    </ion-col>
                                    <ion-col>{{getHotelServiceFee(orderHotel.Key)}}
                                    </ion-col>
                                </ion-row>
                            </ng-container>
                        </ng-container>
                        <ion-row>
                            <ion-col size='3'>Amount Paid:</ion-col>
                            <ion-col>{{getOrderPayAmount()}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size='3' *ngIf="orderDetail?.Order?.OrderNumbers">External No.:</ion-col>
                            <ion-col>
                                <div *ngFor='let n of orderDetail?.Order?.OrderNumbers'>
                                    <span *ngIf='n.Tag=="TmcOutNumber"'>{{n.Name}}:{{n.Number}}</span>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                    <ng-container *ngIf="orderDetail.Histories.length">
                        <div>
                            <ion-item-divider>Approval record</ion-item-divider>
                        </div>
                        <div>
                            <div *ngFor='let history of orderDetail.Histories'>
                                <div class='approval-info'>
                                    <!-- <ion-row class="ion-padding-top">
                    <ion-col size='4'>审批类型:</ion-col>
                    <ion-col>{{getVariableObj(history,"TypeName")}}</ion-col>
                  </ion-row> -->
                                    <ion-row>
                                        <ion-col size='4'>Approved by:</ion-col>
                                        <ion-col>{{history.Account?.RealName}} <span *ngIf='history.StatusName'>({{history.StatusName}})</span></ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size='4'>Approval time:</ion-col>
                                        <ion-col>{{history?.InsertDateTime}}</ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size='4'>Approval deadline:</ion-col>
                                        <ion-col>{{history?.ExpiredTime?.startsWith("1800")?"":history?.ExpiredTime}}</ion-col>
                                    </ion-row>
                                    <!-- <ion-row *ngIf="history.Status==TaskStatusType.Passed||history.Status==TaskStatusType.Rejected">
                    <ion-col size='4'>审批时间:</ion-col>
                    <ion-col>
                      {{history?.UpdateTime?.startsWith("0001")?"":history?.UpdateTime.replace("T"," ")?.substring(0,16)}}
                    </ion-col>
                  </ion-row> -->
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <ng-container *ngFor="let ticket of orderDetail?.Order?.OrderTrainTickets;let i=index">
                <div class="swiper-slide" #slide *ngIf="ticket.VariablesJsonObj.isShow">
                    <div>
                        <!-- 旅客信息 -->
                        <ng-container *ngIf='getTicketPassenger(ticket) as p'>
                            <ion-item-divider>
                                Passenger information
                            </ion-item-divider>
                            <ion-row>
                                <ion-col size='3'>Name</ion-col>
                                <ion-col>
                                    <span notranslate>{{p.Name}}</span>
                                    <span *ngIf='p.PassengerTypeName' style="text-transform: capitalize;">({{p.PassengerTypeName}})</span>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size='3'>ID No.</ion-col>
                                <ion-col>{{p.CredentialsNumber}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size='3'>Fee Classes:</ion-col>
                                <ion-col>{{getExpenseType(ticket)}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size='3'>Cantact No.</ion-col>
                                <ion-col>{{p.Mobile}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size='3'>Email</ion-col>
                                <ion-col>{{p.Email}}</ion-col>
                            </ion-row>
                            <ng-container *ngIf='getPassengerCostOrgInfo(ticket) as info'>
                                <ion-row>
                                    <ion-col size='3'>Cost center</ion-col>
                                    <ion-col>
                                        {{info.CostCenterCode}}-{{info.CostCenterName}}
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size='3'>Organization</ion-col>
                                    <ion-col>{{info.OrganizationCode}}-{{info.OrganizationName}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size='3'>Violations</ion-col>
                                    <ion-col *ngIf="info.IllegalPolicy">{{info.IllegalPolicy}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size='3'>Violations reason</ion-col>
                                    <ion-col *ngIf="info.IllegalReason">{{info.IllegalReason}}</ion-col>
                                </ion-row>
                            </ng-container>
                        </ng-container>
                        <!-- 联系信息 -->
                        <ion-item-divider *ngIf="orderDetail?.Order?.OrderLinkmans">
                            Cantact information
                        </ion-item-divider>
                        <ng-container *ngFor="let man of orderDetail?.Order?.OrderLinkmans">
                            <ion-row>
                                <ion-col size='3'>Name</ion-col>
                                <ion-col>{{man.Name}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size='3'>Email</ion-col>
                                <ion-col>{{man.Email}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size='3'>Telephone</ion-col>
                                <ion-col>{{man.Mobile}}</ion-col>
                            </ion-row>
                        </ng-container>
                        <!-- <ng-container> -->
                        <div class="getHeight">
                            <ng-container>
                                <ion-item-divider>
                                    Train number information
                                </ion-item-divider>
                                <ion-row>
                                    <ion-col size='3'>
                                        Ticket status
                                    </ion-col>
                                    <ion-col>
                                        {{ticket?.StatusName}}
                                        <ion-text color="danger" *ngIf="tikect2Insurance[ticket.Key]?.length>0">(Including insurance)</ion-text>
                                    </ion-col>
                                </ion-row>
                                <ng-container *ngFor="let trip of ticket.OrderTrainTrips;">
                                    <ion-row>
                                        <ion-col size='3'>
                                            Train No.
                                        </ion-col>
                                        <ion-col>
                                            {{trip.TrainCode}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf="ticket.Detail">
                                        <ion-col size='3'>
                                            Seat information
                                        </ion-col>
                                        <ion-col style="display: flex;align-items: center;">
                                            {{ticket.Detail}}
                                            <img src="assets/images/idcard.png" class='access-by-IdCard' *ngIf='ticket?.VariablesJsonObj.IsAccessByIdCard' alt="" style="width: 1.5em;margin-left: 0.5em;">
                                        </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf="ticket.VariablesJsonObj.TicketEntrance">
                                        <ion-col size='3'>
                                            Ticket Check
                                        </ion-col>
                                        <ion-col style="display: flex;align-items: center;">
                                            {{ticket.VariablesJsonObj.TicketEntrance}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size='3'>Departure Station</ion-col>
                                        <ion-col>
                                            {{trip.FromStationName}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size='3'>Destination</ion-col>
                                        <ion-col>
                                            {{trip?.ToStationName}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size='3'>Departure Time</ion-col>
                                        <ion-col>
                                            <div>
                                                <div>
                                                    {{trip?.StartTime?.replace("T"," ")?.substring(0,19)}}
                                                </div>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size='3'>Arrival Time</ion-col>
                                        <ion-col>
                                            <div>{{trip?.ArrivalTime?.replace("T"," ")?.substring(0,19)}}</div>
                                        </ion-col>
                                    </ion-row>
                                </ng-container>
                                <ion-row>
                                    <ion-col *ngIf="ticket.Explain">
                                        Refund and change policy
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <p style="margin-top: 0px">{{ticket.Explain?.split("\\n").join("")}}</p>
                                    </ion-col>
                                </ion-row>
                            </ng-container>
                            <ng-container *ngIf='tikect2Insurance[ticket.Key] as orderInsurances'>
                                <ion-grid *ngFor='let orderInsurance of orderInsurances'>
                                    <ion-item-divider *ngIf="orderInsurance.StatusName">
                                        Insurance information
                                    </ion-item-divider>
                                    <ion-row>
                                        <ion-col size='3'>
                                            Trip
                                        </ion-col>
                                        <ion-col>
                                            {{orderInsurance?.VariablesJsonObj?.trip?.TakeoffTime?.substr(0,10)}} {{orderInsurance?.VariablesJsonObj?.trip?.FromCityName}} --- {{orderInsurance?.VariablesJsonObj?.trip?.ToCityName}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col size='3'>
                                            Polity No.
                                        </ion-col>
                                        <ion-col *ngIf="orderInsurance.Id">
                                            {{orderInsurance.Id}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf="orderInsurance.StatusName">
                                        <ion-col size='3'>
                                            Polity status
                                        </ion-col>
                                        <ion-col>
                                            {{orderInsurance.StatusName}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.BookTime?.replace("T"," ")?.substring(0,19) as time'>
                                        <ion-col size='3'>
                                            Booking time
                                        </ion-col>
                                        <ion-col>
                                            {{time}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.EffectiveDate?.startsWith("1800") ? "" :
                    orderInsurance.EffectiveDate?.replace("T"," ") as time'>
                                        <ion-col size='3'>Effective time of policy</ion-col>
                                        <ion-col> {{time}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.ExpireDate?.startsWith("1800") ? "" : orderInsurance.ExpireDate?.replace("T"," ") as time'>
                                        <ion-col size='3'>Expiration time of insurance policy</ion-col>
                                        <ion-col> {{time}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf="orderInsurance.Name">
                                        <ion-col size='3'>Insurance type</ion-col>
                                        <ion-col> {{orderInsurance?.Name}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.PolicyNo as n'>
                                        <ion-col size='3'>Polity No.</ion-col>
                                        <ion-col> {{n}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.Number as s'>
                                        <ion-col size='3'>Supplier order No.</ion-col>
                                        <ion-col> {{s}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='false && orderInsurance.Name as n'>
                                        <ion-col size='3'>Insurance name</ion-col>
                                        <ion-col> {{n}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='false && orderInsurance.Supplier as s'>
                                        <ion-col size='3'>Supplier</ion-col>
                                        <ion-col> {{s}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.Count as c'>
                                        <ion-col size='3'>Number</ion-col>
                                        <ion-col> {{c}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.Premium as p'>
                                        <ion-col size='3'>Premium</ion-col>
                                        <ion-col> {{p}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.InsuredAmount as a'>
                                        <ion-col size='3'>Maximum coverage</ion-col>
                                        <ion-col> {{a}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='false && orderInsurance.BookCode as c'>
                                        <ion-col size='3'>Booking code</ion-col>
                                        <ion-col> {{c}} </ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.Detail as detail'>
                                        <ion-col size='3'>Insurance notice</ion-col>
                                    </ion-row>
                                    <ion-row *ngIf='orderInsurance.Detail as detail'>
                                        <ion-col>
                                            <p class='clip-text ion-no-margin' (click)='orderInsurance["isShowDetail"]=!orderInsurance["isShowDetail"]' [class.show]='orderInsurance["isShowDetail"]'>
                                                {{detail}}
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ng-container>
                            <ion-row style="padding-left:0" *ngIf="tikectId2OriginalTickets&&tikectId2OriginalTickets[ticket.Id]?.length>0">
                                <ion-col class="ion-text-justify" color="secondary">
                                    <ion-button color='secondary' expand='full' (click)="onShowTicket(ticket,ticket?.VariablesJsonObj?.OriginalTicketId,$event)">
                                        Original ticket information{{ticket?.VariablesJsonObj?.OriginalTicketId}}
                                        <ion-icon name="chevron-down-outline" *ngIf="ticket.VariablesJsonObj.isToggleIcon"></ion-icon>
                                        <ion-icon name="chevron-up-outline" *ngIf="!ticket.VariablesJsonObj.isToggleIcon"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </div>
                        <ng-container @flyInOut *ngIf="tikectId2OriginalTickets&&tikectId2OriginalTickets[ticket?.Id]?.length">
                            <div class="getHeight" *ngFor="let ticket of tikectId2OriginalTickets[ticket.Id]">
                                <ng-container *ngIf="ticket.isShowOriginalTicket">
                                    <ion-row>
                                        <ion-col size='3'>
                                            Ticket status
                                        </ion-col>
                                        <ion-col>
                                            {{ticket?.StatusName}}
                                            <ion-text color="danger" *ngIf="tikect2Insurance[ticket.Key]?.length>0">(Including insurance)</ion-text>
                                        </ion-col>
                                    </ion-row>
                                    <ng-container *ngFor="let trip of ticket.OrderTrainTrips;">
                                        <ion-row>
                                            <ion-col size='3'>
                                                Train No.
                                            </ion-col>
                                            <ion-col>
                                                {{trip.TrainCode}}
                                            </ion-col>
                                        </ion-row>
                                        <ion-row *ngIf="ticket.Detail">
                                            <ion-col size='3'>
                                                Seat information
                                            </ion-col>
                                            <ion-col style="display: flex;align-items: center;">
                                                {{ticket.Detail}}
                                                <ng-container *ngIf='ticket.VariablesJsonObj?.SeatLocation'>
                                                    {{ticket.VariablesJsonObj.SeatLocation}} </ng-container>
                                                <img src="assets/images/idcard.png" class='access-by-IdCard' *ngIf='ticket?.VariablesJsonObj.IsAccessByIdCard' alt="" style="width: 1.5em;margin-left: 0.5em;">
                                            </ion-col>
                                        </ion-row>
                                        <ion-row *ngIf="ticket.VariablesJsonObj.TicketEntrance">
                                            <ion-col size='3'>
                                                Ticket Check
                                            </ion-col>
                                            <ion-col style="display: flex;align-items: center;">
                                                {{ticket.VariablesJsonObj.TicketEntrance}}
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size='3'>Departure station</ion-col>
                                            <ion-col>
                                                {{trip.FromStationName}}
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size='3'>Destination</ion-col>
                                            <ion-col>
                                                {{trip?.ToStationName}}
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size='3'>Departure time</ion-col>
                                            <ion-col>
                                                <div>
                                                    <div>
                                                        {{trip?.StartTime?.replace("T"," ")?.substring(0,19)}}
                                                    </div>
                                                    <div>
                                                        {{trip?.FromStationName}}{{trip?.ToStationCode}}
                                                    </div>
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size='3'>Arrival time</ion-col>
                                            <ion-col>
                                                <div>{{trip?.ArrivalTime?.replace("T"," ")?.substring(0,19)}}</div>
                                                <div>
                                                    {{trip?.ToStationName}}({{trip?.ToStationCode}})
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                    </ng-container>
                                    <ng-container *ngIf="ticket.Explain">
                                        <ion-row>
                                            <ion-col>
                                                Refund and change policy
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col>
                                                <p style="margin-top: 0px">{{ticket.Explain?.split("\\n").join("")}}</p>
                                            </ion-col>
                                        </ion-row>
                                    </ng-container>
                                    <ng-container *ngIf='tikect2Insurance[ticket.Key] as orderInsurances'>
                                        <ion-grid *ngFor='let orderInsurance of orderInsurances'>
                                            <ion-item-divider *ngIf="orderInsurance.StatusName">
                                                Insurance information
                                            </ion-item-divider>
                                            <ion-row>
                                                <ion-col size='3'>
                                                    Trip
                                                </ion-col>
                                                <ion-col *ngIf="getInsuranceTravel(ticket) as insurance">
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col size='3'>
                                                    Policy No.
                                                </ion-col>
                                                <ion-col *ngIf="orderInsurance.Id">
                                                    {{orderInsurance.Id}}
                                                </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf="orderInsurance.StatusName">
                                                <ion-col size='3'>
                                                    Policy status
                                                </ion-col>
                                                <ion-col>
                                                    {{orderInsurance.StatusName}}
                                                </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.BookTime?.replace("T"," ")?.substring(0,19) as time'>
                                                <ion-col size='3'>
                                                    Booking time
                                                </ion-col>
                                                <ion-col>
                                                    {{time}}
                                                </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.EffectiveDate?.startsWith("1800") ? "" :
                          orderInsurance.EffectiveDate?.replace("T"," ") as time'>
                                                <ion-col size='3'>Effective time of policy</ion-col>
                                                <ion-col> {{time}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.ExpireDate?.startsWith("1800") ? "" : orderInsurance.ExpireDate?.replace("T"," ") as time'>
                                                <ion-col size='3'>Expiration time of insurance policy</ion-col>
                                                <ion-col> {{time}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf="orderInsurance.Name">
                                                <ion-col size='3'>Insurance type</ion-col>
                                                <ion-col> {{orderInsurance?.Name}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.PolicyNo as n'>
                                                <ion-col size='3'>Policy No.</ion-col>
                                                <ion-col> {{n}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.Number as s'>
                                                <ion-col size='3'>Supplier order No.</ion-col>
                                                <ion-col> {{s}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='false && orderInsurance.Name as n'>
                                                <ion-col size='3'>Insurance name</ion-col>
                                                <ion-col> {{n}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='false && orderInsurance.Supplier as s'>
                                                <ion-col size='3'>Supplier</ion-col>
                                                <ion-col> {{s}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.Count as c'>
                                                <ion-col size='3'>Number</ion-col>
                                                <ion-col> {{c}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.Premium as p'>
                                                <ion-col size='3'>Premium</ion-col>
                                                <ion-col> {{p}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.InsuredAmount as a'>
                                                <ion-col size='3'>Maximum premium</ion-col>
                                                <ion-col> {{a}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='false && orderInsurance.BookCode as c'>
                                                <ion-col size='3'>Booking code</ion-col>
                                                <ion-col> {{c}} </ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.Detail as detail'>
                                                <ion-col size='3'>Insurance notice</ion-col>
                                            </ion-row>
                                            <ion-row *ngIf='orderInsurance.Detail as detail'>
                                                <ion-col>
                                                    <p class='clip-text ion-no-margin' (click)='orderInsurance["isShowDetail"]=!orderInsurance["isShowDetail"]' [class.show]='orderInsurance["isShowDetail"]'>
                                                        {{detail}}
                                                    </p>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ng-container>
                                    <ion-row style="padding-left:0em;" *ngIf="tikectId2OriginalTickets[ticket?.VariablesJsonObj?.OriginalTicketId]?.length">
                                        <ion-col class="ion-text-justify" color="secondary">
                                            <ion-button color='secondary' expand='full' (click)="onShowTicket(ticket,ticket?.VariablesJsonObj?.OriginalTicketId,$event)">
                                                Original ticket information {{ticket?.VariablesJsonObj?.OriginalTicketId}}
                                                <ion-icon name="chevron-down-outline" *ngIf="ticket.isShowOriginalTicket"></ion-icon>
                                                <ion-icon name="chevron-up-outline" *ngIf="!ticket.isShowOriginalTicket"></ion-icon>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </app-swiper-slide-content>
    </ng-container>
    <ng-template #nomoredata>
        <span *ngIf='isLoading'>
      正在获取订单详情...
    </span>
        <app-or-comp *ngIf='!isLoading'>暂无数据</app-or-comp>
    </ng-template>
</ion-content>