.wrapper {
  height: 100%;
  width: 100%;
  // max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  iframe {
    background-color: var(--ion-color-light);
    border: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.detail {
  // text-indent: 2em;
  padding: 0.5em 1em;
  pre,
  .normal {
    white-space: normal;
  }
}
ion-list{
  height: 100%;
}
