.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  iframe {
    border: none;
    width: 100%;
    height: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.detail {
  // text-indent: 2em;
  padding: 0.5em 1em;
  pre {
    white-space: normal;
  }
}
