<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <!-- <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button> -->
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{notice?.Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf='notice else nodata'>
    <div class='wrapper' *ngIf='notice.Url as url else details'>
      <iframe [src]="url"></iframe>
    </div>
    <ng-template #details>
      <ng-container *ngIf='notice?.Detail as detail else nodata'>
        <ion-label class='ion-text-wrap'>
          <div class='detail' [innerHTML]='notice.Detail'>
          </div>
        </ion-label>
      </ng-container>
    </ng-template>
  </ng-container>
  <ng-template #nodata>
    <app-or-comp>暂无数据</app-or-comp>
  </ng-template>
</ion-content>