ion-content {
  --background: #f2f2f2;
}
.tabs {
  display: flex;
  align-items: center;
  .tab {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.5rem;
    ion-icon {
      font-size: 1.3rem;
      --opacity: 0.6;
      color: var(--ion-color-medium);
    }
    ion-note {
      font-size: 0.7rem;
    }
    &.active {
      --opacity: 1;
      ion-icon {
        color: var(--ion-color-secondary);
      }
      ion-note {
        color: var(--ion-color-secondary);
      }
    }
  }
}
ion-list {
  background: #f2f2f2;
  ion-item + ion-item {
    margin-top: 1em;
  }
}
