<ion-header text-center>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button (click)='back()'></ion-back-button>
    </ion-buttons>
    <ion-title color='secondary' [attr.text-start]='showAddPassenger' [attr.text-center]='!showAddPassenger'>
      <ion-text>{{vmFromCity?.CityName}}</ion-text>
      <i class='icon icon-flight-plane'></i>
      <ion-text>{{ vmToCity?.CityName}}</ion-text>
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button fill='clear' color='secondary' (click)='filterPolicyFlights()' size='small'>
        <ion-text class='xs-font-size'>过滤差标</ion-text>
      </ion-button>
      <ion-button fill='clear' *ngIf='showAddPassenger' color='secondary' size='small' (click)='onSelectPassenger()'>
        <ion-text class='xs-font-size'>添加旅客</ion-text>
        <ion-badge color='danger'>
          <ion-text color='light' class='xs-font-size'>{{selectedPassengersNumbers$|async}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class='xs-font-size' [style.visibility]="!isLoading?'initial':'collapse'">
    <ion-row>
      <ion-col>
        {{searchFlightModel?.Date}}共{{vmFlights?.length}}个航班
        <ion-text color='danger' *ngIf='isFiltered'>(筛选后)</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf='isSelfBookType'>
      <ng-container *ngIf='goAndBackFlightDateTime$|async as datetime'>
        <ion-col *ngIf='datetime?.goArrivalDateTime'>
          <ion-text>已选去程:{{datetime?.goArrivalDateTime}}</ion-text>
        </ion-col>
        <ion-col *ngIf='datetime?.backTakeOffDateTime'>
          <ion-text>已选返程:{{datetime?.backTakeOffDateTime}}</ion-text>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  <ion-toolbar class="fly-days">
    <app-fly-days-calendar (itemSelected)="onChangedDay($event,true)" (calenderClick)="onCalenderClick()">
    </app-fly-days-calendar>
  </ion-toolbar>
</ion-header>
<ion-content #cnt>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh(true,false)" pullFactor="0.8" pullMin="100" pullMax="200">
    <!-- <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="正在加载...">
    </ion-refresher-content> -->
  </ion-refresher>
  <app-or-comp *ngIf='isLoading'>
    <span>数据即将加载完成</span>
  </app-or-comp>
  <app-or-comp *ngIf='!isLoading&&vmFlights?.length==0'>
    <span>暂无数据</span>
  </app-or-comp>
  <!-- <ion-list *ngIf='!isLoading else fakeList'>
    <ion-item *ngFor='let s of vmFlights' detail (click)="goToFlightCabinsDetails(s)">
      <app-fly-list-item [flightSegment]="s">
      </app-fly-list-item>
    </ion-item>
  </ion-list> -->
  <!-- <ion-list>
      <div class='fly-item' #flyItem *ngFor='let s of vmFlights' detail (click)="goToFlightCabinsDetails(s)">
        <div class='row'>
          <strong>{{s.TakeoffTime}}</strong>---{{s.IsStop ? "经停" : "直飞"}}---<strong>{{s.ArrivalTime}}</strong>
        </div>
        <div class='airports'>
          <span>{{s.FromAirportName}}({{s.FromTerminal}})</span>
            <span>{{s.ToAirportName}}({{s.ToTerminal}})</span>
        </div>
        <div class='desc'>
          <img [src]='s.AirlineSrc' class='airlinesrc' />
          <label>{{s.AirlineName}}</label>
          <label>|{{s.Number}}</label>
          <label>|{{s.PlaneType}}</label>
          <label>|共享{{s.CodeShareNumber}}</label>
        </div>
        <div class='price'>￥{{s.LowestFare}}</div>
      </div>
  </ion-list> -->
  <!-- <ion-list>
    <ion-item *ngFor='let s of vmFlights' #flyItem detail (click)="goToFlightCabinsDetails(s)">
      <app-fly-list-item [flightSegment]="s">
      </app-fly-list-item>
    </ion-item>
  </ion-list> -->

  <ul #list class='flight'>
    <!-- <li *ngFor='let s of vmFlights;' #flyItem detail (click)="goToFlightCabinsDetails(s)">
      <div class='info'>
        <ion-row>
          <ion-col size='9'>
            <h4 class='time'>
              <strong>{{s?.TakeoffTime.substring("2018-10-22T".length,"2018-10-22T21:20".length)}}</strong>
              <span class='line'>-----&nbsp;{{s?.IsStop ? "经停" : "直飞"}}&nbsp;-----</span>
              <strong>{{s?.ArrivalTime.substring("2018-10-22T".length,"2018-10-22T21:20".length)}}</strong>
            </h4>
            <h5 class='airports'>
              <span>{{s?.FromAirportName}}({{s?.FromTerminal}})</span>
              <span>{{s?.ToAirportName}}({{s?.ToTerminal}})</span>
            </h5>
            <div class='desc'>
              <ion-img [src]='s?.AirlineSrc' class='airlinesrc'></ion-img>
              <label>{{s?.AirlineName}}</label>
              <label>|{{s?.Number}}</label>
              <label>|{{s?.PlaneType}}</label>
              <ion-text color='secondary' *ngIf='s?.CodeShareNumber'>|共享{{s?.CodeShareNumber}}</ion-text>
            </div>
          </ion-col>
          <ion-col size='3' class='price'>
            ￥{{s?.LowestFare}}
          </ion-col>
        </ion-row>
      </div>
    </li> -->
  </ul>
  <ng-container #fakeList *ngIf='isLoading'>
    <ion-list>
      <ion-item *ngFor='let item of [1,2,3,4,5,6,7,8]'>
        <div style='width: 100%;'>
          <ion-row>
            <ion-col size='10'>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style='width: 100%'></ion-skeleton-text>
                </h2>
                <h2>
                  <ion-skeleton-text style='width: 100%'></ion-skeleton-text>
                </h2>
                <div style='display: flex;align-items: center;'>
                  <ion-skeleton-text animated style="width: 1.2em;height:1.2em;border-radius:100%;margin-right: 0.5em;">
                  </ion-skeleton-text>
                  <ion-skeleton-text style='width: 90%'></ion-skeleton-text>
                </div>
              </ion-label>
            </ion-col>
            <ion-col size='2' style="align-self: center;">
              <ion-skeleton-text animated style='width: 100%'></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
<ion-footer color="primary">
  <ion-toolbar>
    <div class="tabs">
      <div class="tab" [class.active]="activeTab === 'filter'" (click)="onFilter()">
        <ion-icon name="funnel"></ion-icon>
        <ion-note>筛选</ion-note>
      </div>
      <div class="tab" [class.active]="activeTab === 'time'" (click)="onTimeOrder()">
        <ion-icon name="time"></ion-icon>
        <ion-note *ngIf="activeTab !== 'time'">时间</ion-note>
        <ion-note *ngIf="activeTab === 'time' && timeOrdM2N">从早到晚</ion-note>
        <ion-note *ngIf="activeTab === 'time' && !timeOrdM2N">从晚到早</ion-note>
      </div>
      <div class="tab" [class.active]="activeTab === 'price'" (click)="onPriceOrder()">
        <ion-icon name="logo-yen"></ion-icon>
        <ion-note *ngIf="activeTab !== 'price'">价格</ion-note>
        <ion-note *ngIf="activeTab === 'price' && priceOrderL2H">从低到高</ion-note>
        <ion-note *ngIf="activeTab === 'price' && !priceOrderL2H">从高到低</ion-note>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

<app-fly-filter [class.ion-page]="showAdvSearchPage$ | async" [flights]="flightJourneyList"
  [fromCityName]='vmFromCity?.CityName' [@showAdvSearchPage]="showAdvSearchPage$ | async"
  [toCityName]="vmToCity?.CityName"></app-fly-filter>