<ion-header text-center>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color='secondary' text-center>
      <ion-text>{{vmFromCity?.Nickname}}</ion-text>
      <i class='icon icon-flight-plane'></i>
      <ion-text>{{ vmToCity?.Nickname}}</ion-text>
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button fill='clear' color='secondary' size='small'>添加旅客</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-label style="font-size: 0.8rem;">
    {{searchFlightCondition?.Date}}共{{vmFlights?.length}}个航班
    <ion-text color='danger' *ngIf='isFiltered'>(过滤后)</ion-text>
  </ion-label>
  <ion-toolbar class="fly-days">
    <app-fly-days-calendar (itemSelected)="onChangedDay($event)" (calenderClick)="onCalenderClick()">
    </app-fly-days-calendar>
  </ion-toolbar>
</ion-header>
<ion-content #cnt>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh(true,false)" pullFactor="0.8" pullMin="100" pullMax="200">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <app-no-more-data [hasDataObs]="hasDataSource"></app-no-more-data>
  <ion-list [style.display]='loading ?"none":"initial"' lines='none'>
    <ion-item *ngFor='let s of vmFlights; let i=index;'>
      <!-- <span>{{i+1}}</span> -->
      <app-fly-list-item [flightSegment]="s" (bookTicket)="onBookTicket($event)">
      </app-fly-list-item>
    </ion-item>
  </ion-list>
  <ion-list *ngIf='loading'>
    <ion-item *ngFor='let item of [1,2,3,4,5,6,7,8]'>
      <ion-label style="flex: 1">
        <h2>
          <ion-skeleton-text animated style='width: 90%'></ion-skeleton-text>
        </h2>
        <h2>
          <ion-skeleton-text animated style='width: 90%'></ion-skeleton-text>
        </h2>
        <h2>
          <ion-skeleton-text animated style='width: 90%'></ion-skeleton-text>
        </h2>
      </ion-label>
      <ion-label>
        <ion-skeleton-text animated style='width: 20%'></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-infinite-scroll (ionInfinite)="loadMore()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
<ion-footer color="primary">
  <ion-toolbar>
    <div class="tabs">
      <div class="tab" [class.active]="activeTab === 'filter'" (click)="onFilter()">
        <ion-icon name="funnel"></ion-icon>
        <ion-note>筛选</ion-note>
      </div>
      <div class="tab" [class.active]="activeTab === 'time'" (click)="onTimeOrder()">
        <ion-icon name="time"></ion-icon>
        <ion-note *ngIf="activeTab !== 'time'">时间</ion-note>
        <ion-note *ngIf="activeTab === 'time' && timeOrdM2N">从早到晚</ion-note>
        <ion-note *ngIf="activeTab === 'time' && !timeOrdM2N">从晚到早</ion-note>
      </div>
      <div class="tab" [class.active]="activeTab === 'price'" (click)="onPriceOrder()">
        <ion-icon name="logo-usd"></ion-icon>
        <ion-note *ngIf="activeTab !== 'price'">价格</ion-note>
        <ion-note *ngIf="activeTab === 'price' && priceOrdL2H">从低到高</ion-note>
        <ion-note *ngIf="activeTab === 'price' && !priceOrdL2H">从高到低</ion-note>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

<app-fly-filter class="ion-page" [flights]="flightJourneyList" [@showAdvSearchPage]="showAdvSearchPage$ | async"
  [toCityName]="vmToCity?.CityName"></app-fly-filter>