<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>证件列表</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-refresher slot='fixed' (ionRefresh)="doRefresh()">
    <ion-refresher-content>正在加载...</ion-refresher-content>
  </app-refresher>
  <ion-card *ngFor='let c of credentials'>
    <ion-card-content>
      <ion-item detail (click)='onDetailPage(c)' lines='none'>
        <ion-label>
          <h2>{{c.FirstName}}{{c.LastName}}</h2>
          <p>{{c.Number}}</p>
        </ion-label>
        <ion-button color='secondary' fill='clear'>{{c.Type | credential}}</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button fill='outline' color='secondary' class="ion-margin-horizontal" expand='block' (click)='onAdd()'>
    <ion-icon name="add-circle-outline"></ion-icon>
    添加证件
  </ion-button>
</ion-content>