<section class="days">
  <article *ngFor='let item of days' [class.active]='item.selected' 
   (click)='onDaySelected(item)'>
    <ion-text>{{item?.desc}}</ion-text>
    <ion-text text-nowrap>{{item?.date?.substring("2018-".length,"2018-10-21".length)}}</ion-text>
    <ion-text class='price'>￥890</ion-text>
  </article>
</section>
<section class="calendar" (click)='onCalendar()'>
  <i class="icon icon-calendar" color='secondary'></i>
  <!-- <ion-icon color='secondary' size='large' name='calendar'></ion-icon> -->
  <ion-text color='secondary'>日历</ion-text>
</section>