<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>设置密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>设置密码</ion-label>
    <ion-input type="password" name="Password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>确认密码</ion-label>
    <ion-input type="password" name="SurePassword" [(ngModel)]="surePassword"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col push='9'>
      <ion-button fill='clear' color='secondary' (click)="finish()" [disabled]="!password || !surePassword">完成
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="message">
    <ion-col>
      <ion-note color="danger">{{ message}}</ion-note>
    </ion-col>
  </ion-row>

</ion-content>