ion-list {
    // margin:0;
    ion-button {
        padding               : 0 1em;
        margin                : 0.5em;
        .item{
            display: flex;
            align-items: center;
            height: 100%;
        }
        &.activated{
            --background-activated: transparent;
        }
    }

    ion-item {
        padding: 1em 0;

        ion-label+ion-label {
            margin-top: 0.5em;
        }
    }
}