<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <app-back-button defaultHref=''></app-back-button>
        </ion-buttons>
        <ion-title>证件管理</ion-title>
    </ion-toolbar>
</ion-header>
<div style="overflow: auto;height: 100%;">
    <ng-container *ngIf='modifyCredential&&(modifyCredential.isAdd||modifyCredential.isModified) else showTpl'>
        <app-credentials-comp [(credential)]='modifyCredential'></app-credentials-comp>
        <ng-container [ngTemplateOutlet]='agreementEle'></ng-container>
    </ng-container>
</div>
<ng-template #showTpl>
    <ion-list *ngIf='modifyCredential'>
        <ng-container>
            <div class='ion-margin-top' *ngFor='let credential of credentials;' [attr.dataid]='credential.Id'>
                <div>
                    <div class="item">
                        <div>证件类型</div>
                        <div>{{credential.Type|credential}}</div>
                    </div>
                    <div class="item">
                        <div>
                            证件姓名
                        </div>
                        <div>
                            {{credential.Surname}}{{credential.Givenname}}
                        </div>
                    </div>
                    <div class="item">
                        <div>性别</div>
                        <div>{{credential.Gender=="M"?"男":"女"}}</div>
                    </div>
                    <div class="item">
                        <div>证件号码</div>
                        <div *ngIf='!eyeOn' style="margin-right: 0.5em;">{{credential.Number}}</div>
                        <div *ngIf='eyeOn' style="margin-right: 0.5em;">{{credential.HideNumber}}</div>
                        <ion-icon name='eye' *ngIf='!eyeOn' (click)="eyeOn=!eyeOn"></ion-icon>
                        <ion-icon name='eye-off' *ngIf='eyeOn' (click)="eyeOn=!eyeOn"></ion-icon>
                    </div>
                    <div class="item">
                        <div>出生日期</div>
                        <div>{{credential.Birthday}}</div>
                    </div>
                    <div class="item ">
                        <div>证件到期日期</div>
                        <div>{{credential.ExpirationDate}}</div>
                    </div>

                    <div class="item">
                        <div>国籍</div>
                        <div class="row">{{credential.showCountry?.Name}}({{credential.showCountry?.Code}})</div>
                    </div>
                    <div class="item ">
                        <div>发证国</div>
                        <div class="row">{{credential.showIssueCountry?.Name}}({{credential.showIssueCountry?.Code}})
                        </div>
                    </div>
                </div>

                <div class="item btns">
                    <ion-button fill='clear' color='danger' expand='block' szie='small' (click)='onRemoveExistCredential(credential)'>
                        <ion-text>删除证件</ion-text>
                    </ion-button>
                    <span class="line">|</span>
                    <ion-button fill='clear' color='secondary' szie='small' expand='block' (click)='onTogleModify(credential)'>
                        <ion-text>修改信息</ion-text>
                    </ion-button>
                </div>
            </div>

        </ng-container>
    </ion-list>
    <ng-container [ngTemplateOutlet]='agreementEle'></ng-container>
</ng-template>
<ng-template #agreementEle>
    <div class="agreement" *ngIf='isShowAgreement && (modifyCredential&&(modifyCredential.isAdd||modifyCredential.isModified))'>
        <ion-item lines='none'>
            <ion-checkbox mode='ios' color="secondary" checked='false' #checkboxs></ion-checkbox>
            <ion-label color='secondary'>请阅读并同意以下内容:</ion-label>
        </ion-item>
        <div class="content">
            根据实名制要求，购买机票、火车票或其他要求实名制的服务需提交旅客身份证件信息，并在使用时出具对应身份证件用于验证，请确保录入信息真实有效。天行商旅将通过加密 等方式保护您录入的身份证件信息，且仅在具体交易中授权提供给与您进行交易的供应商及相关服务提供方。
        </div>
    </div>
</ng-template>
<ng-template #loadingTemp>
    正在加载...
</ng-template>

<ion-footer *ngIf='modifyCredential&&(modifyCredential.isAdd||modifyCredential.isModified)' [class.hidden]='isKeyBoardShow'>

    <ion-button *ngIf='!true' fill='clear' expand='block' color='danger' (click)='onRemoveCredential(modifyCredential)'>
        <span *ngIf='modifyCredential.isAdd'>删除</span>
        <span *ngIf='!modifyCredential.isAdd'>删除证件</span>
    </ion-button>
    <span class='line' *ngIf='!true'>|</span>
    <ion-button fill='clear' expand='block' color='secondary' (click)='onSaveCredential()'>
        <span *ngIf='modifyCredential?.isAdd'>保存</span>
        <span *ngIf='!modifyCredential?.isAdd'>修改信息</span>
    </ion-button>
</ion-footer>