<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>证件管理</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='addCredential()' fill='clear' color='secondary'>
        新增
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf='newCredentials?.length'>
    <ion-grid class='ion-margin-top' *ngFor='let c of newCredentials;' [attr.dataid]='c.Id' #addForm class='add-new-credentials'>
      <ion-row>
        <ion-col>姓</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.FirstName' ValidateName='FirstName' name='FirstName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>名</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.LastName' ValidateName='LastName' name='LastName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>登机姓</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.CheckFirstName' [attr.dataid]='c.Id' ValidateName='CheckFirstName'
            name='CheckFirstName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>登机名</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.CheckLastName' [attr.dataid]='c.Id' ValidateName='CheckLastName'
            name='CheckLastName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>性别</ion-col>
        <ion-col>
          <ion-radio-group class='ion-no-margin ion-no-padding' [(ngModel)]='c.Gender' name='Gender' class='gender'>
            <ion-radio id='man' value="M" [checked]='c.Gender=="M"'></ion-radio>
            <ion-label for='man' slot='start'>男</ion-label>
            <ion-label class='ion-margin-start ion-padding-start' ></ion-label>
            <ion-radio id='nv' value="F"></ion-radio>
            <ion-label for='nv'>女</ion-label>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  class="id-type ion-no-margin ion-no-padding">
          <ion-item lines='none' class='ion-no-margin ion-no-padding'>
            <ion-label>证件类型</ion-label>
            <ion-select [(ngModel)]='c.Type' (ionChange)='onIdTypeChange()' name='Type' okText="确定" cancelText="取消" [compareWith]='compareFn'>
              <ion-select-option [value]="opt.key" *ngFor='let opt of identityTypes'>{{opt.key|credential}}
              </ion-select-option>
            </ion-select>
            <input type="text" value="{{c.Type}}" hidden ValidateName="Type">
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>证件号码</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.Number' name='Number' #idInput ValidateName="Number">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>出生年月</ion-col>
        <ion-col>
          <input type="date" [(ngModel)]='c.Birthday' name='Birthday' ValidateName="Birthday">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>证件到期日期</ion-col>
        <ion-col>
          <input type="date" [(ngModel)]='c.ExpirationDate' name='ExpirationDate' ValidateName="ExpirationDate">
        </ion-col>
      </ion-row>
      <ion-row (click)='selectIdentityNationality(c,$event)' class='ion-margin-top'>
        <ion-col>
          <ion-label>国籍</ion-label>
        </ion-col>
        <ion-col class='ion-text-end'>
          <!-- <input type="text" class='ion-text-end' [class.validctrlsucess]='!!c.Country' readonly value="{{c.Country}}"
            name='Country' ValidateName="Country"> -->
          <ion-label class='ion-text-end'>{{c.Country}}</ion-label>
        </ion-col>
        <ion-col size='1' class='arrow-forward ion-text-end' >
          <ion-icon name='arrow-forward' size='small' color='medium' mode='ios'></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row (click)='selectIssueNationality(c,$event)'>
        <ion-col>
          <ion-label>发证国籍</ion-label>
        </ion-col>
        <ion-col class='ion-text-end'>
          <!-- <input type="text" class='ion-text-end' [class.validctrlsucess]="!!c.IssueCountry" readonly value="{{c.IssueCountry}}"
            name='IssueCountry' ValidateName="IssueCountry"> -->
          <ion-label class='ion-text-end'>{{c.IssueCountry}}</ion-label>
        </ion-col>
        <ion-col size='1' class='arrow-forward ion-text-end' >
          <ion-icon name='arrow-forward' size='small' color='medium' mode='ios'></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class='ion-margin-top'>
        <ion-col class='ion-text-center'>
          <ion-button (click)='saveAdd(c,addForm.el)' color='secondary'>保存</ion-button>
        </ion-col>
        <ion-col class='ion-text-center'>
          <ion-button (click)='removeAdd(c)' color='secondary'>删除</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <form #f>
    <ng-container *ngIf='!loading else loadingTemp'>
      <ion-grid class='ion-margin-top' *ngFor='let c of credentials;' #modifyForm [attr.dataid]='c.Id'>
        <ion-row>
          <ion-col class='ion-text-start'>
            <ion-button fill='clear' color='danger' szie='small' (click)='removeExistCredential(c)'>
              <ion-text>删除证件</ion-text>
            </ion-button>
          </ion-col>
          <ion-col class='ion-text-end'>
            <ion-button fill='clear' *ngIf='c.isModified' color='secondary' szie='small'
              (click)='saveModify(c,modifyForm.el);togleModify(c)'>
              <ion-text>保存修改</ion-text>
            </ion-button>
            <ion-button *ngIf="!c.isModified" fill='clear' color='secondary' szie='small' (click)='togleModify(c)'>
              <ion-text>修改信息</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>

        <div *ngIf='!c.isModified else modifyTemplate'>
          <ion-row>
            <ion-col>姓名</ion-col>
            <ion-col>{{c.FirstName}}{{c.LastName}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>登机名</ion-col>
            <ion-col>{{c.CheckName}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>性别</ion-col>
            <ion-col>{{c.Gender=="M"?"男":"女"}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件类型</ion-col>
            <ion-col>{{c.Type|credential}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件号码</ion-col>
            <ion-col>{{c.Number}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>出生年月</ion-col>
            <ion-col>{{c.Birthday}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件到期日期</ion-col>
            <ion-col>{{c.ExpirationDate}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>国籍</ion-col>
            <ion-col>{{c.Country}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>发证国籍</ion-col>
            <ion-col>{{c.IssueCountry}}</ion-col>
          </ion-row>
        </div>
        <ng-template #modifyTemplate>
          <div>
            <ion-row>
              <ion-col>
                姓
              </ion-col>
              <ion-col>
                <input type="text" [(ngModel)]='c.FirstName' ValidateName='FirstName' name='FirstName'>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>名</ion-col>
              <ion-col>
                <input type="text" [(ngModel)]='c.LastName' ValidateName='LastName' name='LastName'>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                登机姓
              </ion-col>
              <ion-col>
                <input type="text" [(ngModel)]='c.CheckFirstName' ValidateName='CheckFirstName' name='CheckFirstName'>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                登机名
              </ion-col>
              <ion-col>
                <input type="text" [(ngModel)]='c.CheckLastName' ValidateName='CheckLastName' name='CheckLastName'>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>性别</ion-col>
              <ion-col>
                <ion-radio-group class='ion-no-margin ion-no-padding' [(ngModel)]='c.Gender' name='Gender' class='gender'>
                  <ion-radio value="M" [checked]='c.Gender=="M"'></ion-radio>
                  <ion-label slot='start'>男</ion-label>
                  <ion-label class='ion-margin-start ion-padding-start'></ion-label>
                  <ion-radio value="F"></ion-radio>
                  <ion-label>女</ion-label>
                </ion-radio-group>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col  class="id-type ion-no-margin ion-no-padding">
                <ion-item lines='none' class='ion-no-margin ion-no-padding'>
                  <ion-label>证件类型</ion-label>
                  <ion-select [(ngModel)]='c.Type' name='Type' okText="确定" cancelText="取消" [compareWith]='compareFn'>
                    <ion-select-option [value]="opt.key" *ngFor='let opt of identityTypes'>{{opt.key|credential}}
                    </ion-select-option>
                  </ion-select>
                  <input type="text" [attr.hidden]='!c.Type' ValidateName="Type">
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>证件号码</ion-col>
              <ion-col>
                <input type="text" [(ngModel)]='c.Number' name='Number' ValidateName="Number">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>出生年月</ion-col>
              <ion-col>
                <input type="date" [(ngModel)]='c.Birthday' name='Birthday' ValidateName="Birthday">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>证件到期日期</ion-col>
              <ion-col>
                <input type="date" [(ngModel)]='c.ExpirationDate' name='ExpirationDate' ValidateName="ExpirationDate">
              </ion-col>
            </ion-row>
            <ion-row (click)='selectIdentityNationality(c)' class='ion-margin-top'>
              <ion-col>
                <ion-label>国籍</ion-label>
              </ion-col>
              <ion-col class='ion-text-end'>
                <ion-label class='ion-text-end'>{{c.Country}}</ion-label>
                <!-- <input type="text" class='ion-text-end' [class.validctrlsucess]='!!c.Country' readonly value="{{c.Country}}"
                  name='Country' ValidateName="Country"> -->
              </ion-col>
              <ion-col size='1' class='arrow-forward ion-text-end' >
                <ion-icon name='arrow-forward' size='small' color='medium' mode='ios'></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row (click)='selectIssueNationality(c)' class='ion-margin-top'>
              <ion-col>
                <ion-label>发证国籍</ion-label>
              </ion-col>
              <ion-col class='ion-text-end'>
                <!-- <input type="text" class='ion-text-end' [class.validctrlsucess]="!!c.IssueCountry" readonly
                  value="{{c.IssueCountry}}" name='IssueCountry' ValidateName="IssueCountry"> -->
                <ion-label class='ion-text-end'>{{c.IssueCountry}}</ion-label>
              </ion-col>
              <ion-col size='1' class='arrow-forward ion-text-end' >
                <ion-icon name='arrow-forward' size='small' color='medium' mode='ios'></ion-icon>
              </ion-col>
            </ion-row>
          </div>
        </ng-template>
      </ion-grid>
    </ng-container>
  </form>
  <ng-template #loadingTemp>
    正在加载...
  </ng-template>
</ion-content>