// $background: #f2f2f2;
ion-content {
  ion-list {
    height: 100%;
  }
}

.hidden {
  display: none !important;
}
.line {
  opacity: 0.25;
  color: var(--ion-color-medium);
}
.btns.item {
  padding: 0;
  border: none;
  // position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
ion-footer,
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-button {
    flex: 1;
  }
  // background:  var(--ion-color-light);
}
form {
  background: transparent;
  padding: 0;
}
