// $background: #f2f2f2;
ion-content {
    ion-list {
        height: 100%;
    }
}

.hidden {
    display: none !important;
}

.line {
    opacity: 0.25;
    color: var(--ion-color-medium);
}

.btns.item {
    padding: 0;
    border: none;
    // position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

ion-footer,
.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ion-button {
        flex: 1;
    }
    // background:  var(--ion-color-light);
}

form {
    background: transparent;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    // background-color: white;
    color: var(--ion-text-color);
    div:first-child {
        font-weight: bold;
    }
    .row {
        margin-left: auto;
    }
    div:nth-child(2n):not(.row) {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        flex: 1;
        justify-content: center;
        text-align: end;
        line-height: 1;
        input:not(.error) {
            border: none;
            outline: none;
            text-align: end;
            width: 100%;
            padding-right: 0.5em;
            background: transparent;
        }
    }
}

.item+.item {
    border-top: 1px solid rgba(var(--ion-color-dark-rgb), 0.12);
}

.arrow-dropdown {
    font-size: 1.5rem;
    position: relative;
    ion-icon {
        font-size: 1.5rem;
        position: relative;
        right: 0.2em;
        margin-left: 0.2em;
    }
}

.placeholder,
input::placeholder {
    color: var(--ion-color-dark);
    opacity: 0.5;
    font-size: 1rem;
}

.arrow-forward {
    display: flex;
    align-items: center;
}

.gender {
    display: flex;
    align-items: center;
    &.ios {
        padding-right: 0.6em;
    }
}

.agreement {
    background: #f2f4f3;
    ion-item {
        padding: 0;
        margin: 0;
        font-size: 15px;
        --background: #f2f4f3;
    }
    ion-checkbox {
        width: 1rem;
        height: 1rem;
        margin-left: 0;
    }
    .content {
        font-size: 12px;
        padding: 0 20px 10px;
        color: #666
    }
}