<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- routerLink="/tabs/my" routerDirection="back" -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>证件管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <form #f>
    <ng-container *ngIf='!loading else loadingTemp'>
      <ion-grid margin-top *ngFor='let c of credentials;'>
        <ion-row>
          <ion-col text-end>
            <ion-button fill='clear' color='secondary' szie='small' (click)='togleModify(c)'>
              <ion-text *ngIf='isModify'>保存修改</ion-text>
              <ion-text *ngIf="!isModify">修改信息</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>

        <div [style.display]='isModify?"none":"block"'>
          <ion-row>
            <ion-col>姓名：</ion-col>
            <ion-col>{{c.FirstName}}{{c.LastName}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>登机名：</ion-col>
            <ion-col>{{c.CheckName}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件类型：</ion-col>
            <ion-col>{{c.Type|credential}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件号码：</ion-col>
            <ion-col>{{c.Number}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>出生年月：</ion-col>
            <ion-col>{{c.Birthday.substring(0,c?.Birthday.indexOf("T"))}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件到期日期</ion-col>
            <ion-col>{{c.ExpirationDate.substring(0,c?.ExpirationDate.indexOf("T"))}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>国籍</ion-col>
            <ion-col>{{c.Country}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>发证国籍</ion-col>
            <ion-col>{{c.IssueCountry}}</ion-col>
          </ion-row>
        </div>
        <div [style.display]='!isModify?"none":"block"'>
          <ion-row>
            <ion-col>姓：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='c.FirstName' ValidateName='FirstName' name='FirstName'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>名：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='c.LastName' ValidateName='LastName' name='LastName'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>登机姓：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='c.CheckFirstName' ValidateName='CheckFirstName' name='CheckFirstName'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>登机名：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='c.CheckLastName' ValidateName='CheckLastName' name='CheckLastName'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>登机全称：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='c.CheckName' value='{{c.CheckLastName}}' ValidateName='CheckName'
                name='CheckName'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-margin no-padding class="id-type">
              <ion-item lines='none' no-margin no-padding>
                <ion-label>证件类型</ion-label>
                <ion-select [(ngModel)]='c.Type' name='Type' okText="确定" cancelText="取消">
                  <ion-select-option [value]="opt.key" *ngFor='let opt of identityTypes'>{{opt.key|credential}}
                  </ion-select-option>
                </ion-select>
                <input type="text" [attr.hidden]='!c.Type' ValidateName="Type">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件号码：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='c.Number' name='Number' ValidateName="Number">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>出生年月：</ion-col>
            <ion-col>
              <input type="date" [(ngModel)]='c.Birthday' name='Birthday' ValidateName="Birthday">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件到期日期</ion-col>
            <ion-col>
              <input type="date" [(ngModel)]='c.ExpirationDate' name='ExpirationDate' ValidateName="ExpirationDate">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item detail lines='none' no-margin no-padding (click)='selectIdentityNationality()'>
                <ion-label>国籍</ion-label>
                <ion-label [attr.hidden]='!c.Country'>{{c.Country}}</ion-label>
                <input type="text" [attr.hidden]='c.Country' [(ngModel)]='c.Country' name='Country'
                  ValidateName="Country">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item detail lines='none' no-margin no-padding (click)='selectIssueNationality()'>
                <ion-label>发证国籍</ion-label>
                <ion-label [attr.hidden]='!c.IssueCountry'>{{c.IssueCountry}}</ion-label>
                <input type="text" [attr.hidden]='c.IssueCountry' [(ngModel)]='c.IssueCountry' name='IssueCountry'
                  ValidateName="IssueCountry">
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ng-container>
  </form>
  <ng-template #loadingTemp>
    正在加载...
  </ng-template>
  <!-- 新增证件 -->
  <ng-container *ngIf='newCredentials?.length'>
    <ion-grid margin-top *ngFor='let c of newCredentials;' #addForm>
      <ion-row>
        <ion-col>姓：</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.FirstName' ValidateName='FirstName' name='FirstName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>名：</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.LastName' ValidateName='LastName' name='LastName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>登机姓：</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.CheckFirstName' ValidateName='CheckFirstName' name='CheckFirstName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>登机名：</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.CheckLastName' ValidateName='CheckLastName' name='CheckLastName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>登机全称：</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.CheckName' value='{{c.CheckLastName}}' ValidateName='CheckName'
            name='CheckName'>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col no-margin no-padding class="id-type">
          <ion-item lines='none' no-margin no-padding>
            <ion-label>证件类型</ion-label>
            <ion-select [(ngModel)]='c.Type' name='Type' okText="确定" cancelText="取消">
              <ion-select-option [value]="opt.key" *ngFor='let opt of identityTypes'>{{opt.key|credential}}
              </ion-select-option>
            </ion-select>
            <input type="text" [attr.hidden]='!c.Type' ValidateName="Type">
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>证件号码：</ion-col>
        <ion-col>
          <input type="text" [(ngModel)]='c.Number' name='Number' ValidateName="Number">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>出生年月：</ion-col>
        <ion-col>
          <input type="date" [(ngModel)]='c.Birthday' name='Birthday' ValidateName="Birthday">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>证件到期日期</ion-col>
        <ion-col>
          <input type="date" [(ngModel)]='c.ExpirationDate' name='ExpirationDate' ValidateName="ExpirationDate">
        </ion-col>
      </ion-row>
      <ion-row (click)='selectIdentityNationality(c)'>
        <ion-col>
          <ion-label>国籍</ion-label>
        </ion-col>
        <ion-col>
          <ion-label *ngIf='c.Country'>{{c.Country}}</ion-label>
          <input type="text" hidden readonly  value="{{c.Country}}"  name='Country'
            ValidateName="Country">
        </ion-col>
        <ion-col size='2' class='arrow-forward' text-end>
          <ion-icon name='arrow-forward' size='small' color='medium' mode='ios'></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row (click)='selectIssueNationality(c)'>
        <ion-col>
          <ion-label>发证国籍</ion-label>
        </ion-col>
        <ion-col>
          <ion-label *ngIf='c.IssueCountry'>{{c.IssueCountry}}</ion-label>
          <input type="text" hidden readonly  value="{{c.IssueCountry}}" name='IssueCountry'
            ValidateName="IssueCountry">
        </ion-col>
        <ion-col size='2' class='arrow-forward' text-end>
          <ion-icon name='arrow-forward' size='small' color='medium' mode='ios'></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ion-list (click)='addCredential()' no-padding padding-top padding-bottom>
    <ion-button fill='outline' expand='block' color='secondary'>
      <div class='item'>
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>新增</ion-label>
      </div>
    </ion-button>
  </ion-list>
</ion-content>