ion-list {
  // margin:0;
  ion-button {
    padding: 0 1em;
    margin: 0.5em;
    .item {
      display: flex;
      align-items: center;
      height: 100%;
    }
    &.activated {
      --background-activated: transparent;
    }
  }

  ion-item {
    padding: 1em 0;

    ion-label + ion-label {
      margin-top: 0.5em;
    }
  }
}
.add-new-credentials {
  input[type="text"] {
    text-transform: uppercase;
  }
}
.id-type {
  padding: 0 0 0 0.3em;
}
ion-row ion-col {
  &:not(.arrow-forward) {
    align-self: flex-start;
  }
  input[readonly] {
    border: none;
  }
}
.gender {
  display: flex;
  align-items: center;
  ion-label + ion-label {
    margin-left: 1em;
  }
}
form {
  background: transparent;
  padding: 0;
  ion-grid {
    padding: 0 1em;
  }
}
