.tab {
    position: relative;
    padding: 0.5em 1em;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    color: var(--ion-color-medium);
    &.has-item-filtered::after {
        position: absolute;
        right: 2em;
        background-color: var(--ion-color-secondary);
        top: 0.5em;
        display: block;
        content: "";
        height: 0.5em;
        width: 0.5em;
        border-radius: 50%;
        min-width: 0.5em;
        min-height: 0.5em;
    }
    &.active {
        color: var(--ion-color-light);
        background: rgba(var(--ion-color-secondary-rgb), 0.8);
    }
}

.wrapper {
    display: flex;
    height: 55vh;
    padding-top: 0.5em;
    .tabs {
        background: rgba(246, 246, 246, 1);
        width: 30%;
        overflow: scroll;
    }
    .items {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        width: 75%;
        .title {
            font-size: 15px;
            font-family: PingFang SC;
            font-weight: bold;
            color: #333333;
            --background: initial;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
        }
        ul li {
            min-width: 45%;
            border-radius: 5px;
            text-align: center;
            margin: 0.25em;
            padding: 0.5em;
            background: rgba(246, 246, 246, 1);
            &.active {
                color: var(--ion-color-secondary);
                background: rgba(var(--ion-color-secondary-rgb), 0.3);
            }
            .text {
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 500;
            }
        }
    }
}

:host {
    display: block;
}

:host.dark {
    .wrapper {
        .tabs {
            background-color: initial;
        }
        .items {
            .title {
                color: var(--ion-text-color);
            }
            ul li {
                background-color:rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07);
            }
        }
    }
}