<div style="width: 100%;">
  <ng-container *ngIf='trip'>
    <ion-card>
      <div class="row">
        <ion-label color='secondary' class='title'>
          <img src="assets/images/2.png" alt="酒店">
          <span class="name">酒店</span>
        </ion-label>
        <ion-button [disabled]='true' size='small' fill="clear" color='secondary' slot="end">{{trip.Status}}</ion-button>
      </div>
      <ion-card-content>
        <div class="hotel-name">
          {{trip.Name}}
        </div>
        <div class="date">
          <span>日期</span>： {{trip.StartTime?.substr(0,"yyyy-mm-dd".length)}} <span style='margin:.25em'>~</span> {{trip.EndTime?.substr(0,"yyyy-mm-dd".length)}}
        </div>
        <div class="passenger">
          <span class="notranslate">
            {{trip.Passenger?.Name}}:
          </span>
          <span>{{trip.HideCredentialsNumber}}</span>
        </div>
        <div class="orderno">
          <span>订单编号</span>：{{trip.OrderId}}
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</div>