.back-icon {
  color: rgba(var(--ion-color-dark-rgb), 0.5);
}
ion-input.TravelNumber {
  // opacity: .8;
  font-size: 0.8rem;
}
ion-item {
  &:not(.p) {
    --padding-start: 0;
    --padding-end: 0;
  }
}
.no-paytypes-tip {
  padding: 0.5em 1em;
  color: var(--ion-color-danger);
}
ion-content {
  ion-list + ion-list {
    margin: 10px;
    border-radius: 10px;
  }
  ion-col {
    align-self: center;
  }

  .change-policy-btn {
    --padding-start: 0;
    margin-left: 0;
  }
  .date {
    margin-bottom: -0.5em;
  }
  .price {
    display: flex;
    align-items: flex-end;
    flex-flow: column nowrap;
    margin: -0.5em 0 0.5em;
    padding-right: 0.5em;
  }
  .refund-change-info {
    font-size: 0.8rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  ion-item-group {
    &.n-m {
      margin: 0;
    }
  }
  .ion-inbook {
    background: #ffffff;
    border-radius: 10px;
  }
  // .list {
  //   background: #f5f7f9;
  // }
  .name {
    width: 43px;
    height: 14px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: bold;
  }
  .idcode {
    width: 139px;
    height: 10px;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 500;
  }

  .add {
    width: 23px;
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #5099fe;
    margin-left: 14px;
    img {
      width: 11px;
    }
  }
  .editicon {
    width: 14px;
    height: 14px;
    margin: -4px 10px -2px 16px;
  }
  .passenger {
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    //  color: #333333;
    margin-left: 20px;
    width: 100px;
  }
  .con-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .ion-mobile,
  .ion-email {
    margin: 0 20px;
    max-width: 6em;
    font-size: 14px;
  }
  .ion-phone,
  .ion-ema {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    // color: #333333;
    height: 35px;
  }
}
.spacebetween {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: var(--ion-color-dark);
}

.fee {
  background-color: var(--ion-color-primary);
  // border-top-right-radius: 10px;
  // border-top-left-radius: 10px;
  font-size: 0.9rem;
  box-shadow: 0.1em 0.2em 0.6em rgba(0, 0, 0, 0.1);
}

.ion-label-text {
  padding-top: 12px;
  font-size: 12px;
  white-space: break-spaces;
}

.person {
  font-size: 14px;
  color: red;
}
.exceed-reason {
  height: 2.5em;
}
.transfrom {
  transform: translate(0, 100%);
  position: fixed;
  transition: all ease-in-out 200ms;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  max-width: 100%;
  width: 100%;
  &.show {
    z-index: 1;
    opacity: 1;
    transform: translate(0, -55px);
  }
  .wrapper {
    width: 100%;
    overflow: scroll;
    line-height: 2;
  }
}

// .other_equipment {
//   --border-radius: 0 0 10px 10px;
// }
// .approval-info {
//   padding-left: 0.5em;
// }
.otherinfo {
  font-size: 14px;
  margin-left: 20px;
  .other {
    display: flex;
    align-items: center;
    .label {
      min-width: 7.5em;
      // color: #666666;
    }
  }
}
.can-skip-approve {
  .label {
    margin: 0 1.5em;
    max-width: 6.5em;
    // color: #666666;
  }
}
.zz {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: var(--ion-color-dark);
}

.list {
  // --background: #f6f6f6;
  .payment_method {
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: bold;
    // color: #333333;
    --inner-border-width: 0;
  }
  .pay-met {
    width: 100%;
  }
  .ion-one {
    --inner-border-width: 0;
    border-radius: 10px 10px 0 0;
  }
}
.padding-v ion-input {
  --padding-start: 0 !important;
}
ion-footer .toolbar {
  line-height: 49px;
  --border-width: 0;
  .buttons {
    margin-left: 10px;
  }
  .sum {
    font-size: 12px;
  }
  .submit {
    height: 32px;
    background: #5099fe;
    border-radius: 5px;
  }
}
.flex {
  display: flex;
  align-items: center;
}
.account12306 {
  img {
    width: 2em;
    margin: 0 0.5em 0 0.2em;
  }
}
.insurances {
  ion-radio-group {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    // color: #333333;
    display: flex;
    flex-flow: row wrap;
  }
  .ins {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #eeeeee;
  }
  .ins-item {
    padding: 0 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
    ion-item {
      width: 100%;
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
    small {
      font-size: 10px;
      margin-left: 1em;
      margin-right: -0.5em;
    }
    .ins-name {
      display: flex;
      align-items: center;
      padding-left: 0.5em;
      font-family: PingFang SC;
      font-weight: 500;
      // color: #333333;
    }
    .ins-price {
      font-family: PingFang SC;
      font-weight: bold;
      // color: #333333;
    }
  }
  .show-more {
    display: flex;
    justify-content: space-between;
    ion-icon {
      opacity: 0.6;
      font-size: 16px;
    }
    padding: 0.5em;
  }
  .ins-detail {
    padding: 0 1em;
    font-size: 14px;
    margin-top: -0.5em;
  }
}
.center {
  display: flex;
  justify-content: center;
  height: 100px;
  span {
    width: 345px;
    height: 33px;
    font-size: 8px;
    font-family: PingFang SC;
    font-weight: 500;
    //  color: #333333;
    line-height: 12px;
  }
}

.language {
  display: flex;
  align-items: center;
  height: 49px;
  background: #ffffff;
  border-radius: 10px;
}
.info {
  width: 100%;
  padding: 0.5em 0;
}
.section {
  margin-top: 1em;
}

.padding-v {
  margin-left: 20px;
  font-size: 14px;
  display: flex;
  .label {
    // color: #666666;
    min-width: 6.5rem;
    display: flex;
    align-items: center;
  }
}

.ion-no-margin {
  font-size: 14px;
  .serFee {
    // color: #666666;
    margin-left: 20px;
    max-width: 6.5em;
  }
}
ion-item {
  --min-height: 35px;
}
