:host {
  transform: translateY(calc(10px + var(--ion-safe-area-bottom, 0px)));
  &.open {
    border: 1px solid transparent;
    padding: 0.5em 1em;
    top: 0.5em;
  }
  height: 4em;
  max-height: 5em;
  background-color: #f2f2f2cc;
  color: #262626;
  border-radius: 1em;
  position: fixed;
  top: 0;
  padding: 0 1em;
  left: 1em;
  right: 1em;
  z-index: 400002;
}
.detail{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:100%;
}
ion-item {
  --background: transparent;
  background-color: transparent;
}
