<div *ngIf='open' class="toast-wrapper">
  <ion-label>{{message?.Title}}aaaaaaaaaa</ion-label>
  <ion-label margin-start>{{message?.InsertTime}}sdfsdfsdfsdf</ion-label>
  <div>
    <div class='detail'  >{{message?.Detail}}
      sdfffffffffffffffffffffffffffffffffffffff犯得上发射点发射点发射点发射点发生的地方似的发射点发士大夫士大夫文人为服务公司东莞市发生的发生的发</div>
  </div>
  <!-- <div class="toast-wrapper toast-bottom"
    style="transform: translateY(calc(10px + var(--ion-safe-area-bottom, 0px))) ;">
    <div class="toast-container">
      <div class="toast-content">
        <div class="toast-message">this.message.Detail</div>
      </div>
    </div>
  </div> -->
</div>