.tabs {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .active {
    --color: var(--ion-color-secondary);
    border-bottom: solid 2px var(--ion-color-secondary);
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-content {
  --background: #f2f2f2;
  ion-toolbar{
    position: sticky;
    top: 0;
  }
}
ion-list {
  background: transparent;
  ion-item {
    margin-bottom: 0.35em;
  }
}
ion-footer {
  --background: white;
}
ion-footer ion-row ion-col {
  position: relative;
  &:not(:last-child)::after {
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 30%;
    content: "";
    display: block;
    background-color: rgba(var(--ion-color-dark-rgb), 0.13);
    width: 1px;
  }
}
.tasks {
  margin-top: 0.5em;
  padding-left: 1em;
  ion-col {
    margin: 0;
    padding: 0;
  }
}
