<ion-content>
  <ion-list class="list">
    <div class="container">
      <div class="info">基本信息</div>
      <div class="item">
        <div class="label">出差类型</div>
        <label> <input type="radio" name="demo" value="1" />应公 </label>
        <label> <input type="radio" name="demo" value="2" />应私 </label>
      </div>
      <div class="item">
        <div class="label">出发地</div>
        <div class="main">
          <ion-text placeholder="出发城市"></ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="item">
        <div class="label">目的地</div>
        <div class="main">
          <ion-text placeholder="到达城市"></ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="item">
        <div class="label">往返时间</div>
        <div class="main">
          <ion-text>2020-11-5</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="item">
        <div class="label">人数</div>
        <div class="main">
          <ion-text>不限</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="item">
        <div class="label">人均预算</div>
        <div class="main">
          <ion-text>不限</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="item">
        <div class="label">产品类型</div>
        <div class="main">
          <ion-text>酒店 国内机票 国际机票 包车</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </ion-list>
  <ion-list class="list-ion">
    <div class="footer">
      <div class="info">联系人信息</div>
      <div class="item">
        <div class="label">姓名</div>
        <ion-input placeholder="请输入姓名"></ion-input>
      </div>
      <div class="item">
        <div class="label">手机号码</div>
        <ion-input placeholder="请输入姓名"></ion-input>
      </div>
      <div class="item">
        <div class="label">电子邮箱</div>
        <ion-input placeholder="请输入姓名"></ion-input>
      </div>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <div class="btn_container">
    <ion-button color="secondary" class="ion-top">
      <ion-text>提 交</ion-text>
    </ion-button>
  </div>
</ion-footer>
