<ion-header>
  <ion-toolbar>
    <ion-title>avatar-crop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divFileName" style="display: none;" ImageCutor="ChangeContainer">
    <div id="divChangeFileName" class="hurl" ImageCutor="ChangeButton">上传图片</div>
    <div id="divCloseFileName" ImageCutor="CloseButton">取消</div>
  </div>

  <div id="divCutContainer" class="cut" style="display: none;">
    <div class="cutimg">
      <div class="topmask" ImageCutor="TopMask"></div>
      <div class="topmask" ImageCutor="LeftMask"></div>
      <canvas class="canvas"></canvas>
      <img ImageCutor="Image" style="display: none;" />
      <input type="file" name="text" style="display: none;" />
      <div class="bottommask" ImageCutor="BottomMask"></div>
      <div class="bottommask" ImageCutor="RightMask"></div>
    </div>
  </div>

  <div class="cutbottom" style="display: none;" ImageCutor="CutContainer">
    <input type="button" class="btn" id="divColseCut" style="float: left; margin-left: 0;" value="取消"
      ImageCutor="ColseCutButton">
    <input type="button" class="btn sel" name="cuttypebtn" value="截图" ImageCutor="CutPartButton">
    <input type="button" class="btn" name="cuttypebtn" value="全图" ImageCutor="CutFullButton">

    <input type="button" class="btn" id="divSaveCut" style="float: right;" value="保存" ImageCutor="SaveCutButton">
  </div>
</ion-content>