<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='back()'>
        <ion-icon color='dark' name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>当前已选择火车信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group *ngFor='let bookInfo of bookInfos$|async'>
    <ion-item-divider color='primary' sticky>
      <ion-label color='dark'>{{bookInfo?.passenger?.Name}}{{bookInfo?.credential?.Number}}</ion-label>
    </ion-item-divider>
    <ion-item *ngIf='bookInfo?.trainInfo'>
      <div class='detail'>
        <div class='date'>
          <strong>{{getDate(bookInfo?.trainInfo?.trainEntity)}} <ion-text color='secondary'>
              {{getTripTypeTip(bookInfo?.trainInfo)}}</ion-text></strong>
          <ion-button fill='clear' size='small' (click)='remove(bookInfo)'>
            <ion-icon name="trash" color='danger' mode='ios'>
            </ion-icon>
          </ion-button>
        </div>
        <ion-label class='train-item'>
          <app-train-list-item [seat]='bookInfo.trainInfo?.selectedSeat' [train]='bookInfo?.trainInfo?.trainEntity'>
          </app-train-list-item>
        </ion-label>
        <ion-label class='rules' color='danger' text-wrap>
          {{bookInfo?.trainInfo?.trainPolicy?.Rules?.join("; ")}}
        </ion-label>
        <div class='reset'>
          <ion-button expand='block' color='secondary' size='small' (click)='reelect(bookInfo)'>重选
          </ion-button>
        </div>
      </div>
    </ion-item>
    <ion-item lines='none' *ngIf='showSelectReturnTripButton'>
      <ion-button slot='end' expand='block' color='secondary' (click)='onSelectReturnTrip()'>
        选择回程
      </ion-button>
    </ion-item>
  </ion-item-group>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button (click)='nextStep()' color='secondary'>下一步</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>