<ion-list lines='none' *ngIf='airports?.length'>
  <ion-list-header color='light' no-margin>
    <ion-label>{{toCityName}}降落</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>不限</ion-label>
    <ion-radio [checked]='isUnlimitRadioChecked' (ionSelect)='reset()'></ion-radio>
  </ion-item>
  <ion-item *ngFor="let entry of airports">
    <ion-label>{{entry?.label}}</ion-label>
    <ion-checkbox #cbox slot="end" [(ngModel)]="entry.isChecked" (ionChange)='onionChange()'></ion-checkbox>
  </ion-item>
</ion-list> 