ion-thumbnail {
    --border-radius: 4px;
}

.has-left-icon {
    img {
        width: 1.5em;
        margin-right: .5em
    }
    display: flex;
    align-items: center;
}

.account-type {
    font-size: 0.7rem;
    padding-left: 0.5em;
}

ion-card-content {
    margin: 12px -1em;
}

.top-panal {
    padding-bottom: 3em;
    padding-top: 3em;
    background: rgb(80, 153, 254);
}

div.item_native ::after {
    background: rgb(80, 153, 254);
}

.produc-item {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
    ion-avatar {
        width: 2em;
        height: 2em;
        margin-bottom: 0.5em;
        img {
            object-fit: fill;
            width: 40px;
        }
    }
    ion-label {
        font-size: 0.8rem;
    }
}

ion-card {
    position: relative;
    margin: -2em;
    width: 100.1%;
    margin-left: 0px;
    border-radius: 15px;
    background: #fff;
}

ion-card-header {
    border-bottom: 1px solid rgba(var(--ion-color-dark-rgb), 0.12);
}

ion-list:not(.top-panal) {
    // margin: -1.6em 0px;
    // line-height: 4.1em;
    &.md {
        padding: 0;
    }
}

.ion-cen {
    background: rgb(80, 153, 254);
}

.img {
    border-radius: 50%;
    margin-left: 18px;
    width: 57px;
}

.head_detail {
    --background: #5099FEFF;
    --detail-icon-color: white;
    --detail-icon-opacity: 1;
    --detail-icon-font-size: 1.6rem;
    --padding-end: 1em;
}

ion-content {
    --background: #fff;
}

:host.dark {
    ion-content {
        --background: initial;
    }
    ion-card {
        background-color: var(--ion-item-background, var(--ion-background-color, #fff));
    }
}