<ion-row *ngIf='fr' class="list-item" class="{{fr.color}}">
  <ion-col size="0.8">
    <div class="logo margin-t11">
      <img [src]="fr.fromSegment?.AirlineSrc">
    </div>
  </ion-col>
  <ion-col>
    <div class="cityAndTime">
      <div class='padding-t11'>
        <ion-text class="time">{{fr?.FirstTime}}</ion-text>
        <div class="country">
          {{fr.fromSegment?.FromAirportName}}{{fr.fromSegment?.FromTerminal}}
        </div>
      </div>
    </div>
  </ion-col>
  <ion-col size="2.3" class="ion-text-center">
    <div class="ion-text-nowrap" style="font-size: 0.8rem;">
      <div style="display: flex;align-items: center;flex-flow: column;" color="secondary" (click)="onTransfer($event)">
        <ion-text *ngIf="fr.isTransfer else directfly" color='secondary'>转机</ion-text>
        <ion-text>-----------</ion-text>
        <ion-text>{{fr.flyTime}}</ion-text>
      </div>
      <ng-template #directfly>
        <ion-text color='secondary'>直飞</ion-text>
      </ng-template>
    </div>
  </ion-col>
  <ion-col>
    <div class="cityAndTime">
      <div class="padding-t11">
        <ng-container *ngIf='fr.addDays'>
          <div class="addDay">
            +{{fr.addDays}}天</div>
        </ng-container>
        <ion-text class="time">{{fr.ArrivalTime}}</ion-text>
        <div class="country">
          {{fr.toSegment?.ToAirportName}}{{fr.toSegment.ToTerminal}}
        </div>
      </div>
    </div>
  </ion-col>
  <ion-col size="3.1" class="ion-text-center">
    <div [class.margin-t11]="fr?.toSegment?.Variables?.AddDaysTip&&fr.toSegment?.Variables?.AddDaysTip>'0'" style="padding-top: 0.4em;">
      <ion-text color="danger" class="flightMoney">
        <small style="font-size: 0.6rem;">¥</small> <span style="font-weight:bold"></span>{{fr.minPriceFlightFare?.SalesPrice}}<small style="font-size: 0.6rem;">起</small>
      </ion-text>
      <div style="font-size: 0.7rem" *ngIf="fr.minPriceFlightFare?.Tax">
        <ion-text color="danger">
          税<span style="font-weight:bold">¥</span>{{fr.minPriceFlightFare?.Tax}}
        </ion-text>
      </div>
      <div class="fontSize typename">
        <div *ngIf='fr.flightFares?.length' (click)='onToggleFlightFare($event)' class="show-off-icon">
          <ion-icon name="chevron-up-outline" *ngIf='isShowFares'></ion-icon>
          <ion-icon name="chevron-down-outline" *ngIf='!isShowFares'></ion-icon>
        </div>
      </div>
    </div>
  </ion-col>
  <div class="flihtCompany">
    <ng-container *ngFor="let item of fr?.transferSegments;let last=last">
      <ion-text class="whiteSpece">{{item.AirlineName}}</ion-text>
      <span>{{item.Number}}</span>
      <ion-text *ngIf="item.CodeShareNumber">(共享)</ion-text>
      <div class="height" *ngIf='!last'></div>
    </ng-container>

  </div>
</ion-row>
<ng-content></ng-content>