.logo {
  width: 2em;
  height: 1em;
  // border: 1px solid var(--ion-color-dark);
}

.margin-padding-left {
  margin-left: 0.6em;
}
.list-item {
  padding-bottom: 0.5em;
}
.time {
  font-size: 1.3em;
}

.country {
  font-size: 0.8em;
  width: 5.08em;
  // text-align: center;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fontSize {
  font-size: 0.8em;
}
.typename {
  color: var(--ion-color-medium);
  position: relative;
}
.show-off-icon {
  font-size: 1rem;
  position: absolute;
  right: 40%;
}
// .paddingtop {
//     padding-top   : 0.2em;
//     padding-bottom: 0.2em;
//     padding-left  : 0.5em;
//     padding-right : 0.5em;
//     border-bottom : 2px solid var(--ion-color-primary-shade);
// }
.warning {
  background-color: rgba(var(--ion-color-warning-rgb), 0.13);
}
.danger {
  background-color: rgba(var(--ion-color-danger-rgb), 0.13);
}
.success {
  background-color: rgba(var(--ion-color-success-rgb), 0.13);
}
.flightMoney {
  font-size: 1.1em;
  text-align: right;
}

.flihtCompany {
  font-size: 0.6em;
  display: flex;
  align-items: center;
  color: var(--ion-color-medium);
  flex-flow: wrap;
  padding-left: 4.3em;
  max-width: 80%;
}

.height {
  width: 1px;
  background-color: var(--ion-color-dark);
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  opacity: 0.8;
}
.height:last-child {
  width: 1px;
  background-color: var(--ion-color-light);
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.countrySpace {
  width: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.whiteSpece {
  // width        : 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addDay {
  position: absolute;
  right: 0em;
  top: 0em;
  font-size: 0.6rem;
}

.cityAndTime {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 0.5em;
}

.airLine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-t11 {
  padding-top: 0.5em;
}
