.logo {
    width    : 24px;
    height   : 24px;
    // border: 1px solid var(--ion-color-dark);
}

.margin-padding-left {
    margin-left: 0.6em;
}

.time {
    font-size: 1.3em;
}

.country {
    font-size    : 0.8em;
    width        : 5.08em;
    // text-align: center;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.fontSize {
    font-size: 0.8em;
}

.paddingtop {
    padding-top   : 0.2em;
    padding-bottom: 0.2em;
    padding-left  : 0.5em;
    padding-right : 0.5em;
    border-bottom : 2px solid var(--ion-color-primary-shade);
}

.flightMoney {
    font-size : 1.1em;
    text-align: right;
}


.flihtCompany {
    padding    : 0.1em 0em 0.5em 2.8em;
    font-size  : 0.8em;
    display    : flex;
    align-items: center;
    color      : var(--ion-color-medium);
}

.height {
    width           : 1px;
    background-color: var(--ion-color-medium);
    height          : 1em;
    margin-left     : 0.5em;
    margin-right    : 0.5em;
}

.countrySpace {
    width        : 1em;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.whiteSpece {
    // width        : 80px;
    white-space     : nowrap;
    overflow        : hidden;
    text-overflow   : ellipsis;
}



.addDay {
    text-align  : right;
    font-size   : 0.1em;
    color       : var(--ion-color-dark-tint);
    margin-right: -2em;
}

.cityAndTime {
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : left;
    padding-left   : 0.5em;
}

.airLine {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.positon-air {
    width      : 5em;
    margin-left: -1em;
}

.margin-t11 {
    margin-top: 1.1em;
}