<ion-row class="paddingtop" *ngIf='flight'>
    <ion-col size="0.8">
      <div class="logo" [class.margin-t11]="flight.toSegment?.Variables?.AddDaysTip&&flight.toSegment?.Variables?.AddDaysTip>'0'" >
        <img [src]="flight.fromSegment.AirlineSrc">
      </div>
    </ion-col>
    <ion-col>
      <div class="cityAndTime">
        <div [class.margin-t11]="flight.toSegment?.Variables?.AddDaysTip&&flight.toSegment?.Variables?.AddDaysTip>'0'" >
          <ion-text class="time">{{flight?.FirstTime.replace("T"," ")?.substring(10,16)}}</ion-text>
          <div class="country">
            {{flight.fromSegment?.FromAirportName?.replace("国际机场","")?.replace("机场","")}}{{flight.fromSegment.FromTerminal}}
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="2.3">
      <div class="positon-air">
          <ion-text *ngIf="flight.isTransfer" class="fontSize" color="secondary" (click)="onTransfer()">
            ---<ion-text style="padding:0.1em">转机</ion-text>---</ion-text>
        <ion-text *ngIf="!flight.isTransfer" class="fontSize">---<ion-text style="padding:0.1em">
            直飞
        </ion-text>---</ion-text>
      </div>
    </ion-col>
    <ion-col>
      <div class="cityAndTime">
        <div >
          <ng-container *ngIf='flight.toSegment?.Variables?.AddDaysTip as n '> 
            <div class="addDay" *ngIf="n>'0'">
              +{{n}}天</div>
          </ng-container>
          <ion-text class="time">{{flight.ArrivalTime?.replace("T"," ")?.substring(10,16)}}</ion-text>
          <div class="country">
            {{flight.toSegment?.ToAirportName?.replace("国际机场","")?.replace("机场","")}}{{flight.toSegment.ToTerminal}}
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="3.1">
      <div [class.margin-t11]="flight?.toSegment?.Variables?.AddDaysTip&&flight.toSegment?.Variables?.AddDaysTip>'0'">
        <ion-text color="secondary" class="flightMoney">
          <span style="font-weight:bold">¥</span>{{flight.flightFare.TicketPrice}}
        </ion-text>
        <div class="fontSize" style="color:var(--ion-color-medium)">{{flight.TypeName}}</div>
      </div>
    </ion-col>
    <div class="flihtCompany">
      <ion-text class="whiteSpece">{{flight.fromSegment.AirlineName}}</ion-text>
      <div class="height"></div>
      <ion-text>
        {{flight.fromSegment.Number}}
        <span *ngIf="flight.fromSegment.CodeShareNumber">(共享:{{flight?.fromSegment?.CodeShareNumber}})</span>
      </ion-text>
      <div class="height"></div>
      <ion-text>{{flight.fromSegment.FlyTimeName}}</ion-text>
    </div>
  </ion-row>
