<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <app-back-button defaultHref="" color='light'></app-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<img src="assets/images/search-flight.png" alt="" class="bgimg">
<ion-content class="cnt">
    <ion-card class='ion-padding' [class.hidden]='domestic!="domestic"'>
        <ion-card-content>
            <ion-buttons class="city">
                <ion-text class="ion-text-wrap city-name ion-text-start" [class.disabled]='disabled' (click)='onSelectCity(true)' color='{{disabled?"medium":"secondary"}}'>
                    {{isEn?searchFlightModel?.fromCity?.EnglishName|| searchFlightModel?.fromCity?.Nickname:searchFlightModel?.fromCity?.Nickname?.replace('国际','')?.replace('机场','')}}</ion-text>
                <ion-button color='{{disabled?"medium":"secondary"}}' [disabled]='disabled' (click)='onSwapCity()'>
                    <img src='assets/images/flight-rotate.png' [class.rotate]='isSwapingCity' />
                </ion-button>
                <ion-text class="ion-text-wrap city-name ion-text-end" [class.disabled]='disabled' (click)='onSelectCity(false)' color='{{disabled?"medium":"secondary"}}'>
                    {{isEn?searchFlightModel?.toCity?.EnglishName|| searchFlightModel?.toCity?.Nickname:searchFlightModel?.toCity?.Nickname?.replace('国际','')?.replace('机场','')}}</ion-text>
            </ion-buttons>
            <section class="flight-date">
                <app-search-day-comp [day]='goDate' (click)="onSelecFlyDate(true,false)" [disabled]='disabled'>
                </app-search-day-comp>
                <div *ngIf="">{{ totalFlyDays }}天</div>
                <app-search-day-comp *ngIf="!isSingle" [day]='backDate' (click)="onSelecFlyDate(false,true)">
                </app-search-day-comp>
            </section>
        </ion-card-content>
        <div class="btn-search" (click)="searchFlight()">查询航班</div>
        <!-- <div class="btn-search" (click)="onSelectPassenger()" *ngIf='(!isSelf && selectedPassengers==0)'>请添加乘客</div> -->
    </ion-card>
    <div class="hint" *ngIf="!identity?.IsShareTicket">
        <svg class="bi bi-exclamation-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
        </svg>
        <span>
            政府采购机票仅支持公务卡验证,如需预算单位验证,请致电400-66-88868,给您带来不便敬请谅解！
        </span>
    </div>
</ion-content>