<ion-item lines='none'>
  <ion-text color='{{!isModified?"medium":"dark"}}'>
    <strong>Id information:</strong>
  </ion-text>
  <ion-button slot='end' fill='clear' color='secondary' *ngIf='canEdit&&isself'
    (click)='onMaintainCredentials()'>
    Id maintain</ion-button>
  <ion-button fill='clear' color='secondary' slot="end" size='small' (click)='onModify()' *ngIf='canEdit'>
   
    <ion-icon name="create-outline" mode='md' size='small' slot='start' *ngIf='!isModified'></ion-icon>
    <ion-text *ngIf='!isModified'>modify</ion-text>
    <ion-icon name="checkmark" mode='md' size='small' slot='start' color='success' *ngIf='isModified'>
    </ion-icon>
    <ion-text *ngIf='isModified' (click)='onSave()' color='success'>保存</ion-text>
  </ion-button>
</ion-item>
<ion-item [disabled]='!isModified' lines='none' *ngIf='credential'>
  <ion-label [class.is-exchange]='!isModified'>
    <h2 (click)='openSelect()'>
      <label for="type">ID Type:</label>
      <span class='number' >
        {{credential.Type|credential}}
        <ion-icon name="caret-down-outline" [class.disabled]='!isModified' mode='md' color='secondary'></ion-icon>
      </span>
    </h2>
    <h2>
      <label >ID number:</label>
      <input  type="text" appShowtip [disabled]='!canEditNumber' [(ngModel)]='credential.Number'
        name='Number' ValidateName="Number">
    </h2>
    <h2>
      <label class="ion-text-end">nature:</label>
      <input  type="text" [disabled]='!canEditSurname' [(ngModel)]='credential.Surname'
        ValidateName='Surname' name='Surname'></h2>
    <h2>
      <label  class="ion-text-end">name:</label>
      <input  type="text" [disabled]='!canEditName' [(ngModel)]='credential.Givenname' ValidateName='Givenname'
        name='Givenname'></h2>
  </ion-label>
</ion-item>
<ion-item lines='none' style="display: none;">
  <ion-select [(ngModel)]='credential' name='Type' okText="确定" cancelText="取消"
    selectedText='{{credential?.Type|credential}}' [compareWith]='compareFn'>
    <ion-select-option [value]="opt" *ngFor='let opt of credentials'>
      {{(opt?.Type|credential)}}{{opt?.Number}}
    </ion-select-option>
  </ion-select>
  <input type="text" value="{{credential?.Type}}" hidden ValidateName="Type">
</ion-item>