<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='back()'>
        <ion-icon color='dark' name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>当前已选择航班信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group *ngFor='let info of passengerAndBookInfos$|async'>
    <ion-item-divider color='primary' sticky>
      <ion-label color='dark'>{{info?.passenger?.Name}}{{info?.credential?.Number}}</ion-label>
    </ion-item-divider>
    <ng-container *ngFor='let bookInfo of info?.bookInfos'>
      <ion-item *ngIf='bookInfo?.flightSegmentInfo'>
        <div class='detail' >
          <div class='date'>
            <strong>{{getDate(bookInfo?.flightSegmentInfo?.flightSegment)}} <ion-text color='secondary'>{{getTripTypeTip(bookInfo?.flightSegmentInfo)}}</ion-text></strong>
            <ion-button fill='clear' size='small' (click)='remove(bookInfo)'>
              <ion-icon name="trash" color='danger' mode='ios'>
              </ion-icon>
            </ion-button>
          </div>
          <app-fly-list-item [flightSegment]='bookInfo?.flightSegmentInfo?.flightSegment' [showDetails]='true' [flightPolicy]='bookInfo?.flightSegmentInfo?.flightPolicy'>
          </app-fly-list-item>
          <div class='info'>
            <ion-label text-wrap>税:￥{{bookInfo?.flightSegmentInfo?.flightSegment?.Tax}}</ion-label>
            <ion-label color='danger'>￥{{bookInfo?.flightSegmentInfo?.flightPolicy?.Cabin?.SalesPrice}}</ion-label>
          </div>
          <ion-label class='rules' color='danger' text-wrap>
            {{bookInfo?.flightSegmentInfo?.flightPolicy?.RulebookInfo?.flightSegmentInfo?.join("; ")}}
          </ion-label>
          <ion-label class='rules' text-wrap color='dark' (click)='onSelectLowestSegment(bookInfo)'
            *ngIf='showLowerSegment(bookInfo)'>
            当前航班前后60分钟内有更低价航班:{{bookInfo?.flightSegmentInfo?.flightPolicy?.LowerSegment?.Number}}&nbsp;
            {{getTime(bookInfo?.flightSegmentInfo?.flightPolicy?.LowerSegment?.TakeoffTime)}},价格:￥{{bookInfo?.flightSegmentInfo?.flightPolicy?.LowerSegment?.LowestFare}}
            <ion-button color='secondary' fill='clear'>选择该航班</ion-button>
            <!-- <ion-label text-wrap>{{bookInfo?.flightSegmentInfo?.flightPolicy?.LowerSegment|json}}</ion-label> -->
          </ion-label>
          <div class='reset'>
            <ion-button expand='block' color='secondary' size='small' (click)='reelect(bookInfo)'>重选
            </ion-button>
          </div>
        </div>
      </ion-item>
    </ng-container>
    <ion-item lines='none' *ngIf='showSelectReturnTripButton'>
      <ion-button slot='end' expand='block' color='secondary' (click)='onSelectReturnTrip()'>
        选择回程
      </ion-button>
    </ion-item>
  </ion-item-group>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button (click)='nextStep()' color='secondary'>下一步</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>