<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group *ngFor='let info of selectedInfos'>
    <ion-item-divider color='primary'>
      <ion-label color='dark'>{{info?.passenger?.Name}}</ion-label>
      <!-- <ion-button expand='block' color='secondary' slot='end' padding-end>重选</ion-button> -->
    </ion-item-divider>
    <ng-container *ngFor='let s of info.selectedInfo'>
      <ion-item *ngIf='!s?.reset'>
        <div class='detail'>
          <app-fly-list-item [flightSegment]='s.flightSegment' [showDetails]='true'></app-fly-list-item>
          <div class='info'>
            <ion-label text-wrap>税:￥{{s.flightSegment?.Tax}}</ion-label>
            <ion-label color='danger'>￥{{s.flightPolicy?.Cabin?.TicketPrice}}</ion-label>
          </div>
          <ion-label class='rules' color='danger' text-wrap>
            {{s.flightPolicy?.Rules?.join("; ")}}
          </ion-label>
          <div>
            <ion-button expand='block' color='secondary' size='small' (click)='reset(s)'>重选</ion-button>
          </div>
        </div>
      </ion-item>
    </ng-container>
  </ion-item-group>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button (click)='nextStep()' color='secondary'>下一步</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>