.scan-comp {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-flow      : column nowrap;
}

// ion-icon {
//   position : relative;
//   font-size: 1.5em;
// }
i {
  position: relative;
  font-size: 1.4em;
}

ion-label {
  font-size : 0.6rem;
  margin    : 0;
  padding   : 0;
}