<!-- <ion-backdrop></ion-backdrop> -->
<!-- <ion-button (click)='testHcp()' [disabled]='updateInfo?.loaded!==updateInfo?.total'>测试更新</ion-button> -->
<!-- Other types -->
<!-- Circles -->
<!-- <ion-label class='ion-margin-bottom'>
  <ion-spinner name="circles" color='success' ></ion-spinner>
</ion-label> -->
<ion-label color='primary' class='ion-margin-bottom'>
  {{updateInfo?.taskDesc}}
  <ion-note color='success'>{{updateInfo?.progress?.replace("NaN%","")?.replace("NaN","")}}</ion-note>
</ion-label>
<!-- <ion-progress-bar color="secondary" [value]="updateInfo?.loaded" [buffer]='updateInfo?.total'>
</ion-progress-bar> -->