<div class="linkmans" *ngIf='contacts?.length'>
  <div class="linkman" *ngFor='let man of contacts'>
    <div class="flex padding-v">
      <div class="title">授权查看账号信息：</div>
    </div>
    <div class="flex padding-v">
      <div class="label">旅客名称：</div>
      <ion-input name='name' notranslate placeholder='请输入' (ionChange)='onChange()' [(ngModel)]='man.name'></ion-input>
      <ion-icon name='trash' class='trash' mode='ios' color='danger' (click)='remove(man)'></ion-icon>
    </div>
    <div class="flex padding-v">
      <div class="label">
        手机号：
      </div>
      <ion-input name='mobile' placeholder='请输入' (ionChange)='onChange()' [(ngModel)]='man.mobile'></ion-input>
    </div>
    <div class="flex padding-v">
      <div class="label">
        邮箱：
      </div>
      <ion-input name='email' [(ngModel)]='man.email' (ionChange)='onChange()' placeholder='请输入'></ion-input>
    </div>
    <div class="flex padding-v" (click)='onOpenSelect(notifyLangEl)'>
      <span class="label">通知语言：</span><span class='lang'>{{man.notifyLanguage=='en'?'英文':man.notifyLanguage=='cn'?'中文':"不发"}}</span>
      <ion-icon name="chevron-forward-outline" color='medium'></ion-icon>
    </div>
    <ion-item lines='none' style="display: none;" class="ion-no-margin">
      <ion-label>通知语言:</ion-label>
      <ion-select value="cn" notranslate okText="确定" cancelText="取消" #notifyLangEl (ionChange)='onChange()' [(ngModel)]='man.notifyLanguage'>
        <ion-select-option value=''>不发</ion-select-option>
        <ion-select-option value='cn'>中文</ion-select-option>
        <ion-select-option value='en'>英文</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</div>
<div class="flex padding-v center btn-wrapper" (click)='onAddContacts()'>
  <div class="btn" >
    <ion-icon name="add-circle-outline" color='secondary' slot='start'></ion-icon> <span>{{buttonText}}</span>
  </div>
</div>