<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <app-back-button [forceback]="true"></app-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-toolbar class='ion-text-center' [ngClass]='{"keyboard-show":isKeyboardShow,"is-app":isApp}'>
    <img [lazyLoad]="config?.LogoImageUrl" alt="公司logo" class='logo' [loadingImage]='config?.PrerenderImageUrl' [defaultImage]='config?.DefaultImageUrl' />
</ion-toolbar>
<div class="container">
    <ion-list class="container">
        <form [formGroup]='form' class='ion-padding'>
            <ion-segment (ionChange)="segmentChanged($event)" value="user" color='secondary'>
                <ion-segment-button value="user">
                    <ion-label>Account login</ion-label>
                </ion-segment-button>
                <ion-segment-button value="mobile">
                    <ion-label>Phone login</ion-label>
                </ion-segment-button>
            </ion-segment>
            <ng-container *ngIf='loginType=="user" else mobilelogintemp'>
                <ion-list>
                    <ion-item>
                        <ion-label color='secondary'>
                            <i class='icon icon-person'></i>
                        </ion-label>
                        <ion-input type='text' placeholder='Username/Telephone' clear-input='true' required='true' formControlName="Name">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color='secondary'>
                            <i class='icon icon-lock'></i>
                        </ion-label>
                        <ion-input [type]='eyeType' placeholder='Password' clear-input='true' required='true' formControlName="Password"></ion-input>
                        <ion-button (click)='onToggleEye()' fill='clear' color='secondary'>
                            <ion-icon name='eye' *ngIf='eyeOn'></ion-icon>
                            <ion-icon name='eye-off' *ngIf='!eyeOn'></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item [style.height]='0'></ion-item>
                </ion-list>
            </ng-container>
            <ng-template #mobilelogintemp>
                <ion-list>
                    <ion-item>
                        <ion-label color='secondary'>
                            <i class='icon icon-mobile'></i>
                        </ion-label>
                        <ion-input placeholder='Username/Telephone' clear-input='true' required='true' formControlName="Mobile" type="number" min="11"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color='secondary'>
                            <i class='icon icon-verify'></i>
                        </ion-label>
                        <ion-input clear-input='true' required='true' type='text' placeholder='Verification Code' [maxlength]='6' formControlName="MobileCode"></ion-input>
                        <ion-button slot='end' color='secondary' fill='outline' *ngIf='!countDown||countDown <= 0' (click)="showImageCode('sendmobilecode')">
                            Send Captcha</ion-button>
                        <ion-button slot='end' fill='outline' [disabled]='true' color='medium' *ngIf='countDown'>{{countDown}} Resend in seconds
                        </ion-button>
                    </ion-item>
                    <ion-item [style.height]='0'></ion-item>
                </ion-list>
            </ng-template>
            <ion-item lines='none' *ngIf="message" class='err-msg'>
                <ion-label color="danger">{{ message }}</ion-label>
            </ion-item>
            <div *ngIf='isShowWechatMiniTip' class="ion-text-center">
                <ion-text color='danger'>Do not use wechat user name or password!</ion-text>
            </div>
            <ion-button color='secondary' class='login-btn' expand='block' strong='true' (click)="onLoginButton('login')">
                <span *ngIf="!isLogining">Sign in</span>
                <span *ngIf="isLogining">Signing in...</span>
            </ion-button>
            <ion-button class="register-btn" color='secondary' expand='block' strong='true' *ngIf='!isGetWechatMiniMobile && isWechatMini' (click)="getWechatMiniMobile()">使用微信手机号登录</ion-button>
            <section class='register-forgetpassword'>
                <ion-button fill='clear' color='secondary' strong='true' (click)="forgetPassword()">Forget the password</ion-button>
                <ng-container>
                    <span class='line'></span>
                    <ion-button fill='clear' color='secondary' strong='true' (click)="register()">
                        Regiser</ion-button>
                </ng-container>
            </section>
            <ng-container *ngIf="isShowWechatLogin">
                <app-or-comp>Third party login</app-or-comp>
                <ion-item (click)='loginByWechat()' lines='none' class='ion-text-center'>
                    <div class='third-party-logo'>
                        <ion-thumbnail>
                            <img src="assets/images/weixin-logo.png" alt="微信图标">
                        </ion-thumbnail>
                    </div>
                </ion-item>
            </ng-container>
        </form>
    </ion-list>
</div>
<app-slidvalidate-com *ngIf="isShowImageCode" (slideEvent)='onSlideEvent($event)'></app-slidvalidate-com>
<!-- <div class='shade' *ngIf='isLogining'></div>
<div  *ngIf='isLogining' class='login-loading isloading'>正在登录,请稍候</div> -->