ion-row {
  padding: 0 0.5em;
}

ion-col {
  ion-chip {
    width: 100%;
    justify-content: center;
    border-radius: 0.5em;
  }
}

ion-list-header {
  // --background: var(--ion-color-primary);
  // --background:#fff;
  font: inherit;
}

:host {
  padding-top: 1em;
}

ion-title {
  font: inherit;
  color: var(--ion-text-color);
}

.ion-padding-horizontal {
  margin-bottom: 20px;
}
