.hot {
    font-size: 0.7rem;
}

form {
    ion-searchbar {
        margin: 0;
        padding: 0 1em 0 0;
    }
}

.check-city {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
    height: 54px;
    background-color: #bdc7d2;
    justify-content: space-between;
}

.sea-history {
    display: flex;
    justify-content: space-between;
}

.btn_del {
    border: none;
    background-color: white;
    color: #7d5d5d;
}

ion-button {
    height: 40px;
}

.ion-color.sc-ion-label-ios-h {
    color: var(--ion-color-base);
    color: #433a3a;
    font-size: 11px;
    margin-left: -8px;
}

.container {
    display: flex;
    width: 100%;
    line-height: 35px;
}

.con-left {
    width: 90%;
    flex: 1;
    margin: 0px 14px 0px 10px;
    display: flex;
}

.con-right {
    width: 10%;
    margin-top: -2px;
    font-family: serif;
    font-size: 15px;
}

.icon-label {
    height: 22px;
    background: #abceff;
    margin-left: 6px;
}