<div class='wrapper'>
    <ion-list *ngFor='let tab of hotelQuery?.starAndPrices'>
        <ng-container *ngIf='!tab.tag?.includes("custome")'>
            <ion-item-divider class='title'>{{tab?.label}}
                <ion-button slot='end' fill='clear' (click)='resetItems(tab)' color='secondary' size='small'>{{langOpt.any}}</ion-button>
            </ion-item-divider>
            <ion-item>
                <div class="items">
                    <ul>
                        <li *ngFor='let item of tab.items' [class.active]='item.isSelected' class="item" (click)='onItemClick(item,tab)'>
                            <span class="text">
                                {{item.label}}
                            </span>
                        </li>
                    </ul>
                </div>
            </ion-item>
        </ng-container>
    </ion-list>
    <ion-list>
        <ion-item-divider  class='title'>{{langOpt.Cuspri}}
            <div class='custome-price'>
                <span>￥{{value?.lower}}</span>
                <span>￥{{value?.upper>=1000?"1000+":value?.upper}}</span>
            </div>
            <ion-button (click)='onResetCustomePrice()' size='small' fill='clear' color='secondary'>{{langOpt.any}}</ion-button>
        </ion-item-divider>
        <ion-item>
            <ion-range (ionChange)='onPriceRangeChange($event)' min="0" pin="true" dualKnobs="true" max="1001" step="100" snaps="true" ticks="false" color="secondary">
            </ion-range>
        </ion-item>
    </ion-list>
</div>
<ion-list>
    <ion-row>
        <ion-col size='3'>
            <ion-button expand='block' (click)='onReset()'>{{langOpt.Reset}}</ion-button>
        </ion-col>
        <ion-col size='9'>
            <ion-button expand='block' (click)='onFilter()' color='secondary'>{{langOpt.determine}}</ion-button>
        </ion-col>
    </ion-row>
</ion-list>