@import "../flight-list/flight-list.page.scss";
.flight.recomend {
    app-flight-segment-item {
      width: 100%;
    }
    li {
      // background-color: var(--ion-color-primary);
      position: relative;
      margin: 0.5em;
      border-radius: 0.3em;
      ion-button {
        position: absolute;
        right: 0.5em;
        bottom: 0.5em;
        top:6em;
      }
    }
  }