<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-text>{{getMothDay()}}</ion-text>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-toolbar text-center>
    <ion-label no-margin no-padding>
      <strong>{{vmFlightSegment?.FromCityName}} 到 {{vmFlightSegment?.ToCityName}}</strong>
    </ion-label>
    <ion-item lines='none'>
      <app-fly-list-item [flightSegment]='vmFlightSegment' [showDetails]='true'></app-fly-list-item>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar style='font-size: .6rem;padding:0 1em;'>
    <div>
      过滤差标：
    </div>
    <ion-label color='success' margin-start>
      绿色代表符合差标
    </ion-label>
    <div>
      <ion-label margin-start color='warning'>
        黄色代表违规可以预订
      </ion-label>
    </div>
    <ion-label color='danger' margin-start>
      红色代表违规不可预订
    </ion-label>
  </ion-toolbar>
  <ion-list margin-top *ngIf='!loading else fakeList'>
    <ion-item *ngFor='let cabin of vmCabins'>
      <div class='cabin-item'>
        <ion-row margin-top>
          <ion-col size='8'>
            <ion-label (click)='openrules(cabin)'>
              <h3 class='discount'>
                <ion-text color='dark'>{{cabin?.Cabin?.Type|cabintype}}</ion-text>
                <ion-text color='dark'>{{cabin?.Cabin?.Discount|discount}}
                </ion-text>
              </h3>
              <h3>
                <ion-text color='secondary'>退改签政策详情&nbsp;> </ion-text>
              </h3>
              <h3>余票：{{cabin?.Cabin?.Count}}&nbsp;张</h3>
            </ion-label>
          </ion-col>
          <ion-col size='4'>
            <ion-label>
              <h3 text-end class='book'>
                <ion-text color='danger'>￥{{cabin?.Cabin?.SalesPrice}}</ion-text>
                <ion-button [color]='bookColor(cabin)' margin-top expand='block' [disabled]='!cabin?.IsAllowBook'
                  (click)='onBookTicket(cabin)'>
                  <ion-text [color]='bookColor(cabin)=="primary"?"dark":"light"'>预定</ion-text>
                </ion-button>
              </h3>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ng-container *ngIf='cabin?.Rules'>
              <ion-label *ngFor='let r of cabin.Rules' color='danger' text-wrap class='rule'>{{r}}</ion-label>
            </ng-container>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>
  <ng-template #fakeList>
    <ion-list>
      <ion-item *ngFor='let cabin of [1,2,3]'>
        <div class='cabin-item'>
          <ion-row margin-top>
            <ion-col size='8'>
              <ion-label>
                <h3 class='discount'>
                  <ion-skeleton-text style="width: 25%"></ion-skeleton-text>
                  <ion-skeleton-text style="width: 45%"></ion-skeleton-text>
                </h3>
                <h3>
                  <ion-skeleton-text style="width: 650%" animated></ion-skeleton-text>
                </h3>
                <h3>
                  <ion-skeleton-text style="width: 40%"></ion-skeleton-text>
                </h3>
              </ion-label>
            </ion-col>
            <ion-col size='4'>
              <ion-label>
                <h3 text-end class='book'>
                  <ion-skeleton-text style="width: 60%"></ion-skeleton-text>
                </h3>
                <ion-skeleton-text animated style="width: 90%;height: 1.5em;--border-radius: 4px;"></ion-skeleton-text>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 65%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>