<ion-header class="con-header">
  <ion-toolbar class="con-toolbar" style="--border-width: 0">
    <ion-buttons slot="start">
      <app-back-button defaultHref="" color="light"></app-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
  <div class="conter">
    <div><img src="assets/images/success.png" alt=""></div>
    <div class="status">{{selectedOrderFlightTicket?.StatusName}}</div>
  </div>
</ion-header>
<ion-content style="z-index: 100;">
  <ng-container *ngIf='orderDetail&&orderDetail.Order else nomoredata'>
    <div class="tabs" *ngIf='orderFlightTicketsTabs?.length' #tabsEl>
      <div class="tab" #tabEl (click)='onSelectTicket(t,tabsEl,tabEl)' [ngClass]='{
        active:t.Id==selectedOrderFlightTicket?.Id,
        hasMore:orderFlightTicketsTabs.length>1}' *ngFor='let t of orderFlightTicketsTabs;let idx=index;'>
        {{t?.VariablesJsonObj?.OriginalTicketId?"原始航班"+(t.Id):t.Id}}
      </div>
    </div>
    <ng-container *ngIf="selectedOrderFlightTicket">
      <!-- 订单信息 -->
      <div class="order-flight-ticket-info">
        <ng-container>
          <div class="ion-item-divider n-b">
            <img src="assets/images/1.png" alt="" /> 航班信息
          </div>
          <div
            class="ion-trip"
            *ngFor="let trip of selectedOrderFlightTicket.OrderFlightTrips;"
          >
            <div>
              <span> {{trip.FromCityName}}—{{trip?.ToCityName}} </span>
              <span>{{trip?.TakeoffTime?.substr(0,10)}}</span>
              <span
                >&nbsp;{{getWeekName(trip?.TakeoffTime?.substr(0,10))}}</span
              >
            </div>
          </div>
          <div
            class="container"
            *ngFor="let trip of selectedOrderFlightTicket.OrderFlightTrips;"
          >
            <div class="con_down">
              <div class="time">
                {{trip?.TakeoffTime?.replace("T"," ")?.substring(11,16)}}
              </div>
              <div class="small">
                {{trip.IsStop||trip.StopCities ? "经停" : "直飞"}}
              </div>
              <div class="time">
                {{trip?.ArrivalTime?.replace("T"," ")?.substring(11,16)}}
              </div>
            </div>
            <div class="con_conter">
              <div class="line">
                <div class="xian"></div>
              </div>
            </div>
            <div class="con_up">
              <div class="fly">
                {{trip?.FromAirportName}}{{trip?.FromTerminal}}
              </div>
              <div class="small">{{trip.FlightNumber}}</div>
              <div class="fly">{{trip?.ToAirportName}}{{trip?.ToTerminal}}</div>
            </div>
          </div>
          <ng-container
            *ngFor="let trip of selectedOrderFlightTicket.OrderFlightTrips;"
          >
            <ion-row>
              <ion-col>
                <div style="display: flex">
                  {{trip.FlightNumber}}
                  <span *ngIf="trip.CodeShareNumber">
                    <ion-text style="color: gainsboro"> | </ion-text>
                    <ion-text style="font-size: 0.8rem"
                      >共享 {{trip?.CodeShareNumber}}</ion-text
                    >
                  </span>
                  <span *ngIf="trip.PlaneType">
                    <ion-text style="color: gainsboro"> | </ion-text>
                    <ion-text style="font-size: 0.8rem"
                      >机型 {{trip.PlaneType}}</ion-text
                    >
                  </span>
                  <div>
                    {{trip.CabinType}}
                    <span>
                      <ion-text style="color: gainsboro"> | </ion-text>
                      <ion-text style="font-size: 0.8rem"
                        >{{trip.IsStop||trip.StopCities ? "经停" :
                        "直飞"}}</ion-text
                      >
                    </span>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="selectedOrderFlightTicket.FullTicketNo">
              <ion-col size="2.5"> 票号 </ion-col>
              <ion-col> {{selectedOrderFlightTicket.FullTicketNo}} </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2.5"> 机票状态 </ion-col>
              <ion-col>
                <ion-text> {{selectedOrderFlightTicket?.StatusName}} </ion-text>
                <ion-text
                  color="danger"
                  *ngIf="tikect2Insurance[selectedOrderFlightTicket.Key]?.length>0"
                  >(含保险)</ion-text
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2.5" *ngIf="selectedOrderFlightTicket.Explain">
                退改签政策
              </ion-col>
              <ion-col>
                <p
                  style="margin-top: 0px"
                  class="clip-text ion-no-margin"
                  (click)="isShowDetail(selectedOrderFlightTicket,$event)"
                  [class.show]='selectedOrderFlightTicket["isShowExplain"]'
                >
                  {{selectedOrderFlightTicket.Explain?.split("\\n").join("")}}
                </p>
              </ion-col>
            </ion-row>
          </ng-container>
        </ng-container>
        <div class="getHeight">
          <ng-container
            *ngIf="tikect2Insurance[selectedOrderFlightTicket.Key] as orderInsurances"
          >
            <div *ngFor="let orderInsurance of orderInsurances">
              <div class="ion-item-divider" *ngIf="orderInsurance.StatusName">
                保险信息
              </div>
              <ion-row>
                <ion-col size="2.5"> 行程 </ion-col>
                <ion-col>
                  {{orderInsurance?.VariablesJsonObj?.trip?.TakeoffTime?.substr(0,10)}}
                  {{orderInsurance?.VariablesJsonObj?.trip?.FromCityName}}—{{orderInsurance?.VariablesJsonObj?.trip?.ToCityName}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2.5"> 保单号 </ion-col>
                <ion-col *ngIf="orderInsurance.Id">
                  {{orderInsurance.Id}}
                </ion-col>
              </ion-row>
              <ion-row *ngIf="orderInsurance.StatusName">
                <ion-col size="2.5"> 保单状态 </ion-col>
                <ion-col> {{orderInsurance.StatusName}} </ion-col>
              </ion-row>
              <ion-row *ngIf="orderInsurance.Premium as p">
                <ion-col size="2.5">保费</ion-col>
                <ion-col>￥{{p}} </ion-col>
              </ion-row>
              <ion-row *ngIf="orderInsurance.Detail as detail">
                <ion-col>
                  <p
                    class="clip-text ion-no-margin"
                    (click)='orderInsurance["isShowDetail"]=!orderInsurance["isShowDetail"]'
                    [class.show]='orderInsurance["isShowDetail"]'
                  >
                    {{detail}}
                  </p>
                </ion-col>
              </ion-row>
            </div>
          </ng-container>
          <!-- <ion-row style="padding-left:0em;" *ngIf="tikectId2OriginalTickets&&tikectId2OriginalTickets[selectedOrderFlightTicket.Id]?.length>0">
            <ion-col class="ion-text-justify" color="secondary">
              <ion-button
                expand="full"
                color="secondary"
                (click)="onShowFlightTicket(selectedOrderFlightTicket,selectedOrderFlightTicket?.VariablesJsonObj?.OriginalTicketId,$event)"
              >
                原始航班信息{{selectedOrderFlightTicket?.VariablesJsonObj?.OriginalTicketId}}
                <ion-icon
                  name="chevron-down-outline"
                  *ngIf="selectedOrderFlightTicket.VariablesJsonObj.isShowOriginalTicket"
                >
                </ion-icon>
                <ion-icon
                  name="chevron-up-outline"
                  *ngIf="!selectedOrderFlightTicket.VariablesJsonObj.isShowOriginalTicket"
                >
                </ion-icon>
              </ion-button>
            </ion-col>
          </ion-row> -->
        </div>
        <!-- 旅客信息 -->
        <ng-container
          *ngIf="getTicketPassenger(selectedOrderFlightTicket) as p"
        >
          <div class="ion-item-divider">旅客信息</div>
          <ion-row>
            <ion-col size="2.5">旅客姓名</ion-col>
            <ion-col>
              {{p.Name}}
              <span *ngIf="p.PassengerTypeName">({{p.PassengerTypeName}})</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">证件号码</ion-col>
            <ion-col
              >{{p.HideCredentialsNumber}} {{p.CredentialsTypeName}}</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col size="2.5">联系电话</ion-col>
            <ion-col>{{p.Mobile}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">联系邮箱</ion-col>
            <ion-col>{{p.Email}}</ion-col>
          </ion-row>
          <ng-container
            *ngIf="getPassengerCostOrgInfo(selectedOrderFlightTicket) as info"
          >
            <ion-row>
              <ion-col size="2.5">成本中心</ion-col>
              <ion-col>
                {{info.CostCenterCode}}-{{info.CostCenterName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2.5">组织架构</ion-col>
              <ion-col
                >{{info.OrganizationCode}}-{{info.OrganizationName}}</ion-col
              >
            </ion-row>
            <ion-row>
              <ion-col size="2.5">费用类别</ion-col>
              <ion-col
                >{{selectedOrderFlightTicket.VariablesJsonObj?.ExpenseType}}</ion-col
              >
            </ion-row>
            <ion-row>
              <ion-col size="2.5">违规内容</ion-col>
              <ion-col *ngIf="info.IllegalPolicy"
                >{{info.IllegalPolicy}}</ion-col
              >
            </ion-row>
            <ion-row>
              <ion-col size="2.5">违规原因</ion-col>
              <ion-col *ngIf="info.IllegalReason"
                >{{info.IllegalReason}}</ion-col
              >
            </ion-row>
          </ng-container>
        </ng-container>
        <!-- 联系信息 -->
        <div class="ion-item-divider" *ngIf="orderDetail?.Order?.OrderLinkmans">
          联系人信息
        </div>
        <ng-container *ngFor="let man of orderDetail?.Order?.OrderLinkmans">
          <ion-row>
            <ion-col size="2.5">姓名</ion-col>
            <ion-col>{{man.Name}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">邮箱</ion-col>
            <ion-col>{{man.Email}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">电话</ion-col>
            <ion-col>{{man.Mobile}}</ion-col>
          </ion-row>
        </ng-container>

        <!-- <div class="getHeight ion-padding-bottom" *ngFor="let ticket of tikectId2OriginalTickets[selectedOrderFlightTicket.Id]">
          <ng-container *ngIf="ticket.isShowOriginalTicket" @flyInOut>
            <ion-row>
              <ion-col size="2.5"> 机票状态 </ion-col>
              <ion-col>
                <ion-text> {{ticket?.StatusName}} </ion-text>
                <ion-text
                  color="danger"
                  *ngIf="tikect2Insurance[ticket.Key]?.length>0"
                  >(含保险)</ion-text
                >
              </ion-col>
            </ion-row>
            <ion-row *ngIf="ticket.FullTicketNo">
              <ion-col size="2.5"> 票号 </ion-col>
              <ion-col> {{ticket.FullTicketNo}} </ion-col>
            </ion-row>
            <ng-container *ngFor="let trip of ticket.OrderFlightTrips;">
              <ion-row>
                <ion-col size="2.5"> 航班号 </ion-col>
                <ion-col>
                  <div>
                    {{trip.FlightNumber}}
                    <span *ngIf="trip.CodeShareNumber">
                      <ion-text style="color: gainsboro"> | </ion-text>
                      <ion-text style="font-size: 0.8rem"
                        >共享 {{trip?.CodeShareNumber}}</ion-text
                      >
                    </span>
                    <span *ngIf="trip.PlaneType">
                      <ion-text style="color: gainsboro"> | </ion-text>
                      <ion-text style="font-size: 0.8rem"
                        >机型 {{trip.PlaneType}}</ion-text
                      >
                    </span>
                    <div>
                      {{trip.CabinType}}
                      <span>
                        <ion-text style="color: gainsboro"> | </ion-text>
                        <ion-text style="font-size: 0.8rem"
                          >{{trip.IsStop||trip.StopCities ? "经停" :
                          "直飞"}}</ion-text
                        >
                      </span>
                    </div>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="2.5">起飞</ion-col>
                <ion-col>
                  <div>
                    <div>
                      {{trip?.TakeoffTime?.replace("T"," ")?.substring(0,19)}}
                    </div>
                    <div>
                      {{trip.FromCityName}}-{{trip?.FromAirportName}}({{trip?.FromAirport}}){{trip?.FromTerminal}}
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2.5">到达</ion-col>
                <ion-col>
                  <div>
                    {{trip?.ArrivalTime?.replace("T"," ")?.substring(0,19)}}
                  </div>
                  <div>
                    {{trip?.ToCityName}}-{{trip?.ToAirportName}}({{trip?.ToAirport}}){{trip?.ToTerminal}}
                  </div>
                </ion-col>
              </ion-row>
            </ng-container>
            <ng-container *ngIf="getPassengerCostOrgInfo(ticket) as info">
              <ion-row>
                <ion-col size="2.5">成本中心</ion-col>
                <ion-col>
                  {{info.CostCenterCode}}-{{info.CostCenterName}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2.5">组织架构</ion-col>
                <ion-col
                  >{{info.OrganizationCode}}-{{info.OrganizationName}}</ion-col
                >
              </ion-row>
              <ion-row *ngIf="ticket.VariablesJsonObj?.ExpenseType">
                <ion-col size="2.5">费用类别</ion-col>
                <ion-col>{{ticket.VariablesJsonObj.ExpenseType}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2.5">违规内容</ion-col>
                <ion-col *ngIf="info.IllegalPolicy"
                  >{{info.IllegalPolicy}}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="2.5">违规原因</ion-col>
                <ion-col *ngIf="info.IllegalReason"
                  >{{info.IllegalReason}}</ion-col
                >
              </ion-row>
            </ng-container>
            <ion-row>
              <ion-col *ngIf="ticket.Explain"> 退改签政策 </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p
                  style="margin-top: 0px"
                  class="clip-text ion-no-margin"
                  (click)="isShowDetail(ticket,$event)"
                  [class.show]='ticket["isShowExplain"]'
                >
                  {{ticket.Explain?.split("\\n").join("")}}
                </p>
              </ion-col>
            </ion-row>
            <ion-row style="padding-left:0em;" *ngIf="tikectId2OriginalTickets&&tikectId2OriginalTickets[ticket.Id]?.length>0">
              <ion-col class="ion-text-justify" color="secondary">
                <ion-button
                  expand="full"
                  color="secondary"
                  (click)="onShowFlightTicket(ticket,ticket.VariablesJsonObj.OriginalTicketId,$event)"
                >
                  原始航班信息{{ticket?.VariablesJsonObj?.OriginalTicketId}}
                  <ion-icon
                    name="chevron-down-outline"
                    *ngIf="ticket.VariablesJsonObj.isShowOriginalTicket"
                  >
                  </ion-icon>
                  <ion-icon
                    name="chevron-up-outline"
                    *ngIf="!ticket.VariablesJsonObj.isShowOriginalTicket"
                  >
                  </ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-container>
        </div> -->
        <div>
          <div class="ion-item-divider">订单信息</div>
          <div>
            <ion-row>
              <ion-col size="2.5">订单编号</ion-col>
              <ion-col>{{orderDetail.Order.Id}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2.5">订单状态</ion-col>
              <ion-col
                >{{orderDetail.Order.StatusName == "等待处理" ? "等待审批" :
                orderDetail.Order.StatusName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2.5">付款方式</ion-col>
              <ion-col
                >{{orderDetail.TravelType}}-{{orderDetail.TravelPayType}}</ion-col
              >
            </ion-row>
            <ion-row>
              <ion-col size="2.5">完成时间</ion-col>
              <ion-col>{{orderDetail.Order.InsertDateTime}}</ion-col>
            </ion-row>
            <ion-row
              (click)="showPricePopover()"
              *ngIf='orderDetail.Order?.Type=="Flight"'
            >
              <ion-col size="2.5">应付金额</ion-col>
              <ion-col>
                <div>
                  <ion-text color="danger"
                    >￥{{orderDetail.Order.TotalAmount}}
                  </ion-text>
                  <ion-text *ngIf="orderDetail.insuranceAmount" color="danger"
                    >(含保险{{orderDetail.insuranceAmount}})</ion-text
                  >
                  <ion-text color="secondary" style="font-size: 0.7rem"
                    >应付明细</ion-text
                  >
                </div>
              </ion-col>
            </ion-row>
            <ng-container>
              <ng-container *ngIf="tmc?.IsShowServiceFee">
                <ion-row
                  *ngFor="let orderHotel of orderDetail.Order.OrderHotels"
                >
                  <ion-col size="2.5">
                    <ng-container
                      *ngIf="orderDetail.Order.OrderHotels.length>1"
                    >
                      <strong *ngIf="orderHotel.HotelName as n">
                        {{n.length>10?n.substr(0,10)+"...":n}}
                      </strong>
                    </ng-container>
                    服务费:
                  </ion-col>
                  <ion-col>{{getHotelServiceFee(orderHotel.Key)}} </ion-col>
                </ion-row>
              </ng-container>
            </ng-container>
            <ion-row>
              <ion-col size="2.5" *ngIf="orderDetail?.Order?.OrderNumbers"
                >外部编号</ion-col
              >
              <ion-col>
                <div *ngFor="let n of orderDetail?.Order?.OrderNumbers">
                  <span *ngIf='n.Tag=="TmcOutNumber"'
                    >{{n.Name}}:{{n.Number}}</span
                  >
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div>
            <div
              class="ion-item-divider"
              *ngIf="orderDetail.Histories?.length>0"
            >
              审批记录
            </div>
          </div>
          <div>
            <div *ngFor="let history of orderDetail.Histories">
              <div class="approval-info">
                <ion-row class="ion-padding-top">
                  <ion-col size="2.5">审批类型:</ion-col>
                  <ion-col>{{getVariableObj(history,"TypeName")}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="2.5">审批人:</ion-col>
                  <ion-col
                    >{{history.Account?.RealName}}
                    <span *ngIf="history.StatusName"
                      >({{history.StatusName}})</span
                    ></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col size="2.5">发起时间:</ion-col>
                  <ion-col>{{history?.InsertDateTime}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="2.5">截止时间:</ion-col>
                  <ion-col
                    >{{history?.ExpiredTime?.startsWith("1800")?"":history?.ExpiredTime}}</ion-col
                  >
                </ion-row>
                <ion-row
                  *ngIf="history.Status==TaskStatusType.Passed||history.Status==TaskStatusType.Rejected"
                >
                  <ion-col size="2.5">审批时间:</ion-col>
                  <ion-col>
                    {{history?.UpdateTime?.startsWith("0001")?"":history?.UpdateTime.replace("T","
                    ")?.substring(0,16)}}
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #nomoredata>
    <span *ngIf="isLoading"> 正在获取订单详情... </span>
    <app-or-comp *ngIf="!isLoading">暂无数据</app-or-comp>
  </ng-template>
</ion-content>
