.container {
    display: grid;
    height: 200px;
    justify-items: center;
    align-items: center;
    background: #fff;
    .down {
        width: 100%;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        .success {
            color: #16b04b;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }
        .active {
            font-size: 10px;
        }
    }
}

.up div img {
    width: 79.5px;
}

.hotel-item {
    // display: flex;
    background: #fff;
    margin: 12px;
    .boutique {
        font-size: 18px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
        padding: 20px;
    }
    .list {
        display: flex;
        padding: 10px;
    }
    img {
        margin-right: 0.7em;
        border-radius: 10px;
        min-width: 100px;
        height: 100px;
    }
    .right-side {
        display: grid;
        width: 100%;
    }
    .name {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #333333;
    }
    .score {
        display: flex;
    }
    .label {
        color: #eb445a;
        min-width: 3em;
        font-size: 13px;
    }
    .grade-stars {
        display: flex;
        justify-content: space-between;
        .grade {
            font-size: 12px;
            margin: 1px 6px;
        }
    }
    .price {
        display: flex;
        align-items: center;
        color: red;
        margin-right: 15px;
    }
    .ion-text-wrap {
        display: flex;
        font-size: 10px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #333333;
    }
}

.integral {
    width: 100%;
    height: 100px;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    .img {
        background-image: url(/assets/images/bg-layer.png);
        width: 375px;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        .inside {
            background: #fff;
            height: 64px;
            width: 326px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .right {
                font-size: 20px;
                color: red;
                span {
                    font-size: 14px;
                    color: #333;
                }
            }
        }
    }
}