ion-content {
    ion-item ion-label:last-child {
        text-align: end;
        color: var(--ion-color-medium);
    }
    // ion-list {
    //   margin: 1em 0;
    // }
    img {
        max-width: 55%;
        border-radius: 50%;
        border: 0;
        max-height: 55%;
        margin: 11px 17px;
    }
    ion-item:not(.top-panal) {
        line-height: 2.1em;
        color: #675656;
        font-size: inherit;
        &.md {
            padding: 0;
        }
    }
}