<div *ngFor='let trip of trips'>
  <ion-item-divider (click)='isShow=!isShow'>
    原始航班 <ion-icon name="arrow-dropdown" size='small' mode='md' *ngIf='isShow'></ion-icon>
    <ion-icon name="arrow-dropright" size='small' mode='md' *ngIf='!isShow'></ion-icon>
  </ion-item-divider>
  <ion-grid [class.show]='isShow'>
    <ion-row text-nowrap>
      <ion-col>出票时间:{{getIssueTime()}}</ion-col>
      <ion-col text-end>{{ticket?.StatusName}}</ion-col>
    </ion-row>
    <ion-row text-nowrap>
      <ion-col>航班信息:</ion-col>
      <ion-col>{{getDate(trip?.TakeoffTime)}}
      </ion-col>
      <ion-col>
        <ion-button no-margin no-padding style='font-size: 0.7rem;' size='small' color='secondary' fill='clear'
          (click)='openRulesPopover(trip)'>
          退改签规定</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="justify-content: flex-start">
        <span>{{trip?.CarrierName}}{{trip?.FlightNumber}}</span>
        <span *ngIf='trip?.CodeShareNumber'>(实际承运&nbsp;{{trip?.CarrierName}}{{trip?.CodeShareNumber}})</span>
        <span>{{getHHmm(trip?.TakeoffTime)}}&nbsp;~&nbsp; {{getHHmm(trip?.ArrivalTime)}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style='justify-content: flex-start;'>
        <span>{{trip?.CabinType|cabintype}}&nbsp;{{trip?.ShowCabinCode}}舱</span>
        <span *ngIf='trip?.Discount'>({{trip?.Discount|discount}})</span>
        <div class='is-stop'>
          <div *ngIf='trip?.IsStop'>------经停------</div>
          <div *ngIf='!trip?.IsStop'>------直飞------</div>
        </div>
        <ng-container *ngIf='trip?.PlaneType'>
          <span>机型</span>
          <span>---</span>
          <span>{{trip?.PlaneType}}</span>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        机票费用：{{trip?.TicketPrice+trip?.Tax}}元。(其中机票款{{trip?.TicketPrice}}元，税收{{trip?.Tax}}元)
      </ion-col>
    </ion-row>
  </ion-grid>
</div>