ion-col {
  align-self: center;
  display: flex;
  align-items: center;
}
ion-grid {
  font-size: 0.8rem;
  display: none;
  &.show {
    display: initial;
  }
}
ion-item-divider {
  color: var(--ion-color-secondary);
  ion-icon {
    color: var(--ion-color-secondary);
  }
}
