ion-input.travel-number {
  font-size: 0.9rem;
  height: 35px;
}
ion-input {
  // text-align: end;
}
ion-label{
  flex: initial;
  font-size: 14px;
  color: #666;
  padding-right: 44px;
}
ion-icon {
  font-size: 1rem;
  margin-right: 0.2em;
  margin-left: -0.5em;
}
.div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.loading {
  opacity: 0.4;
  font-size: 0.8rem;
}

ion-item{
  --min-height: 35px;
}
