ion-input.travel-number {
  font-size: 0.9rem;
}
ion-input {
  // text-align: end;
}
ion-label{
  flex: initial;       
  min-width: 6.6em;
  padding-left: 16px;
  pointer-events: none;
  font-size: 12px;
}
ion-icon {
  font-size: 1rem;
  margin-right: 0.2em;
  margin-left: -0.5em;
}
.div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.loading {
  opacity: 0.4;
  font-size: 0.8rem;
}
