ion-input.travel-number {
  font-size: 0.9rem;
}
ion-input {
  text-align: end;
}
ion-icon {
  font-size: 1rem;
  margin-right: 0.2em;
  margin-left: -0.5em;
}
.div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
