<ng-container *ngIf='tmcOutNumberInfos?.length' >
  <ion-item>
    <ion-text [color]='isExchange?"medium":"dark"'><strong>外部编号:</strong></ion-text>
  </ion-item>
  <ion-item *ngFor='let n of tmcOutNumberInfos' (click)='onSelectTravelNumber(n)'
    [disabled]='n.isDisabled||isExchange||!isShowGroupedInfo'>
    <ion-label>{{n.label}}:</ion-label>
    <ion-input class='travel-number' (ionChange)='onChange(n)' [disabled]='n.isDisabled||isExchange||!isShowGroupedInfo'
      [value]='n.value' [(ngModel)]='n.value'
      placeholder="{{n.isLoadingNumber?'正在加载行程单号':(n.loadTravelUrlErrorMsg||'暂无数据')}}">
    </ion-input>
    <ion-icon name='caret-down-outline' color='secondary' *ngIf='n.canSelect&&!isExchange&&isShowGroupedInfo'></ion-icon>
  </ion-item>
</ng-container>