<!-- <ion-header>
  <ion-title class='ion-text-center' color='secondary'>退改签规定</ion-title>
</ion-header> -->
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class='ion-text-wrap'>
        <ion-text color='secondary'>退票规则：</ion-text>{{ticketRefundText}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='ion-text-wrap'>
        <ion-text color='secondary'>改期规则：</ion-text>{{ticketChangingText}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class='ion-text-wrap'>
        <ion-text color='secondary'>转签规则：</ion-text>
        {{ticketEndorsementText}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>