<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>填写验证码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5 text-center>
    <ion-note
      >我们已经发送了<ion-text color="primary">验证码</ion-text
      >到你的手机:</ion-note
    >
  </h5>
  <h3 text-center>{{ mobile }}</h3>
  <ion-item>
    <ion-label>验证码</ion-label>
    <ion-input
      placeholder="请输入验证码"
      [(ngModel)]="smsCode"
      name="smsCode"
    ></ion-input>
  </ion-item>
  <h6 text-center>
    <ion-note
      color="primary"
      *ngIf="downCount > 0"
      (click)="unreceiveSmsCode()"
      >接收短信大约需要{{ downCount }}秒钟</ion-note
    >
    <ion-note color="primary" *ngIf="downCount<=0" (click)="unreceiveSmsCode()"
      >收不到验证码？</ion-note
    >
  </h6>
  <ion-button expand="block" color="primary" [disabled]="!smsCode" (click)='nextStep()'
    >下一步</ion-button
  >
</ion-content>
