<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>

      <app-back-button defaultHref='' [backFn]='back.bind(this)'></app-back-button>
    </ion-buttons>
    <ion-title>{{title||"订单查询条件"}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>旅客姓名</ion-label>
      <ion-input type='text' placeholder='旅客姓名' [(ngModel)]='condition.passengerName'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>开始日期</ion-label>
      <ion-input type='date' placeholder='开始日期' [(ngModel)]='condition.vmFromDate' value='{{condition.vmFromDate}}'>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>结束日期</ion-label>
      <ion-input type='date' placeholder='结束日期' [(ngModel)]='condition.vmToDate' value="{{condition.vmToDate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>订单编号</ion-label>
      <ion-input type='text' placeholder='订单编号' [(ngModel)]='condition.orderNumber'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>订单状态</ion-label>
      <ion-select value="" okText="确定" cancelText="取消" [(ngModel)]='condition.orderStatus'>
        <ion-select-option [value]="item.value" *ngFor='let item of orderStatus'>{{item.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>出发城市</ion-label>
      <ion-input type='text' placeholder='出发城市' [(ngModel)]='condition.fromCityName'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>到达城市</ion-label>
      <ion-input type='text' placeholder='到达城市' [(ngModel)]='condition.toCityName'></ion-input>
    </ion-item>
  </ion-list>
  <ion-button class='ion-margin-start ion-margin-end' (click)='search()' color='secondary' expand='block'>搜索</ion-button>
</ion-content>