form {
  background: transparent;
  display: flex;
  align-items: center;
  margin: 0 0.5em;
  ion-searchbar {
    padding: 0;
    margin: 0;
  }
}
ion-header {
  ion-toolbar {
    display: flex;
    align-items: center;
  }
}
