.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  iframe {
    background-color: var(--ion-color-light);
    border: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.detail {
  text-indent: 2em;
  background-color: var(--ion-color-light);
}
// ion-content {
//   --background:  var(--ion-color-light);;
// }
ion-fab {
  top: 0;
  ion-fab-button {
    --background: rgba(var(--ion-color-dark-rgb), 0.25);
  }
}

ion-header.ion-hide {
  display: none;
}
a {
  display: block;
  height: 100%;
  width: 100%;
}
