.hotel {
  width: 100%;
  .name {
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
  }
  .room-info {
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;

    span {
      margin-right: 0.5em;
    }
  }
  .date {
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.passenger-info {
  margin-top: 1em;
  .info {
    width: 100%;
  }
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  font-size: 12px;
  .tmc-name {
    font-size: 8px;
  }
  .name {
    display: flex;
    align-items: center;
    ion-icon {
      margin-left: auto;
    }
  }
  .flex {
    display: flex;
    align-items: center;
  }
}
.sm-font {
  font-size: 10px;
}
