.spacebetween {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: var(--ion-color-dark);
}

.fee {
  background-color: var(--ion-color-primary);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 0.9rem;
  box-shadow: 0.1em 0.2em 0.6em rgba(0, 0, 0, 0.1);
}

.transfrom {
  transform: translate(0, 100%);
  position: fixed;
  transition: all ease-in-out 200ms;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  max-width: 100%;
  width: 100%;
  &.show {
    z-index: 1;
    opacity: 1;
    transform: translate(0, -44px);
  }
  .wrapper {
    display: flex;
    width: 100%;
    // max-width: 100%;
    overflow: scroll;
  }
}

.zz {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: var(--ion-color-dark);
}
.hotel {
  .padding-v {
    padding: 0.25em 0;
  }
  width: 100%;
  .name {
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #333333;
  }

  .room-info {
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;

    span {
      margin-right: 0.5em;
    }
  }
  .date {
    padding: 0.8rem 0;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    display: flex;
    align-items: center;
    .totals {
      font-size: 9px;
      color: #ea394b;
    }
  }
  .arrival-time,
  .flex .label {
    @extend .name;
    width: initial;
  }
}
.editicon {
  width: 14px;
  margin-left: 1em;
}
.cname {
  font-size: 15px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  align-self: flex-start;
}
.flex .label.cname {
  width: initial;
  margin-right: 0.78125em;
}
.cnumber {
  font-size: 10px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}
.font {
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  font-size: 12px;
}
ion-list .info {
  width: 100%;
  padding: 0.5em 1em;
  @extend .font;
}
.section {
  margin-top: 1em;
}
.flex {
  display: flex;
  align-items: center;
  .label {
    width: 70px;
  }
  ion-input {
    --padding-top: 0;
    --padding-bottom: 0;
  }
}
.padding-v {
  padding: 1em 0;
}
.flex-justify {
  justify-content: space-between;
}
.sm-font {
  font-size: 10px;
}
.title {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ion-icon[name='caret-down-outline']{
  font-size: 0.9rem;
}
.passenger-info {
  margin-top: 1em;
  .costcenter {
    ion-icon {
      margin-left: auto;
    }
  }
  .flex.mobiles.multi .label {
    align-self: flex-start;
  }
  .flex.emails.multi .label {
    align-self: flex-start;
  }
  .flex.emails,
  .flex.mobiles {
    .item {
      display: flex;
      align-items: center;
      span {
        margin-left: 0.2em;
      }
      ion-checkbox {
        width: 1.3em;
        height: 1.3em;
        margin: 0;
      }
    }
  }
  .tmc-name {
    font-size: 8px;
  }
  .name {
    display: flex;
    align-items: center;
    ion-icon {
      margin-left: auto;
    }
  }
}
.outnumbers {
  margin: 0 -1.6em;
  padding: 0 0.5em 0 0;
}
.freebook-price {
  padding: 0.5em;
  .price {
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 500;
    color: var(--ion-color-danger);
  }
  .detail {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
  }
}
.m-left {
  margin-left: 8px;
}
.rules {
  font-size: 8px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  padding: 14.5px 0;
}
.b-top {
  border-top: 1px solid #5d5d5d2e;
}
.line {
  width: 340px;
  height: 1px;
  background: #eee;
}
ion-list {
  background: #ffffff;
  border-radius: 10px;
}
ion-content.ion-padding {
  padding: 0.8rem;
}
.orderpaytypes ion-item ion-label {
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}
ion-footer {
  height: 49px;
  &.freebook {
    height: 60px;
  }
  background: #ffffff;
  .price-detail {
    display: flex;
    align-items: center;
    padding: 0.5em;
    .submit-btn {
      width: 150px;
      height: 32px;
      background: #5099fe;
      border-radius: 5px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: 0.5em;
    }
    .detail {
      font-size: 8px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
      margin-left: 1em;
    }
    .total {
      font-size: 12px;
      color: red;
    }
    .price {
      font-size: 18px;
    }
  }
  &.freebook .freebook-price {
    padding: 0.5em;
    margin-top: -1.2em;
  }
}
