<div style="width: 100%">
  <ion-card>
    <div class="hotel-name">
      酒店名称：<strong>{{bookInfo?.bookInfo?.hotelEntity?.Name}}</strong>
    </div>
    <ion-card-content>
      <div class='date' (click)='onChangeDate()'>
        <span>{{getDate(bookInfo?.bookInfo?.roomPlan?.BeginDate)}}</span>
        <span>{{getDayDesc(bookInfo?.bookInfo?.roomPlan?.BeginDate)}}</span>
        <ion-chip color='secondary'>{{calcNights()}}晚</ion-chip>
        <span>{{getDate(bookInfo?.bookInfo?.roomPlan?.EndDate)}}</span>
        <span>{{getDayDesc(bookInfo?.bookInfo?.roomPlan?.EndDate)}}</span>
        <ion-button fill='clear' size='small' color='secondary' *ngIf='!disabledEdit'>修改</ion-button>
      </div>
      <div class='price-detail'>
        <span>
          {{bookInfo?.bookInfo?.roomPlan?.Name}}
        </span>
        <ion-label class='price' *ngIf='bookInfo?.bookInfo?.roomPlan?.TotalAmount as m' text-end color='danger'>
          共<small>￥</small>{{m}}<ion-text color='secondary' (click)='onShowPriceDetail()'>
            明细
          </ion-text>
        </ion-label>
      </div>
      <div class="dashed-line"></div>
      <div (click)='onShowRoomDetail()'>
        <div><strong>{{bookInfo?.bookInfo?.hotelRoom?.Name}}</strong></div>
        <div class='desc'>
          <ul>
            <ng-container *ngFor='let it of items;let last=last;'>
              <li>{{it}} </li>
              <span *ngIf='!last'>|</span>
            </ng-container>
          </ul>
          <ion-button slot='end' fill='clear' color='secondary' *ngIf='!disabledEdit'>房型详情</ion-button>
        </div>
      </div>
      <ion-item no-margin no-padding *ngIf='getRules(bookInfo?.bookInfo?.roomPlan) as rules' lines='none'>
        <ion-label color='danger' text-wrap>超标：{{rules}}</ion-label>
      </ion-item>
      <ion-item no-margin no-padding *ngIf='disabledEdit' lines='none'>
        <ion-label style="font-weight: bold;">
          <div style='display: flex;align-items: center;'>
            到店时间 <ion-icon name="star" color='danger'></ion-icon>
          </div>
        </ion-label>
        <ion-select value="brown" okText="确定" [selectedText]='getHHmm(arrivalHotelDateTime)' cancelText="取消"
          (ionChange)='onIonChange()' [(ngModel)]='arrivalHotelDateTime'>
          <ion-select-option value="{{datetime}}" *ngFor='let datetime of arrivalDateTimes'>{{datetime}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item no-margin no-padding *ngIf='bookInfo?.bookInfo?.roomPlan.BookType != HotelBookType.Elong' lines='none'>
        <ion-label>
          床型需求（尽量安排）
        </ion-label>
        <ion-select value="brown" okText="确定" (ionChange)='onBedChange(bookInfo)' cancelText="取消" [(ngModel)]='bed'>
          <ion-select-option value="">请选择 </ion-select-option>
          <ion-select-option value="大床">大床 </ion-select-option> 
          <ion-select-option value="双床">双床 </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>