<div class='content' [class.show]='show'>
  <div class='check-in-out'>
    <div class='date' (click)='onOpenCalendar()'>
      <span>{{getDate(checkInDate)}}</span>
      <span >
        <ion-text color='medium'>({{getDayDesc(checkInDate)}})</ion-text><strong>入住</strong>
      </span>
    </div>
    <div class="btns">
      <div class='start' [class.disabled]='!isDateEnabled()' (click)='onAddCheckInDays(-1,$event)'>
        前一天
      </div>
      <div class='end' (click)='onAddCheckInDays(1,$event)'>
        后一天
      </div>
    </div>
  </div>
  <div class='line'></div>
  <div class='check-in-out'>
    <div class='date'>
      <span>住{{calcNights()}}晚</span>
      <span>
        <ion-text color='medium'>{{getDate(checkOutDate)}}({{getDayDesc(checkOutDate)}})</ion-text><strong>离店</strong>
      </span>
    </div>
    <div class="btns">
      <div class='start icon' [class.disabled]='calcNights()==1'>
        <ion-icon name="remove-circle-outline" mode='ios' color='{{calcNights()==1?"medium":"secondary"}}'
          (click)='onAddCheckOutDays(-1,$event)'></ion-icon>
      </div>
      <div class='end icon'>
        <ion-icon name="add-circle-outline" mode='ios' color='secondary' (click)='onAddCheckOutDays(1,$event)'>
        </ion-icon>
      </div>
    </div>
  </div>
  <ion-button expand='block' color='secondary' (click)='onConfirm()'>确定</ion-button>
</div>