ion-item-divider {
  border-left: 4px solid var(--ion-color-secondary);
  position: sticky;
  top: 0;
}
ion-list ion-item {
  font-size: 0.8rem;
}
.passenger-info {
  ion-row ion-col:first-child {
    align-self: flex-start;
  }
}
ion-list.link-has-items {
  min-height: 80vh;
}
ion-list + ion-list {
  margin-top: 0.5em;
}
ion-list ion-item ion-row + ion-row {
  margin-top: 0.5em;
}
ion-col {
  &.arrow-forward {
    display: flex;
    align-items: center;
    ion-icon {
      color: rgba(var(--ion-color-dark-rgb), 0.3);
      margin-left: auto;
    }
  }
  align-self: center;
}
.infos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  .info {
    margin: 0 1em;
    color: var(--ion-color-dark);
    &.active {
      color: var(--ion-color-secondary);
      border-bottom: 2px solid var(--ion-color-secondary);
    }
  }
}
.approval-info {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
ion-list-header {
  // justify-content: center;
  color: var(--ion-color-secondary);
  // border-bottom: 1px dashed var(--ion-color-secondary);
}
.customer ion-row ion-col {
  &:last-child {
    color: var(--ion-color-medium);
  }
}
