<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar debounce="300" [(ngModel)]='keyword' animated (ionChange)='onIonChange()'></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh(true)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf='!loading else loadingTemp'>
    <ng-container *ngIf='viewModelItems.length else nodata'>
      <ion-item *ngFor='let item of viewModelItems;' (click)='onItemClick(item)' detail>
        {{item?.Name}}--<ion-text>{{item?.Code}}</ion-text>
      </ion-item>
    </ng-container>
    <ng-template #nodata>
      <app-or-comp>暂无数据</app-or-comp>
    </ng-template>
  </ion-list>
  <ng-template #loadingTemp>
    正在加载...
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="loadMore()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>