<div class="list">
  <div class="container">
    <div class="item">
      <div class="label">联系人</div>
      <div class="main">
        <ion-input placeholder="请输入联系人" [(ngModel)]="demandAirportModel.AirportName"></ion-input>
        <!-- <ion-text>高飞</ion-text> -->
      </div>
    </div>
    <div class="item">
      <div class="label">联系手机</div>
      <div class="main">
        <ion-input placeholder="请输入手机号" [(ngModel)]="demandAirportModel.LiaisonPhone"></ion-input>
      </div>
    </div>
    <div class="item">
      <div class="label">服务类型</div>
      <div class="main">
        <ion-select class="custom-options" value="休息室" cancelText="取消" okText="确定" [(ngModel)]="demandAirportModel.ServiceType">
          <ion-select-option value="休息室">休息室</ion-select-option>
          <ion-select-option value="礼宾车">礼宾车</ion-select-option>
          <ion-select-option value="要客通">要客通</ion-select-option>
          <ion-select-option value="代客泊车">代客泊车</ion-select-option>
          <ion-select-option value="预留登机牌">预留登机牌</ion-select-option>
          <ion-select-option value="登机口迎送">登机口迎送</ion-select-option>
          <ion-select-option value="行李托运">行李托运</ion-select-option>
          <ion-select-option value="物品快递服务">物品快递服务</ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="item">
      <div class="label">机场信息</div>
      <div class="main">
        <ion-input placeholder="请输入机场信息" [(ngModel)]="demandAirportModel.AirportName"></ion-input>
      </div>
    </div>
    <div class="item">
      <div class="label">城市</div>
      <div class="main">
        <ion-input placeholder="请输入城市" [(ngModel)]="demandAirportModel.City"></ion-input>
      </div>
    </div>
    <div class="item">
      <div class="label">需求时间</div>
      <div class="time">
        <ion-text (click)="onOpenDate()">{{demandAirportModel.DepartureDateDay}}</ion-text>
        <ion-text>{{demandAirportModel.DepartureDateHour}}</ion-text>
      </div>
    </div>
    <div class="item">
      <div class="label">航站楼</div>
      <div class="main">
        <ion-input placeholder="请输入城市" [(ngModel)]="demandAirportModel.Terminal"></ion-input>
        <!-- <ion-text>T2航站楼</ion-text> -->
      </div>
    </div>
    <div class="item">
      <div class="label" style="min-width: 5.8em;">人数</div>
      <div class="main">
        <ion-select class="custom-options" cancelText="取消" okText="确定" value="1" [(ngModel)]="demandAirportModel.NumberOfPeople">
          <ion-select-option value="1">1人</ion-select-option>
          <ion-select-option value="2">2人</ion-select-option>
          <ion-select-option value="3">3人</ion-select-option>
          <ion-select-option value="4">4人</ion-select-option>
          <ion-select-option value="5">5人</ion-select-option>
          <ion-select-option value="6">6人</ion-select-option>
          <ion-select-option value="7">7人</ion-select-option>
          <ion-select-option value="8">8人</ion-select-option>
          <ion-select-option value="9">9人</ion-select-option>
          <ion-select-option value="10">10人</ion-select-option>
          <ion-select-option value="more">更多人数</ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="item">
      <div class="label">备注</div>
      <div class="main">
        <ion-input size="2" placeholder="请输入备注" [(ngModel)]="demandAirportModel.Remarks"></ion-input>
      </div>
    </div>
  </div>
</div>

<div class="ion-footer">
  <div class="btn_container">
    <ion-button color="secondary" class="ion-top" (click)="onSubmit()">
      <ion-text>提 交</ion-text>
    </ion-button>
  </div>
</div>
