<ion-content>
  <ion-list class="list">
    <div class="container">
      <div class="item">
        <div class="label">联系人</div>
        <div class="main">
          <ion-text>高飞</ion-text>
        </div>
      </div>
      <div class="item">
        <div class="label">联系手机</div>
        <div class="main">
          <ion-input placeholder='请输入手机号'></ion-input>
        </div>
      </div>
      <div class="item">
        <div class="label">服务类型</div>
        <div class="main">
          <ion-text>休息室</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="item">
        <div class="label">机场信息</div>
        <div class="main">
          <ion-text>浦东</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="item">
        <div class="label">需求时间</div>
        <div class="time">
            <ion-text>12月20日</ion-text>
            <ion-text>12:30</ion-text>
        </div>
      </div>
      <div class="item">
        <div class="label">航站楼</div>
        <div class="main">
          <ion-text>T2航站楼</ion-text>
        </div>
      </div>
      <div class="item">
        <div class="label">人数</div>
        <div class="main">
          <ion-text>3人</ion-text>
        </div>
      </div>
      <div class="item">
        <div class="label">备注</div>
        <div class="main">
          <ion-input size='2' placeholder='请输入备注'></ion-input>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="btn_container">
    <ion-button color="secondary" class="ion-top">
      <ion-text>提 交</ion-text>
    </ion-button>
  </div>
</ion-footer>