<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text *ngIf='isShowSelectedInfos$ |async'>酒店查询</ion-text>
    <ion-title *ngIf='!(isShowSelectedInfos$ |async)'>酒店查询</ion-title>
    <ion-buttons class='small-font' slot='end'>
      <ion-button *ngIf='isShowSelectedInfos$ |async' fill='clear' color='secondary' size='small'
        (click)='onShowSelectedBookInfos()'>已选行程<ion-badge color='danger'>
          <ion-text color='light'>{{selectedPassengers$|async}}</ion-text>
        </ion-badge>
      </ion-button>
      <ion-button fill='clear' color='secondary' size='small' (click)='onSelectPassenger()' *ngIf='canAddPassengers'>
        添加乘客<ion-badge color='danger'>
          <ion-text color='light'>{{selectedPassengers$|async}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card padding>
    <ion-card-content>
      <ion-toolbar>
        <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
          <ion-segment-button value="normal" [checked]='activeTab=="normal"'>
            <ion-label>非协议酒店</ion-label>
          </ion-segment-button>
          <ion-segment-button value="agreement" [checked]='activeTab=="agreement"'>
            <ion-label>协议酒店</ion-label>
          </ion-segment-button>
          <ion-segment-button value="specialprice" [checked]='activeTab=="specialprice"'>
            <ion-label>特价酒店</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <div class='destination' lines='none' detail>
        <ion-label>目的地：</ion-label>
        <ion-label (click)='onSearchCity()'>{{curPos?.CityName}}</ion-label>
        <ion-button fill='clear' color='secondary' size='small' (click)='onPosition()' [disabled]='isPositioning'>
          <div class='pos' slot='end'>
            <ion-icon name="locate" mode='md' size='small' color='secondary'></ion-icon>
            我的位置
          </div>
        </ion-button>
      </div>
      <section class="flight-date">
        <app-search-day-comp [day]='checkInDate' [isCheckIn]='true' (click)="onSelecDate(true)" [disabled]='false'>
        </app-search-day-comp>
        <div *ngIf='totalFlyDays'>共{{ totalFlyDays}}晚</div>
        <app-search-day-comp [day]='checkOutDate' [isCheckOut]='true' (click)="onSelecDate(false)" [disabled]='false'>
        </app-search-day-comp>
      </section>
      <ion-button margin-top style='width: 100%' (click)="onSearchHotel()"
        [disabled]='!destinationCity||((canAddPassengers) && (selectedPassengers$|async)==0)' color="secondary"
        expand="block">
        <ion-text *ngIf='!((canAddPassengers) && (selectedPassengers$|async)==0)'>查询酒店</ion-text>
        <ion-text *ngIf='(canAddPassengers) && (selectedPassengers$|async)==0'>请添加乘客</ion-text>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>