ul.train {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0.25em 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgba(var(--ion-color-dark-rgb), 0.12);
    padding: 0.5em;
  }
}
ion-text {
  &.from-station,
  &.to-station {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
ion-fab {
  ion-fab-button {
    width: 3em;
    height: 3em;
    margin-bottom: 2em;
  }
  transform: scale(0);
  opacity: 0;
  &.show {
    transform: scale(1);
    opacity: 1;
  }
  transition: all ease-in-out 200ms;
}
ion-content {
  .content-header {
    // position: sticky;
    // top: 0;
    text-align: center;
  }
}

.xs-font-size {
  font-size: 0.6rem;
}
.sm-font-size {
  font-size: 0.8rem;
}
.tabs {
  display: flex;
  align-items: center;
  .tab {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.5rem;
    ion-icon {
      font-size: 1.3rem;
      --opacity: 0.6;
      color: var(--ion-color-medium);
    }
    ion-note {
      font-size: 0.7rem;
    }
    &.active {
      --opacity: 1;
      ion-icon {
        color: var(--ion-color-secondary);
      }
      ion-note {
        color: var(--ion-color-secondary);
      }
    }
    &.filtered {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        height: 0.5em;
        width: 0.5em;
        background-color: var(--ion-color-danger);
        display: block;
        left: calc(50% + 0.9em);
        transform: translateX(-50%);
        border-radius: 50%;
      }
    }
  }
}
ion-list.fakelist {
  margin-top: 0;
}
.icon-search-train {
  margin: 0 1em;
}
.title {
  font-size: 0.9rem;
  &.text-start {
    text-align: start;
  }
  &.text-center {
    text-align: center;
  }
}
.icon-search-train {
  margin: 0 1em;
}

img {
  width: 14px;
  margin: 0px 7px -4px;
}

.city-name {
  font-size: 14px;
  color: #000;
}
[color="medium"] .city-name {
  color: var(--ion-color-medium);
}
