<div class='flight-cities' [attr.mode]='mode'>
  <ion-text text-wrap (click)="onSelectCity(true)" color='dark' #fromCityEle>
    <h2 [class.left]='!toggleCities' [class.right]='toggleCities'>{{vmFromCity?.CityName}}<ion-text>({{vmFromCity?.Code}})</ion-text></h2>
  </ion-text>
  <div class='toogle-icon' (click)='onRotateIcon()'>
    <ion-text color='secondary' class="airplane">
      <i class='icon icon-flight-plane'></i>
    </ion-text>
    <!-- <ion-icon name='airplane' color='secondary'></ion-icon>-->
    <ion-icon name='ios-sync' [@rotateIcon]='rotateIcon' (@rotateIcon.done)='onRotateIconDone($event)'
      color='secondary'></ion-icon>
  </div>
  <ion-text (click)='onSelectCity(false)' color='dark' text-wrap #toCityEle>
    <h2 [class.left]='toggleCities' [class.right]='!toggleCities'>{{vmToCity?.CityName}}<ion-text>({{vmToCity?.Code}})</ion-text></h2>
  </ion-text>
</div>