.flight-cities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  ion-text {
    h2 {
      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }
      transition: all ease-out 500ms;
      font-size: 1.7rem;
    }
  }
  .toogle-icon {
    display: flex;
    align-items: center;
    .airplane {
      font-size: 0.8rem;
      position: absolute;
      margin: 0;
      padding: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    ion-icon[name="ios-sync"] {
      font-size: 3.2rem;
    }
  }
  ion-text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex: 1;
  }
}
