<!-- <ion-header>
  <ion-toolbar>
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-toolbar text-center>
    <img appLazyloadimage [lazyloadImage]="(pageInfo$ |async)?.LogoImageUrl" alt="公司logo" class='logo' />
  </ion-toolbar>
  <form [formGroup]='form' padding>
    <ion-segment (ionChange)="segmentChanged($event)" value="user" color='secondary'>
      <ion-segment-button value="user">
        <ion-label>账号密码登录</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mobile">
        <ion-label>手机快捷登录</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ng-container *ngIf='loginType=="user" else mobilelogintemp'>
      <ion-list>
        <ion-item>
          <ion-label color='secondary'>
            <i class='icon icon-person'></i>
          </ion-label>
          <ion-input type='text' placeholder='请输入用户名/手机号' formControlName="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color='secondary'>
            <i class='icon icon-lock'></i>
          </ion-label>
          <ion-input type='password' placeholder='请输入密码' formControlName="Password"></ion-input>
        </ion-item>
        <ion-item [style.height]='0'></ion-item>
      </ion-list>
    </ng-container>
    <ng-template #mobilelogintemp>
      <ion-list>
        <ion-item>
          <ion-label color='secondary'>
            <i class='icon icon-mobile'></i>
          </ion-label>
          <ion-input placeholder='请输手机号' formControlName="Mobile" type="number" min="11"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color='secondary'>
            <i class='icon icon-verify'></i>
          </ion-label>
          <ion-input type='text' placeholder='请输验证码' [maxlength]='6' formControlName="MobileCode"></ion-input>
          <ion-button slot='end' color='secondary' fill='outline' *ngIf='!countDown||countDown <= 0'
            (click)="showImageCode('sendmobilecode')">发送验证码</ion-button>
          <ion-button slot='end' fill='outline' [disabled]='true' color='medium' *ngIf='countDown'>{{countDown}} 秒后重发
          </ion-button>
        </ion-item>
        <ion-item [style.height]='0'></ion-item>
      </ion-list>
    </ng-template>
    <ion-item lines='none' *ngIf="message" class='err-msg'>
      <ion-label color="danger">{{ message }}</ion-label>
    </ion-item>
    <ion-button color='secondary' class='login-btn' expand='block' strong='true' (click)="onLoginButton('login')"
      [disabled]="form.invalid || (isLogining)|| !isLoginOk">登录</ion-button>
    <section class='register-forgetpassword'>
      <ion-button fill='clear' color='secondary' strong='true' (click)="forgetPassword()">忘记密码</ion-button>
      <!-- <span class='line'></span>
      <ion-button fill='clear' color='secondary' strong='true' (click)="register()">注册账号</ion-button> -->
    </section>
    <app-or-comp *ngIf="isShowWechatLogin">第三方登陆</app-or-comp>
    <ion-item *ngIf="isShowWechatLogin" (click)='loginByWechat()' lines='none' text-center>
      <div class='third-party-logo'>
        <ion-thumbnail>
          <img src="assets/images/weixin-logo.png" alt="微信图标">
        </ion-thumbnail>
      </div>
    </ion-item>
  </form>
  <!-- <form [formGroup]="form" padding>
    <section [class.hidden]="loginType != 'user'">
      <ion-row>
        <ion-col size="4">
          <ion-label position="floating">用户名</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="Name" placeholder="用户名"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label position="floating">密码</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="password" placeholder="密码" formControlName="Password"></ion-input>
        </ion-col>
      </ion-row>

    </section>
    <section [class.hidden]="loginType != 'mobile'">
      <ion-row>
        <ion-col size="3">
          <ion-label position="floating">手机号</ion-label>
        </ion-col>
        <ion-col>
          <ion-input placeholder="手机号" formControlName="Mobile" type="number" min="11"></ion-input>
        </ion-col>
        <ion-col size="4" *ngIf="!countDown || countDown <= 0; else countdownEle">
          <ion-button size="small" fill="outline" color="dark" [disabled]="!isMobileNumberOk"
            (click)="showImageCode('sendmobilecode')">
            <span [style.font-size.rem]="0.8">发送验证码</span>
          </ion-button>
        </ion-col>
        <ng-template #countdownEle>
          <ion-col class="down-count" size="2">
            <ion-label color="medium">{{ countDown }} s</ion-label>
          </ion-col>
        </ng-template>
      </ion-row>


      <ion-row>
        <ion-col size="4">
          <ion-label position="floating">短信验证码</ion-label>
        </ion-col>
        <ion-col>
          <ion-input placeholder="请输入收到短信验证码" formControlName="MobileCode"></ion-input>
        </ion-col>
      </ion-row>
    </section>
    <ion-button (click)="onLoginButton('login')" [disabled]="form.invalid || (false&&(loading$ | async) )|| !isLoginOk"
      expand="block" color='primary'> 登录</ion-button>
    <ion-item lines='none' class='btns'>
      <section slot="start">
        <ion-note color="dark" (click)="forgetPassword()">忘记密码？</ion-note>
        <ion-note color="dark" (click)="register()">注册</ion-note>
      </section>
      <ion-button size='' color="dark" slot="end" fill='clear'>
        <span *ngIf="loginType == 'user'" (click)="switchLoginType('mobile')">手机号登录</span>
        <span *ngIf="loginType != 'user'" (click)="switchLoginType('user')">用户名登录</span>
      </ion-button>
    </ion-item>
    <ion-item lines='none' *ngIf="message" class='err-msg'>
      <ion-label color="danger">{{ message }}</ion-label>
    </ion-item>
    <app-slidvalidate-com *ngIf="isShowImageCode" (slideEvent)='onSlideEvent($event)'></app-slidvalidate-com>
    <app-or-comp *ngIf="isShowWechatLogin">第三方登陆</app-or-comp>
    <ion-item *ngIf="isShowWechatLogin" (click)='loginByWechat()' lines='none' text-center>
      <div class='third-party-logo'>
        <ion-thumbnail>
          <img src="assets/images/weixin-logo.png" alt="微信图标">
        </ion-thumbnail>
      </div>
    </ion-item>
  </form> -->
</ion-content>
<app-slidvalidate-com *ngIf="isShowImageCode" (slideEvent)='onSlideEvent($event)'></app-slidvalidate-com>
<div [class.isloading]='isLogining' class='login-loading'></div>