<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>

      <app-back-button defaultHref=""></app-back-button>
    </ion-buttons> 
    <ion-title>{{message?.Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf='!isShowLink;else detailTempl'>
    <h3  class='ion-padding-start ion-no-margin'>
      {{message?.Title}}
    </h3>
    <h6 class='ion-padding-start'>{{message?.InsertTime}}</h6>
    <div class='detail' #msgdetail [attr.msgdetail]='message?.Detail' [attr.msgid]='message?.Id'>
    </div>
    <ion-button class='ion-margin-top' color='secondary' *ngIf='isShowUrlBtn' expand='block' (click)="onShowDetail(message?.Url)">显示详情
    </ion-button>
  </ng-container>
  <ng-template #detailTempl>
    <div class='wrapper' *ngIf='(url$|async) as url'>
      <iframe [src]="url" #iframe></iframe>
    </div>
  </ng-template>
</ion-content>