<ion-header>
    <ion-toolbar color='secondary'>
        <ion-title class='ion-text-center'>温馨提示</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <!-- <p [innerHTML]='explains'></p> -->
        <div class='title'>关于购票</div>
        <div>火车票购票，请准确填写乘车人的真实有效身份证件信息。</div>
        <div class="txt">
            <p>
                ★购买火车票接受的有效身份证件是指：
            </p>
            <p>
                1.中华人民共和国居民身份证（含港澳台居民居住证、外国人永久居留身份证，以下称为居民身份证。
            </p>
            <p>
                2. 港澳居民来往内地通行证。
            </p>
            <p>
                3.台湾居民来往大陆通行证。
            </p>
            <p>
                4.按规定可使用的有效护照。
            </p>
            <p>
                ★购买儿童票的乘车儿童没有办理有效身份证件的，请使用同行成年人的有效身份证件信息，并在开车前换取纸质车票后乘车。
            </p>
            <p>
                儿童票：按照《铁路旅客运输规程》规定，随同成人旅行身高1.2～1.5米的儿童，应当购买儿童票。超过1.5米时应买全价票。每一成人旅客可免费携带一名身高不足1.2米的儿童，超过一名时，超过的人数应买儿童票。儿童票的座别应与成人车票相同，其到站不得远于成人车票的到站。
            </p>
            <p>
                ★根据有关部门要求，为加强新型冠状病毒感染的肺炎疫情防控工作，自2020年2月1日起，通过12306购买火车票时，请购票人提供每一名乘车旅客本人使用的手机号码，以便在需要时及时联系乘车旅客。对于未成年人、老年人等重点旅客以及无手机的旅客，可提供监护人或能及时联系的亲友手机号码；港澳台旅客、外籍旅客可提供电子邮箱。请您按系统提示进行操作。必要时，12306网站将与乘车旅客进行核对，为不影响购票乘车，请确保您提供的信息真实有效。
            </p>
        </div>
        <div class="title">
            关于退票
        </div>
        <div class="txt">
            <p>
                1.没有换取纸质车票且不晚于车票发站开车前的，可以在本网站办理退票业务。办理退票业务，只能逐次单张办理。
            </p>
            <p>
                2.已领取报销凭证的电子票，线上完成退票后，请持相关证件在180天内（购票证件、报销凭证）至车站窗口完成退款。
            </p>
            <p>
                3.已经换取纸质车票的非电子票，请携带购票时所使用的乘车人有效身份证件原件（以及纸质车票），于票面载明的开车时间前到车站售票窗口办理。
            </p>
            <p>
                4.退票、改签、费用核收标准
            </p>
            <p>
                （1）退票费按如下梯次标准核收: 距票面乘车站开车前８天以上的不收退票费；开车前48小时以上、不足8天的，按票面价格5%计；开车前24小时以上、不足48小时的，按票面价格10%计；开车前不足24小时的，按票面价格20%计。 “以上”含本数，下同。
            </p>
            <p>
                （2）距票面乘车站开车前48小时以上、不足8天的车票，改签至开车前8天以上的列车，又在距开车前8天以上退票的，核收5%的退票费。
            </p>
            <p>
                （3）退票费以5角为单位，尾数小于2.5角的舍去、2.5角以上且小于7.5角的计为5角、7.5角以上的进为1元。
            </p>
            <p>
                （4）退票费最低按2元计收，当车票票面价格不足2元时按票面价格计收。
            </p>
            <p>
                （5）旅客变更乘车日期、车次、席位、到站等产生票价差额需退还或补收时，票价差额按“应收－已收”原则计算，其中：“应收”指旅客变更后新车票的票面价格，“已收”指变更前原车票的票面价格。当变更后的票价高于原票价时，应补收票价差额；低于原票价时，应退还票价差额，并按梯次标准核收退票费
            </p>
        </div>
        <div class="title">
            关于改签
        </div>
        <div class="txt">
            <p>
                1.车票改签只能办理一次。已经办理改签或变更到站的车票不再办理改签。
            </p>
            <p>
                2.没有换取报销凭证（或纸质车票），可以在线办理改签业务。
            </p>
            <p>
                3.在有运输能力的前提下，开车前48小时（不含）以上，可改签预售期内的其他列车；开车前48小时以内，可改签开车前的其他列车，也可改签开车后至票面日期当日24:00之间的其他列车，不办理票面日期次日及以后的改签。开车之后仍可改签当日其他列车。已经办理“变更到站”的车票，不再办理改签。
            </p>
            <p>
                5.已经换取报销凭证（或纸质车票），应到车站指定售票窗口办理，并须交回报销凭证（或纸质车票）。
            </p>
            <p>
                <ion-text color='danger'>
                    6.已经办理开车后改签业务的车票，不能办理退票。
                </ion-text>
            </p>
        </div>
        <div class="title">
            <ion-text color='danger'>
                关于跨境列车
            </ion-text>
        </div>
        <div class="txt">
            <p>
                <ion-text color='danger'>
                    跨境旅客旅行须知详见铁路跨境旅客相关运输组织规则和车站公告。
                </ion-text>
            </p>
            <p>
                <ion-text color='danger'>
                    以上信息仅供参考，详情以12306网站公布为准。
                </ion-text>
            </p>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="btn-ok" (click)="onGoIt()">知道了</div>
</ion-footer>