<ion-header>
    <ion-toolbar color='secondary'>
        <ion-title class='ion-text-center'>温馨提示</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <!-- <p [innerHTML]='explains'></p> -->
        <div>关于购票</div>
        <div>火车票购票，请准确填写乘车人的真实有效身份证件信息。</div>
        <div>
            ★购买火车票接受的有效身份证件是指：
        </div>
        <div>
            <p>
                1.中华人民共和国居民身份证（含港澳台居民居住证、外国人永久居留身份证，以下称为居民身份证。
            </p>
            <p>
                2. 港澳居民来往内地通行证。
            </p>
            <p>
                3.台湾居民来往大陆通行证。
            </p>
            <p>
                4.按规定可使用的有效护照。
            </p>
            <div>
                <p>
                    ★购买儿童票的乘车儿童没有办理有效身份证件的，请使用同行成年人的有效身份证件信息，并在开车前换取纸质车票后乘车。 儿童票：按照《铁路旅客运输规程》规定，随同成人旅行身高1.2～1.5米的儿童，应当购买儿童票。超过1.5米时应买全价票。 每一成人旅客可免费携带一名身高不足1.2米的儿童，超过一名时，超过的人数应买儿童票。儿童票的座别应与成人车票相同，其到站不得远于成人车票的到站。
                </p>
                <p>
                    ★根据有关部门要求，为加强新型冠状病毒感染的肺炎疫情防控工作，自2020年2月1日起，通过12306购买火车票时， 请购票人提供每一名乘车旅客本人使用的手机号码，以便在需要时及时联系乘车旅客。对于未成年人、老年人等重点旅客以及无手机的旅客， 可提供监护人或能及时联系的亲友手机号码；港澳台旅客、外籍旅客可提供电子邮箱。请您按系统提示进行操作。必要时，12306网站将与乘车旅客进行核对， 为不影响购票乘车，请确保您提供的信息真实有效。
                </p>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="btn-ok" (click)="onGoIt()">知道了</div>
</ion-footer>