.row {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    font-size: 14px;
    .label {
        width: 102px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #666666;
    }
    .value {
        flex: 1;
    }
    &.rules-desc {
        padding: 0.5em 0;
    }
    .mobiles,
    .emails {
        &.ismulti .label {
            align-self: flex-start;
            padding-top: 0.5em;
        }
    }
    ion-item {
        width: 100%;
        --min-height: initial;
        font-size: 14px;
        --padding-start: 0;
        ion-label {
            margin: 0 0.5em;
        }
        ion-checkbox {
            width: 1.2em;
            height: 1.2em;
            margin: 0;
        }
    }
    ion-input {
        --padding-start: 0;
        --padding-bottom: 0;
        --padding-top: 0;
    }
    ion-icon {
        margin-left: auto;
        color: var(--ion-color-dark);
        opacity: 0.8;
        font-size: 19px;
    }
    border-bottom: 1px solid #eeeeee;
    &:last-child {
        border: none;
    }
    &.n-b {
        border: none;
    }
}

.empty {
    background-color: #f6f6f6;
    padding: 1em;
}

.section {
    border-radius: 10px;
    padding: 0.5em 0;
    background-color: var(--ion-color-light);
}

:host.dark {
    .section {
        background: initial;
        .row {
            .label {
                color: var(--ion-text-color);
            }
        }
    }
    .empty {
        background-color: initial;
    }
}