<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="onSegmentChanged($event)" color="secondary" [value]='tab'>
      <ion-segment-button value="{{t.value}}" *ngFor='let t of tabs'>
        <ion-label>
          <div class="tab">
            <img [src]="t.img" alt="">
            {{t.label}}
          </div>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-refresher slot='fixed' (ionRefresh)='doRefresh()'>
    <ion-refresher-content>正在刷新...</ion-refresher-content>
  </app-refresher>
  <ng-container *ngIf='!isLoading else fackList'>
    <ng-container [ngSwitch]='tab'>
      <ng-container *ngSwitchCase='"task"'>
        <ng-container *ngIf='tasks?.length else nodata'>
          <ion-list>
            <ion-item *ngFor="let t of tasks" detail (click)='onOpenUrl(t.Url,t.Name)'
              [style.--detail-icon-opacity]='!!t.Url?0.4:0'>
              <ion-label>
                <h2>
                  {{t.Name}}
                </h2>
                <p *ngIf='t.Remark'>
                  备注：<span>{{t.Remark}}</span>
                </p>
                <p *ngIf='t.Level'>
                  审批：<span>{{t.Level}}</span>
                </p>
                <p *ngIf='t.ExpiredTime'>
                  过期时间：<span>{{t.ExpiredTime}}</span>
                </p>
                <p style="user-select: text;">
                  {{t.Number}}
                </p>
              </ion-label>
              <ion-button slot='end' color='{{t.Url?"secondary":""}}'>
                {{t.StatusName}}
              </ion-button>
            </ion-item>
          </ion-list>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase='"history"'>
        <ng-container *ngIf='histories?.length else nodata'>
          <ion-list>
            <ion-item *ngFor='let h of histories' detail [style.--detail-icon-opacity]='!!h.Url?0.4:0'
              (click)='onOpenUrl(h.Url,h.Name+(h.Level||""))'>
              <ion-label>
                <h2>{{h.Name}}</h2>
                <p *ngIf='h.ExpiredTime'>
                  {{h.ExpiredTime}}
                </p>
              </ion-label>
              <ion-button slot='end' color='{{h.Url?"secondary":""}}'>
                {{h.StatusName}}
              </ion-button>
            </ion-item>
          </ion-list>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase='"notify"'>
        <ng-container *ngIf='notifies?.length else nodata'>
          <ion-list>
            <ion-item *ngFor='let n of notifies' [attr.detail]='!!n.Url' (click)='onOpenUrl(n.Url,n.Title)'>
              <ion-label>
                <h2>{{n.Title}}</h2>
              </ion-label>
              <ion-button slot='end'>
                <ion-text color='{{n.IsRead?"success":"secondary"}}'>
                  {{n.IsRead?"已读":"未读"}}
                </ion-text>
              </ion-button>
            </ion-item>
          </ion-list>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #nodata>
    <app-or-comp>暂无数据</app-or-comp>
  </ng-template>
  <ng-template #fackList>
    <ion-list>
      <ion-item *ngFor='let it of [1,2,3,4,5,6,7,8,9,10,11,12,13]'>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          </h3>
          <h3>
            <ion-skeleton-text style="width: 70%;"></ion-skeleton-text>
          </h3>
          <h3>
            <ion-skeleton-text style="width: 70%;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)='loadMore()'>
    <ion-infinite-scroll-content>正在加载...</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>