ion-tabs {
  ion-tab-bar {
    --color-selected:var(--ion-color-success);
    --color:var(--ion-color-dark);
    padding-top: .2em;
    [class*='icon'] {
      font-size: 1.5rem;
    }
    ion-label {
      font-size: 0.7rem;
    }
  }
}
