<ion-tabs color='primary' (ionTabsDidChange)='onTabChanged($event)' (ionTabsWillChange)='onIonTabsWillChange($event)'>
  <ion-tab-bar slot="bottom" translucent='false'>
    <ion-tab-button [class.tab-selected]='tab?.includes("home")' tab='tmc-home'>
      <img src="assets/home/tab-home{{((tab?.includes('home'))?'-active':'')}}.png" alt="首页">
      <ion-label notranslate>{{langOpt.HomePage}}</ion-label>
    </ion-tab-button>
    <ion-tab-button [class.tab-selected]='tab?.includes("trip")' tab='trip'>
      <img [src]="'assets/home/tab-trip'+(tab?.includes('trip')?'-active':'')+'.png'" alt="待出行">
      <ion-label notranslate>{{langOpt.WaiToTra}}</ion-label>
    </ion-tab-button>
    <ion-tab-button [class.tab-selected]='tab?.includes("my")' tab='my'>
      <img src="assets/home/tab-my{{tab?.includes('my')?'-active':''}}.png" alt="我的">
      <ion-label notranslate>{{langOpt.My}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>