<ion-tabs color='primary' (ionTabsDidChange)='onTabChanged($event)' (ionTabsWillChange)='onIonTabsWillChange($event)'>
  <ion-tab-bar slot="bottom" translucent='false'>
    <ion-tab-button [class.tab-selected]='tab==="home"' (click)='onTabActive("home")'>
      <!-- <i class='icon icon-tab-home {{tab==="home"?"active":""}}'></i> -->
      <i class='icon icon-tab-home{{tab==="home"?"-fill":""}}'></i>
      <!-- <img src="assets/svgs/tab-home.svg" appLazyloadimage alt="首页"> -->
      <ion-label>首页</ion-label>
    </ion-tab-button>
    <ion-tab-button [class.tab-selected]='tab==="trip"' (click)='onTabActive("trip")'>
      <i class='icon icon-tab-trip{{tab==="trip"?"-fill":""}}'></i>
      <!-- <img src="assets/svgs/tab-trip.svg" appLazyloadimage alt="首页"> -->
      <ion-label>待出行</ion-label>
    </ion-tab-button>
    <ion-tab-button [class.tab-selected]='tab==="my"' (click)='onTabActive("my")'>
      <i class='icon icon-tab-my{{tab==="my"?"-fill":""}}'></i>
      <!-- <img src="assets/svgs/tab-my.svg" appLazyloadimage alt="首页"> -->
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>