ion-content{
  --background: #f2f2f2;
}
ion-thumbnail {
  --border-radius: 4px;
}

.account-type {
  font-size: 0.7rem;
  padding-left: 0.5em;
}

ion-list {
  &:first-child ion-item {
    padding: 0.5em 0;
  }
  ion-item {
    ion-icon + ion-label {
      padding-left: 1em;
    }
  }
}

ion-badge {
  color: white;
}
