<ion-item @fadeInOut>
  <ion-thumbnail slot='start'>
    <img [lazyLoad]='hotel?.FullFileName' [defaultImage]='defaultImage' alt="图片">
  </ion-thumbnail>
  <ion-label>
    <h1 class='name'>{{hotel?.Name}}</h1>
    <h2 class='sub-name' *ngIf='hotel?.enName as n'>{{n}}</h2>
    <h3>
      <ng-container *ngFor='let i of hotel?.grades'>
        <ion-icon name='star' *ngIf='i>=1' color='danger'></ion-icon>
        <ion-icon name='star-half' *ngIf='i<1' color='danger'></ion-icon>
      </ng-container>
      <ion-text class='ion-margin-start' color='secondary' *ngIf='hotel?.Grade as g'>{{g}}分</ion-text>
    </h3>
    <p>
      <ion-icon name='location' color='secondary'> </ion-icon>
      {{hotel?.Address}}
    </p>
    <h2 class='ion-text-end'>
      <ion-text color='medium' *ngIf=''>
        含税总价
      </ion-text>
      <small>￥</small>
      <span class='price'>{{hotel?.avgPrice}}</span>
      <small>起</small>
    </h2>
  </ion-label>
</ion-item>