<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=""></app-back-button>
    </ion-buttons>
    <ion-title [class.has-add-passenger]='(isShowAddPassenger$|async)'>{{hotel?.Name}}</ion-title>
    <ion-buttons slot='end'>
      <ion-button style="font-size: 0.8rem;" fill='clear' color='secondary' (click)='onFilteredPassenger()'
        size='small'>
        <ion-text>过滤差标</ion-text>
      </ion-button>
      <ion-button style="font-size: 0.8rem;" fill='clear' *ngIf='(isShowAddPassenger$|async)' color='secondary'
        size='small' (click)='onSelectPassenger()'>
        <ion-text>添加旅客</ion-text>
        <ion-badge color='danger'>
          <ion-text color='light' class='xs-font-size'>{{selectedPassengersNumbers$|async}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar #toolbarsegment style="margin-top: -1px;">
    <ion-segment (ionChange)="onSegmentChanged($event)" color="secondary" value="{{activeTab}}">
      <ion-segment-button value="houseInfo">
        <ion-label>房型</ion-label>
      </ion-segment-button>
      <ion-segment-button value="hotelInfo">
        <ion-label>酒店信息</ion-label>
      </ion-segment-button>
      <ion-segment-button value="trafficInfo">
        <ion-label>交通信息</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot='fixed' (ionRefresh)='doRefresh()' pullMin='100'></ion-refresher>
  <div class="bg" #bg>
    <div class="back-button">
      <app-back-button color='light'></app-back-button>
    </div>
    <app-swiper-slides (click)='onShowHotelImages()' (slideChange)='onSlideChange($event)' [options]='{autoplay:true}'
      [items]='hotelImages' [loadingImage]='config?.PrerenderImageUrl' [defaultImage]='config?.DefaultImageUrl'>
    </app-swiper-slides>
  </div>
  <ion-card *ngIf='hotel else fakeCard'>
    <ion-card-header>
      <ion-label>
        <h2>
          <strong>
            {{hotel?.Name}}
          </strong>
        </h2>
      </ion-label>
    </ion-card-header>
    <ion-card-subtitle>
      <div class='grade-stars'>
        <span *ngIf='hotel?.Grade as grade else nograde'>
          <ion-text color='secondary'>评分</ion-text>{{grade}}
        </span>
        <ng-template #nograde>
          暂无评分
        </ng-template>
        <div class='stars' *ngIf='getStars(hotel) as stars'>
          <ng-container *ngFor='let s of stars'>
            <ion-icon name="star" color='danger' *ngIf='s>=1'></ion-icon>
            <ion-icon name='star-half' color='danger' *ngIf='s<1'></ion-icon>
          </ng-container>
        </div>
      </div>
      <ion-item (click)='onOpenMap()' lines='none'>
        <ion-label color='secondary'>{{hotel?.Address}}</ion-label>
        <ion-icon name="location" color='secondary'></ion-icon>
      </ion-item>
      <ion-item lines='none'>
        <ion-label>
          电话
          <ion-text class="ion-padding-start" style="user-select: text;">{{hotel?.Phone}}</ion-text>
        </ion-label>
      </ion-item>
    </ion-card-subtitle>
    <ion-card-content>
      <div class='date' (click)="onOpenCalendar()">
        <div class='checkinoutdate'>{{queryModel?.checkInDate}} <span
            class='weekName'>{{getWeekName(queryModel?.checkInDate)}}</span></div>
        <div>共{{totalNights}}晚</div>
        <div class='checkinoutdate'>{{queryModel?.checkOutDate}} <span
            class='weekName'>{{getWeekName(queryModel?.checkOutDate)}}</span></div>
      </div>
      <ion-button (click)='onSearch()' color='secondary' expand='block'>搜索</ion-button>
    </ion-card-content>
  </ion-card>
  <ng-template #fakeCard>
    <ion-card>
      <ion-card-header>
        <ion-skeleton-text style="height: 1.25em;width:80%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-subtitle class='ion-padding-start'>
        <ion-skeleton-text style="height: 1.25em;width:40%;margin-left: 1em;"></ion-skeleton-text>
      </ion-card-subtitle>
      <ion-card-content>
        <div class='date'>
          <ion-skeleton-text style="height: 1em;width:40%"></ion-skeleton-text>
          <ion-skeleton-text style="height: 1em;width:40%"></ion-skeleton-text>
        </div>
        <ion-button [disabled]='true' color='secondary' expand='block'>搜索</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <ion-list class='room-list' #houseInfo>
    <div style="font-size: 0.7rem;" class='ion-margin-start'>
      <div>
        <ion-text color='success'>绿色代表符合差标</ion-text>
      </div>
      <div>
        <ion-text color='warning'>黄色代表违规可以预订</ion-text>
      </div>
      <div>
        <ion-text color='danger'>红色代表违规不可预订</ion-text>
      </div>
    </div>
    <ion-item-divider>房型信息</ion-item-divider>
    <ng-container *ngFor='let room of hotel?.Rooms'>
      <ion-item>
        <div class='item-wrapper'>
          <div class='room-info'>
            <ion-thumbnail (click)='onShowRoomImages(room)'>
              <ng-container *ngIf='getRoomImages(room) as images'>
                <img [lazyLoad]='images[0]?.replace("Mobile640_960", "Hotel70_70")||(config?.DefaultImageUrl)'
                  [defaultImage]='config?.PrerenderImageUrl' [loadingImage]='config?.PrerenderImageUrl' />
                <div class='images-nums' *ngIf='images.length as len'>{{len}}张</div>
              </ng-container>
            </ion-thumbnail>
            <ion-label class='item'>
              <h3 style="display: inline-flex;">
                <ion-label class='ion-margin-end'>{{room.Name}}</ion-label>
                <ion-text color='secondary' (click)='onShowRoomDetails(room)'>详情</ion-text>
              </h3>
              <h4 *ngIf='room.RoomDetails' class='show-desc' (click)='room["isShowRoomPlans"]=!room["isShowRoomPlans"]'>
                <ion-label class='ion-text-wrap'>
                  <div class="room-detail-desc">
                    <div *ngIf='getRoomArea(room) as it'>{{it.Description}}m²</div>
                    <div *ngIf='getBedType(room) as it'>{{it.Description}}</div>
                    <div *ngIf='getCapacity(room) as it'>可住{{it.Description}}人</div>
                    <!-- <div *ngIf='getComments(room) as it' class='clip-text'>{{it.Description}}</div> -->
                  </div>
                </ion-label>
                <ion-button color='danger' [disabled]='true' *ngIf='isFullOnly(room.RoomPlans)'>
                  <ion-text color='light'>已满房</ion-text>
                </ion-button>
              </h4>
              <h3 class='ion-text-end' style="padding-bottom: 0.5em;margin-top: 2em;"
                (click)='room["isShowRoomPlans"]=!room["isShowRoomPlans"]'>
                <ng-container *ngIf='!isFullOnly(room.RoomPlans)'>
                  <ion-text color='danger' *ngIf='getRoomLowestAvgPrice(room) as price'>
                    <strong><small style="font-size:.6rem;margin-right:0em;">￥</small><span
                        style="font-size: 1rem">{{price}}</span>
                      <small style="font-size:.6rem;margin-left:.2em">起</small></strong>
                  </ion-text>
                  <ion-icon class='arrow-icon' name='caret-down-outline' mode='ios' color='secondary'
                    *ngIf='!room["isShowRoomPlans"]'></ion-icon>
                  <ion-icon class='arrow-icon' name="caret-up-outline" mode='ios' color='secondary'
                    *ngIf='room["isShowRoomPlans"]'></ion-icon>
                </ng-container>
              </h3>
            </ion-label>
          </div>
          <div class='room-plans' *ngIf='room["isShowRoomPlans"]' @flyInOut>
            <app-room-plan-item *ngFor='let plan of room.RoomPlans' [colors]='colors' [room]='room' [roomPlan]='plan'
              [hotel]='hotel' (bookRoom)='onBookRoomPlan($event)'>
            </app-room-plan-item>
          </div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-list #hotelInfo class='hotel-info'>
    <ion-item-divider (click)='hotel["ishoteldetails"]=!hotel["ishoteldetails"]'>
      酒店信息
      <ng-container *ngIf='hotel'>
        <ion-icon name='caret-down-outline' color='secondary' *ngIf='!hotel["ishoteldetails"]'></ion-icon>
        <ion-icon name='caret-up-outline' color='secondary' *ngIf='hotel["ishoteldetails"]'></ion-icon>
      </ng-container>
    </ion-item-divider>
    <ng-container *ngIf='hotel?.HotelDetails' @flyInOut>
      <ion-grid *ngIf='hotel["ishoteldetails"]'>
        <ng-container *ngFor='let detail of hotel?.HotelDetails'>
          <ion-row *ngIf='detail.Description'>
            <ng-container *ngIf='!(detail.Tag=="IntroEditor"||detail.Tag=="Traffic" || (detail.Tag=="Description" && detail.Description?.length>=16)) else
              otherTempl'>
              <ion-col size='2'>{{detail.Name}}</ion-col>
              <ion-col size='10'>
                <ion-text color='medium'>
                  <span *ngIf='detail.Tag=="ArrivalTime"'>{{detail.Description}}点之后</span>
                  <span *ngIf='detail.Tag=="DepartureTime"'>{{detail.Description}}点之前</span>
                  <span *ngIf='detail.Tag!="DepartureTime"&&detail.Tag!="ArrivalTime"'>{{detail.Description}}</span>
                </ion-text>
              </ion-col>
            </ng-container>
            <ng-template #otherTempl>
              <ion-col size='2'>
                <ion-text fill='clear'>
                  {{detail.Name}}
                </ion-text>
              </ion-col>
              <ion-col size='10' (click)='detail["isShowMore"]=!detail["isShowMore"]'>
                <div class="text">
                  <ion-text color='medium' *ngIf='!detail["isShowMore"]'>
                    {{detail.Description}}
                  </ion-text>
                </div>
                <ion-text *ngIf='detail["isShowMore"]' color='medium'>
                  {{detail.Description}}
                  <ion-icon name='caret-down-outline' color='secondary' *ngIf='!detail["isShowMore"]'></ion-icon>
                  <ion-icon name="caret-up-outline" color='secondary' *ngIf='detail["isShowMore"]'></ion-icon>
                </ion-text>
              </ion-col>
            </ng-template>
          </ion-row>
        </ng-container>
      </ion-grid>
    </ng-container>
  </ion-list>
  <ion-list #trafficInfo class='traffic-info'>
    <ion-item-divider (click)='onToggleOpenMap()'>交通信息
      <ng-container *ngIf='hotel'>
        <ion-icon name='caret-down-outline' color='secondary' *ngIf='!hotel["isShowMap"]'></ion-icon>
        <ion-icon name='caret-up-outline' color='secondary' *ngIf='hotel["isShowMap"]'></ion-icon>
      </ng-container>
    </ion-item-divider>
    <div class="traffic-map" [style.display]='!hotel||!hotel["isShowMap"]?"none":"block"'>
      <app-map [lat]='hotel?.Lat' [lng]='hotel?.Lng'></app-map>
    </div>
  </ion-list>
  <div #divforscroll [class.div-for-scroll]='!hotel||!hotel["isShowMap"]||!hotel["ishoteldetails"]'></div>
</ion-content>