<div class='header' #header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>
<ion-content>
  <div class='bg' #bgPic (click)='showImages=true'>
    <ion-icon class='back-arrow' name="arrow-back" (click)='back()' color='light'></ion-icon>
    <ion-chip *ngIf='hotel?.HotelImages?.length as len'>
      1/{{len}}
    </ion-chip>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-label>
        {{hotel?.Name}}
      </ion-label>
    </ion-card-header>
    <ion-card-subtitle>
      <div class='grade-stars'>
        {{hotel?.Grade}}
        <div class='stars'>
          <ng-container *ngFor='let s of getStars(hotel)'>
            <ion-icon name="star" color='danger' *ngIf='s>=1'></ion-icon>
            <ion-icon name='star-half' color='danger' *ngIf='s<1'></ion-icon>
          </ng-container>
        </div>
      </div>
    </ion-card-subtitle>
    <ion-card-content>
      <div class='date'>
        <div class='checkinoutdate'>{{queryModel?.checkInDate}} <span
            class='weekName'>{{getWeekName(queryModel?.checkOutDate)}}</span></div>
        <div>{{totalNights}}</div>
        <div class='checkinoutdate'>{{queryModel?.checkOutDate}} <span
            class='weekName'>{{getWeekName(queryModel?.checkOutDate)}}</span></div>
      </div>
      <ion-button (click)='onSearch()' color='secondary' expand='block'>搜索</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-browse-images *ngIf="showImages" [images]='getImageUrls()' (close)='showImages=false'></app-browse-images>