<ion-header>
  <div class='header' #header >
    <ion-toolbar>
      <ion-buttons slot='start'>
        <ion-button color='dark' (click)='back($event)'>
          <ion-icon name='arrow-back'></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title [class.has-add-passenger]='(isShowAddPassenger$|async)'>{{hotel?.Name}}</ion-title>
      <ion-buttons slot='end'>
        <ion-button style="font-size: 0.8rem;" fill='clear' color='secondary' (click)='filterPassengerPolicy()'
          size='small'>
          <ion-text>过滤差标</ion-text>
        </ion-button>
        <ion-button style="font-size: 0.8rem;" fill='clear' *ngIf='(isShowAddPassenger$|async)' color='secondary'
          size='small' (click)='onSelectPassenger()'>
          <ion-text >添加旅客</ion-text>
          <ion-badge color='danger'>
            <ion-text color='light' class='xs-font-size'>{{selectedPassengersNumbers$|async}}</ion-text>
          </ion-badge>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar #toolbarsegment *ngIf='!isShowBackArrow'>
      <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
        <ion-segment-button value="houseInfo" [checked]='activeTab=="houseInfo"'>
          <ion-label>房型</ion-label>
        </ion-segment-button>
        <ion-segment-button value="hotelInfo" [checked]='activeTab=="hotelInfo"'>
          <ion-label>酒店信息</ion-label>
        </ion-segment-button>
        <ion-segment-button value="trafficInfo" [checked]='activeTab=="trafficInfo"'>
          <ion-label>交通信息</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <ion-refresher slot='fixed' (ionRefresh)='doRefresh()'></ion-refresher>
  <div class='bg'  #bgPic
    (click)='isShowImages=true' [class.md]='isMd'>
    <ion-icon class='back-arrow' name="arrow-back" (click)='back()' color='{{backArrowColor}}'>
    </ion-icon>
    <ion-chip *ngIf='hotel?.HotelImages?.length as len' style="z-index: 99">
      1/{{len}}
    </ion-chip>
  </div>
  <ion-card *ngIf='hotel else fakeCard'>
    <ion-card-header>
      <ion-label>
        <h2>
          <strong>
            {{hotel?.Name}}
          </strong>
        </h2>
      </ion-label>
    </ion-card-header>
    <ion-card-subtitle>
      <div class='grade-stars'>
        <span>
          <ion-text color='secondary'>评分</ion-text>{{hotel?.Grade}}
        </span>
        <div class='stars' *ngIf='getStars(hotel) as stars'>
          <ng-container *ngFor='let s of stars'>
            <ion-icon name="star" color='danger' *ngIf='s>=1'></ion-icon>
            <ion-icon name='star-half' color='danger' *ngIf='s<1'></ion-icon>
          </ng-container>
        </div>
      </div>
      <ion-item (click)='onOpenMap()' lines='none'>
        <ion-label color='secondary'>{{hotel?.Address}}</ion-label>
        <ion-icon name="pin" color='secondary'></ion-icon>
      </ion-item>
    </ion-card-subtitle>
    <ion-card-content>
      <div class='date' (click)="onOpenCalendar()">
        <div class='checkinoutdate'>{{queryModel?.checkInDate}} <span
            class='weekName'>{{getWeekName(queryModel?.checkOutDate)}}</span></div>
        <div>共{{totalNights}}晚</div>
        <div class='checkinoutdate'>{{queryModel?.checkOutDate}} <span
            class='weekName'>{{getWeekName(queryModel?.checkOutDate)}}</span></div>
      </div>
      <ion-button (click)='onSearch()' color='secondary' expand='block'>搜索</ion-button>
    </ion-card-content>
  </ion-card>
  <ng-template #fakeCard>
    <ion-card>
      <ion-card-header>
        <ion-skeleton-text style="height: 1.25em;width:80%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-subtitle padding-start>
        <ion-skeleton-text style="height: 1.25em;width:40%;margin-left: 1em;"></ion-skeleton-text>
      </ion-card-subtitle>
      <ion-card-content>
        <div class='date'>
          <ion-skeleton-text style="height: 1em;width:40%"></ion-skeleton-text>
          <ion-skeleton-text style="height: 1em;width:40%"></ion-skeleton-text>
        </div>
        <ion-button [disabled]='true' color='secondary' expand='block'>搜索</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <ion-list class='room-list' #houseInfo>
    <div style="font-size: 0.7rem;" margin-start>
      <div>
        <ion-text color='success'>绿色代表符合差标</ion-text>
      </div>
      <div>
        <ion-text color='warning'>黄色代表违规可以预订</ion-text>
      </div>
      <div>
        <ion-text color='danger'>红色代表违规不可预订</ion-text>
      </div>
    </div>
    <ion-item-divider sticky>房型信息</ion-item-divider>
    <ng-container *ngFor='let room of hotel?.Rooms'>
      <ion-item>
        <ion-thumbnail (click)='onShowRoomImages(room)'>
          <ng-container *ngIf='getRoomImages(room) as images'>
            <img [lazyloadImage]='images[0]?.replace("Mobile640_960", "Hotel70_70")||(config?.DefaultImageUrl)'
              appLazyloadimage />
            <div class='images-nums' *ngIf='images.length as len'>{{len}}张</div>
          </ng-container>
        </ion-thumbnail>
        <ion-label class='item'>
          <h3 style="display: inline-flex;">
            <ion-label margin-end>{{room.Name}}</ion-label>
            <ion-text color='secondary' (click)='onShowRoomDetails(room)'>详情</ion-text>
          </h3>
          <h4 *ngIf='room.RoomDetails' (click)='onShowRoomDetails(room)'>
            <ion-label text-wrap>
              <div class="room-detail-desc">
                <div *ngIf='getRoomArea(room) as it'>{{it.Description}}m²</div>
                <div *ngIf='getBedType(room) as it'>{{it.Description}}</div>
                <div *ngIf='getCapacity(room) as it'>可住{{it.Description}}人</div>
                <!-- <div *ngIf='getComments(room) as it' class='clip-text'>{{it.Description}}</div> -->
              </div>
            </ion-label>
          </h4>
          <h3 text-end (click)='room["isShowRoomPlans"]=!room["isShowRoomPlans"]' style="padding-bottom: 0.5em;">
            <ion-text color='danger' *ngIf='getRoomLowestAvgPrice(room) as price'>
              <strong><small style="font-size:.6rem;margin-right:0em;">￥</small><span
                  style="font-size: 1rem">{{price}}</span>
                <small style="font-size:.6rem;margin-left:.2em">起</small></strong>
            </ion-text>
            <ion-icon class='arrow-icon' name="arrow-dropdown" mode='ios' color='secondary'
              *ngIf='!room["isShowRoomPlans"]'></ion-icon>
            <ion-icon class='arrow-icon' name="arrow-dropup" mode='ios' color='secondary'
              *ngIf='room["isShowRoomPlans"]'></ion-icon>
          </h3>
        </ion-label>
      </ion-item>
      <ng-container *ngIf='room["isShowRoomPlans"]'>
        <ion-item *ngFor='let plan of room.RoomPlans'>
          <app-room-plan-item [colors]='colors' [room]='room' [roomPlan]='plan' [hotel]='hotel'
            (bookRoom)='onBookRoomPlan($event)'>
          </app-room-plan-item>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
  <ion-list #hotelInfo class='hotel-info'>
    <ion-item-divider sticky>酒店信息</ion-item-divider>
    <ion-grid *ngIf='hotel?.HotelDetails'>
      <ng-container *ngFor='let detail of hotel?.HotelDetails'>
        <ion-row *ngIf='detail.Description'>
          <ng-container *ngIf='!(detail.Tag=="IntroEditor"||detail.Tag=="Traffic" || (detail.Tag=="Description" && detail.Description?.length>=16)) else
            otherTempl'>
            <ion-col size='2'>{{detail.Name}}</ion-col>
            <ion-col size='10'>
              <ion-text color='medium'>
                <span *ngIf='detail.Tag=="ArrivalTime"'>{{detail.Description}}点之后</span>
                <span *ngIf='detail.Tag=="DepartureTime"'>{{detail.Description}}点之前</span>
                <span *ngIf='detail.Tag!="DepartureTime"&&detail.Tag!="ArrivalTime"'>{{detail.Description}}</span>
              </ion-text>
            </ion-col>
          </ng-container>
          <ng-template #otherTempl>
            <ion-col size='2'>
              <ion-text fill='clear' (click)='detail["isShowMore"]=!detail["isShowMore"]' color='secondary'>
                {{detail.Name}}
                <ion-icon name="arrow-dropdown" *ngIf='detail["isShowMore"]'></ion-icon>
                <ion-icon name="arrow-dropright" *ngIf='!detail["isShowMore"]'></ion-icon>
              </ion-text>
            </ion-col>
            <ion-col size='10'>
              <div class="text">
                <ion-text color='medium' *ngIf='!detail["isShowMore"]'>
                  {{detail.Description}}
                </ion-text>
              </div>
              <ion-text *ngIf='detail["isShowMore"]' color='medium'>
                {{detail.Description}}
              </ion-text>
            </ion-col>
          </ng-template>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-list>
  <ion-list #trafficInfo class='traffic-info'>
    <ion-item-divider sticky>交通信息</ion-item-divider>
    <div class="traffic-map">
      <app-map [lat]='hotel?.Lat' [lng]='hotel?.Lng'></app-map>
    </div>
  </ion-list>
</ion-content>
<app-browse-images *ngIf="isShowImages" [images]='getHotelImageUrls()' (close)='onCloseHotelImages()'>
</app-browse-images>
<app-browse-images *ngIf="isShowRoomImages" [images]="roomImages" (close)='onCloseRoomImages()'></app-browse-images>
<app-room-detail [room]='curSelectedRoom' [roomImages]='roomImages' (close)='isShowRoomDetails=false' class="ion-page"
  *ngIf='isShowRoomDetails' (bookRoom)='onBookRoomPlan($event)'></app-room-detail>