<div [class.disabled]='isOtherOrganization'>
    <ion-item detail lines='none' [disabled]='isOtherOrganization' 
      (click)='searchOrganization()'>
      <ion-label>部门：</ion-label>
      <ion-label text-end>{{organization?.Name}}</ion-label>
    </ion-item>
    <ion-item lines='none' >
      <ion-label style='margin-right: 0.5em'>其他:</ion-label>
      <ion-checkbox color="secondary" [(ngModel)]="isOtherOrganization" (ionChange)='onValueChange()'></ion-checkbox>
      <ion-input [disabled]='!isOtherOrganization' (ionChange)='onValueChange()'
        [(ngModel)]='otherOrganizationName' placeholder='名称'>
      </ion-input>
    </ion-item>
  </div>