ion-col {
  align-self: center;
  padding: 0;
}
ion-row ion-col:nth-child(2n) {
  text-align: end;
}
ion-grid.item:not(:last-child) {
  border-right: 1px solid var(--ion-color-dark);
  margin: 0.25em;
}
:host {
  display: flex;
}
