<ion-grid *ngFor='let item of priceInfos' class='item'>
  <ion-row *ngIf='item.passengerCredential'>
    <ion-col>{{item.passengerCredential?.Name}} <span *ngIf='item.passengerCredential?.Number as n'>{{n}}</span> </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text color='secondary'>{{item.from}}</ion-text>
    </ion-col>
    <ion-col text-center>到</ion-col>
    <ion-col text-end>
      <ion-text color='secondary'>
        {{item.to}}
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>机票票价：</ion-col>
    <ion-col>{{item.price}}</ion-col>
    <ion-col size='1'>元</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>税</ion-col>
    <ion-col>{{item.tax}}</ion-col>
    <ion-col size='1'>元</ion-col>
  </ion-row>
  <ion-row *ngFor='let insurance of item.insurances'>
    <ion-col>{{insurance.name}}</ion-col>
    <ion-col>{{insurance.price}}</ion-col>
    <ion-col size='1'>元</ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="item" *ngIf='fees'>
  <ion-row>
    <ion-col>服务费</ion-col>
    <ion-col>{{fees}}</ion-col>
    <ion-col size='1'>元</ion-col>
  </ion-row>
</ion-grid>