<ion-header>
  <ion-toolbar color=''>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>机票查询</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card padding>
    <ion-card-content>
      <ion-segment (ionChange)="segmentChanged($event)" value="single" color='secondary'>
        <ion-segment-button value="single">
          <ion-label><strong>单程</strong></ion-label>
        </ion-segment-button>
        <ion-segment-button value="roundtrip">
          <ion-label><strong>往返</strong></ion-label>
        </ion-segment-button>
      </ion-segment>
      <app-switch-city-comp [vmFromCity]="vmFromCity" [vmToCity]="vmToCity" appSelectCity></app-switch-city-comp>
      <section class="flight-date">
        <app-search-day-comp [day]='flyDate' (click)="onSelecFlyDate(true)"></app-search-day-comp>
        <div *ngIf="!single">{{ totalFlyDays }}天</div>
        <app-search-day-comp *ngIf="!single" [day]='backDate' (click)="onSelecFlyDate(false)"></app-search-day-comp>
      </section>
      <ion-button class="search" (click)="searchFlight()" fill="solid" color="secondary" expand="block">查询航班
      </ion-button>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-content>
      <div class="tabs">
        <ion-button fill="clear"    color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card> -->
</ion-content>