<section class="time-types">
  <article>
    <ion-button size='small' fill='outline' [class.active]='time==="forenoon"' (click)='onTimeSelect("forenoon")'>
      <span>00:00-12:00</span>
    </ion-button>
  </article>
  <article>
    <ion-button size='small' fill='outline' [class.active]='time==="afternoon"' (click)='onTimeSelect("afternoon")'>
      <span>12:00-18:00</span>
    </ion-button>
  </article>
  <article>
    <ion-button size='small' fill='outline' [class.active]='time==="night"' (click)='onTimeSelect("night")'>
      <span>18:00-00:00</span>
    </ion-button>
  </article>
</section>
<ion-list lines='none' style="display: none;">
  <ion-item>
    <ion-range #range mode='ios' pin='true' dualKnobs="true" min="0" max="24" step="1" snaps="false" name='time'></ion-range>
  </ion-item>
</ion-list>