<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>

      <app-back-button defaultHref='' [backFn]='back.bind(this)'></app-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot='end' *ngIf='bookInfos$'>
      <ion-button fill='clear' color='secondary' size='small' (click)='onShow()'>
        已选旅客
        <ion-badge color='danger'>
          <ion-text color='light'>{{(bookInfos$|async).length}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-refresher slot="fixed" (ionRefresh)="doRefresh(null)">
    <ion-refresher-content refreshingText="正在加载...">
    </ion-refresher-content>
  </app-refresher>
  <ion-toolbar #toolbar class="search">
    <ion-searchbar debounce="300" class="ion-no-margin ion-no-padding" style='padding:0' animated placeholder="员工号、姓名、手机号、空格键 开始查询"
      (ionChange)='onSearch($event)' [(ngModel)]='vmKeyword'>
    </ion-searchbar>
  </ion-toolbar>
  <ng-container *ngIf='vmStaffs else addTempl'>
    <ion-list *ngIf='!loading;else loadingTemp'>
      <ng-container *ngIf='vmStaffs?.length;else nodata'>
        <ion-item *ngFor='let item of vmStaffs' @flyInOut detail (click)='onSelect(item)'>
          <ion-label color='medium' *ngIf='forType != FlightHotelTrainType.InternationalFlight'>
            <ion-text color='dark'>{{item?.Name}}</ion-text>
            {{item.Number}}<span *ngIf='item.CredentialsInfo'>
              <ng-container *ngIf='item.Number&&item?.CredentialsInfo'> | </ng-container>
              {{item?.CredentialsInfo}}
            </span>
          </ion-label>
          <ion-label color='{{selectedPassengerPolicy?.Id==item.Policy?.Id?"secondary":"medium"}}' class='ion-text-wrap'
            *ngIf='forType == FlightHotelTrainType.InternationalFlight'>
            <ion-text color='{{selectedPassengerPolicy?.Id==item.Policy?.Id?"secondary":"dark"}}'>{{item?.Name}}
            </ion-text>
            {{item?.CredentialsInfo}}
          </ion-label>
        </ion-item>
      </ng-container>
      <ng-template #nodata>
        <app-or-comp>暂无数据</app-or-comp>
      </ng-template>
    </ion-list>
    <ng-template #loadingTemp>
      <ion-list>
        <ion-item *ngFor='let it of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];let odd=odd;'>
          <ion-skeleton-text style="width: 80%;height: 1em;" [animated]='odd'></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ng-template>
  </ng-container>
  <ng-template #addTempl>
    <ion-radio-group value="{{selectedCredentialId}}" [allowEmptySelection]="true">
      <ion-list>
        <ng-container *ngFor='let item of staffCredentails' class='ion-margin-bottom'>
          <ng-container *ngIf='item!=vmNewCredential'>
            <ion-item-divider color='primary' (click)='onSelectCredential(item.Id)' style="border-bottom:0.01rem solid #cccccc">
              <ion-label>
                {{item.Type|credential}}
              </ion-label>
              <ion-radio slot='end' name='credentialType' mode='md' class="ion-margin-end" value="{{item.Id}}">
              </ion-radio>
            </ion-item-divider>
            <ion-item lines='none' (click)='onSelectCredential(item.Id)' [@flyInOut] 
            *ngIf='selectedCredentialId ==item.Id'>
              <div class='credential-item'>
                <ion-row>
                  <ion-col>
                    证件号:
                  </ion-col>
                  <ion-col>
                    {{item?.Number}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    证件姓名:
                  </ion-col>
                  <ion-col>
                    {{item?.Surname}}{{item?.Givenname}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    国籍:
                  </ion-col>
                  <ion-col>
                    {{item?.Country}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    出生年月:
                  </ion-col>
                  <ion-col>
                    {{item?.Birthday}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    到期日期:
                  </ion-col>
                  <ion-col>
                    {{item?.ExpirationDate}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    性别:
                  </ion-col>
                  <ion-col>
                    {{item?.Gender=="F"?"女":item?.Gender=="M"?"男":"未知"}}
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ng-container>
        </ng-container>
        <ng-container *ngIf='isShowNewCredential'>
          <ion-item-divider color='primary' (click)='onSelectCredential(vmNewCredential?.Id)'>
            <ion-label>
              <ion-text *ngIf='!vmNewCredential?.isNotWhiteList'>此人其他证件：</ion-text>
              <ion-text *ngIf='vmNewCredential?.isNotWhiteList'>证件：</ion-text>
            </ion-label>
            <ion-radio slot='end' class="ion-margin-end" name='credentialType' value="{{vmNewCredential?.Id}}">
            </ion-radio>
          </ion-item-divider>
          <ion-grid #addForm (click)='onSelectCredential(vmNewCredential?.Id)' [@flyInOut] 
          *ngIf='selectedCredentialId ==vmNewCredential.Id'>
            <app-credentials-comp [(credential)]='vmNewCredential'></app-credentials-comp>
            <ion-row>
              <ion-col size='12'>
                <ion-item class='ion-no-margin ion-no-padding' lines='none'>
                  旅客类别：
                </ion-item>
              </ion-col>
              <ion-col size='12'>
                <ion-radio-group class='credentials-remark ion-no-margin ion-no-padding'
                  [(ngModel)]='vmNewCredential.CredentialsRemark' name='CredentialsRemark'>
                  <ion-item *ngFor='let r of credentialsRemarks'
                    [style.opacity]='vmNewCredential?.Id !=selectedCredentialId?0.7:1'
                    [disabled]='vmNewCredential?.Id !=selectedCredentialId'>
                    <ion-label>{{r.value}}</ion-label>
                    <ion-radio value="{{r.value}}"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
        <ng-container *ngIf='frqPassengerCredentials?.length'>
          <ion-item-divider color='primary' class='ion-margin-top'>
            <ion-text color='secondary'>常旅客</ion-text>
          </ion-item-divider>
          <ng-container *ngFor='let item of frqPassengerCredentials'>
            <ion-item-divider color='primary' (click)='onSelectCredential(item.Id)'>
              <ion-label>
                <!-- {{item.Type|credential}} -->
                {{item?.Surname}}{{item?.Givenname}}
              </ion-label>
              <ion-radio slot='end' name='credentialType' class="ion-margin-end" value="{{item.Id}}">
              </ion-radio>
            </ion-item-divider>
            <ion-item lines='none' (click)='onSelectCredential(item.Id)'  [@flyInOut] 
            *ngIf='selectedCredentialId ==item.Id'>
              <div class='credential-item'>
                <ion-row>
                  <ion-col>
                    证件号:
                  </ion-col>
                  <ion-col>
                    {{item?.Number}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    证件姓名:
                  </ion-col>
                  <ion-col>
                    {{item?.Surname}}{{item?.Givenname}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    登机名:
                  </ion-col>
                  <ion-col>
                    {{item?.Name}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    国籍:
                  </ion-col>
                  <ion-col>
                    {{item?.Country}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    出生年月:
                  </ion-col>
                  <ion-col>
                    {{item?.Birthday}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    到期日期:
                  </ion-col>
                  <ion-col>
                    {{item?.ExpirationDate}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    性别:
                  </ion-col>
                  <ion-col>
                    {{item?.Gender=="F"?"女":item?.Gender=="M"?"男":"未知"}}
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-list>
    </ion-radio-group>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)="loadMore()">
    <ion-infinite-scroll-content>
      正在加载...
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button (click)='onAddPassenger()' fill='solid' color='secondary' [disabled]='!selectedPassenger'>确定
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>