<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>选择乘客</ion-title>
    <ion-buttons slot='end'>
      <ion-button fill='clear' color='secondary' size='small' (click)='onShow()'>
        已选乘客
        <ion-badge color='danger'>
          <ion-text color='light'>{{selectedPasengersNumber$|async}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh(null)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-toolbar #toolbar>
    <ion-searchbar debounce="700" animated placeholder="员工号、姓名、手机号、空格键 开始查询" (ionChange)='onSearch($event)'
      [(ngModel)]='vmKeyword'>
    </ion-searchbar>
  </ion-toolbar>
  <ng-container *ngIf='vmStaffs else addTempl'>
    <ion-list *ngIf='!loading;else loadingTemp'>
      <ng-container *ngIf='vmStaffs?.length;else nodata'>
        <ion-item *ngFor='let item of vmStaffs' detail (click)='onSelect(item)'>
          <ion-label color='medium'>
            <ion-text color='dark'>{{item?.Name}}</ion-text>
            {{item?.CredentialsInfo}}
          </ion-label>
        </ion-item>
      </ng-container>
      <ng-template #nodata>
        <app-or-comp>暂无数据</app-or-comp>
      </ng-template>
    </ion-list>
    <ng-template #loadingTemp>
      正在加载...
    </ng-template>
  </ng-container>
  <ng-template #addTempl>
    <ion-item-group *ngFor='let item of staffCredentails' margin-bottom>
      <ng-container *ngIf='item!=vmNewCredential'>
        <ion-item-divider color='primary'>
          <ion-item slot='start' style='width: 100%' lines='none'>
            <ion-label>
              {{item.Type|credential}}
            </ion-label>
            <ion-radio slot='end' name='credentialType' [checked]='item.Id==selectedCredentialId'
              (ionSelect)='onSelectCredential(item.Id)' value="{{item.Id}}"></ion-radio>
          </ion-item>
        </ion-item-divider>
        <ion-item lines='none' (click)='onSelectCredential(item.Id)'>
          <div class='credential-item'>
            <ion-row>
              <ion-col>
                证件号:
              </ion-col>
              <ion-col>
                {{item?.Number}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                证件姓名:
              </ion-col>
              <ion-col>
                {{item?.FirstName}}{{item?.LastName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                登机名:
              </ion-col>
              <ion-col>
                {{item?.CheckName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                国籍:
              </ion-col>
              <ion-col>
                {{item?.Country}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                出生年月:
              </ion-col>
              <ion-col>
                {{item?.Birthday}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                到期日期:
              </ion-col>
              <ion-col>
                {{item?.ExpirationDate}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                性别:
              </ion-col>
              <ion-col>
                {{item?.Gender=="F"?"女":item?.Gender=="M"?"男":"未知"}}
              </ion-col>
            </ion-row>
          </div>
        </ion-item>
      </ng-container>

    </ion-item-group>
    <ng-container *ngIf='isShowNewCredential'>
      <ion-item-group>
        <ion-item-divider color='primary'>
          <ion-item slot='start' style='width: 100%;' lines='none'>
            <ion-label>
              <ion-text *ngIf='!vmNewCredential?.isNotWhiteList'>此人其他证件：</ion-text>
              <ion-text *ngIf='vmNewCredential?.isNotWhiteList'>证件：</ion-text>
            </ion-label>
            <ion-radio slot='end' name='credentialType' value="{{vmNewCredential?.Id}}"
              [checked]='vmNewCredential?.Id==selectedCredentialId'
              (ionSelect)='onSelectCredential(vmNewCredential?.Id)'>
            </ion-radio>
          </ion-item>
        </ion-item-divider>
        <ion-grid #addForm>
          <ion-row>
            <ion-col no-margin no-padding class="id-type">
              <ion-item lines='none' no-margin no-padding>
                <ion-label style="opacity: 1">证件类型：</ion-label>
                <ion-select [(ngModel)]='vmNewCredential.Type' name='Type' okText="确定" cancelText="取消"
                  [disabled]='vmNewCredential?.Id !=selectedCredentialId' [compareWith]='compareFn'>
                  <ion-select-option [value]="opt.key" *ngFor='let opt of identityTypes'>{{opt.key|credential}}
                  </ion-select-option>
                </ion-select>
                <input type="text" value="{{vmNewCredential.Type}}" hidden ValidateName="Type">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件号码：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='vmNewCredential.Number'
                [disabled]='vmNewCredential?.Id !=selectedCredentialId' name='Number' ValidateName="Number">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>姓：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='vmNewCredential.FirstName'
                [disabled]='vmNewCredential?.Id !=selectedCredentialId' ValidateName='FirstName' name='FirstName'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>名：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='vmNewCredential.LastName'
                [disabled]='vmNewCredential?.Id !=selectedCredentialId' ValidateName='LastName' name='LastName'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>登机姓：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='vmNewCredential.CheckFirstName'
                [disabled]='vmNewCredential?.Id !=selectedCredentialId' ValidateName='CheckFirstName'
                name='CheckFirstName' value="{{vmNewCredential.FirstName}}">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>登机名：</ion-col>
            <ion-col>
              <input type="text" [(ngModel)]='vmNewCredential.CheckLastName'
                [disabled]='vmNewCredential?.Id !=selectedCredentialId' ValidateName='CheckLastName'
                name='CheckLastName' value="{{vmNewCredential.LastName}}">
            </ion-col>
          </ion-row>
          <ion-row (click)='selectIdentityNationality()'>
            <ion-col>
              <ion-label>国籍：</ion-label>
            </ion-col>
            <ion-col text-end [class.disabled]='vmNewCredential?.Id !=selectedCredentialId'>
              <input type="text" style='border: none' text-end [class.validctrlsucess]='!!vmNewCredential.Country'
                [class.validerrormess]='!vmNewCredential.Country' [class.validctrlerror]='!vmNewCredential.Country'
                [disabled]='true' [class.disabled]='vmNewCredential?.Id !=selectedCredentialId'
                value="{{vmNewCredential.Country?.Name}}({{vmNewCredential.Country?.Code}})" name='Country'
                ValidateName="Country">
            </ion-col>
            <ion-col size='1' class='arrow-forward' text-end
              [class.disabled]='vmNewCredential?.Id !=selectedCredentialId'>
              <ion-icon name='arrow-forward' size='small' color='medium' mode='ios'></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row (click)='selectIssueNationality()'>
            <ion-col>
              <ion-label>发证国籍：</ion-label>
            </ion-col>
            <ion-col text-end>
              <input type="text" text-end [class.validerrormess]='!vmNewCredential.IssueCountry'
                [class.validctrlsucess]="!!vmNewCredential.IssueCountry"
                [class.validctrlerror]='!vmNewCredential.IssueCountry'
                [class.disabled]='vmNewCredential?.Id !=selectedCredentialId' [disabled]='true'
                value="{{vmNewCredential.IssueCountry?.Name}}({{vmNewCredential.IssueCountry?.Code}})"
                name='IssueCountry' style='border: none' ValidateName="IssueCountry">
            </ion-col>
            <ion-col size='1' class='arrow-forward' text-end
              [class.disabled]='vmNewCredential?.Id !=selectedCredentialId'>
              <ion-icon name='arrow-forward' size='small' color='medium' mode='ios'></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>性别：</ion-col>
            <ion-col>
              <ion-radio-group no-margin no-padding [(ngModel)]='vmNewCredential.Gender'
                [disabled]='vmNewCredential?.Id !=selectedCredentialId' name='Gender' class='gender'>
                <ion-radio value="M" [disabled]='vmNewCredential?.Id !=selectedCredentialId'
                  [checked]='vmNewCredential.Gender=="M"'></ion-radio>
                <ion-label slot='start'>男</ion-label>
                <ion-label margin-start padding-start></ion-label>
                <ion-radio value="F" [disabled]='vmNewCredential?.Id !=selectedCredentialId'></ion-radio>
                <ion-label>女</ion-label>
              </ion-radio-group>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>出生年月：</ion-col>
            <ion-col>
              <input type="date" [disabled]='vmNewCredential?.Id !=selectedCredentialId'
                [(ngModel)]='vmNewCredential.Birthday' name='Birthday' ValidateName="Birthday">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>证件到期日期：</ion-col>
            <ion-col>
              <input type="date" [disabled]='vmNewCredential?.Id !=selectedCredentialId'
                [(ngModel)]='vmNewCredential.ExpirationDate' name='ExpirationDate' ValidateName="ExpirationDate">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item no-margin no-padding lines='none'>
                乘客类别：
              </ion-item>
            </ion-col>
            <ion-col size='7'>
              <ion-radio-group class='credentials-remark' no-margin no-padding
                [(ngModel)]='vmNewCredential.CredentialsRemark' name='CredentialsRemark'>
                <ion-item *ngFor='let r of credentialsRemarks'
                  [style.opacity]='vmNewCredential?.Id !=selectedCredentialId?0.7:1'
                  [disabled]='vmNewCredential?.Id !=selectedCredentialId'>
                  <ion-label>{{r.value}}</ion-label>
                  <ion-radio value="{{r.value}}" [checked]='r.key=="客户"'></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-group>
    </ng-container>
    <ng-container *ngIf='frqPassengerCredentials&&frqPassengerCredentials.length'>
      <ion-item-divider color='primary' margin-top>
        <ion-text color='secondary'>常旅客</ion-text>
      </ion-item-divider>
      <ion-item-group *ngFor='let item of frqPassengerCredentials' (click)='onSelectCredential(item.Id)'>
        <ion-item-divider color='primary'>
          <ion-item slot='start' style='width: 100%' lines='none'>
            <ion-label>
              {{item.Type|credential}}
            </ion-label>
            <ion-radio slot='end' name='credentialType' value="{{item.Id}}" [checked]='item.Id==selectedCredentialId'
              (ionSelect)='onSelectCredential(item.Id)'></ion-radio>
          </ion-item>
        </ion-item-divider>
        <ion-item lines='none'>
          <div class='credential-item'>
            <ion-row>
              <ion-col>
                证件号:
              </ion-col>
              <ion-col>
                {{item?.Number}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                证件姓名:
              </ion-col>
              <ion-col>
                {{item?.FirstName}}{{item?.LastName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                登机名:
              </ion-col>
              <ion-col>
                {{item?.CheckName}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                国籍:
              </ion-col>
              <ion-col>
                {{item?.Country}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                出生年月:
              </ion-col>
              <ion-col>
                {{item?.Birthday}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                到期日期:
              </ion-col>
              <ion-col>
                {{item?.ExpirationDate}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                性别:
              </ion-col>
              <ion-col>
                {{item?.Gender=="F"?"女":item?.Gender=="M"?"男":"未知"}}
              </ion-col>
            </ion-row>
          </div>
        </ion-item>
      </ion-item-group>
    </ng-container>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button (click)='onAddPassenger()' fill='clear' color='secondary' [disabled]='!selectedPassenger'>确定
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>