<?xml version="1.0" encoding="utf-8"?>
<plugin 
  xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-qrscanner-plugin" version="1.0.0">
  <name>QRScanner</name>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  <js-module src="www/qrScanner.js" name="QRScanner">
    <clobbers target="qrScanner" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QRScanner">
        <param name="android-package" value="com.beeant.plugin.qrscanner.QRScanner"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" android:required="false" />
      <uses-feature android:name="android.hardware.camera" android:required="false" />
      <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    </config-file>
    <source-file src="src/android/QRScanner.java" target-dir="src/com/beeant/plugin/qrscanner"/>
    <framework src="src/android/qrscanner.gradle" custom="true" type="gradleReference"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="QRScanner">
        <param name="ios-package" value="QRScanner"/>
      </feature>
    </config-file>
    <dependency id="cordova-plugin-add-swift-support" spec="~2.0.2" />
    <source-file src="src/ios/QRScanner.swift"/>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>（需要使用相机功能扫码）The camera is used to scan QR codes.</string>
    </config-file>
  </platform>
</plugin>