// ion-input.travel-number {
//   font-size: 0.9rem;
// }
// ion-icon {
//   font-size: 1rem;
//   margin-right: 0.2em;
//   margin-left: -0.5em;
// }
// .div {
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
// }
// .loading {
//   opacity: 0.4;
//   font-size: 0.8rem;
// }
// ion-item{
//   --padding-start: 0;
//   font-size:14px;
// }
.row {
  padding: 1em;
  display: flex;
  align-items: center;
  font-size: 14px;
  .label {
    width: 90px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #666666;
  }
  .value {
    flex: 1;
  }
  .mobiles,
  .emails {
    &.ismulti .label {
      align-self: flex-start;
      padding-top: 1em;
    }
  }
  ion-input {
    --padding-top: 0;
    --padding-bottom: 0;
  }
  ion-item {
    font-size: 14px;
    --padding-start: 0;
    ion-checkbox {
      width: 1.2em;
      height: 1.2em;
      margin: 0;
    }
  }
  ion-icon {
    opacity: 0.6;
    font-size: 16px;
    margin-left: auto;
  }
  border-bottom: 1px solid #eeeeee;
  &.n-b {
    border: none;
  }
}
:host {
  width: 100%;
}
