.con-header {
    background: #5099fe;
    width: 100%;
    .con-toolbar {
        --background: #5099fe;
    }
    .conter {
        display: flex;
        align-items: center;
        margin-left: 30px;
        width: 100%;
        // height: 3.5em;
        padding-bottom: 1.2em;
        div :first-child {
            margin-right: 16px;
        }
        img {
            width: 27.5px;
            margin-top: 6px;
        }
        .status {
            font-size: 24px;
            color: #fff;
        }
    }
}

.hotel-name {
    // color: #000;
    font-size: 15px;
    font-weight: bold;
}

.ion-item-divider {
    display: flex;
    align-items: center;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 6px;
    border-top: 0.1px solid #eae6e6;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    img {
        width: 27px;
        margin-right: 16px;
    }
}

.swiper-slide {
    align-items: flex-start;
    width: 100%;
    text-align: left;
    background: #fff;
    &>*:first-child {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

ion-row {
    padding-left: 1em;
    margin-top: 0.1em;
    // border-bottom: 1px solid rgba(var(--ion-color-dark-rgb), 0.13);
}

ion-row ion-col {
    align-self: flex-start;
    font-size: 12px;
    color: #666666;
    &:first-child {
        color: var(--ion-color-medium);
    }
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-light);
}

:host.dark {
    .swiper-slide {
        background: initial;
    }
    .ion-item-divider {
        background-color: initial;
    }
    .order-flight-ticket-info {
        background: initial;
    }
    .display-flex {
        color: var(--ion-text-color);
    }
    ion-row ion-col {
        color: var(--ion-text-color);
    }
}