<ion-list>
  <ion-item detail *ngFor='let order of orderModel?.Orders'>
    <div class='order-item'>
      <ion-row>
        <ion-col><strong>{{order.Id}}</strong></ion-col>
        <ion-col>
          <ion-text color='secondary'>{{order.StatusName == "等待处理" ? "等待审批" : order.StatusName}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngIf='order.InsertDateTime'>
        <ion-col>完成时间</ion-col>
        <ion-col>{{order.InsertDateTime}}</ion-col>
      </ion-row>
      <!-- <ion-row *ngFor='let p of order.OrderPassengers'>
        <ion-col>{{p.CheckName}}</ion-col>
        <ion-col>{{p.CredentialsNumber}}</ion-col>
      </ion-row> -->
      <ion-row *ngFor='let orderFlightTicket of order.OrderFlightTickets'>
        <ion-col>
          <ng-container *ngFor='let orderFlightTrip of orderFlightTicket.OrderFlightTrips'>
            <ng-container *ngIf='orderFlightTrip.Status==OrderFlightTripStatusType.Normal'>
              <ion-row no-margin no-padding>
                <ion-col no-margin no-padding>
                  {{orderFlightTrip.FromCityName}}-->{{orderFlightTrip.ToCityName}}
                </ion-col>
                <ion-col>
                  {{orderFlightTrip.TakeoffShortTime}}--{{orderFlightTrip.ArrivalShortTime}}
                </ion-col>
                <ion-col *ngIf='!orderFlightTrip.IsSelfBook'>代订</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>{{orderFlightTrip.FlightNumber}}</ion-col>
                <ion-col>{{orderFlightTicket.Passenger?.CheckName}}</ion-col>
                <ion-col>{{orderFlightTrip.TakeoffDate}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text color='danger'>￥{{orderFlightTicket.vmTicketAmount}}</ion-text>
                  <ion-text color='danger' *ngIf='orderFlightTicket.vmInsuranceAmount'>
                    (含保险{{orderFlightTicket.vmInsuranceAmount}})</ion-text>
                </ion-col>
                <ion-col>
                  {{ orderFlightTicket.StatusName}}
                </ion-col>
              </ion-row>
            </ng-container>
          </ng-container>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-list>