<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='back()'>
        <ion-icon color='dark' name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text *ngIf='(isShowBookInfos$|async)'>机票查询</ion-text>
    <ion-title *ngIf='!(isShowBookInfos$|async)'>机票查询</ion-title>
    <ion-buttons slot='end' *ngIf='(isShowBookInfos$|async) as num'>
      <ion-button fill='clear' color='secondary' size='small' appOpenSelectedBookInfos (click)='isCanleave=true'>已选航班
        <ion-badge slot='end' color='danger'>
          {{num}}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot='end' *ngIf='!isSelf'>
      <ion-button fill='clear' color='secondary' size='small' (click)='onSelectPassenger()'>添加乘客<ion-badge
          color='danger'>
          <ion-text color='light'>{{selectedPassengers}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card padding>
    <ion-card-subtitle *ngIf='disabled' color='danger'>当前正在选择回程</ion-card-subtitle>
    <ion-card-content>
      <ion-segment (ionChange)="segmentChanged($event)" [value]="isSingle?'single':'roundtrip'" color='secondary'
        *ngIf='showReturnTrip' [disabled]='disabled'>
        <ion-segment-button value="single">
          <ion-label><strong>单程</strong></ion-label>
        </ion-segment-button>
        <ion-segment-button value="roundtrip">
          <ion-label><strong>往返</strong></ion-label>
        </ion-segment-button>
      </ion-segment>
      <app-switch-city-comp [vmFromCity]="vmFromCity" [vmToCity]="vmToCity" [disabled]='disabled'>
      </app-switch-city-comp>
      <section class="flight-date">
        <app-search-day-comp [day]='goDate' (click)="onSelecFlyDate(true,false)" [disabled]='disabled'>
        </app-search-day-comp>
        <div *ngIf="">{{ totalFlyDays }}天</div>
        <app-search-day-comp *ngIf="!isSingle" [day]='backDate' (click)="onSelecFlyDate(false,true)">
        </app-search-day-comp>
      </section>
      <ion-button style='width: 100%' (click)="searchFlight()" margin-top *ngIf='isSelf'
        color="secondary" expand="block">
        <ion-text>查询航班</ion-text>
      </ion-button>
      <ion-button style='width: 100%' (click)="onSelectPassenger()" margin-top
        *ngIf='(!isSelf && selectedPassengers==0)' color="secondary" expand="block">
        <ion-text>请添加乘客</ion-text>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-content>
      <div class="tabs">
        <ion-button fill="clear"    color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card> -->
</ion-content>