.scroller-indicator {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
:host {
  position: fixed;
  bottom: 0em;
  left: 0;
  right: 0;
  background: white;
  display: block;
  z-index: 999;
  transform: translateY(100%);
  &.show {
    transform: translateY(0);
  }
}
