<div class="back-drop" *ngIf='isShowPriceDetail'></div>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>

      <app-back-button defaultHref=''></app-back-button>
    </ion-buttons>
    <ion-title>客房预订信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot='fixed' (ionRefresh)='doRefresh()'></ion-refresher>
  <ion-item-group *ngFor='let bookInfo of bookInfos$|async'>
    <ng-container *ngIf='bookInfo?.bookInfo'>
      <ion-item-divider sticky>
        <ion-label color='dark'>{{bookInfo?.credential?.Name}}{{bookInfo?.credential?.Number}}</ion-label>
        <ion-icon name='trash' color='danger' (click)='onRemoveBookInfo(bookInfo)' slot='end' class='ion-margin-end'>
        </ion-icon>
      </ion-item-divider>
      <app-inter-room-show-item-en [bookInfo]='bookInfo' (changeDate)='onChangeDate(bookInfo)'
        (bedChange)='onbedChange($event,bookInfo)' (showRoomDetail)='onShowRoomDetail(bookInfo)'
        (showPriceDetailEvt)='onShowPriceDetails($event)'>
      </app-inter-room-show-item-en>
    </ng-container>
  </ion-item-group> 
</ion-content>
<ion-footer *ngIf='!isShowChangeDateComp'>
  <ion-toolbar>
    <ion-button slot='end' (click)='nextStep()' color='secondary' [disabled]='!canGoToNext()' size='small'>下一步
    </ion-button>
  </ion-toolbar>
</ion-footer>
<app-change-inter-roomplan-date (close)='isShowChangeDateComp=false' *ngIf='isShowChangeDateComp'
  (confirm)='onConfirm($event)' (openCalendar)='onOpenCalendar($event)'>
</app-change-inter-roomplan-date>
<ion-backdrop *ngIf='isShowPriceDetail' (ionBackdropTap)='onShowPriceDetails({isShow:false})'></ion-backdrop>
<div [class.show]='isShowPriceDetail' class="price-list">
  <ion-item-divider>{{calcNights()}}晚,共<small>￥</small>{{curSelectedBookInfo?.bookInfo?.roomPlan?.TotalAmount}}
  </ion-item-divider>
  <ul>
    <li *ngFor='let d of dates'>
      <span>{{d.date}}</span>
      <ion-label class='ion-margin-start'>1&times;<small>￥</small>{{d.price}}</ion-label>
    </li>
  </ul>
</div>