<ion-header class='ion-text-center'>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref='' [backFn]='back.bind(this)'></app-back-button>
    </ion-buttons>
    <ion-text>请选择舱位</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar class='ion-text-center'>
    <ion-label class='ion-no-margin ion-no-padding'>
      <strong>{{flightSegment?.FromCityName}} - {{flightSegment?.ToCityName}}</strong>
    </ion-label>
    <ion-item lines='none'>
      <app-fly-list-item [flightSegment]='flightSegment' [showDetails]='true'></app-fly-list-item>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar style='font-size: .6rem;padding:0 1em;'>
    <div>
      过滤差标：
    </div>
    <ion-label color='success' class='ion-margin-start'>
      绿色代表符合差标
    </ion-label>
    <div>
      <ion-label class='ion-margin-start' color='warning'>
        黄色代表违规可以预订
      </ion-label>
    </div>
    <ion-label color='danger' class='ion-margin-start'>
      红色代表违规不可预订
    </ion-label>
  </ion-toolbar>
  <ion-item *ngFor='let cabin of policiedCabins'>
    <div class='cabin-item'>
      <ion-row class='ion-margin-top'>
        <ion-col size='8'>
          <ion-label (click)='openrules(cabin)'>
            <h3 class='discount'>
              <ion-text color='dark'>{{cabin?.Cabin?.TypeName}}</ion-text>
              <ion-text color='dark'>{{cabin?.Cabin?.Discount|discount}} </ion-text>
              <ion-text color='secondary' *ngIf='cabin?.Cabin?.FareType==FlightFareType.Agreement'>
                <strong><ion-text color='danger'>协</ion-text></strong>
              </ion-text>
              <ion-text color='secondary' *ngIf='cabin?.Cabin?.FlightPolicy&&isAgent'>
                <strong>政</strong>
              </ion-text>
            </h3>
            <h3>
              <ion-text color='secondary'>退改签政策详情&nbsp;> </ion-text>
            </h3>
            <h3>余票：{{cabin?.Cabin?.Count}}&nbsp;张</h3>
          </ion-label>
        </ion-col>
        <ion-col size='4'>
          <ion-label>
            <h3 class='book ion-text-end'>
              <ion-text color='danger'>￥{{cabin?.Cabin?.SalesPrice}}</ion-text>
              <ion-button [color]='bookColor(cabin)' class='ion-margin-top' expand='block'
                [class.disabled]='!cabin?.IsAllowBook' (click)='onBookTicket(cabin)'>
                <ion-text color='light'>预订</ion-text>
              </ion-button>
            </h3>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ng-container *ngIf='cabin?.Rules'>
            <ion-label *ngFor='let r of cabin.Rules' color='danger' class='rule ion-text-wrap'>{{r}}</ion-label>
          </ng-container>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-content>