<ion-content class='ion-padding'>
  <ion-slides >
    <ion-slide *ngFor='let t of order?.OrderFlightTickets'>
      <ion-grid>
        <!-- <ion-row *ngIf='getPassenger(t) as p'>
          <ion-col>
            <span>{{p.Name}}</span>
          </ion-col>
        </ion-row> -->
        <div style="font-size:0.9rem">
          <ion-row *ngIf="t.Id">
            <ion-col class="ion-text-nowrap">
              事务号
              <span>{{t.Id}}</span>
              <span> ({{t.StatusName}})</span>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let o of getOrderFees(t)" >
            <ion-col class="ion-text-nowrap">
              <span>{{o.Name}}</span>
            </ion-col>
            <ion-col size='1'>
              <ion-text class="price ion-text-nowrap" #price>{{o.Value}}元</ion-text>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let insurance of getInsurances(t)">
            <ion-col size='7'>{{insurance.Name}}</ion-col>
            <ion-col class='price'>{{insurance.Premium}}</ion-col>
            <ion-col size='1'>元</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='7'>总计</ion-col>
            <ion-col class='price total'>
            <span class='amount'>{{getPriceAmount(t)}}</span>
            </ion-col>
            <ion-col size='1'>元</ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <div class="bullets" *ngIf='order?.OrderFlightTickets?.length>1'>
    <ion-icon name="caret-back-outline" color='secondary'></ion-icon>
    <div *ngFor='let b of order?.OrderFlightTickets;let i=index;' class="bullet"
      [class.active]='b.Id==order?.OrderFlightTickets[activeIdx].Id'></div>
    <ion-icon name="caret-forward-outline" color='secondary'></ion-icon>
  </div>
</ion-content>