.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ion-col {
  align-self: flex-start;
}
ion-content {
  font-size: 0.9rem;
  .swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    ion-grid {
      padding-right: 1em;
      // min-width: 60vw;
      &:not(:last-child) {
        border-right: 1px solid gray;
      }
    }
  }
}
