<ion-content padding>
  <ion-row *ngIf='getAmount(OrderItemHelper.FlightTicket) as amount'>
    <ion-col size='6'>票面价</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount(OrderItemHelper.FlightTicketTax) as amount'>
    <ion-col size='6'>税收</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketOfflineFee,OrderItemHelper.FlightTicketOnlineFee]) as amount'>
    <ion-col size='6'>服务费</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketReward,OrderItemHelper.FlightTicketRate],"TmcRate") as amount'>
    <ion-col size='6'>代理费率</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf=' getAmount([OrderItemHelper.FlightTicketReward,OrderItemHelper.FlightTicketRate]) as amount'>
    <ion-col size='6'>代理费</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketExchange]) as amount'>
    <ion-col size='6'>改签费</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketExchangeTax]) as amount'>
    <ion-col size='6'>改签税</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([
  OrderItemHelper.FlightTicketExchangeApiFee,
  OrderItemHelper.FlightTicketExchangeApiFee,
  OrderItemHelper.FlightTicketExchangeOnlineFee]) as amount'>
    <ion-col size='6'>改签服务费</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf=' getAmount([
  OrderItemHelper.FlightTicketExchangeRate,
  OrderItemHelper.FlightTicketExchangeReward],"TmcRate") as amount'>
    <ion-col size='6'>改签代理费率</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf=' getAmount([
  OrderItemHelper.FlightTicketExchangeReward,
  OrderItemHelper.FlightTicketExchangeRate]) as amount'>
    <ion-col size='6'>改签代理费</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([
  OrderItemHelper.FlightTicketRefund]) as amount'>
    <ion-col size='6'>退票票面价</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketRefundTax]) as amount'>
    <ion-col size='6'>退票税收</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketRefundUsedTicket]) as amount'>
    <ion-col size='6'>退票已用票价</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketRefundUsedTax]) as amount'>
    <ion-col size='6'>退票已用税收</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketRefundDeduction]) as amount'>
    <ion-col size='6'>退票手续费</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.FlightTicketRefundApiFee,
    OrderItemHelper.FlightTicketRefundOfflineFee,
    OrderItemHelper.FlightTicketRefundOnlineFee]) as amount'>
    <ion-col size='6'>退票服务费</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf=' getAmount([OrderItemHelper.FlightTicketRefundRate,
    OrderItemHelper.FlightTicketRefundReward],"TmcRate") as amount'>
    <ion-col size='6'>退票代理费率</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf=' getAmount([OrderItemHelper.FlightTicketRefundRate,
    OrderItemHelper.FlightTicketRefundReward]) as amount'>
    <ion-col size='6'>改签代理费</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row *ngIf='getAmount([OrderItemHelper.Insurance]) as amount'>
    <ion-col size='6'>航班意外险</ion-col>
    <ion-col class='price'>{{abs(amount)}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='6'>总计</ion-col>
    <ion-col class='price'>{{amount}}</ion-col>
    <ion-col>元</ion-col>
  </ion-row>
</ion-content>