span {
  user-select: text;
  margin-right: 1em;
}
strong {
  font-size: 1.3rem;
}
small {
  font-size: 0.6rem;
  margin: 0 0.5em;
}
ion-button {
  --opacity: 1;
}
.passenger {
  font-size: 0.8rem;
  margin: 0.5em 0;
}
img {
  height: 3em;
}
