.hotel-city-page-container {
  transform: translate3d(100%, 0, 0);
  transition: all ease-in-out 200ms;
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: white;
  // z-index: 1000;
  &.show {
    transform: translate3d(0, 0, 0);
  }
}
.hotel-city-page-container .list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.hotel-city-page-container .item {
  margin: 0;
  padding: 0.5em 1em;
}
.hotel-city-page-container .list .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.hotel-city-page-container .list .item.selected {
  color: var(--ion-color-secondary);
}
.hotel-city-page-container .list .item label {
  font-size: 14px;
}
.hotel-city-page-container .list .letter-header {
  font-weight: bolder;
  background-color: #eee;
  height: 20px;
  padding: 0 0.6em;
}
.hot-cities-wrapper .list .letter-header label {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}
.hotel-city-page-container .letters-wrapper {
  position: sticky;
  right: 0;
  top: 0;
  width: 2em;
  float: right;
}
.hotel-city-page-container .letter-navs {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: transparent;
  position: absolute;
  right: 0.5em;
  bottom: 10vh;
  z-index: 99;
  top: 10vh;
}
.hotel-city-page-container .letter-navs .nav-letter {
  padding: 0.15em 0.5em;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #999999;
}
.hotel-city-page-container .hot-cities-wrapper .header {
  display: flex;
  align-items: center;
  padding: 1em;
}
.hotel-city-page-container .hot-cities-wrapper .header .icon {
  margin-left: auto;
  margin-right: 1em;
}
.hotel-city-page-container .hot-cities-wrapper .list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.hotel-city-page-container .hot-cities-wrapper .list-wrapper {
  width: 100%;
  padding: 0 1.5em 0.5em 1.5em;
}
.hotel-city-page-container.md .hot-cities-wrapper .list-wrapper {
  padding: 0 0.5em 0 0.5em;
}
.hotel-city-page-container.fab-btn {
  color: white;
  background-color: rgba(var(--ion-color-secondary-rgb), 0.6);
  border-radius: 50%;
  position: fixed;
  right: 10vw;
  width: 2em;
  height: 2em;
  bottom: 5vh;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  ion-icon {
    font-size: 1.1rem;
  }
  transition: all ease-in-out 200ms;
  transform: translate3d(1000%, 0, 0);
  &.show {
    z-index: 99;
    transform: translate3d(0, 0, 0);
  }
}
.hotel-city-page-container .hot-cities-wrapper .b-item {
  background: #f6f6f6;
  border-radius: 5px;
  width: 90px;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  margin: 8px;
  text-align: center;
  padding: 0.1em 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hotel-city-page-container .b-item label {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
}
.hotel-city-page-container {
  .header {
    height: 44px;
    display: flex;
    align-items: center;
    padding-top: 0.5em;
    ion-icon {
      font-size: 1.2rem;
      opacity: 0.8;
      margin: 0 0.2em;
    }
    .back-icon {
      font-size: 1.5rem;
    }
    ion-searchbar {
      --border-radius: 5px;
      padding: 0;
      margin-right: -0.5em;
      height: 100%;
    }
    .cancel {
      color: var(--ion-color-secondary);
    }
  }
}
