<ng-container *ngIf='tmcOutNumberInfos?.length'>
  <ng-container *ngFor='let n of vmTmcOutNumberInfos'>
    <ion-item  class='hidden' [disabled]='n.isDisabled||isExchange||!isShowGroupedInfo'>
      <ion-label>{{n.label}}</ion-label>
      <ion-select class='travel-number' #selectEle value='cn' (ionChange)='onSelectChange($event,selectEle)'  okText="确定" cancelText="取消" [compareWith]='compareWithFn' [(ngModel)]='n.value' style="flex: 3;min-width: 60%;text-align: end;max-width: 100%;">
        <ion-select-option [value]='item' *ngFor="let item of n.labelDataList">{{item}}</ion-select-option>
        <ion-select-option value='' *ngIf='!n.required'>--不选--</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="row"  *ngIf='n.labelDataList?.length else nodatas' (click)='onOpenSelect(selectEle,n.isDisabled)'>
      <div class="label">{{n.label}}</div>
      <div class="value">{{n.value}}</div>
      <ion-icon name="chevron-up-outline" ></ion-icon>
    </div>
    <ng-template #nodatas>
      <div class="row">
        <ion-label class="label">{{n.label}}:</ion-label>
        <div class="value">
          <ion-input class='value travel-number' [disabled]='n.isDisabled||isExchange||!isShowGroupedInfo' [(ngModel)]='n.value' placeholder="{{n.label||'请输入'}}">
          </ion-input>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ion-item *ngFor='let h of hints' @flyInOut (click)='onSelectText(h)'>
    <ion-label>{{h}}</ion-label>
  </ion-item>
  <div class='row' *ngFor='let n of travelNumbers' [class.hidden]='hints?.length' (click)='onSelectTravelNumber(n)'>
    <ion-label class='label'>{{n.label}}:</ion-label>
    <ion-label class="value" [class.loading]='n.isLoadingNumber||!n.travelUrlInfos?.length'>{{n.value||(n.isLoadingNumber?'正在加载行程单号...':(n.loadTravelUrlErrorMsg||(!n.travelUrlInfos?.length?'暂无数据':'请选择')))}}</ion-label>
    <ion-icon name='caret-down-outline' color='secondary' *ngIf='!isExchange&&isShowGroupedInfo'>
    </ion-icon>
  </div>
</ng-container>