<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button fill='clear' color='dark' (click)='back()'>取消</ion-button>
    </ion-buttons>
    <ion-title>发送邮件</ion-title>
    <ion-buttons slot='end'>
      <ion-button fill='clear' color='secondary' (click)='done()'>发送</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <div [style.display]='!isAddingEmail?"initial":"none"'>
    <!-- <ion-row> 中英文已经合并，不需要选择语言
      <ion-col size='2'>
        语言
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]='lang' [compareWith]='compareFn' (ionChange)='onChange()'>
          <ion-select-option value='cn'>中文</ion-select-option>
          <ion-select-option value='en'>英文</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col szie='2'>
        邮件模板
      </ion-col>
      <ion-col>
        <ion-select [compareWith]='compareFn' [(ngModel)]='type' (ionChange)='onChange()'>
          <ion-select-option *ngFor='let item of selectItemList' [value]='item.Value'>{{item.Text}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-label color='medium'>邮件将发送到下列邮件地址：</ion-label>
    <div class='emails'>
      <div class='email-item'>
        <ion-label margin-end color='medium'>邮箱:</ion-label>
        <div *ngFor='let m of emails' class='email'>
            <span (click)='edit(m)'>{{m}}</span>
          <ion-icon name="close-circle" class='remove-icon' color='danger' (click)='remove(m)'></ion-icon>
        </div>
      </div>
      <ion-icon name="add-circle" style='font-size: 1.2rem;' mode='ios' color='secondary' slot='end'
        (click)='onAddEmailMode()'></ion-icon>
    </div>
    <div class='subject'>
      <ion-label margin-end color='medium'>邮件标题:</ion-label>
      <ion-input type='text' placeholder="邮件标题" [(ngModel)]='subject'></ion-input>
    </div>
    <div class='content'>
      <ion-label text-wrap>
        <div *ngIf='isLoading'>正在加载...</div>
        <div #content [style.display]='emailContent?"block":"none"' class='email-content'></div>
        <textarea type='email' placeholder="邮件内容" *ngIf='!emailContent' [(ngModel)]='emailContent'
          appAutoGrow></textarea>
      </ion-label>
    </div>
  </div>

  <ion-list [style.display]='isAddingEmail?"initial":"none"'>
    <ion-item>
      <ion-label position='floating'>邮箱地址：</ion-label>
      <ion-input type='email' placeholder="请输入邮箱地址" [(ngModel)]='email'></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-button size='small' slot='end' fill='outline' color='secondary' (click)='addEmail()'>
        添加
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>