.swiper-slide {
  width: 100%;
  height: 100%;
  background: black;
  // img {
  //   object-fit: cover;
  //   width: 100%;
  //   height: 100%;
  // }
}
.divimg {
  background-repeat: no-repeat;
  height: 100%;
  &.has-thumbs {
    height: 85vh;
  }
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: relative;
  .logo {
    position: absolute;
    bottom: -0.5em;
    right: -2.4em;
    height: 6em;
    background-repeat: no-repeat;
    width: 11em;
    // background-image: url(http://test.shared.testskytrip.com/img/logo.png);
    z-index: 100;
    background-color: white;
    transform: scale(0.6);
    background-blend-mode: luminosity;
  }
}
.swiper-container,
.swiper-wrapper {
  height: 100%;
  width: 100%;
}
.swiper-container.main.has-thumbs {
  height: 100%;
  &.has-thumbs {
    height: calc(100% - 15vh);
  }
  position: relative;
  &::after {
    position: absolute;
    right: 0;
    height: 2em;
    background-color: red;
    content: "";
    z-index: 99;
  }
}
.swiper-container.thumbs {
  overflow: auto;
  padding: 0.5em;
  max-height: 15vh;
  height: 15vh;
  background-color: black;
  &::-webkit-scrollbar {
    display: none;
  }
  .swiper-slide {
    margin-right: 1em;
    opacity: 0.7;
    &.swiper-slide-thumb-active,
    &.swiper-slide-active {
      opacity: 1;
    }
    width: 100px;
  }
}
.swiper-pagination {
  width: 5em;
  padding: 0.2em;
  border-radius: 0.2em;
  background-color: rgba(var(--ion-color-dark-rgb), 0.5);
  color: white;
  position: absolute;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
}
ion-fab {
  background: rgba(0, 0, 0, 0.8);
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  border-radius: 50%;
  top: 1.3em;
  right: 1.3em;
  ion-icon {
    height: 100%;
    width: 100%;
  }
}
