:host {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100001;
  touch-action: none;
}
.shade {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.login-loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 20%;
  right: 20%;
  height: 4em;
  z-index: 100001;
  background-color: #fbf9fee3;
  transform: translateY(-50%);
  border-radius: 5px;
  color: black;
  align-items: center;
  justify-content: center;
  &.isloading {
    display: flex;
  }
}
