:host{
    background-color: --ion-color-light;
}
.invitation_list{
    width: 21em;
    background: --ion-color-light;
    border: 1px solid --ion-color-medium;
    border-radius: 5px;
    margin: auto;
    margin-top: 1em;
    padding:5px 5px 5px 5px;
}
.invitation_list:last-child{
  margin-bottom: 1em;
}
.btn_width{
  width: 4em;
}
.invitation_desc{
    font-size: 0.9em;
    font-family: Hiragino Sans GB;
    font-weight: 400;
    color: --ion-color-medium;
}
ion-content {
    // --background: #f2f2f2;
    ion-list {
      background: transparent;
    }
    ion-list + ion-list {
      padding: 0.3em 0;
      margin: 1em 0;
    }
    ion-label {
      opacity: 0.9;
    }
 
  }