<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button [backFn]='back.bind(this)'></app-back-button>
    </ion-buttons>
    <ion-title>退改签详情</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines='none'>
    <ion-item-divider>
      <strong>
        <ion-text color='dark'>
          退改信息
        </ion-text>
      </strong>
    </ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap" color='medium'>
        <p [innerHTML]='explain' class="explain"></p>
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <strong>
        <ion-text color='dark'>
          退改说明
        </ion-text>
      </strong>
    </ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap" color='medium'>
        <p>
          <strong>改期:</strong>如改签新航班价格更高，需补交机票差价。
        </p>
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <strong>
        <ion-text color='dark'>
          行李规定(成人)
        </ion-text>
      </strong>
    </ion-item-divider>
    <ion-grid>
      <ng-container *ngFor='let f of data?.FlightFares'>
        <ng-container *ngFor='let fr of f.FlightFareRules'>
          <ion-row *ngFor='let b of fr.Bags'>
            <ion-col size='3'>
              <ion-text color='medium'>{{b.FlightNumber}}</ion-text>
            </ion-col>
            <ion-col *ngIf='b.BagInfo'>
              <div class="ion-text-wrap">
                <ion-text color='medium'>
                  {{b.BagInfo}}
                </ion-text>
              </div>
            </ion-col>
            <ion-col *ngIf='b.freebginfo'>
              <div class="ion-text-wrap">
                <ion-text color='medium'>
                  {{b.freebginfo}}
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ng-container>
      </ng-container>
      <ng-container *ngFor='let fr of data.FlightFareRules'>
        <ion-row *ngFor='let b of fr.Bags'>
          <ion-col size='3'>
            <ion-text color='medium'>{{b.FlightNumber}}</ion-text>
          </ion-col>
          <ion-col>
            <div class="ion-text-wrap">
              <ion-text color='medium'>
                {{b.BagInfo}}
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-list>
</ion-content>