<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button [backFn]='back.bind(this)'></app-back-button>
    </ion-buttons>
    <ion-title>退改签详情</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines='none'>
    <ion-item-divider>
      <strong>
        <ion-text color='dark'>
          退改信息
        </ion-text>
      </strong>
    </ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap" color='medium'>
        <p [innerHTML]='explain' class="explain"></p>
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <strong>
        <ion-text color='dark'>
          退改说明
        </ion-text>
      </strong>
    </ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap" color='medium'>
        <p>
          <strong>改期:</strong>如改签新航班价格更高，需补交机票差价。
        </p>
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <strong>
        <ion-text color='dark'>
          行李规定(成人)
        </ion-text>
      </strong>
    </ion-item-divider>
    <ion-grid *ngFor='let f of flightfares'>
      <ng-container *ngFor='let fr of f.FlightFareRules'>
        <ion-row *ngFor='let b of fr.Bags'>
          <ion-col size='3'>
            <strong>
              <ion-text color='medium'>{{b.FlightNumber}}</ion-text>
            </strong>
          </ion-col>
          <ion-col>
            <div>
              <ion-text color='medium'>
                <ng-container *ngIf='b.AllowedPieces'>
                  可携带件数{{b.AllowedPieces}}
                </ng-container>
                <ng-container *ngIf='b.AllowedWeight'>
                  可携带重量{{b.AllowedWeight}}，重量单位{{b.AllowedWeightUnit}}
                </ng-container>
              </ion-text>
            </div>
            <div>
              <ion-text color='medium'>
                <ng-container *ngIf='b.FreeAllowedPieces'>
                  可免费携带件数{{b.FreeAllowedPieces}}
                </ng-container>
                <ng-container *ngIf='b.FreeAllowedWeight'>
                  可免费携带重量{{b.FreeAllowedWeight}}，重量单位{{b.FreeAllowedWeightUnit}}
                </ng-container>
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-list>
</ion-content>