<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>选择乘客</ion-title>
    <ion-buttons slot='end'>
      <ion-button fill='clear' color='secondary' size='small' (click)='onShow()'>
        <!-- <ion-icon name="contacts" mode='ios'></ion-icon> -->
        已选乘客
        <ion-badge color='danger'>
          <ion-text color='light'>{{selectedPasengers$|async}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <!-- Searchbar with a custom debounce -->
    <ion-searchbar debounce="300" animated placeholder="员工号、姓名、手机号、空格键 开始查询" (ionChange)='onSearch()'
      [(ngModel)]='keyword'>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh(null)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf='!vmStaff else addTempl'>
    <ion-list *ngIf='!loading;else loadingTemp'>
      <ng-container *ngIf='vmStaffs?.length;else nodata'>
        <ion-item *ngFor='let item of vmStaffs' detail (click)='onSelect(item)'>
          <ion-label>
            {{item?.CredentialsInfo}}
          </ion-label>
        </ion-item>
      </ng-container>
      <ng-template #nodata>
        <app-or-comp>暂无数据</app-or-comp>
      </ng-template>
    </ion-list>
    <ng-template #loadingTemp>
      正在加载...
    </ng-template>
  </ng-container>
  <ng-template #addTempl>

  </ng-template>
</ion-content>