.input-comp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  input {
    flex: 1;
    outline: none;
    &:focus {
      border: 1px solid var(--ion-color-secondary);
      border-radius: 5px;
    }
  }
}
