<ion-header [class.ion-hide]='isHideTitle'>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='secondary' (click)='onMockBack()' *ngIf='false&&isIos&&!isOpenAsModal'>
        <ion-icon icon-only name="chevron-back-outline" *ngIf='isIos' color='dark'></ion-icon>
      </ion-button>
      <app-back-button class="hidden">
      </app-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot='start'>
      <ion-button color='secondary' (click)='onMockDownload()'>模拟下载附件</ion-button>
    </ion-buttons> -->
    <ion-buttons slot='end' *ngIf='downloadItems?.length'>
      <ion-button color='secondary' (click)='onShowDonwloadItems()'>附件</ion-button>
    </ion-buttons>
    <ion-buttons slot='end'>
      <div class="w">
        <ng-container>
          <div class="dots" (click)='onToggleActionSheet()'>
            <div class="dot"></div>
            <div class="dot c"></div>
            <div class="dot"></div>
          </div>
          <div class="line">|</div>
        </ng-container>
        <div class="exit" (click)='onBack()'>
          <div class="inner"></div>
        </div>
      </div>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ng-container [class.hidden]='!url'>
  <ion-content [scrollY]='false'>
    <iframe [src]='url' #iframe></iframe>
  </ion-content>
</ng-container>
<div class="backdrop" *ngIf='isOpenActionSheet' (click)='onToggleActionSheet()'></div>
<div class="action-sheet-page" [class.show]='isOpenActionSheet'>
  <div class="reload">
    <div (click)="onReload()">
      <div class="item">
        <ion-icon name="refresh-outline"></ion-icon>
      </div>
      <span class="txt">重新加载页面</span>
    </div>
  </div>
  <div class="cancel" (click)='onToggleActionSheet()'>取消</div>
</div>