.wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

iframe {
  background-color: var(--ion-color-light);
  border: none;
  width: 100%;
  height: 100%;
  overflow: scroll;
  max-height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.detail {
  text-indent: 2em;
  background-color: var(--ion-color-light);
}

// ion-content {
//   --background:  var(--ion-color-light);;
// }
ion-fab {
  ion-fab-button {
    --background: rgba(var(--ion-color-dark-rgb), 0.25);
  }
}

ion-header {
  .ion-hide {
    display: none;
  }

  ion-toolbar {
    // height: 1.3em;
    // height: calc(1.7em + env(safe-area-inset-top));
    --border-width: 0;
    --min-height: initial;
  }
}

a {
  display: block;
  height: 100%;
  width: 100%;
}

app-swiper-slides.slides {
  z-index: 20000000;
}
.w {
  margin: 0.35em 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  &.b {
    border: 1px solid #80808024;
  }
  padding: 0.3em 0.6em;
  width: 5.5em;
  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    .dot {
      background-color: black;
      border-radius: 50%;
      width: 0.25em;
      height: 0.25em;
      min-width: 0.25em;
      min-height: 0.25em;
    }
    .dot.c {
      width: 0.4em;
      height: 0.4em;
      margin: 0 0.12em;
    }
  }
  .line {
    position: relative;
    bottom: 0.1em;
    opacity: 0.2;
  }
  .exit {
    z-index: 100;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3em;
    height: 1.3em;
    margin-right: -0.4em;
    border: 2px solid black;
    .inner {
      width: 0.5em;
      height: 0.5em;
      background-color: black;
      border-radius: 50%;
    }
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--ion-color-dark-rgb), 0.65);
}
.action-sheet-page {
  background-color: #f2f2f2;
  border-radius: 5px;
  position: fixed;
  transform: translate3d(0, 100%, 0);
  transition: all ease-in-out 200ms;
  opacity: 0;
  z-index: -100;
  width: 100%;
  bottom: 0;
  padding-bottom: var(--ion-safe-area-bottom);
  &.show {
    opacity: 1;
    z-index: 100;
    transform: translate3d(0, 0, 0);
  }
  .reload {
    padding: 1em;
    .item {
      border-radius: 5px;
      width: 4em;
      height: 4em;
      display: flex;
      background-color: white;
      align-items: center;
      justify-content: center;
    }
    ion-icon {
      font-size: 2em;
    }
  }
  .txt {
    font-size: 12px;
    display: inline-block;
    text-align: center;
  }

  .cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1em;
  }
}
