<ng-container *ngFor='let orderHotel of hotels' class='hotels'>
  <ion-row>
    <ion-col size='3'>事务号</ion-col>
    <ion-col>
      {{orderHotel.Id}}
    </ion-col>
    <ion-col class="ion-text-end ion-padding-end">
      {{orderHotel.StatusName}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      入住
    </ion-col>
    <ion-col>
      {{orderHotel.BeginDate?.substr(0,"yyyy-MM-dd".length)}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      离店
    </ion-col>
    <ion-col>
      {{orderHotel.EndDate?.substr(0,"yyyy-MM-dd".length)}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      酒店名称
    </ion-col>
    <ion-col>
      {{orderHotel.HotelName}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      房型
    </ion-col>
    <ion-col>
      {{orderHotel.RoomName}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      早餐数量
    </ion-col>
    <ion-col>
      {{orderHotel.Breakfast}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      房费
    </ion-col>
    <ion-col>
      {{getHotelRoomFee(orderHotel.Key)}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      支付方式
    </ion-col>
    <ion-col>
      {{orderHotel.PaymentType==2?"现付":orderHotel.PaymentType==1?"预付":"月结"}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      酒店地址
    </ion-col>
    <ion-col>
      {{orderHotel.HotelAddress}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>
      酒店电话
    </ion-col>
    <ion-col>
      {{orderHotel.HotelContact}}
    </ion-col>
  </ion-row>
  <ng-container *ngIf='orderHotel.OrderTravel as orderTravel'>
    <ion-row>
      <ion-col size='3'>
        违规
      </ion-col>
      <ion-col>
        <div class='clip-text' [class.show]='orderHotel["isShowIllegalPolicy"]'
          (click)='orderHotel["isShowIllegalPolicy"]=!orderHotel["isShowIllegalPolicy"]'>
          {{orderTravel.IllegalPolicy}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='3'>
        违规原因
      </ion-col>
      <ion-col>
        <div class='clip-text' [class.show]='orderHotel["isShowIllegalReason"]'
          (click)='orderHotel["isShowIllegalReason"]=!orderHotel["isShowIllegalReason"]'>
          {{orderTravel.IllegalReason}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='3'>
        成本中心
      </ion-col>
      <ion-col>
        <div class='clip-text' [class.show]='orderHotel["isShowCostCenter"]'
          (click)='orderHotel["isShowCostCenter"]=!orderHotel["isShowCostCenter"]'>
          {{orderTravel.CostCenterCode}}->{{orderTravel.CostCenterName}}
          <div *ngIf='getOrderNumbers() as orderNumbers'>
            <ng-container *ngFor='let number of orderNumbers'>
              <span>{{number.Name}}</span>:<span>{{number.Number}}</span>
            </ng-container>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ng-container>
  <ion-row *ngIf='getVariable(orderHotel,"ExceptionMessage") as ExceptionMessage'>
    <ion-col size='3'>异常消息</ion-col>
    <ion-col>
      <div>{{ExceptionMessage}}</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class='clip-text' (click)='orderHotel["isShowDetail"]=!orderHotel["isShowDetail"]'
        [class.show]='orderHotel["isShowDetail"]'>
        {{orderHotel.RuleDescription}}
      </div>
    </ion-col>
  </ion-row>