<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>选择舱位</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <div>
      <ion-row>
        <ion-col>
          经济舱4.5折
          <div>
            退改签政策详情 >
          </div>
          <div>
            余票：10张
          </div>
        </ion-col>
        <ion-col size="3">
          ¥ 450
          <div>
            <ion-button color="secondary" style="height: 1.8em;font-size: 0.9rem;">
                预订
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
</ion-content>