<div style="width: 100%;" *ngIf='trip'>
  <ion-card>
    <ion-item lines='none'>
      <ion-label color='secondary' class='title'>
        <img src="assets/svgs/home-plane.svg" alt="机票">
        <strong class='ion-margin-start'>Plane</strong>
      </ion-label>
      <ion-button [disabled]='true' fill="clear" color='secondary' slot="end">{{trip.Status}}</ion-button>
    </ion-item>
    <ion-card-content>
      <div class='ticket'>
        <div class="start">
          <div>{{trip.FromName?.replace("国际机场","")?.replace("机场","")}}</div>
          <div>
            <strong>{{startHHmm}}</strong>
          </div>
        </div>
        <div class="center">
          <div class='stop-line-stop' [attr.data]='trip?.Name'>
            <div class="line"></div>
          </div>
        </div>
        <div class="end ion-text-end">
          <div>{{trip.ToName?.replace("国际机场","")?.replace("机场","")}}</div>
          <div>
            <strong>{{endHHmm}}</strong>
          </div>
        </div>
      </div>
      <div class='time'>
        <ion-text color='dark'>起飞日期：{{startDate}}</ion-text>
      </div>
      <div class="passenger">
        <strong class="notranslate">
          {{trip.Passenger?.Name}}:
        </strong>
        <span>{{trip.HideCredentialsNumber}}</span>
      </div>
      <ion-text color='medium'>
        <p>
          订单编号：<span>{{trip.OrderId}}</span>
        </p>
      </ion-text>
      <div class='btns' *ngIf='isShowInsurance'>
        <!-- orderDetail.insuranceAmount -->
        <!-- <ng-container *ngIf="trip.OrderInsurances.length>0"> -->

        <ng-container *ngFor='let p of trip.InsuranceProducts'>
          <ion-button color='secondary' size='small' (click)='onShowSelectedInsurance(p,trip,$event)'>
            {{p.Name}}({{p.Price}})
          </ion-button>
        </ng-container>
        <!-- </ng-container> -->
        <ng-container *ngIf=' orderInsurad'>
          <ion-button color='secondary' (click)='payInsurance(orderInsurad.Key,trip.OrderId,$event)' size='small'>
            继续支付{{orderInsurad.Name}}
          </ion-button>
        </ng-container>
      </div>
    </ion-card-content>
  </ion-card>
</div>