.list-item {
  // background-color: white;
  padding: 0.5em 1em;
  &.shade {
    background-color: rgba(var(--ion-color-medium-rgb), 0.3);
  }
}
.list-item {
  border-bottom: 1px solid rgba(var(--ion-color-dark-rgb), 0.13);
}
.list-item .left .airports,
.list-item,
.list-item .desc,
.list-item .price,
.list-item .left .time {
  display: flex;
  align-items: center;
}
.list-item .desc {
  margin: 0.3em 0;
}
.list-item .desc img {
  margin: 0 0.3em 0 0;
  width: 1em;
}

.list-item .left {
  margin-right: 1em;
  flex: 1;
}

.list-item .left .airports,
.list-item .line,
.list-item .desc {
  font-size: 0.8rem;
}

.list-item .left .airports,
.list-item .left .time {
  justify-content: space-between;
}

.list-item .code-share-number {
  color: var(--ion-color-secondary);
}

.list-item .price {
  text-align: end;
  display: block;
  width: calc(20vw - 1em);
  color: var(--ion-color-danger);
  .tip {
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--ion-color-success);
  }
}

.list-item .addoneday {
  position: relative;
  right: 0.2em;
  bottom: 0.5em;
  font-size: 0.6rem;
  color: var(--ion-color-secondary);
}
.list-item.recomend-segment {
  padding: 0.5em;
  border-radius: 0.3em;
  border-top-left-radius: 0;
  .price {
    align-self: flex-start;
  }
  background-color: rgba(var(--ion-color-secondary-rgb), 0.1);
}
.tip.recomend-segment {
  background: var(--ion-color-primary);
  // background: transparent;
  width: 6em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0.1em 0.2em;
  font-size: 0.7rem;
  color: var(--ion-color-success);
  text-align: center;
}
