ion-header {
  ion-toolbar {
    padding: 0.5em;
    ion-buttons {
      align-self: flex-start;
    }
  }
  .bar {
    width: 100%;
    padding-bottom: 3.5em;
    position: relative;
    display: flex;
    align-items: center;
    app-inter-hotel-query {
      top: initial;
      bottom: 0;
    }
    .customer-count {
      position: absolute;
      bottom: 2em;
      left: 0.3em;
    }
    .date {
      margin-left: 0.5em;
      font-size: 0.7rem;
      span:first-child {
        margin-right: 0.5em;
      }
      .checkin,
      .checkout {
        color: var(--ion-color-secondary);
      }
      min-width: 5em;
    }
    .name-search {
      font-size: 0.9rem;
      padding-top: 0.2em;
      flex: 1;
      .name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .search-box {
        border: 1px solid rgba(var(--ion-color-dark-rgb), 0.35);
        flex: 1;
        .hint {
          max-width: 18em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
.fake {
  h2:nth-child(2n) {
    padding: 0.5em 0;
  }
}
.query-condition {
  position: fixed;
  top: 7.2em;
  left: 0;
  right: 0;
  margin-top: -0.25em;
  background-color: white;
  opacity: 0;
  z-index: -1000;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
  opacity: 0;
  width: 100vw;
  background-color: rgba(var(--ion-color-dark-rgb), 0.5);
  overflow: hidden;
  height: 100%;
  top: 6em;
  &.show {
    z-index: 1;
    opacity: 1;
  }
}
ion-infinite-scroll {
  bottom: 0;
  background-color: white;
  visibility: hidden;
  &.infinite-scroll-loading {
    visibility: visible;
  }
}
app-inter-hotel-query {
  z-index: 100;
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 0.5em;
  touch-action: none;
}

.empty-padding {
  padding-top: 3em;
}
ion-fab {
  margin-bottom: 3em;
}
