<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <!-- <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button> -->
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{hotel?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-slides [items]='images' [bgColorBlack]='true' [defaultImage]='config?.PrerenderImageUrl' [logoUrl]='config?.LogoImageUrl'>
  </app-slides>
</ion-content>