ion-content {
  --background: #eee;
  ion-list {
    margin: 0;
    margin-top: 0.5em;
    &:first-child {
      margin-top: 0;
    }
    // &:last-child ion-item,
    // &:first-child ion-item,
    ion-item:last-child {
      --inner-border-width: 0;
    }
    ion-item {
      ion-label {
        &:not(:first-child) {
          justify-content: flex-end;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
