<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-date-city [checkInDate]='hotelQueryModal.BeginDate' *ngIf='!isShowSearchBar'
      [checkOutDate]='hotelQueryModal.EndDate' [city]='hotelQueryModal.City' (cityClick)='onCityClick()'
      (dateClick)='onDateClick()' (searchBarClick)='onSearchClick()'></app-date-city>
    <ion-searchbar [debounce]='700' [ngModel]='vmKeyowrds' [animated]='true' placeholder="" mode='ios'
      *ngIf='isShowSearchBar'>
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <app-hotel-query></app-hotel-query>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot='fixed' (ionRefresh)='doRefresh()'></ion-refresher>
  <ng-template #nosearchartempl>
    <ion-list>
      <ion-item *ngFor='let items of [1,2,3,4,5]' (click)='onSearchItemClick()'>
        搜索三生三世的
      </ion-item>
    </ion-list>
  </ng-template>
  <ng-container *ngIf='!isShowSearchBar else nosearchartempl'>
    <ion-list>
      <ion-item *ngFor='let items of [1,2,3,4,5]' (click)='onSearchItemClick()'>
        圣诞快乐见风使舵
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
<!-- <ion-backdrop *ngIf='isShowSearchBar' [visible]='true'></ion-backdrop> -->