<ion-header>
  <ion-toolbar class='toolbar'>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-date-city [checkInDate]='searchHotelModel?.checkInDate' *ngIf='!isShowSearchBar'
      [checkOutDate]='searchHotelModel?.checkOutDate' [city]='searchHotelModel?.destinationCity'
      (cityClick)='onCityClick()' (dateChange)='onDateChange()' (searchBarClick)='onSearchClick()'
      [keywords]='keyowrds'>
    </app-date-city>
    <form (ngSubmit)='onSearch()' *ngIf='isShowSearchBar'>
      <ion-searchbar [debounce]='700' type='search' [(ngModel)]='vmKeyowrds' [animated]='true' placeholder=""
        (ionChange)='onSearchByKeywords()' mode='ios'>
      </ion-searchbar>
      <ion-buttons slot='end'>
        <ion-button type='submit' color='secondary' size='small' (click)='onSearch()'>
          搜索
        </ion-button>
      </ion-buttons>
    </form>
  </ion-toolbar>
  <ion-toolbar class='query-toolbar' #querytoolbar *ngIf='!isShowSearchBar'>
    <app-hotel-query [conditions]='conditionModel' (hotelQueryChange)='onHotelQueryChange($event)'></app-hotel-query>
  </ion-toolbar>
</ion-header>

<ion-content #cnt>
  <ion-refresher slot='fixed' (ionRefresh)='doRefresh(false)'>
    <ion-refresher-content>正在加载...</ion-refresher-content>
  </ion-refresher>
  <ion-list class='pos' *ngIf='!isShowSearchBar'>
    <ion-item></ion-item>
  </ion-list>
  <ng-template #nosearchartempl>
    <ion-list *ngIf='!isSearching'>
      <ion-item *ngFor='let item of vmSearchTextList' (click)='onSearchItemClick(item)'>
        {{item.Text}}
      </ion-item>
    </ion-list>
    <ion-label *ngIf='isSearching'>正在查询...</ion-label>
  </ng-template>
  <ng-template #listTemp>
    <ng-container *ngIf='!isShowSearchBar else nosearchartempl'>
      <ion-list *ngIf='!isLoading&&hotelDayPrices?.length else noMoreData' #hotellist class='hotel-list'>
        <ion-item *ngFor='let item of hotelDayPrices' (click)='goToDetail(item)'>
          <ion-thumbnail slot='start'>
            <img [lazyLoad]='item.Hotel?.FileName' [defaultImage]='config?.PrerenderImageUrl' />
            <!-- <ion-img [src]='item.Hotel?.FileName'  ></ion-img> -->
          </ion-thumbnail>
          <ion-label style="margin-left:.5em">
            <h3 class='name'>
              <ion-label>{{item.Hotel?.Name}}</ion-label>
            </h3>
            <h5 class='grade-stars'>
              <div class='stars' margin-end>
                <ng-container *ngFor='let s of getStars(item.Hotel)'>
                  <ion-icon name="star" color='danger' *ngIf='s>=1'></ion-icon>
                  <ion-icon name='star-half' color='danger' *ngIf='s<1'></ion-icon>
                </ng-container>
              </div>
              <span *ngIf='item.Hotel?.Grade as grade'>
                {{grade}}分
              </span>
            </h5>
            <p class='grade-stars' text-wrap *ngIf='item.Hotel?.VariablesJsonObj["GeoDistance"] as distance'>
              <ion-icon name="pin" color='secondary'></ion-icon>
              <ion-label>
                距离{{distance.substring(0,distance.indexOf(','))}}直线距离约{{distance.substring(distance.indexOf(',')+1)}}km
              </ion-label>
            </p>
            <h6 class='address-price'>
              <ion-label>{{item.Hotel?.Address}}</ion-label>
              <ion-text color='danger'><small>￥</small> <strong>{{getAvgPrice(item.Hotel)}}</strong>
                <small>起</small> </ion-text>
            </h6>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-template #noMoreData>
      <ion-list></ion-list>
      <div style='margin-top: 1em;'>
        <app-or-comp>暂无数据</app-or-comp>
      </div>
    </ng-template>
  </ng-template>
  <ng-container #fakeList *ngIf='isLoading else listTemp'>
    <ion-list class='fakelist'>
      <ion-item *ngFor='let item of [1,2,3,4,5,6,7,8,9,10,11]'>
        <ion-thumbnail>
          <ion-skeleton-text animated style='height:3em;width:3em'></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h1>
            <ion-skeleton-text animated style="width:90%"></ion-skeleton-text>
          </h1>
          <h1>
            <ion-skeleton-text style="width:40%"></ion-skeleton-text>
          </h1>
          <h1 style="display:flex;justify-content:space-between;align-items: center;">
            <ion-skeleton-text animated style="width:70%"></ion-skeleton-text>
            <ion-skeleton-text style="width:10%"></ion-skeleton-text>
          </h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-infinite-scroll (ionInfinite)="loadMore()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>