<ion-header>
  <ion-toolbar class='toolbar'>
    <ion-buttons slot='start'>
      <!-- <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button> -->
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <div class="query">
      <app-date-city [checkInDate]='searchHotelModel?.checkInDate' [checkOutDate]='searchHotelModel?.checkOutDate'
        [city]='searchHotelModel?.destinationCity' (cityClick)='onCityClick()' (dateChange)='onDateChange()'
        (searchBarClick)='onSearchClick()' [keywords]='hotelQueryModel?.SearchKey||"地名/酒店/关键字"'>
      </app-date-city>
      <!-- <ion-note style="position: absolute;">{{hotelDayPrices?.length}}</ion-note> -->
      <app-hotel-query (activeFilter)='onActiveFilter($event)' (hotelQueryChange)='onHotelQueryChange($event)'>
      </app-hotel-query>
    </div>
  </ion-toolbar>
</ion-header>
<div #backdrop class="backdrop {{classMode}}" (click)='onBackdropClick($event)' [class.show]='filterTab.isActive'></div>
<app-recommend-rank class="filter-condition  {{classMode}}" (rank)='onRank()'
  *ngIf='filterTab?.label=="推荐排序"&&filterTab.isActive' @flyInOut>
</app-recommend-rank>
<app-hotel-starprice class="filter-condition  {{classMode}}" *ngIf='filterTab?.label=="星级价格"&&filterTab.isActive' @flyInOut
  (starPriceChange)='onStarPriceChange()'></app-hotel-starprice>
<app-hotel-filter class="filter-condition  {{classMode}}" *ngIf='filterTab?.label=="筛选"&&filterTab.isActive' @flyInOut
  (filter)='onFilter()'>
</app-hotel-filter>
<app-hotel-geo class="filter-condition  {{classMode}}" *ngIf='filterTab?.label=="位置区域"&&filterTab.isActive'
  (geoFilterChange)='onFilterGeo()' @flyInOut>
</app-hotel-geo>
<ion-content #cnt [scrollY]='!filterTab.isActive'>
  <app-refresher slot='fixed' (ionRefresh)='doRefresh(false)'>
    <ion-refresher-content>正在加载...</ion-refresher-content>
  </app-refresher>
  <ng-container *ngIf='hotelDayPrices'>
    <ion-list lines='full'>
      <ion-item *ngFor='let item of hotelDayPrices' (click)='goToDetail(item)'>
        <ion-thumbnail slot='start'>
          <img [lazyLoad]='item.Hotel?.FileName' [recoverImage]='false' [defaultImage]='config?.PrerenderImageUrl' />
        </ion-thumbnail>
        <ion-label class="ion-no-margin">
          <h3 class='name ion-text-wrap'>
            {{item.Hotel?.Name}}
          </h3>
          <h5 class='grade-stars'>
            <div class='stars' class='ion-margin-end' *ngIf='item.Hotel["stars"] as stars'>
              <ng-container *ngFor='let s of stars'>
                <ion-icon name="star" color='danger' *ngIf='s>=1'></ion-icon>
                <ion-icon name='star-half' color='danger' *ngIf='s<1'></ion-icon>
              </ng-container>
            </div>
            <ng-container *ngIf='item.Hotel?.Grade as grade'>
              {{grade}}分
            </ng-container>
          </h5>
          <p class='grade-stars ion-text-wrap' *ngIf='item.Hotel?.VariablesJsonObj["GeoDistance"] as distance'>
            <ion-icon name="pin" color='secondary'></ion-icon>
            <ion-label>
              距离{{distance.substring(0,distance.indexOf(','))}}直线距离约{{distance.substring(distance.indexOf(',')+1)}}km
            </ion-label>
          </p>
          <h6 class='address-price'>
            <div class="ion-text-wrap">{{item.Hotel?.Address}}</div>
            <ion-text color='danger'><small>￥</small> <strong>{{item.Hotel["avgPrice"]}}</strong>
              <small>起</small> </ion-text>
          </h6>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- <ion-virtual-scroll [items]="hotelDayPrices" approxItemHeight="90px" [itemHeight]='itemHeightFn'>
      <div *virtualItem="let item; let itemBounds = bounds;" (click)='goToDetail(item)'>
        <ion-item lines='none'>
          <ion-thumbnail slot='start'>
            <div class="div-img" [lazyLoad]='item.Hotel?.FileName' [recoverImage]='false' [defaultImage]='config?.PrerenderImageUrl'>
            </div>
          </ion-thumbnail>
          <ion-label class="ion-no-margin">
            <h3 class='name'>
              {{item.Hotel?.Name}}
            </h3>
            <h5 class='grade-stars'>
              <div class='stars' class='ion-margin-end' *ngIf='item.Hotel["stars"] as stars'>
                <ng-container *ngFor='let s of stars'>
                  <ion-icon name="star" color='danger' *ngIf='s>=1'></ion-icon>
                  <ion-icon name='star-half' color='danger' *ngIf='s<1'></ion-icon>
                </ng-container>
              </div>
              <ng-container *ngIf='item.Hotel?.Grade as grade'>
                {{grade}}分
              </ng-container>
            </h5>
            <p class='grade-stars ion-text-wrap' *ngIf='item.Hotel?.VariablesJsonObj["GeoDistance"] as distance'>
              <ion-icon name="pin" color='secondary'></ion-icon>
              <ion-label>
                距离{{distance.substring(0,distance.indexOf(','))}}直线距离约{{distance.substring(distance.indexOf(',')+1)}}km
              </ion-label>
            </p>
            <h6 class='address-price'>
              {{item.Hotel?.Address}}
              <ion-text color='danger'><small>￥</small> <strong>{{item.Hotel["avgPrice"]}}</strong>
                <small>起</small> </ion-text>
            </h6>
          </ion-label>
        </ion-item>
      </div>
    </ion-virtual-scroll> -->
  </ng-container>
  <ng-template #noMoreData>
    <ion-list></ion-list>
    <div class='ion-margin-top'>
      <app-or-comp>暂无数据</app-or-comp>
    </div>
  </ng-template>
  <ng-container #fakeList>
    <ion-list class='fakelist'>
      <ion-item *ngFor='let item of [1,2,3,4,5,6,7,8,9,10,11]'>
        <ion-thumbnail>
          <ion-skeleton-text animated style='height:100%;width:100%'></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label class="ion-margin-start">
          <h1>
            <ion-skeleton-text animated style="width:90%"></ion-skeleton-text>
          </h1>
          <h1>
            <ion-skeleton-text style="width:40%"></ion-skeleton-text>
          </h1>
          <h1 style="display:flex;justify-content:space-between;align-items: center;">
            <ion-skeleton-text animated style="width:70%"></ion-skeleton-text>
            <ion-skeleton-text style="width:10%"></ion-skeleton-text>
          </h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-infinite-scroll (ionInfinite)="loadMore()" threshold='100px'>
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab>
    <app-pin-fab horizontal="end" vertical="bottom"></app-pin-fab>
  </ion-fab>
</ion-content>
<!-- <app-scroller [(status)]='status' (ionInfinite)='loadMore()'>
  <ion-spinner name="bubbles"></ion-spinner>
  <div>正在加载...</div>
  <ng-container slot='nomoredata'>
    <app-or-comp *ngIf='!isSearchingList'>暂无数据</app-or-comp>
  </ng-container>
</app-scroller> -->