:host.show-search-bar {
  background-color: rgba(var(--ion-color-dark-rgb), 0.5);
}
.name {
  font-weight: bold;
}
.address-price {
  strong {
    font-size: 1rem;
  }
  ion-label {
    flex: 1;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grade-stars {
  display: flex;
  align-items: center;
}
p.grade-stars {
  font-size: 0.8rem;
}
.query-toolbar {
  position: fixed;
}
ion-content {
  position: relative;
  // border: 1px solid red;
  // .hotel-list {
  //   margin-top: 56px;
  // }
  .pos.md{
    margin-top: -1em;
  }
  .pos.ios {
    padding-top: 0.5em;
  }
}
ion-toolbar.ios {
  --border-width: 0;
}
small {
  font-size: 0.6rem;
}
ion-thumbnail img {
  min-width: 4em;
  min-height: 4em;
}
form{
  display: flex;
  align-items: center;
  padding: 0;
  background-color:transparent;
}
