.day {
  // display: flex;
  // flex-flow: column nowrap;
  // align-items: center;
  // justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  $toolTipWidth: 10em;
  &.hasToolTip[toolTipPos="start"]::before {
    content: attr(toolTipMsg);
    width: $toolTipWidth;
    height: 1.5rem;
    color: var(--ion-color-light);
    position: absolute;
    display: flex;
    font-size: 0.6rem;
    background: rgba(var(--ion-color-dark-rgb), 0.6);
    border-radius: 4px;
    left: 0%;
    transform: translate(-50%, -50%);
    top: -40%;
    align-items: center;
    padding: 0.1rem 0.3rem;
    justify-content: center;
    transition: all ease-in-out 300ms;
  }
  &.hasToolTip[toolTipPos="center"]::before {
    content: attr(toolTipMsg);
    width: $toolTipWidth;
    height: 1.5rem;
    color: var(--ion-color-light);
    position: absolute;
    display: flex;
    font-size: 0.6rem;
    background: rgba(var(--ion-color-dark-rgb), 0.6);
    border-radius: 4px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -40%;
    align-items: center;
    padding: 0.1rem 0.3rem;
    justify-content: center;
    transition: all ease-in-out 300ms;
  }
  &.hasToolTip[toolTipPos="end"]::before {
    content: attr(toolTipMsg);
    width: $toolTipWidth;
    height: 1.5rem;
    color: var(--ion-color-light);
    position: absolute;
    display: flex;
    font-size: 0.6rem;
    background: rgba(var(--ion-color-dark-rgb), 0.6);
    border-radius: 4px;
    left: 100%;
    transform: translate(-50%, -50%);
    top: -40%;
    align-items: center;
    padding: 0.1rem 0.3rem;
    justify-content: center;
    transition: all ease-in-out 300ms;
  }
  &.hasToolTip::after {
    display: block;
    content: "";
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    border-top: 0.8rem solid rgba(var(--ion-color-dark-rgb), 0.6);
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: none;
    position: absolute;
    left: 50%;
    top: -5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  &.hasToolTip::before {
    z-index: 1000;
  }
  .dayoff {
    margin-right: auto;
    padding-left: 0.5em;
  }

  // .top {
  //   padding: 0 0.2em;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  // }
  .content,
  .top,
  .desc,
  .bottom {
    height: 1rem;
    font-size: 0.6rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .content {
    font-size: 1.1rem;
  }
  &.danger {
    color: var(--ion-color-danger);
  }
  // &:not(.selected) {
  //   .color-light {
  //     color: var(--ion-color-light);
  //   }
  //   .color-primary {
  //     color: var(--ion-color-primary);
  //   }
  //   .color-dark {
  //     color: var(--ion-color-dark);
  //   }
  //   .color-danger {
  //     color: var(--ion-color-danger);
  //   }
  //   .color-medium {
  //     color: var(--ion-color-medium);
  //   }
  // }
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
