// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #f9f9f9;
  --ion-color-primary-rgb: 249,249,249;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #dbdbdb;
  --ion-color-primary-tint: #fafafa;

  --ion-color-secondary: #2596D9;
  --ion-color-secondary-rgb: 37,150,217;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2184bf;
  --ion-color-secondary-tint: #3ba1dd;

  --ion-color-tertiary: #6d67db;
  --ion-color-tertiary-rgb: 109,103,219;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #605bc1;
  --ion-color-tertiary-tint: #7c76df;

  --ion-color-success: #07c160;
  --ion-color-success-rgb: 7,193,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #06aa54;
  --ion-color-success-tint: #20c770;

  --ion-color-warning: #fec114;
  --ion-color-warning-rgb: 254,193,20;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0aa12;
  --ion-color-warning-tint: #fec72c;

  --ion-color-danger: #fc514f;
  --ion-color-danger-rgb: 252,81,79;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #de4746;
  --ion-color-danger-tint: #fc6261;

  --ion-color-dark: #050505;
  --ion-color-dark-rgb: 5,5,5;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #040404;
  --ion-color-dark-tint: #1e1e1e;

  --ion-color-medium: #838383;
  --ion-color-medium-rgb: 131,131,131;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #737373;
  --ion-color-medium-tint: #8f8f8f;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}