.padding_em{
    display: flex;
    align-items: center;
    // padding-bottom: 0.5em;
    // padding-top: 0.5em;
    color: var(--ion-color-secondary);
    background-color: white;
    border-bottom: 2px solid #eeeeee;
}