<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=""></app-back-button>
    </ion-buttons>
    <ion-title>{{top_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isShowSearch==1">
    <ion-searchbar [debounce]='0' (ionChange)="onSearch()" [(ngModel)]="keywords"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items" (click)="onItemsChange(item)">
        <ion-label>{{item.Name}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="isShowSearch==2">
    <div class="padding_em ion-padding">
      <ng-container *ngFor="let item of deptPaths;let last=last;">
        <span (click)="onbackdepartment(item)">{{item.Name}}
        </span>
        <ion-icon name="chevron-forward-outline" *ngIf='!last' color="medium"></ion-icon>
      </ng-container>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of items" [detail]="item?.Children?.length">
        <ion-label (click)="onItemsChange(item)">{{item.Name}}</ion-label>
        <ion-label class="ion-text-end" color="secondary" *ngIf="item?.Children?.length" (click)="onSelectNext(item)">
          下级
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="isShowSearch==3">
    <ion-searchbar [debounce]='0' (ionChange)="onSearch()" [(ngModel)]="keywords"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of contries" (click)="onItemsChange(item)">
        <ion-label>{{item.Name}}&nbsp;({{item.Code}})</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>