<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>房客预订信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot='fixed' (ionRefresh)='doRefresh()'></ion-refresher>
  <ion-item-group *ngFor='let bookInfo of bookInfos$|async'>
    <ng-container *ngIf='bookInfo?.bookInfo'>
      <ion-item-divider color='primary' sticky>
        <ion-label color='dark'>{{bookInfo?.passenger?.Name}}{{bookInfo?.credential?.Number}}</ion-label>
        <ion-icon name='trash' color='danger' (click)='onRemoveBookInfo(bookInfo)' slot='end' margin-end></ion-icon>
      </ion-item-divider>
      <app-room-show-item [bookInfo]='bookInfo' (changeDate)='onChangeDate(bookInfo)'
        (showRoomDetail)='onShowRoomDetail(bookInfo)'>
      </app-room-show-item>
    </ng-container>
  </ion-item-group>
</ion-content>
<ion-footer *ngIf='!isShowChangeDateComp'>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button (click)='nextStep()' color='secondary' [disabled]='!canGoToNext()'>下一步</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<app-room-detail [room]='curSelectedRoom' [roomImages]='roomImages' (close)='isShowRoomDetails=false' class="ion-page"
  *ngIf='isShowRoomDetails'></app-room-detail>
<app-change-roomplan-date (close)='isShowChangeDateComp=false' [class.show]='isShowChangeDateComp'
  *ngIf='isShowChangeDateComp'>
</app-change-roomplan-date>