<div class="back-drop" *ngIf='isShowPriceDetail'></div>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>房客预订信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot='fixed' (ionRefresh)='doRefresh()'></ion-refresher>
  <ion-item-group *ngFor='let bookInfo of bookInfos$|async'>
    <ng-container *ngIf='bookInfo?.bookInfo'>
      <ion-item-divider sticky>
        <ion-label color='dark'>{{bookInfo?.passenger?.Name}}{{bookInfo?.credential?.Number}}</ion-label>
        <ion-icon name='trash' color='danger' (click)='onRemoveBookInfo(bookInfo)' slot='end' margin-end></ion-icon>
      </ion-item-divider>
      <app-room-show-item [bookInfo]='bookInfo' (changeDate)='onChangeDate(bookInfo)'
        (showRoomDetail)='onShowRoomDetail(bookInfo)' (showPriceDetailEvt)='onShowPriceDetails($event)'>
      </app-room-show-item>
    </ng-container>
  </ion-item-group>
</ion-content>
<ion-footer *ngIf='!isShowChangeDateComp'>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button (click)='nextStep()' color='secondary' [disabled]='!canGoToNext()'>下一步</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<app-room-detail [room]='curSelectedRoom' [roomImages]='roomImages' (close)='isShowRoomDetails=false' class="ion-page"
  [class.show]='isShowRoomDetails'></app-room-detail>
<app-change-roomplan-date (close)='isShowChangeDateComp=false' *ngIf='isShowChangeDateComp' (confirm)='onConfirm()'
  (openCalendar)='onOpenCalendar($event)'>
</app-change-roomplan-date>
<div [class.show]='isShowPriceDetail' class="price-list">
  <ion-item-divider>{{calcNights(curSelectedBookInfo)}}晚,共<small>￥</small>{{curSelectedBookInfo?.bookInfo?.roomPlan?.TotalAmount}}
  </ion-item-divider>
  <ul>
    <li *ngFor='let d of dates'>
      <span>{{d.date}}</span>
      <ion-label margin-start>1&times;<small>￥</small>{{d.price}}</ion-label>
    </li>
  </ul>
</div>