:host {
    // color    : red;
    // font-size: 17px;
}

.font_style {
    text-align: left;
}

// .font_if {
//     color: #888888;
// }
.font_title {
    font-size: 20px;
    font-weight: bold;
}

.font_read {
    font-size: 15px;
    padding-left: .5em;
    // margin-top: 10px;
}

.disable_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

// .an_checked{
// }
.oready {}