<ion-list>
  <div class="container ion-margin-top ">
    <div class="credential">
      <div [attr.dataid]='credential.Id'>
        <div class="item" (click)='onSelectIdType(idtypeSelectEle)'>
          <div>
            证件类型
          </div>
          <div>
            <span>{{credential.Type|credential}}</span>
          </div>
          <div class="arrow-dropdown">
            <ion-icon name='caret-down-outline' color='secondary' mode='md'></ion-icon>
          </div>
          <div class='hidden'>
            <ion-select #idtypeSelectEle [(ngModel)]='credential.Type' placeholder='请选择证件类型'
              (ionChange)='onIdTypeChange()' name='Type' okText="确定" cancelText="取消" [compareWith]='compareFn'>
              <ion-select-option [value]="opt.key" *ngFor='let opt of identityTypes'>{{opt.key|credential}}
              </ion-select-option>
            </ion-select>
            <input type="text" value="{{credential.Type}}" class='hidden' ValidateName="Type">
          </div>
        </div>
        <div class="item">
          <div>
            证件姓
          </div>
          <div>
            <input type="text" [(ngModel)]='credential.Surname'
              placeholder="{{credential.Type==CredentialsType.IdCard?'请保持和证件姓一致':'请输入证件姓拼音/英文'}}"
              ValidateName='Surname' name='Surname'>
          </div>
        </div>
        <div class="item">
          <div>
            证件名
          </div>
          <div>
            <input type="text" [(ngModel)]='credential.Givenname' ValidateName='Givenname'
              placeholder="{{credential.Type==CredentialsType.IdCard?'请保持和证件名一致':'请输入证件名拼音/英文'}}" name='Givenname'>
          </div>
        </div>

        <div class="item">
          <div>
            性别
          </div>
          <div>
            <ion-radio-group class='ion-no-margin ion-no-padding gender' [(ngModel)]='credential.Gender'
              name='Gender'>
              <ion-radio id='man' value="M"></ion-radio>
              <ion-label for='man' slot='start'>男</ion-label>
              <ion-label class='ion-margin-start ion-padding-start'></ion-label>
              <ion-radio id='nv' value="F"></ion-radio>
              <ion-label for='nv'>女</ion-label>
            </ion-radio-group>
          </div>
        </div>

        <div class="item">
          <div>
            证件号码
          </div>
          <div>
            <input placeholder='请输入您的证件号' type="text" [(ngModel)]='credential.Number' name='Number'
              ValidateName="Number">
            <span class="idnumbervalidate"></span>
          </div>
        </div>
        <div class="item" (click)='onSelectBirthDate()'>
          <div>
            出生日期
          </div>
          <div [class.placeholder]='!credential.Birthday'>
            <span *ngIf='!credential.Birthday'>请选择日期</span>
            <span *ngIf='credential.Birthday'>{{credential.Birthday}}</span>
            <input type="date" class='hidden' [(ngModel)]='credential.Birthday' name='Birthday'
              ValidateName="Birthday">
          </div>
          <div class="arrow-forward ion-text-end">
            <ion-icon name="chevron-forward-outline" size='small' color='medium' mode='ios'></ion-icon>
          </div>
        </div>
        <ion-datetime color='secondary' displayFormat="YYYY-MM-DD" min='1900' max='{{maxYear}}' class="hidden"
          [value]="credential.ExpirationDate" doneText="确定" cancelText="取消"></ion-datetime>
        <div class="item" (click)='onSelectExpireDate()'>
          <div>
            证件到期日期
            <span (click)='onSetLongTime(c,$event)' *ngIf='credential.Type==CredentialsType.IdCard'
              style='color:var(--ion-color-secondary)'>设为长期有效</span>
          </div>
          <div [class.placeholder]='!credential.ExpirationDate'>
            <span *ngIf='!credential.ExpirationDate'>请选择日期</span>
            <span *ngIf='credential.ExpirationDate'>{{credential.longPeriodOfTime||credential.ExpirationDate}}</span>
          </div>
          <div class="arrow-forward ion-text-end">
            <input type="date" class="hidden" [(ngModel)]='credential.ExpirationDate' name='ExpirationDate'
              ValidateName="ExpirationDate">
            <ion-icon name="chevron-forward-outline" size='small' color='medium' mode='ios'></ion-icon>
          </div>
        </div>

        <div class="item" (click)='selectIdentityNationality(c,$event)'>
          <div>
            国籍
          </div>
          <div class="row">
            {{credential?.Country?.Name}}({{credential.Country?.Code}})
          </div>
          <div class="arrow-forward">
            <ion-icon name="chevron-forward-outline" size='small' color='medium' mode='ios'></ion-icon>
          </div>
        </div>
        <div class="item" (click)='selectIssueNationality(c,$event)'>
          <div>
            发证国
          </div>
          <div class="row">
            {{credential.IssueCountry?.Name}}({{credential.IssueCountry?.Code}})
          </div>
          <div class="arrow-forward">
            <ion-icon name="chevron-forward-outline" size='small' color='medium' mode='ios'></ion-icon>
          </div>
        </div>

      </div>
    </div>
  </div>

</ion-list>
