.item {
  display: flex;
  align-items: center;
  padding: 1em;
  color: var(--ion-text-color);
  justify-content: space-between;
  // background-color: white;
  flex-wrap: wrap;
  div:first-child {
    font-weight: bold;
  }
  .row {
    margin-left: auto;
  }
  div:nth-child(2n):not(.row) {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    flex: 1;
    justify-content: center;
    text-align: end;
    line-height: 1;
    input:not(.error) {
      border: none;
      outline: none;
      text-align: end;
      width: 100%;
      padding-right: 0.5em;
      background: transparent;
    }
  }
}
.item + .item {
  border-top: 1px solid rgba(var(--ion-color-dark-rgb), 0.12);
}
.arrow-dropdown {
  font-size: 1.5rem;
  position: relative;
  ion-icon {
    font-size: 1.5rem;
    position: relative;
    right: 0.2em;
    margin-left: 0.2em;
  }
}
.placeholder,
input::placeholder {
  color: var(--ion-color-dark);
  opacity: 0.5;
  font-size: 1rem;
}
.arrow-forward {
  display: flex;
  align-items: center;
}
.gender {
  display: flex;
  align-items: center;
  &.ios {
    padding-right: 0.6em;
  }
}
