<ion-list>
  <div class="container ion-margin-top ">
    <div class="credential">
      <div [attr.dataid]='credential.Id'>
        <div class="item" (click)='onSelectIdType(idtypeSelectEle)'>
          <div>
            {{langOpt.docType}}
          </div>
          <div>
            <span>{{credential.Type|credential}}</span>
          </div>
          <div class="arrow-dropdown">
            <ion-icon name='caret-down-outline' color='secondary' mode='md'></ion-icon>
          </div>
          <div class='hidden'>
            <ion-select #idtypeSelectEle  [(ngModel)]='credential.Type' placeholder='请选择证件类型' name='Type' okText="确定"
              cancelText="取消" [compareWith]='compareFn'>
              <ion-select-option [value]="opt.key" *ngFor='let opt of identityTypes'>{{opt.key|credential}}
              </ion-select-option>
            </ion-select>
            <input type="text" [(ngModel)]='credential.Type' class='hidden' name='Type' ValidateName="Type">
          </div>
        </div>
        <div class="item">
          <div>
            {{langOpt.idsurname}}
          </div>
          <div>
            <input type="text" [(ngModel)]='credential.Surname'
              placeholder="{{credential.Type==CredentialsType.IdCard?langOpt.inputsur:langOpt.inputenglishx}}" ValidateName='Surname'
              name='Surname'>
          </div>
        </div>
        <div class="item">
          <div>
            {{langOpt.idname}}
          </div>
          <div>
            <input type="text" [(ngModel)]='credential.Givenname' ValidateName='Givenname'
              placeholder="{{credential.Type==CredentialsType.IdCard?langOpt.inputsur:langOpt.inputenglishm}}" name='Givenname'>
          </div>
        </div>

        <div class="item">
          <div>
            {{langOpt.Gender}}
          </div>
          <div>
            <ion-radio-group class='ion-no-margin ion-no-padding gender'  [(ngModel)]='credential.Gender' name='Gender'>
              <ion-radio id='man' value="M"></ion-radio>
              <ion-label for='man' slot='start'>{{langOpt.male}}</ion-label>
              <ion-label class='ion-margin-start ion-padding-start'></ion-label>
              <ion-radio id='nv' value="F"></ion-radio>
              <ion-label for='nv'>{{langOpt.famale}}</ion-label>
            </ion-radio-group>
          </div>
        </div>

        <div class="item">
          <div>
            {{langOpt.idnumber}}
          </div>
          <div>
            <input placeholder='{{langOpt.inputidnum}}' #idinput type="text" [(ngModel)]='credential.Number' name='Number'
              ValidateName="Number">
            <span class="idnumbervalidate"></span>
          </div>
        </div>
        <div class="item" (click)='onSelectBirthDate()'>
          <div>
            {{langOpt.dateofbirth}}
          </div>
          <div [class.placeholder]='!credential.Birthday'>
            <span *ngIf='!credential.Birthday'>{{langOpt.inputdate}}</span>
            <span *ngIf='credential.Birthday'>{{credential.Birthday}}</span>
            <input type="date" class='hidden' [(ngModel)]='credential.Birthday' name='Birthday' ValidateName="Birthday">
          </div>
          <div class="arrow-forward ion-text-end">
            <ion-icon name="chevron-forward-outline" size='small' color='medium' mode='ios'></ion-icon>
          </div>
        </div>
        <ion-datetime color='secondary' displayFormat="YYYY-MM-DD" min='1900' min='{{minYear}}'  max='{{maxYear}}' class="hidden"
          [value]="credential.ExpirationDate" doneText="确定" cancelText="取消"></ion-datetime>
        <div class="item" (click)='onSelectExpireDate()'>
          <div>
            {{langOpt.dateofdoc}}
            <span (click)='onSetLongTime(credential,$event)' *ngIf='credential.Type==CredentialsType.IdCard'
              style='color:var(--ion-color-secondary)'>{{langOpt.setlongterm}}</span>
          </div>
          <ng-container *ngIf='credential.isLongPeriodOfTime else expireDateTpl'>
            <div class="ion-text-end">
              {{langOpt.longterm}}
            </div>
          </ng-container>
          <ng-template #expireDateTpl>
            <div [class.placeholder]='!credential.ExpirationDate'>
              <span>{{credential.ExpirationDate||langOpt.inputdate}}</span>
            </div>
          </ng-template>
          <div class="arrow-forward ion-text-end">
            <input type="date" class="hidden" [(ngModel)]='credential.ExpirationDate' name='ExpirationDate'
              ValidateName="ExpirationDate">
            <ion-icon name="chevron-forward-outline" size='small' color='medium' mode='ios'></ion-icon>
          </div>
        </div>

        <div class="item" (click)='selectIdentityNationality(credential,$event)'>
          <div>
            {{langOpt.nationality}}
          </div>
          <div class="row">
            {{credential?.showCountry?.Name}}({{credential.showCountry?.Code}})
          </div>
          <div class="arrow-forward">
            <ion-icon name="chevron-forward-outline" size='small' color='medium' mode='ios'></ion-icon>
          </div>
        </div>
        <div class="item" (click)='selectIssueNationality(credential,$event)'>
          <div>
            {{langOpt.lssuingcou}}
          </div>
          <div class="row">
            {{credential.showIssueCountry?.Name}}({{credential.showIssueCountry?.Code}})
          </div>
          <div class="arrow-forward">
            <ion-icon name="chevron-forward-outline" size='small' color='medium' mode='ios'></ion-icon>
          </div>
        </div>

      </div>
    </div>
  </div>

</ion-list>