<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <app-back-button defaultHref="" color='light'></app-back-button>
        </ion-buttons>
        <ion-title style="color: #fff;">航班动态</ion-title>
    </ion-toolbar>
</ion-header>
<div class="bg"></div>
<ion-content class="cnt" [class.ios]='isIos'>
    <div class="wrapper">
        <div class="search-img" #imgEles [ngClass]='{ios:isIos,hidden:themeMode=="dark"}'>
            <div class="left" (click)="onFlightNumber()" #limg>
                <img src="assets/images/hotel-rect-l.png" [class.hidden]='flightno !="flightno"' class="left" alt="">
                <span class="text" [class.color]='flightno !="flightno"'>按航班号</span>
            </div>
            <div class="right" (click)="onLandingZone()" #rimg>
                <img src="assets/images/hotel-rect-r.png" [class.hidden]='flightno !="strip"' class="right" alt="">
                <span class="text" [class.color]='flightno !="strip"'>按起降地</span>
            </div>
        </div>
    </div>
    <ion-card>
        <div class="segments">
            <ng-container *ngIf='themeMode=="dark"'>
                <div class="seg" (click)="onFlightNumber()" [class.active]='isFlightNum'>
                    <span class="text">按航班号</span>
                    <div class="line"></div>
                </div>
                <div class="seg" (click)="onLandingZone()" [class.active]='!isFlightNum'>
                    <span class="text">按起降地</span>
                    <div class="line"></div>
                </div>
            </ng-container>
        </div>
        <ion-card-content [class.hidden]='flightno !="flightno"'>
            <section>
                <div class="flight-dt num">
                    航班号
                </div>
                <div class="flight-num">
                    <ion-input [(ngModel)]='fliNumber' clear-input='true'></ion-input>
                    <!-- <ion-text color="secondary" (click)="addTextFlightNo()">添加</ion-text> -->
                </div>
            </section>
            <section>
                <div class="flight-dt date">
                    出发日期
                </div>
                <div class="datetime" (click)="onSelecDyDate(true)">
                    <!-- <ion-text>2021年4月21日 星期二</ion-text> -->
                    <app-search-day-dy-comp [day]='goDate' [disabled]='disabled'></app-search-day-dy-comp>
                    <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
                </div>
            </section>
            <div class="btn-search" (click)="searchFlight(fliNumber)">查询航班</div>
            <div class="history" *ngIf="histroyList && histroyList.length">
                <ul>
                    <li *ngFor='let s of histroyList;let idx = index' (click)="onSelect(s)">{{s}}<span (click)="ondelete(idx)"><ion-icon name="close-outline"></ion-icon></span></li>
                </ul>
                <ion-icon class="delete-all" name="trash-outline" (click)="onDelAll(histroyList)"></ion-icon>
            </div>
        </ion-card-content>
        <ion-card-content [class.hidden]='flightno !="strip"'>
            <ion-buttons class="city">
                <div class="left" (click)='onSelectCity(true)'>
                    <ion-text class="tocity">出发城市</ion-text>
                    <ion-label class="ion-text-wrap city-name ion-text-start" [class.disabled]='disabled' color='{{disabled?"medium":"secondary"}}'>
                        {{departureCity}}
                    </ion-label>
                </div>
                <ion-button color='{{disabled?"medium":"secondary"}}' [disabled]='disabled' (click)='onSwapCity()'>
                    <img src='assets/images/flight-rotate.png' [class.rotate]='isSwapingCity' />
                </ion-button>
                <div class="right" (click)='onSelectCity(false)'>
                    <ion-text class="fromcity">到达城市</ion-text>
                    <ion-label class="ion-text-wrap city-name ion-text-end" [class.disabled]='disabled' color='{{disabled?"medium":"secondary"}}'>
                        {{arriveCity}}
                    </ion-label>
                </div>
            </ion-buttons>
            <section>
                <div class="flight-dt date">
                    出发日期
                </div>
                <div class="datetime" (click)="onSelecDyDate(true)">
                    <app-search-day-dy-comp [day]='goDate' [disabled]='disabled'></app-search-day-dy-comp>
                    <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
                </div>
            </section>
            <div class="btn-search" (click)="queryFlight()">查询航班</div>
            <div class="history" *ngIf="airportList && airportList.length">
                <ul>
                    <li *ngFor='let s of airportList;let index = index' (click)="onSelectFromToCity($event,s)">{{s?.fromCity.Nickname}}-{{s?.toCity.Nickname}}<span (click)="ondelete(index)"><ion-icon name="close-outline"></ion-icon></span></li>
                </ul>
                <ion-icon class="delete-all" name="trash-outline" (click)="onDelAll(airportList)"></ion-icon>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>