<ion-item detail lines='none' (click)='searchCostCenter()' [disabled]='isOtherCostCenter'>
  <ion-label class="costcenter">
    <strong class="strong">{{langOpt.CostCenter}}:</strong>
  </ion-label>
  <ion-label class='ion-text-end'>{{costCenter?.name}}</ion-label>
</ion-item>
<!-- <ion-item lines='none'>
  <ion-checkbox class="ion-margin-end" color="secondary" (ionChange)='onCheckboxValueChange($event)'
    [(ngModel)]='isOtherCostCenter'>
  </ion-checkbox>
  <ion-label style='margin-right: 0.5em' [color]='isOtherCostCenter?"":"medium"'>{{langOpt.Other}}</ion-label>
  <ion-input *ngIf="isOtherCostCenter" [disabled]='false&&!isOtherCostCenter' [(ngModel)]='otherCostCenterName'
    placeholder='名称' (ionChange)='onValueChange()'>
  </ion-input>
  <ion-input *ngIf="isOtherCostCenter" [disabled]='false&&!isOtherCostCenter' [(ngModel)]='otherCostCenterCode'
    placeholder='代码' (ionChange)='onValueChange()'>
  </ion-input>
</ion-item> -->