<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-ali-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-ali-plugin</name>
    <js-module name="cordova-ali-plugin" src="www/cordova-ali-plugin.js">
        <clobbers target="ali" />
    </js-module>

     <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Ali" >
                <param name="android-package" value="com.beeant.plugin.ali.Ali"/>
            </feature>
        </config-file>

        <source-file src="src/android/Ali.java" target-dir="src/com/beeant/plugin/ali" />
    </platform>

    <!-- ios -->
    <!-- <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform> -->

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/DeviceProxy.js" name="DeviceProxy">
            <runs />
        </js-module>
    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="browser-package" value="Device" />
            </feature>
        </config-file>

        <js-module src="src/browser/DeviceProxy.js" name="DeviceProxy">
            <runs />
        </js-module>
    </platform>

    <!-- osx -->
    <platform name="osx">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/osx/CDVDevice.h" />
        <source-file src="src/osx/CDVDevice.m" />
    </platform>

</plugin>
