<!-- <ion-backdrop></ion-backdrop> -->
<!-- <ion-button (click)='testHcp()' [disabled]='hcpUpdateInfo?.loaded!==hcpUpdateInfo?.total'>测试更新</ion-button> -->
<!-- Other types -->
<!-- Circles -->
<ion-label margin-bottom>
  <ion-spinner name="circles" color='primary' *ngIf='hcpUpdateInfo?.loaded!=hcpUpdateInfo?.total'></ion-spinner>
</ion-label>
<ion-label color='primary' margin-bottom>
  {{hcpUpdateInfo?.taskDesc}}
  <ion-note color='success'>{{hcpUpdateInfo?.progress}}</ion-note>
</ion-label>
<!-- <ion-progress-bar color="secondary" [value]="hcpUpdateInfo?.loaded" [buffer]='hcpUpdateInfo?.total'>
</ion-progress-bar> -->