<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>个人信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail (click)='croppImage()'>
      <ion-label>头像</ion-label>
      <ion-thumbnail slot='end'>
        <img [src]="Model?.HeadUrl" alt="头像">
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label>姓名</ion-label>
      <ion-label slot='end'>{{Model?.RealName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>账号</ion-label>
      <ion-label slot='end'>{{Model?.Name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="Model?.StaffNumber">
      <ion-label>员工工号</ion-label>
      <ion-label slot='end'>{{Model?.StaffNumber}}</ion-label>
    </ion-item>
    <ion-item *ngIf="Model?.CostCenterCode">
      <ion-label>成本中心/编码</ion-label>
      <ion-label slot='end'>{{Model?.CostCenterName}}/{{Model?.CostCenterCode}}</ion-label>
    </ion-item>
    <ion-item *ngIf="Model?.OrganizationName">
      <ion-label>所在部门</ion-label>
      <ion-label slot='end'>{{Model?.OrganizationName}}</ion-label>
    </ion-item>
    <ion-item *ngIf="Model?.BookTypeName">
      <ion-label>预定方式</ion-label>
      <ion-label slot='end'>{{Model?.BookTypeName}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
<input type="file" id='file' hidden>