ion-row {
  align-items: center;
}
body:not(.dark) {
  &.qr-scanning ion-content {
    --background: transparent;
  }
  ion-content {
    // --border-color: #d6d6d6;
    --background: #f2f2f2;
    // ion-list.list-ios,
    // ion-list.list-md {
    //   margin: 1em 0;
    //   padding: 0;

    //   &:first-child {
    //     margin-top: 0;
    //   }

    //   ion-item {
    //     margin: 0;
    //     padding: 0;
    //   }
    ion-list ion-item:last-child {
      --inner-border-width: 0;
    }
    // }

    .image-code {
      img {
        max-height: 2em;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
body,
body.dark {
  &.qr-scanning,ion-content {
    background: transparent;
  }
  // background: white;
  &.cordova-android {
    padding: 1em 0;
  }
}
@import "../app/components/refresher/refresher.scss";
.inner-html {
  .line {
    margin: 0 0.2em;
  }
  ul {
    list-style-type: none;
    li,
    & {
      margin: 0;
      padding: 0;
    }
  }
  p {
    margin: 0;
    padding: 0;
  }
  &.clip-text {
    margin-right: 0.5em;
    position: relative;
  }
  &.description {
    .open-close-arrow {
      position: relative;
      top: 0.5em;
      display: inline-block;
      box-sizing: border-box;
      border: 0.5em solid transparent;
      border-top: 0.5em solid var(--ion-color-secondary);
    }
    &.show .open-close-arrow {
      box-sizing: border-box;
      border: 0.5em solid transparent;
      border-bottom: 0.5em solid var(--ion-color-secondary);
    }
  }
}
ion-header {
  // ion-toolbar {
  //   --background: var(--ion-color-primary);
  // }

  &.header-md:after {
    background-image: none;
  }
}

.down-count {
  position: relative;
  text-align: center;

  &::before {
    display: block;
    content: " ";
    left: 0.7em;
    top: 0.2em;
    margin-right: 1em;
    bottom: 0.2em;
    width: 1px;
    background-color: var(--ion-color-medium);
    position: absolute;
  }
}
ion-action-sheet.child-age .action-sheet-wrapper {
  height: 60vh;
  .action-sheet-container {
    .action-sheet-group {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      .action-sheet-title {
        width: 100%;
      }
      .btn-age {
        color: var(--ion-color-secondary);
        max-width: 7em;
        border-radius: 0.5em;
        height: 3em;
        padding: 0;
        font-size: 0.8rem;
        span {
          justify-content: flex-start;
          justify-content: center;
        }
      }
    }
  }
}
.hidden {
  display: none !important;
}

ion-alert,
ion-loading,
ion-radio {
  --ion-color-primary: var(--ion-color-secondary);
  .loading-spinner {
    --spinner-color: var(--ion-color-secondary);
  }
}
ion-checkbox {
  --ion-color-primary: var(--ion-color-secondary);
  --checkmark-color: var(--ion-color-light);
  &.ios {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 0.3em;
  }
}
ion-picker {
  --ion-color-primary: var(--ion-color-secondary);
}
.alert-wrapper .alert-button-group button {
  color: var(--ion-color-dark);
}

// form {
//   background: var(--ion-color-light);
//   padding: 0 1em;
// }

input {
  border: 1px solid var(--ion-color-medium);
  background-color: transparent;
  &:focus {
    border: 1.5px solid var(--ion-color-secondary);
  }
}

.validctrlerror {
  border: 1px solid var(--ion-color-danger);

  //   &:focus {
  //     border-color: var(--ion-color-secondary);
  //   }
  &:focus ~ .validerrormess {
    display: none;
  }
  & ~ .validsucessmess {
    display: none;
  }
}

.validctrlsucess {
  border: 1px solid var(--ion-color-success);

  & ~ .validerrormess,
  & ~ .validsucessmess {
    display: none;
  }
}

.validerrormess {
  //   background: url(assets/validator/img/error.gif) no-repeat;
  color: var(--ion-color-danger);
  font-size: 0.7rem;
  text-align: justify;
  display: inline-block;
  padding: 0.1em;
}

.validsucessmess {
  //   background: url(assets/validator/img/secondary.gif) no-repeat;
  font-size: 0.7rem;
}
.datetimepicker {
  --ion-color-primary: var(--ion-color-secondary);
}
.validshowmess {
  color: var(--ion-color-medium);
  font-size: 0.7rem;
  text-align: justify;
  display: inline-block;
}
.ticket-changing,
.warranty {
  .popover-content {
    width: 80vw;
    // --max-height: 65%;
    // --border-radius: 0.5em;
    // --height: 40%;
  }
}
.clip-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  &.show {
    -webkit-line-clamp: 10000;
  }
}
.train-refund-comp .popover-content {
  width: 80vw;
  left: 10vw;
}
a {
  color: var(--ion-color-secondary);
}
ion-action-sheet.language {
  --button-color: var(--ion-color-secondary);
}

.domestic-hotel-filter-condition {
  top: 6.5em;
}
