ion-content {
    --border-color    : #d6d6d6;
    --background      : #ededed;
    --ion-color-medium: #bdbdbd;

    ion-list.list-ios,
    ion-list.list-md {
        margin: 1em 0;

        &:first-child {
            margin-top: 0;
        }

        ion-item {
            margin : 0;
            padding: 0;

        }

        // &:first-child ion-item:first-child {
        //     padding: 0.5em 0;
        // }

        ion-item:last-child {
            --inner-border-width: 0;
        }
    }
}
