<ion-content class="home">
  <div class="info">
    <div class="name" (click)="onSwitchCustomer()">
      <ion-text notranslate>{{selectedCompany||identity?.Name}}<span class="margin-l">欢迎您</span></ion-text>
      <ion-icon class="caret-down" name="caret-down-outline" *ngIf="canSelectCompany"></ion-icon>
    </div>
    <div class="scan-pic" *ngIf="canShow">
      <app-scan-comp>
        <img src="assets/images/home-scan.png" alt="" />
      </app-scan-comp>
    </div>
  </div>
  <div class="banners">
    <div class="swiper-container" #container>
      <div class="swiper-wrapper">
        <ng-container *ngIf="banners?.length else deftpl">
          <div class="swiper-slide" *ngFor="let pic of banners" (click)='onJump(pic)'>
            <div class="inner">
              <img [lazyLoad]="pic.ImageUrl" [defaultImage]="config?.DefaultImageUrl" [loadingImage]="config?.PrerenderImageUrl" />
            </div>
          </div>
        </ng-container>
        <ng-template #deftpl>
          <div class="swiper-slide">
            <div class="inner">
              <img [lazyLoad]="config?.DefaultImageUrl" [defaultImage]="config?.DefaultImageUrl" [loadingImage]="config?.PrerenderImageUrl" />
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="dots" *ngIf="banners?.length">
      <div class="dot" *ngFor="let d of banners;let idx=index;" [class.active]="idx==curIndex"></div>
    </div>
  </div>
  <div class="round-wrapper">
    <div class="annoucement-container" [class.hidden]="!agentNotices?.length" (click)='goToBulletinList("agentNotice")'>
      <div class="swiper-container" #announcementEl>
        <div class="swiper-wrapper">
          <ng-container *ngIf="agentNotices?.length">
            <div class="swiper-slide" *ngFor="let n of agentNotices">
              <div class="announcement">
                <img src="assets/home/home-tip.png" class="tip" alt="" />
                <div class="text" notranslate>{{n.text}}</div>
                <ion-icon name="chevron-forward-outline" class="icon-right"></ion-icon>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="plane" (click)='goToPage("flight")'>
        <img src="assets/home/home-plane.png" alt="" />
        <span class="txt" notranslate>机票</span>
      </div>
      <div class="hotel" (click)='goToPage("hotel")'>
        <img src="assets/home/home-hotel.png" alt="" />
        <span class="txt" notranslate>酒店</span>
      </div>
      <div class="train" (click)='goToPage("train")'>
        <img src="assets/home/home-train.png" alt="" />
        <span class="txt" notranslate>火车票</span>
      </div>
      <div class="car" (click)='goToPage("rentalCar")' *ngIf="isShowRentalCar&&(!identity?.Numbers?.AgentId)">
        <img src="assets/home/home-car.png" alt="" />
        <span class="txt" notranslate>用车</span>
      </div>
    </div>
    <div class="entries">
      <div class="item" *ngIf="!isAgent&&staff?.StaffNumber" (click)="goBusiness()">
        <img src="assets/home/home-travel.png" alt="" />
        <div class="txt" notranslate>出差申请</div>
      </div>
      <!-- <div class="item">
        <img src="assets/home/home-mms.png" alt="" />
        <div class="txt">积分商城</div>
      </div> -->
      <div class="item" (click)="onDemand()">
        <img class="imgs" src="assets/home/demand.png" alt="" />
        <div class="txt" notranslate>需求单</div>
      </div>
    </div>

    <div class="notice">
      <div class="swiper-container warpper-a" [class.hidden]="!tasklist || !tasklist.length" #taskEle>
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper" *ngFor="let task of tasklist">
            <img src="assets/home/home-text.png" alt="" />
            <div class="not-jj" (click)="onTaskDetail(task)">
              <div class="not-name" notranslate>{{task.Name}}</div>
              <div calss="not-approvd overflow">
                <span style="color: crimson" notranslate>{{task.saName}}</span><span notranslate>{{task?.VariablesObj?.OrderTypeName}}{{task.StatusName}}</span>
              </div>
              <div class="view-now" (click)="onTaskDetail(task)" notranslate>立即查看</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-container not-item-u" [class.hidden]="!itineraryList ||! itineraryList.length" #tripEle>
        <div class="swiper-wrapper" style="height: 51px">
          <div class="swiper-slide it-list" *ngFor="let trip of itineraryList;">
            <img src="assets/home/home-trip.png" alt="" />
            <div class="not-warp" (click)="goToDetailPage(trip.OrderId,trip.Type)">
              <div class="not-name" notranslate>{{trip.PassagerName}}</div>
              <div class="wait-trip" notranslate>您有<span>1张</span>待出行行程</div>
              <div class="view-now" notranslate>立即查看</div>
              <div *ngIf="trip.Type == 'Flight'" class="trips">
                <div class="starting-city" notranslate>{{trip?.FromCityName}}</div>
                <div class="jiantou"><img src="assets/home/jiantou.png" /></div>
                <div class="arriving-city"><span notranslate>{{trip?.ToName}}</span></div>
                <div class="fly-time" notranslate>
                  <span notranslate>{{trip.Hour}}小时</span>后起飞
                </div>
              </div>
              <div *ngIf="trip.Type == 'Train'" class="trips">
                <div class="starting-city" notranslate>{{trip?.FromName}}</div>
                <div class="jiantou"><img src="assets/home/jiantou.png" /></div>
                <div class="arriving-city"><span notranslate>{{trip?.ToName}}</span></div>
                <div class="fly-time" notranslate><span notranslate>{{trip.Hour}}小时</span>后出发</div>
              </div>
              <div *ngIf="trip.Type == 'Hotel'" class="trips">
                <div class="starting-city" notranslate>{{trip?.Name}}</div>
                <div class="fly-time" notranslate><span notranslate>{{trip.Hour}}小时</span>前入住</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hot-hotel">
    <div class="title" notranslate>热门酒店</div>
    <div class="swiper-container" #hothotel>
      <div class="swiper-wrapper">
        <ng-container *ngIf="boutiqueHotel?.HotelDayPrices?.length else deftpl">
          <div class="swiper-slide" *ngFor="let pic of boutiqueHotel.HotelDayPrices" (click)="goToDetail(pic.Id)">
            <div class="inner">
              <img [lazyLoad]="pic.HotelFileName" [defaultImage]="recommendHotelDefaultImg||config?.DefaultImageUrl" [loadingImage]="config?.PrerenderImageUrl" />
            </div>
          </div>
        </ng-container>
        <ng-template #deftpl>
          <div class="swiper-slide" *ngFor="let bot of boutiqueHotel">
            <div class="inner">
              <img [lazyLoad]="bot?.HotelDefaultImg" [defaultImage]="config?.DefaultImageUrl" [loadingImage]="config?.PrerenderImageUrl" />
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="dots-up" *ngIf="boutiqueHotel?.HotelDayPrices?.length">
      <div class="dot" *ngFor="let d of boutiqueHotel?.HotelDayPrices;let ind=index;" [class.active]="ind==hotIndex"></div>
    </div>
  </div>

  <div class="points-mall">
    <div class="title" notranslate>积分商城</div>
    <div class="commodity">
      <div class="list" *ngFor="let item of exchangeList" (click)="onRedeemNow()">
        <div class="left">
          <div class="item-name" notranslate>{{item.Name}}</div>
          <div class="jf" notranslate>{{item.Count}}积分</div>
          <button class="btn1" notranslate>立即兑换</button>
        </div>
        <div class="right">
          <img [lazyLoad]="item.ImageUrl" [defaultImage]="config?.DefaultImageUrl" [loadingImage]="config?.PrerenderImageUrl" alt="" />
        </div>
      </div>
      <div class="list" style="background: linear-gradient(90deg, #fbddb1 0%, #fbc696 100%)">
        <div class="left">
          <div class="item-sign" notranslate>签到有奖</div>
          <div class="jd" notranslate>20积分</div>
          <button class="btn2" *ngIf="isRegister" (click)="onSignIn()" [class.disabled]='!isCanDailySigned'>
            <span *ngIf='!isCanDailySigned' notranslate>今日已签到</span>
            <span *ngIf='isCanDailySigned' notranslate>立即签到</span>
          </button>
        </div>
        <div class="right">
          <img src="assets/home/mobile.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</ion-content>