ion-header ion-title {
  font-size: 0.9rem;
}
.home {
  --background: white;
}
.banners {
  --background: white;
  --border-width: 0;
  position: relative;
  width: 100vw;
}
.hot-hotel {
  --background: white;
  --border-width: 0;
  position: relative;
  width: 100vw;
  .title {
    font-size: 18px;
    margin-left: 20px;
    border-left: 3px solid #5099fe;
    padding: 0 10px;
  }
  .inner {
    padding: 20px;
    height: 138px;
    position: relative;
    img {
      width: 100%;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: contain;
      height: 117px;
      &.lazyloading {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .desc {
      font-size: 0.6rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(var(--ion-color-dark-rgb), 0.2);
      color: white;
      border-radius: 0em;
    }
  }
}

.dots,
.dots-up {
  position: absolute;
  bottom: 1em;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  .dot {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 0.15em;
    &.active {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
.dots-up {
  .dot {
    &.active {
      background-color: rgba(255, 255, 255, 1);
      width: 25px;
      border-radius: 4px;
    }
  }
}
.inner {
  height: 189px;
  position: relative;
  img {
    width: 100%;
    &.lazyloading {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .desc {
    font-size: 0.6rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--ion-color-dark-rgb), 0.2);
    color: white;
    border-radius: 0em;
  }
}

.margin-l {
  margin-left: 0.5em;
}
.info {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 99;
  justify-content: center;
  left: 0;
  right: 0;
  top: 1.2em;
  color: white;
  .caret-down {
    font-size: 0.9rem;
    margin-left: 0.35em;
  }
  .scan-pic {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 1em;
  }
  .name {
    flex: 1;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.round-wrapper {
  z-index: 100;
  border-radius: 15px 15px 0px 0px;
  background-color: white;
  position: relative;
  top: -1em;
  padding-top: 9px;
}
.products {
  margin-top: 25px;
  display: flex;
  align-items: center;
  // justify-content: space-around;
  .plane,
  .hotel,
  .train,
  .car {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 25%;
    img {
      width: 64px;
      height: 64px;
    }
    .txt {
      margin-top: 0.8em;
      font-size: 12px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
    }
  }
}
.entries {
  display: flex;
  align-items: center;
  overflow: auto;
  margin-top: 25px;
  &::-webkit-scrollbar {
    display: none;
  }
  .img {
    width: 20px;
    height: 20px;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 0 1em;
  }
  .txt {
    white-space: nowrap;
    color: #333333;
    font-size: 10px;
    margin-top: 0.5em;
  }
}
.notice {
  margin-top: 25px;
  font-size: 12px;
  .not-item {
    display: flex;
    margin: 20px;
    padding-bottom: 15px;
    border-bottom: 5px solid #e2eae8;
    img {
      height: 18px;
    }
    .not-jj {
      display: flex;
      .not-name {
        margin-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .not-item-u {
    display: flex;
    margin: 20px;
    img {
      height: 20px;
    }
    .wait-trip,
    .starting-city {
      margin-left: 15px;
    }

    .jiantou {
      display: flex;
      align-items: center;
      margin-right: 6px;
      margin-left: 6px;
      img {
        width: 24px;
        height: 5px;
      }
    }
  }

  .not-warp {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18px;
  }

  .not-trip {
    display: flex;
  }

  .wait-trip {
    span {
      color: #ff6600;
    }
  }
}

.view-now {
  color: #5099fe;
  margin-left: 15px;
}

.annoucement-container {
  height: 25px;
  margin: 0 1em;
  margin-top: 12px;
  .swiper-container {
    height: 100%;
  }
  .announcement {
    width: 100%;
    border-radius: 15px;
    background: rgba(98, 142, 243, 0.1);
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 1em;
    .tip {
      width: 14px;
      height: 14px;
      margin-right: 10px;
    }
    .icon-right {
      font-size: 14px;
      opacity: 0.7;
    }
  }
  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    font-size: 12px;
  }
}

.points-mall {
  margin: 20px;
  .title {
    font-size: 18px;
    border-left: 3px solid #5099fe;
    padding: 0 10px;
    margin-bottom: 15px;
  }
  .commodity {
    display: flex;
    flex-wrap: wrap;
  }
  .list {
    width: 156px;
    height: 87px;
    background: linear-gradient(90deg, #dec6fd 0%, #d1b7ff 100%);
    opacity: 0.8;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    .left {
      display: grid;
      margin-left: 12px;
      .item-name {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #934aca;
      }
      .jf {
        font-size: 12px;
      }
      button {
        font-size: 12px;
        background: #934aca;
        color: #fff;
        height: 18px;
        width: 64px;
        border-radius: 5px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      img {
        width: 51px;
        height: 66px;
        border-radius: 4px;
      }
    }
  }
}
