.text-input {
    .label {
        width: 5em;
    }

    display    : flex;
    align-items: center;

    input {
        padding: .25em .5em;
        outline: none;
        &:focus{
            border:1px solid var(--ion-color-secondary);
        }
        &.has-error{
            border:1px solid var(--ion-color-danger);
            color: var(--ion-color-danger);
        }
    }
}