@import "../travel-apply-detail/travel-apply-detail.page.scss";
.travel_step_detail p {
    font-size: 12px;
}

.apply_info_tit :first-child {
    display: inline-flex;
    width: 9.9rem;
    margin-right: 5px;
    color: rgba(102, 102, 102, 1);
    text-transform: capitalize;
}

.travel_step_btn button {
    height: 40px;
    width: 100px;
    color: #fff;
    font-size: 12px;
    background: rgba(0, 131, 233, 1);
    border-radius: 30px;
    outline: none;
}

.approved-by ion-text {
    text-transform: capitalize;
}

.apply_info_tit .apply_info_reason {
    width: 239px;
    line-height: 20px;
    text-transform: capitalize;
}