.con-header {
    background: #5099fe;
    width: 100%;
    .con-toolbar {
        --background: #5099fe;
    }
    .conter {
        display: flex;
        align-items: center;
        margin-left: 30px;
        width: 100%;
        div :first-child {
            margin-right: 16px;
        }
        img {
            width: 27.5px;
            margin-top: 6px;
        }
        .status {
            font-size: 24px;
            color: #fff;
        }
    }
}

.tabs {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: PingFang SC;
    padding: 0.5em 1em 0 1em;
    background: var(--ion-color-light);
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
    .tab {
        &.hasMore {
            max-width: 232px;
        }
        &:not(:first-child) {
            margin: 0 0.5em;
        }
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        flex: 1;
        background-color: #7d7d7d;
        font-weight: 500;
        color: #333333;
        padding: 0.5em 1em;
        &.active {
            padding: 0.7em 1em;
            min-width: 232px;
            font-weight: bold;
            background-color: #5099fe;
            color: var(--ion-color-light);
            flex: 2;
        }
    }
}

.m-t {
    margin-top: -0.6em;
}

.con-header {
    background: #5099fe;
    width: 100%;
    .con-toolbar {
        --background: #5099fe;
    }
    .conter {
        display: flex;
        align-items: center;
        margin-left: 30px;
        width: 100%;
        padding-bottom: 0.6em;
        div :first-child {
            margin-right: 16px;
        }
        img {
            width: 27.5px;
            margin-top: 6px;
        }
        .status {
            font-size: 24px;
            color: #fff;
        }
    }
}

.ion-item-divider {
    display: flex;
    align-items: center;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 6px;
    border-top: 0.1px solid #eae6e6;
    &.n-b {
        border: none;
    }
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    img {
        width: 27px;
        margin-right: 16px;
    }
}

.swiper-slide {
    align-items: flex-start;
    width: 100%;
    text-align: left;
    background: #fff;
    &>*:first-child {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

ion-row {
    padding-left: 1em;
    margin-top: 0.1em;
    // border-bottom: 1px solid rgba(var(--ion-color-dark-rgb), 0.13);
}

ion-row ion-col {
    align-self: flex-start;
    font-size: 12px;
    &:first-child {
        color: var(--ion-color-medium);
        text-transform: capitalize;
    }
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-light);
}

ion-toolbar {
    height: 3.3em;
    display: flex;
    --border-width: 0;
}

.ion-item-divider {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 6px;
    border-top: 0.1px solid #eae6e6;
    padding-left: 20px;
    font-size: 18px;
}

// .container {
//   margin-top: 10px;
// }
.container-div {
    background: #fff;
    line-height: 1.4rem;
    padding-bottom: 20px;
}

:host.dark {
    .tabs {
        background: initial;
    }
    .container-div {
        background-color: initial;
    }
    .ion-item-divider {
        background-color: initial;
    }
    .swiper-slide {
        background-color: initial;
    }
    .order-flight-ticket-info {
        background: initial;
    }
    .container .small,
    .fly {
        color: var(--ion-text-color);
    }
    ion-row ion-col {
        color: var(--ion-text-color);
    }
}