<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>

      <app-back-button defaultHref=''></app-back-button>
    </ion-buttons>
    <ion-title>Confirmation information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf='!error else retryTempl'>
    <app-refresher slot='fixed' (ionRefresh)='doRefresh(true)'>
      <ion-refresher-content>正在刷新...</ion-refresher-content>
    </app-refresher>
    <ng-container *ngIf='viewModel?.combindInfos?.length'>
      <ion-list *ngFor="let combindInfo of viewModel?.combindInfos" lines='none'>
        <ion-item-divider notranslate color='primary' class="sticky">
          {{combindInfo?.vmCredential?.Name}}
          【{{tmc?.Name}}】
          [Adult]
          {{combindInfo?.vmCredential?.Number}}
        </ion-item-divider>
        <ion-item-group>
          <ion-item-divider>Ticket booking information:</ion-item-divider>
          <ion-item>
            <div style='width: 100%;padding: 0.5em 0.25em '>
              <strong>
                <ion-label style="padding: 0.5em 0">
                  {{getDate(combindInfo?.bookInfo?.bookInfo?.trainEntity)}}
                </ion-label>
              </strong>
              <app-train-list-item_en [langOpt]='langOpt' [train]='combindInfo?.bookInfo?.bookInfo?.trainEntity' [showBookBtn]='false'
                [seat]='combindInfo?.bookInfo?.bookInfo?.selectedSeat' (seatPicker)='onSeatPicker($event,combindInfo)'
                [selectSeatLocation]='combindInfo.bookInfo?.bookInfo?.trainEntity?.BookSeatLocation'>
              </app-train-list-item_en>
            </div>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider>Passenger information:</ion-item-divider>
          <ion-item [disabled]='searchTrainModel?.isExchange'>
            <div style='width: 100%'>
              <app-book-credential-comp [attr.credentialcompid]='combindInfo.id'
                [credential]='combindInfo?.vmCredential' *ngIf='!searchTrainModel?.isExchange else excredentialTemp'
                [canEdit]='true' [canEditNumber]='false'
                [isself]='isSelfBookType'
                [canEditSurname]='combindInfo?.vmCredential.Type==CredentialsType.HvPass||combindInfo?.vmCredential.Type==CredentialsType.Taiwan'
                [canEditName]='combindInfo?.vmCredential.Type==CredentialsType.HvPass||combindInfo?.vmCredential.Type==CredentialsType.Taiwan'
                (savecredential)='onSavecredential($event,combindInfo)' [credentials]='combindInfo?.credentials'
                (modify)='onModify(combindInfo)'>
              </app-book-credential-comp>
              <ng-template #excredentialTemp>
                <app-book-credential-comp [attr.credentialcompid]='combindInfo.id' [canEdit]='false' 
                  [credential]='combindInfo?.vmCredential' (savecredential)='onSavecredential($event,combindInfo)'
                  [credentials]='combindInfo?.credentials'>
                </app-book-credential-comp>
              </ng-template>
            </div>
          </ion-item>
          <ion-item *ngIf='combindInfo?.bookInfo?.bookInfo?.trainPolicy?.Rules?.length && !combindInfo?.isNotWhitelist'>
            <div style='width: 100%'>
              <app-book-illegal-reason-comp [langOpt]='{
                Excess:"Excess reason",
                Other:"Other"
              }' [attr.illegalReasonid]='combindInfo.id' #illegalReasonsEle
                [illegalReasons]='viewModel?.illegalReasons' [isAllowCustomReason]='tmc?.IsAllowCustomReason'
                (ionchange)='onIllegalReason($event,combindInfo)'>
              </app-book-illegal-reason-comp>
            </div>
          </ion-item>
          <ng-container *ngIf='viewModel?.expenseTypes?.length'>
            <ion-item lines='none'>
              <app-book-expense-types-comp [langOpt]='{
                FeeType:"FeeType"
              }' style="width: 100%;" [expenseTypes]='viewModel.expenseTypes'
                [(expenseType)]='combindInfo.expenseType'>
              </app-book-expense-types-comp>
            </ion-item>
          </ng-container>
          <ion-item>
            <app-book-costcenter-comp [langOpt]='{
              CostCenter: "CostCenter",
              Other:"Other"
            }' [isOtherCostCenter]='combindInfo.isOtherCostCenter'
              [costCenter]='combindInfo.costCenter' [otherCostCenterCode]='combindInfo.otherCostCenterCode'
              [otherCostCenterName]='combindInfo.otherCostCenterName'
              (ionChange)='onCostCenterChange($event,combindInfo)'>
            </app-book-costcenter-comp>
          </ion-item>
          <ion-item>
            <app-book-organization-comp [langOpt]='{
              department: "Department",
              other:"Other"
            }' (ionChange)='onOrganizationChange($event,combindInfo)'
              [organization]='combindInfo?.organization' [isOtherOrganization]='combindInfo?.isOtherOrganization'
              [otherOrganizationName]='combindInfo?.otherOrganizationName'></app-book-organization-comp>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider>
            Contact information:
          </ion-item-divider>
          <div class='mobiles' [attr.mobileid]='combindInfo.id'>
            <ion-item *ngFor='let mobile of combindInfo?.credentialStaffMobiles'
              [disabled]='searchTrainModel?.isExchange'>
              <ion-checkbox color="secondary" [(ngModel)]="mobile.checked"></ion-checkbox>
              <ion-label style='margin-left: 0.5em'>{{mobile.mobile}}</ion-label>
            </ion-item>
            <ion-item [disabled]='searchTrainModel?.isExchange'>
              <ion-label style='margin-right: 0.5em'>Contact number</ion-label>
              <ion-input style="margin-left: -6px; font-size: 14px;" [(ngModel)]="combindInfo.credentialStaffOtherMobile" placeholder='Please enter another number'></ion-input>
            </ion-item>
          </div>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider>
            Contact email:
          </ion-item-divider>
          <div class='emails'>
            <ion-item *ngFor='let email of combindInfo?.credentialStaffEmails'
              [disabled]='searchTrainModel?.isExchange'>
              <ion-checkbox color="secondary" [(ngModel)]="email.checked"></ion-checkbox>
              <ion-label style='margin-left: 0.5em'>{{email.email}}</ion-label>
            </ion-item>
            <ion-item class='ion-no-margin' [disabled]='searchTrainModel?.isExchange'>
              <ion-label>Order email:</ion-label>
              <ion-input style="font-size:14px;margin-left: 22px;" [(ngModel)]="combindInfo.credentialStaffOtherEmail" placeholder='Please enter another email'></ion-input>
            </ion-item>
          </div>
        </ion-item-group>
        <ng-container *ngIf='combindInfo?.insuranceProducts?.length'>
          <ion-item-group>
            <ion-item-divider color="primary">
              Insurance:
            </ion-item-divider>
            <ion-radio-group [disabled]='searchTrainModel?.isExchange' mode='md' allow-empty-selection='true'
              [value]='combindInfo.selectedInsuranceProduct' [(ngModel)]='combindInfo.selectedInsuranceProduct'
              (ionChange)='calcTotalPrice()'>
              <div *ngFor='let insurance of combindInfo?.insuranceProducts'
                style="margin-top: 1em;background-color: var(--ion-color-primary);padding-right: 1em;">
                <ion-buttons>
                  <ion-item style="--background:transparent;flex: 1;">
                    <ion-radio [value]="insurance.insuranceResult.Id" [disabled]='insurance.disabled'></ion-radio>
                    <ion-label class="ion-margin-horizontal">
                      {{insurance.insuranceResult?.Name}}({{insurance.insuranceResult?.Price}}RMB)</ion-label>
                  </ion-item>
                  <ion-label color='secondary' (click)='onShowInsuranceDetail(insurance,$event)'>
                    Details
                    <ion-icon name="caret-up-outline" *ngIf='insurance.showDetail'>
                    </ion-icon>
                    <ion-icon name="caret-down-outline" *ngIf='!insurance.showDetail'>
                    </ion-icon>
                  </ion-label>
                </ion-buttons>
                <div [@flyInOut] *ngIf='insurance.showDetail' style='width: 100%;'
                  (click)='insurance.showDetail=!insurance.showDetail'>
                  <ion-row>
                    <ion-col>
                      <ion-label color='medium' class='small-font ion-text-wrap'>
                        <div style="user-select: text;"
                          [innerHtml]='getInsuranceDetails(insurance.insuranceResult?.Detail)'></div>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-item style="--background: transparent;" *ngIf='insurance.insuranceResult?.DetailUrl' detail
                    button (click)='onShowProductDetail(insurance.insuranceResult,$event)'>
                    <ion-label color='secondary'>Show more</ion-label>
                  </ion-item>
                </div>
              </div>
            </ion-radio-group>
          </ion-item-group>
        </ng-container>
        <ion-item-group *ngIf="isShowApprove(combindInfo)">
          <ion-item-divider>
            Approved by:
          </ion-item-divider>
          <ion-item>
            <div style='width: 100%;'>
              <ion-row style='margin-top: .5em;'>
                <ion-col>
                  <app-timeline [hideLastTimeLineTail]='false'>
                    <app-timeline-item *ngFor='let it of combindInfo?.credentialStaffApprovers'>
                      第{{it.Tag}}级审批:
                      <ion-label class='ion-text-wrap' *ngFor='let ap of it.approvers;let last'>
                        {{ap.Name}}({{it?.Type==1?"All pass":"Any pass"}})
                      </ion-label>
                    </app-timeline-item>
                  </app-timeline>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </ion-item-group>
        <ng-container *ngIf='combindInfo.isShowGroupedInfo'>
          <ion-item-group>
            <!-- <ion-list-header color='primary' class='sticky'>
              <ion-label class='ion-text-wrap' *ngIf='getGroupedTitle(combindInfo) as title'>
                {{title}}
                【{{tmc?.Name}}】
              </ion-label>
            </ion-list-header> -->
            <ion-item class="ion-no-margin" [attr.notifyLanguageid]='combindInfo.id'>
              <ion-label>Notification language:</ion-label>
              <ion-select value='cn' okText="确定" cancelText="取消" [(ngModel)]='combindInfo.notifyLanguage'>
                <ion-select-option value=''>No hair</ion-select-option>
                <ion-select-option value='cn' class="notranslate">中文</ion-select-option>
                <ion-select-option value='en'>English</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="ion-no-margin" *ngIf='viewModel?.isCanSkipApproval$|async'>
              <ion-label style='margin-right: 0.5em'>Skip approval:</ion-label>
              <ion-checkbox class='ion-margin-end' color="secondary" [(ngModel)]='combindInfo.isSkipApprove'>
              </ion-checkbox>
            </ion-item>
            <ion-item class="ion-no-margin" *ngIf='tmc?.IsShowServiceFee || viewModel?.identity?.Numbers?.AgentId'>
              <ion-label>Service fee:</ion-label>
              <ion-label slot='end' class='ion-text-end ion-padding-end'>{{combindInfo.serviceFee}}RMB</ion-label>
            </ion-item>
            <ng-container *ngIf='!searchTrainModel?.isExchange else exApproval'>
              <ion-item class="ion-no-margin" detail *ngIf='isAllowSelectApprove(combindInfo)'
                (click)='openApproverModal(combindInfo)' [attr.approvalid]='combindInfo.id'>
                <ion-label>
                  Approved by:<ion-text *ngIf='combindInfo?.appovalStaff'>
                    {{combindInfo?.appovalStaff?.Name}}|{{combindInfo?.appovalStaff?.Email||combindInfo?.appovalStaff?.Account?.Email}}|{{combindInfo?.appovalStaff?.Number||combindInfo?.appovalStaff?.Mobile}}
                  </ion-text>
                </ion-label>
              </ion-item>
            </ng-container>
            <ng-template #exApproval>
              <ion-item class="ion-no-margin" detail *ngIf='isAllowSelectApprove(combindInfo)' disabled
                [attr.approvalid]='combindInfo.id'>
                <ion-label>
                  Approved by:<ion-text *ngIf='combindInfo?.appovalStaff'>
                    {{combindInfo?.appovalStaff?.Name}}|{{combindInfo?.appovalStaff?.Email||combindInfo?.appovalStaff?.Account?.Email}}|{{combindInfo?.appovalStaff?.Number||combindInfo?.appovalStaff?.Mobile}}
                  </ion-text>
                </ion-label>
              </ion-item>
            </ng-template>
          </ion-item-group>
          <ion-item-group>
            <app-book-tmc-outnumber outnumber='outnumber' [tmcOutNumberInfos]='combindInfo?.tmcOutNumberInfos'
              [isExchange]='searchTrainModel?.isExchange' [isShowGroupedInfo]='true'
              (tmcOutNumber)='onSelectTravelNumber($event,combindInfo)' [travelType]="'Train'">
            </app-book-tmc-outnumber>
          </ion-item-group>
        </ng-container>
      </ion-list>
      <ion-list>
        <ion-item-group *ngIf='!searchTrainModel?.isExchange'>
          <ion-item-divider>
            Add contacts:
          </ion-item-divider>
          <ion-item>
            <app-book-addcontacts-comp_en  buttonText='Add contacts' [(contacts)]='addContacts'>
            </app-book-addcontacts-comp_en>
          </ion-item>
        </ion-item-group>
        <ion-item-group [attr.orderTravelPayTypeid]='"orderTravelPayTypeid"'>
          <ion-item-divider>
            Payment method:
          </ion-item-divider>
          <ion-item [disabled]='searchTrainModel?.isExchange'>
            <div style='width: 100%' *ngIf='orderTravelPayTypes?.length else nopaytypesEle'>
              <ion-radio-group [(ngModel)]='viewModel.orderTravelPayType' mode='md' name='travelPayType'
                (ionChange)="calcTotalPrice()">
                <ion-item *ngFor='let pt of orderTravelPayTypes'>
                  <ion-label>{{pt.label.replace('公付','Company')}}</ion-label>
                  <ion-radio [value]="pt.value" (ionSelect)='onOrderTravelPayTypeSelect(pt)'
                    [class.radio-checked]='pt.checked'>
                  </ion-radio>
                </ion-item>
              </ion-radio-group>
            </div>
            <ng-template #nopaytypesEle>
              <div class="no-paytypes-tip" color='danger'> 没有可选择的支付方式或支付方式已经被关闭，请联系客服。</div>
            </ng-template>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ng-container>
  </ng-container>
  <ng-template #retryTempl>
    <ion-row style="position: relative;top:35%">
      <ion-col class='ion-text-center'>
        <ion-label color='danger'>Error in request data</ion-label>
        <ion-button fill='clear' expand='block' color='secondary' (click)='doRefresh(true)'>Try click</ion-button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar (click)="isShowFee=!isShowFee">
    <ion-buttons slot='start'>
      <!-- <ion-button color='secondary'>总计:
        <ion-text slot='end' color='danger'>￥{{(totalPriceSource|async)}}</ion-text>
      </ion-button> -->
      <ion-text color="secondary">Totel:</ion-text>
      <ion-text slot='end' color='danger'>￥{{(totalPriceSource|async)}}</ion-text>
      <ion-icon name="caret-down-outline" color="secondary" *ngIf="!isShowFee"></ion-icon>
      <ion-icon name="caret-up-outline" color="secondary" *ngIf="isShowFee"></ion-icon>
    </ion-buttons>
    <ion-button class="submit" slot="end" size="small"  *ngIf='isShow12306BookBtn' color="secondary" (click)="bookTrainBy12306($event)" [disabled]="isSubmitDisabled">12306 Book
    </ion-button>
    <ion-button class="submit" slot="end" size="small" color="secondary" *ngIf='isShowSubmitBtn' (click)="bookTrain(false,$event)" [disabled]="isSubmitDisabled">Submit
    </ion-button>
    <!-- <ion-button slot='end' size='small' color='secondary' (click)='bookTrain(false,$event)' [disabled]='isSubmitDisabled'> Submit
    </ion-button> -->
    <!-- <ion-button slot='end' size='small' *ngIf='(isCanSave$|async)&&!(searchTrainModel?.isExchange)' color='secondary'
      (click)='bookTrain(true,$event)' [disabled]='isSubmitDisabled'>保存订单</ion-button> -->
  </ion-toolbar>
</ion-footer>
<div class="zz" *ngIf="isShowFee" (click)="isShowFee=!isShowFee"></div>
<div [class.show]="isShowFee" class="transfrom">
  <div class="wrapper">
    <div *ngFor="let infos of viewModel.combindInfos" class="ion-padding fee"
    [style.min-width]="viewModel.combindInfos.length>1?'90%':'100%'">
    <div class="spacebetween"style="margin-top: 2px;">
      <ion-text>Ticket Price</ion-text>
    <ion-text>{{infos.bookInfo.bookInfo.selectedSeat.Price}}RMB</ion-text>
    </div>
    <div class="spacebetween"style="margin-top: 2px;" *ngIf="tmc?.IsShowServiceFee||(viewModel.orderTravelPayType == OrderTravelPayType.Person||viewModel.orderTravelPayType==OrderTravelPayType.Credit)">
      <ion-text>Tax</ion-text>
    <ion-text>{{infos.serviceFee}}RMB</ion-text>
    </div>
  </div>
  </div>
</div>
<app-waiting-check-pay [isLoading]='true' *ngIf='isCheckingPay'>Booking in progress, please wait...</app-waiting-check-pay>