<div class='flight-trip' *ngFor='let trip of trips'>
  <div>机票状态:<ion-text color='danger'>{{trip.StatusName}}</ion-text></div>
  <div>
    {{trip?.FromCityName}}
    <span class='stop-cities' [attr.stopcities]='trip?.StopCities'>---</span>
    {{trip?.ToCityName}}
    <span>
      {{trip?.FlightNumber}}
    </span>
    <span *ngIf='trip?.CodeShareNumber'>
      ({{trip?.CodeShareNumber}})
    </span>
    <span class='line-vertical'>|</span>
    <span>{{trip?.PlaneType}}</span>
    <span class='line-vertical'>|</span>
    <span>{{trip?.CabinType|cabintype}}{{trip?.Discount|discount}}</span>
  </div>
  <div margin-start>
    <span>
      起飞: {{trip?.TakeoffTime?.substr(0,"yyyy-MM-dd".length)}}
      <span>{{trip?.TakeoffTime?.substr("yyyy-MM-ddT".length,"HH:mm".length)}}</span>
    </span>
    <span margin-start>{{trip?.FromAirportName}}({{trip?.FromAirport}}){{trip?.FromTerminal}}</span>
  </div>
  <div margin-start>
    到达: <span>{{trip?.ArrivalTime?.substr(0,"yyyy-MM-dd".length)}}</span>
    <span>{{trip?.ArrivalTime?.substr("yyyy-MM-ddT".length,"HH:mm".length)}}</span>
    <span margin-start>{{trip?.ToAirportName}}({{trip?.ToAirport}}){{trip?.ToTerminal}}</span>
  </div>
</div>
<ng-container *ngIf='hasOriginalFlightTrip()'>
  <ion-item-divider>
    <ion-text color='medium'>原始航班信息</ion-text>
  </ion-item-divider>
  <div *ngFor='let trip of getOriginalFlightTrips()'>
    <!-- <div>
      {{orderFlightTrip.FromCityName}}
      <span class='stop-cities' [attr.stopcities]='orderFlightTrip.StopCities'>---</span>
      {{orderFlightTrip.ToCityName}}
      <span>
        {{orderFlightTrip.FlightNumber}}
      </span>
      <span *ngIf='orderFlightTrip.CodeShareNumber'>
        ({{orderFlightTrip.CodeShareNumber}})
      </span>
      <div margin-start>
        起飞:{{orderFlightTrip.TakeoffTime?.substr(0,"yyyy-MM-dd".length)}}
        <span>{{orderFlightTrip.TakeoffTime?.substr("yyyy-MM-ddT".length,"HH:mm".length)}}</span>
        <span>{{orderFlightTrip.FromAirportName}}({{orderFlightTrip.FromAirport}}){{orderFlightTrip.FromTerminal}}</span>
        <span>舱位:{{orderFlightTrip.CabinType|cabintype}}</span>
      </div>
      <div margin-start>
        <span *ngIf='!orderFlightTrip.CodeShareNumber'>{{orderFlightTrip.FlightNumber}}</span>
        <span
          *ngIf='orderFlightTrip.CodeShareNumber'>({{orderFlightTrip.CodeShareNumber}}){{orderFlightTrip.FlightNumber}}</span>
        <span>到达:{{orderFlightTrip.ArrivalTime?.substr(0,"yyyy-MM-dd".length)}}</span>
        <span>{{orderFlightTrip.ArrivalTime?.substr("yyyy-MM-ddT".length,"HH:mm".length)}}</span>
        <span>{{orderFlightTrip.ToAirportName}}({{orderFlightTrip.ToAirport}}){{orderFlightTrip.ToTerminal}}</span>
        <span>机型：{{orderFlightTrip.PlaneType}}</span>
      </div>
    </div> -->
    <div>
      {{trip?.FromCityName}}
      <span class='stop-cities' [attr.stopcities]='trip?.StopCities'>---</span>
      {{trip?.ToCityName}}
      <span>
        {{trip?.FlightNumber}}
      </span>
      <span *ngIf='trip?.CodeShareNumber'>
        ({{trip?.CodeShareNumber}})
      </span>
      <span class='line-vertical'>|</span>
      <span>{{trip?.PlaneType}}</span>
      <span class='line-vertical'>|</span>
      <span>{{trip?.CabinType|cabintype}}{{trip?.Discount|discount}}</span>
    </div>
    <div margin-start>
      <span>
        起飞: {{trip?.TakeoffTime?.substr(0,"yyyy-MM-dd".length)}}
        <span>{{trip?.TakeoffTime?.substr("yyyy-MM-ddT".length,"HH:mm".length)}}</span>
      </span>
      <span margin-start>{{trip?.FromAirportName}}({{trip?.FromAirport}}){{trip?.FromTerminal}}</span>
    </div>
    <div margin-start>
      到达: <span>{{trip?.ArrivalTime?.substr(0,"yyyy-MM-dd".length)}}</span>
      <span>{{trip?.ArrivalTime?.substr("yyyy-MM-ddT".length,"HH:mm".length)}}</span>
      <span margin-start>{{trip?.ToAirportName}}({{trip?.ToAirport}}){{trip?.ToTerminal}}</span>
    </div>
  </div>
</ng-container>