:host {
  width: 100%;
}
ion-item-divider {
  margin-left: -1em;
}
.line-vertical {
  margin: 0 0.25em;
}
.flight-trip {
  line-height: 2;
  margin-bottom: .5em;
}
.flight-trip + .flight-trip{
  border-top: 1px dashed var(--ion-color-dark);
}
span + span {
  margin-left: 0.25em;
}
