<ng-container class='flight-trip' *ngFor='let trip of trips;let first=first;'>
  <ion-row *ngIf='first'>
    <ion-col size='3'>机票状态</ion-col>
    <ion-col>{{trip.OrderFlightTicket?.StatusName}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>出发城市</ion-col>
    <ion-col>
      {{trip?.FromCityName}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>目的城市</ion-col>
    <ion-col>
      {{trip?.ToCityName}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>起飞</ion-col>
    <ion-col>
      <div>
        <div>
          {{trip?.TakeoffTime?.replace("T"," ")?.substring(0,19)}}
        </div>
        <div>
          {{trip?.FromAirportName}}({{trip?.FromAirport}}){{trip?.FromTerminal}}
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='3'>到达</ion-col>
    <ion-col>
      <div>{{trip?.ArrivalTime?.replace("T"," ")?.substring(0,19)}}</div>
      <div>
        {{trip?.ToAirportName}}({{trip?.ToAirport}}){{trip?.ToTerminal}}
      </div>
    </ion-col>
  </ion-row>
</ng-container>
<ng-container *ngIf='hasOriginalFlightTrip()'>
  <ion-item-divider>
    <ion-text color='medium'>原始航班信息</ion-text>
  </ion-item-divider>
  <ng-container *ngFor='let trip of getOriginalFlightTrips()'>
    <ion-row>
      <ion-col size='3'>机票状态</ion-col>
      <ion-col>{{trip.OrderFlightTicket?.StatusName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='3'>出发城市</ion-col>
      <ion-col>
        {{trip?.FromCityName}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='3'>目的城市</ion-col>
      <ion-col>
        {{trip?.ToCityName}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='3'>起飞</ion-col>
      <ion-col>
        <div>
          <div>
            {{trip?.TakeoffTime?.replace("T"," ")?.substring(0,19)}}
          </div>
          <div>
            {{trip?.FromAirportName}}({{trip?.FromAirport}}){{trip?.FromTerminal}}
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='3'>到达</ion-col>
      <ion-col>
        <div>{{trip?.ArrivalTime?.replace("T"," ")?.substring(0,19)}}</div>
        <div>
          {{trip?.ToAirportName}}({{trip?.ToAirport}}){{trip?.ToTerminal}}
        </div>
      </ion-col>
    </ion-row>
  </ng-container>
</ng-container>