.confirm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  main{
   height: 100vh;
    .close{
      display: block;
      position: absolute;
      left: 0.3em;
      top: 0.2em;
      font-size: 2rem;
    }
    .iframe-wrapper {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      iframe {
        width: 100%;
        height: 100%;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    ion-textarea{
     user-select: initial;   
    }
  }