ion-item ion-label:first-child {
  margin-right: 0.5em;
}
.airports {
  font-size: 0.8rem;
}
.air,
.airports,
.time {
  display: flex;
  align-items: center;
}
.air {
  font-size: 0.7rem;
}
.airports,
.time {
  justify-content: space-between;
}
.time {
  position: relative;
  &::after,
  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    display: inline-block;
    border-top: 2px dotted rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    align-self: flex-end;
    right: 21%;
    left: 55%;
  }
  &::before {
    align-self: flex-start;
    left: 21%;
    right: 55%;
  }
}
.discount {
  ion-text + ion-text {
    margin-left: 0.5em;
  }
}
.seperator {
  margin: 0 0.2em;
  color: var(--ion-color-medium);
}
.end-time {
  position: relative;
  &[addoneday]::before {
    position: absolute;
    top: -1em;
    width: 100%;
    color: var(--ion-color-secondary);
    font-size: 0.7rem;
    content: attr(addoneday);
  }
}
.jiage {
  font-size: 0.8rem;
}
.price {
  max-width: 5em;
}
ion-thumbnail {
  --size: 1em;
  margin-right: 0.2em;
}

ion-list.cabins {
  margin: 0;
  margin-bottom: 1em;
  ion-item {
    h2 {
      font-size: 0.9rem;
    }
    .book {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      ion-button {
        margin: 0 0 0 1em;
      }
    }
  }
}
