<div class='fly-item' no-margin no-padding>
  <div class='info'>
    <h3 class='time'>
      <strong>{{flightSegment?.TakeoffTime?.substring("2018-10-22T".length,"2018-10-22T21:20".length)}}</strong>
      <ion-icon name='airplane' class='non-stop' mode='ios' content='直飞' color='secondary'
        *ngIf='!flightSegment?.IsStop'></ion-icon>
      <ion-text color='secondary' *ngIf='flightSegment?.IsStop' style='font-size: 0.7rem;'>经停</ion-text>
      <strong class='end-time'
        [attr.addoneday]='addoneday()'>{{flightSegment?.ArrivalTime?.substring("2018-10-22T".length,"2018-10-22T21:20".length)}}</strong>
    </h3>
    <h3 class='airports'>
      <ion-text text-nowrap color='medium' class="from-city">
        {{flightSegment?.FromAirportName}}
        <span *ngIf='flightSegment?.FromTerminal'>({{flightSegment?.FromTerminal}})</span>
      </ion-text>

      <ion-text text-nowrap color='medium' class="to-city">
        {{flightSegment?.ToAirportName}} <span *ngIf='flightSegment?.ToTerminal'>
          ({{flightSegment?.ToTerminal}})
        </span>
      </ion-text>
    </h3>
    <h4 class='air'>
      <ion-thumbnail size='small'>
        <ion-img [src]='flightSegment?.AirlineSrc'></ion-img>
      </ion-thumbnail>
      <ion-text text-nowrap color='medium'>{{flightSegment?.AirlineName}} {{flightSegment?.Number}}</ion-text>
      <ion-text color='medium'> <span class='seperator'>|</span>{{flightSegment?.PlaneType}}</ion-text>
      <ion-text color='medium' *ngIf='showDetails'> <span class='seperator'>|</span>{{flightSegment?.FlyTimeName}}
      </ion-text>
      <ion-text color='secondary' *ngIf='flightSegment?.CodeShareNumber'><span
          class='seperator'>|</span>共享{{flightSegment?.CodeShareNumber}}</ion-text>
      <!-- <ion-text color='secondary' *ngIf='flightSegment?.Meal&&showDetails'><span
          class='seperator'>|</span>{{flightSegment?.MealType|flightMealType}}
      </ion-text> -->
      <ion-text color='secondary' *ngIf='flightSegment?.Meal&&showDetails'><span
          class='seperator'>|</span>有餐食
      </ion-text>
    </h4>
  </div>
  <div class="price" no-margin no-padding text-center *ngIf='!showDetails'>
    <h3>
      <ion-text class='jiage'>￥{{flightSegment?.LowestFare|flightprice}}</ion-text>
    </h3>
  </div>
</div>