<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=''></app-back-button>
    </ion-buttons>
    <ion-text *ngIf='isShowSelectedInfos$ |async'>火车票查询</ion-text>
    <ion-title *ngIf='!(isShowSelectedInfos$ |async)'>火车票查询</ion-title>
    <ion-buttons class='small-font' slot='end'>
      <ion-button *ngIf='(isShowSelectedInfos$ |async)&&(!searchTrainModel?.isExchange)' fill='clear' color='secondary' size='small' (click)='onShowSelectedBookInfos()'>已选行程<ion-badge color='danger'>
          <ion-text color='light'>{{selectedBookInfos}}</ion-text>
        </ion-badge>
      </ion-button>
      <ion-button fill='clear' color='secondary' size='small' (click)='onSelectPassenger()' *ngIf='canAddPassengers&&(!searchTrainModel?.isExchange)'>添加乘客<ion-badge color='danger'>
          <ion-text color='light'>{{selectedPassengers}}</ion-text>
        </ion-badge>
      </ion-button>
      <ion-button fill='clear' color='secondary' size='small' (click)='onShowStandardDesc()' *ngIf='isSelf'>差旅标准
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class='ion-padding'>
    <ion-card-content>
      <ion-segment (ionChange)="onSegmentChanged($event)" [value]="isSingle?'single':'roundtrip'" color='secondary' *ngIf='showReturnTrip' [disabled]='searchTrainModel?.isExchange'>
        <ion-segment-button value="single">
          <ion-label><strong>单程</strong></ion-label>
        </ion-segment-button>
        <ion-segment-button value="roundtrip">
          <ion-label><strong>往返</strong></ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-text color='danger' style="opacity: 0.7;font-size: 0.7rem;" *ngIf='searchTrainModel?.isExchange'>正在改签
      </ion-text>
      <ion-buttons class="ion-justify-content-between">
        <ion-text class="ion-text-wrap city-name ion-text-start" [class.disabled]='searchTrainModel?.isLocked && searchTrainModel?.isExchange' (click)='onSelectCity(true)'
          color='{{searchTrainModel?.isLocked && searchTrainModel?.isExchange?"medium":"secondary"}}'>
          {{searchTrainModel?.fromCity?.Nickname}}</ion-text>
        <ion-button color='{{searchTrainModel?.isLocked&&searchTrainModel?.isExchange?"medium":"secondary"}}' [disabled]='searchTrainModel?.isLocked&&searchTrainModel?.isExchange'
          (click)='onSwapCity()'>
          <ion-icon name="swap-horizontal-outline" color='{{searchTrainModel?.isLocked&&searchTrainModel?.isExchange?"medium":"secondary"}}'>
          </ion-icon>
        </ion-button>
        <ion-text class="ion-text-wrap city-name ion-text-end" [class.disabled]='searchTrainModel?.isLocked && !searchTrainModel?.isExchange' (click)='onSelectCity(false)'
          color='{{searchTrainModel?.isLocked&&!searchTrainModel?.isExchange?"medium":"secondary"}}'>
          {{searchTrainModel?.toCity?.Nickname}}</ion-text>
      </ion-buttons>
      <section class="flight-date">
        <app-search-day-comp [day]='goDate' (click)="onSelecDate(true)" [disabled]='searchTrainModel?.isLocked&&!searchTrainModel?.isExchange'>
        </app-search-day-comp>
      </section>
      <ion-button class='ion-margin-top' style='width: 100%' (click)="searchTrain()" *ngIf='!(canAddPassengers&& selectedPassengers==0)' color="secondary" expand="block">
        <ion-text>查询车次</ion-text>
      </ion-button>
      <ng-container *ngIf='!searchTrainModel?.isExchange'>
        <ion-button class='ion-margin-top' style='width: 100%' (click)="onSelectPassenger()" *ngIf='canAddPassengers&& selectedPassengers==0' color="secondary" expand="block">
          <ion-text>请添加乘客</ion-text>
        </ion-button>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-content>