<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text *ngIf='isShowSelectedInfos$ |async'>火车票查询</ion-text>
    <ion-title *ngIf='!(isShowSelectedInfos$ |async)'>火车票查询</ion-title>
    <ion-buttons class='small-font' slot='end'>
      <ion-button *ngIf='isShowSelectedInfos$ |async' fill='clear' color='secondary' size='small'
        (click)='onShowSelectedBookInfos()'>已选行程<ion-badge color='danger'>
          <ion-text color='light'>{{selectedBookInfos}}</ion-text>
        </ion-badge>
      </ion-button>
      <ion-button fill='clear' color='secondary' size='small' (click)='onSelectPassenger()'
        *ngIf='canAddPassengers'>添加乘客<ion-badge color='danger'>
          <ion-text color='light'>{{selectedPassengers}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card padding>
    <ion-card-content>
      <ion-segment (ionChange)="segmentChanged($event)"  [value]="isSingle?'single':'roundtrip'" color='secondary'
        *ngIf='showReturnTrip' [disabled]='isDisabled||searchTrainModel?.isExchange'>
        <ion-segment-button value="single">
          <ion-label><strong>单程</strong></ion-label>
        </ion-segment-button>
        <ion-segment-button value="roundtrip" >
          <ion-label><strong>往返</strong></ion-label>
        </ion-segment-button>
      </ion-segment>
      <app-switch-station-comp [vmFromCity]="vmFromCity" (eToCity)='onToCitySelected($event)'
        (eFromCity)='onFromCitySelected($event)' [vmToCity]="vmToCity" [disabled]='isDisabled'>
      </app-switch-station-comp>
      <section class="flight-date">
        <app-search-day-comp [day]='goDate' (click)="onSelecDate(true,false)"
          [disabled]='isDisabled&&!(searchTrainModel?.isExchange)'>
        </app-search-day-comp>
        <div *ngIf="">{{ calcTotalFlyDays() }}天</div>  
        <app-search-day-comp *ngIf="!isSingle" [day]='backDate' (click)="onSelecDate(false,true)">
        </app-search-day-comp>
      </section>
      <ion-button margin-top style='width: 100%' (click)="searchTrain()"
        *ngIf='!(canAddPassengers&& selectedPassengers==0)' color="secondary" expand="block">
        <ion-text>查询车次</ion-text>
      </ion-button>
      <ion-button margin-top style='width: 100%' (click)="onSelectPassenger()"
        *ngIf='canAddPassengers&& selectedPassengers==0' color="secondary" expand="block">
        <ion-text>请添加乘客</ion-text>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-content>
      <div class="tabs">
        <ion-button fill="clear"    color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
        <ion-button fill="clear"  color='secondary' text-center>
          <ion-label text-center>
            <ion-icon name="airplane" size="large"></ion-icon>
            <h6>航班动态</h6>
          </ion-label>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card> -->
</ion-content>