<ng-container *ngIf='!seat else seatTemp'>
  <div class='train-item' (click)='onShowSeats(train)'>
    <div class='info'>
      <div class='time'>
        <strong>{{train?.StartShortTime}}</strong>
        <div class='travel-time-name'>约{{train?.TravelTimeName?.replace("h","时").replace("m",'分')}}
        </div>
        <strong [class.has-add-day-tip]='train?.AddOneDayTip'
          [attr.adddaytip]='train?.AddOneDayTip'>{{train?.ArrivalShortTime}}</strong>
      </div>
      <div class='station'>
        <div class='from-station-name'>{{train?.FromStationName}}</div>
        <div class='stop-line-stop' [attr.data]='train?.TrainCode'>
          <div class="line">
            <img src="assets/images/idcard.png" class='access-by-IdCard' *ngIf='train?.IsAccessByIdCard' alt="">
          </div>
        </div>
        <div class='to-station-name'>{{train?.ToStationName}}</div>
      </div>
    </div>
    <div>
      <div class='price'>￥{{getLowestSeatPrice()}}
        <ng-container *ngIf='showOpenCloseIcon()'>
          <ion-icon name="arrow-dropdown" color='secondary' *ngIf='train["isShowSeats"]'></ion-icon>
          <ion-icon name="arrow-dropup" color='secondary' *ngIf='!train["isShowSeats"]'></ion-icon>
        </ng-container>
      </div>
      <ion-button (click)='onScheduls($event)' fill='clear' size='small' style="margin-left: 1em" color='secondary'>经停信息
      </ion-button>
    </div>
  </div>
  <ion-row class='seat-outline' color='medium'>
    <ion-col size='4' *ngFor='let seat of getSeats()'>
      <span>{{seat.SeatTypeName}}</span>
      <span class='seat-count' *ngIf='seat.SeatType != TrainSeatType.NoSeat'>{{seat.Count?seat.Count+"张":"无票"}}</span>
      <span class='seat-count' *ngIf='seat.SeatType == TrainSeatType.NoSeat'>{{seat.Count?"有":"无"}}票</span>
    </ion-col>
  </ion-row>
  <ion-grid class='seats' *ngIf='train["isShowSeats"]'>
    <ion-row *ngFor='let seat of getSeats()' [attr.color]='seat.color'>
      <ion-col>{{seat.SeatTypeName}}</ion-col>
      <ion-col>
        <ion-text color='danger'>
          ￥{{seat.SalesPrice}}
        </ion-text>
      </ion-col>
      <ion-col size='4'>
        <span class='seat-count'>余票:{{seat.Count?seat.Count+"张":""}}</span>
      </ion-col>
      <ion-col (click)='onBookTicket(seat)'>
        <ion-button *ngIf='showBookBtn' size='small' text-start [color]='seat.color'
          [disabled]='seat.color=="danger"||seat.Count=="0"'>
          <ion-text color='light'>预订</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
<ng-template #seatTemp>
  <div class='info'>
    <div class='time'>
      <strong>{{train?.StartShortTime}}</strong>
      <div class='travel-time-name'>约{{train?.TravelTimeName?.replace("h","时").replace("m",'分')}}</div>
      <strong [class.has-add-day-tip]='train?.AddOneDayTip'
        [attr.adddaytip]='train?.AddOneDayTip'>{{train?.ArrivalShortTime}}</strong>
    </div>
    <div class='station'>
      <div class='from-station-name'>{{train?.FromStationName}}</div>
      <div class='stop-line-stop' [attr.data]='train?.TrainCode'>
        <div class="line">
          <img src="assets/images/idcard.png" class='access-by-IdCard' *ngIf='train?.IsAccessByIdCard' alt="">
        </div>
      </div>
      <div class='to-station-name'>{{train?.ToStationName}}</div>
    </div>
  </div>
  <div class='seat' *ngIf='seat'>
    <div class='seat-item'>
      <span>{{seat.SeatTypeName}}</span>
      <span class='seat-count' *ngIf='seat.SeatType != TrainSeatType.NoSeat'>{{seat.Count?seat.Count+"张":""}}</span>
      <span class='seat-count' *ngIf='seat.SeatType == TrainSeatType.NoSeat'>{{seat.Count?"有":"无"}}票</span>
    </div>
    <div class='price' style='margin-left: auto'>￥{{seat.SalesPrice}}</div>
  </div>
  <div *ngIf='!bookInfo?.isExchange&&isShowSelectSeatLocation'>
    <app-seat-picker [selectdSeat]='seat' [selectSeatLocation]='selectSeatLocation' (seatPicker)='onSeatPicker($event)'>
    </app-seat-picker>
  </div>
</ng-template>