<div class='train-item'>
  <div class='info'>
    <div class='time'>
      <strong>{{train?.StartShortTime}}</strong>
      <div class='travel-time-name'>全程{{train?.TravelTimeName?.replace("h","时").replace("m",'分')}}</div>
      <strong [class.has-add-day-tip]='train?.AddOneDayTip'
        [attr.adddaytip]='train?.AddOneDayTip'>{{train?.ArrivalShortTime}}</strong>
    </div>
    <div class='station'>
      <div>{{train?.FromStationName}}</div>
      <div class='stop-line-stop' [attr.data]='train?.TrainCode'>
        <div class="line"></div>
      </div>
      <div>{{train?.ToStationName}}</div>
    </div>
  </div>
  <span class='price'>￥{{getLowestSeatPrice()}}</span>
</div>
<div class='seat'>
  <ng-container *ngFor='let seat of getSeats()'>
    <div class='seat-item'>
      <span>{{seat.SeatTypeName}}</span>
      <span class='seat-count' *ngIf='seat.SeatType != TrainSeatType.NoSeat'>{{seat.Count?seat.Count+"张":""}}</span>
      <span class='seat-count' *ngIf='seat.SeatType == TrainSeatType.NoSeat'>{{seat.Count?"有":"无"}}票</span>
    </div>
  </ng-container>
</div>
<ion-button (click)='onScheduls()' fill='clear' size='small'>经停
</ion-button>