ion-input.input-box {
  border: 1px solid gray;
  --padding-start: 0.5em;
  --padding-end: 1.5em;
}
.close,
.search {
  position: absolute;
  z-index: 100;
}
.search {
  right: 0.5em;
}
.close {
  right: 2em;
  font-size: 1.5rem;
  color: rgba(var(--ion-color-dark-rgb), 0.5);
}
