<ion-item lines='none' class="ion-no-margin ion-no-padding">
    <ion-input class="input-box" placeholder='{{label}}' [(ngModel)]='value' [value]='keyValue?.Text'
        [clearInput]='false' (ionChange)='isShowSearchIcon=true' (ionFocus)='isShowSearchIcon=true'></ion-input>
    <ng-container>
        <ion-icon name="close-circle" *ngIf='value' class="close" (click)='value="";onChange()'></ion-icon>
        <ion-icon name='search' *ngIf='isShowSearchIcon' class="search" color='secondary'
            (click)='onOpenSearchModal($event)'></ion-icon>
    </ng-container>
</ion-item>