.container {
  background-color: white;
  position: relative;
  ion-input.input-box {
    border: 1px solid gray;
    --padding-start: 0.5em;
    --padding-end: 3.8em;
  }
  .close,
  .search {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
  }
  .search {
    right: 0.5em;
    font-size: 1.5rem;
  }
  .close {
    right: 1.5em;
    font-size: 1.5rem;
    color: rgba(var(--ion-color-dark-rgb), 0.5);
  }
}
