<ng-container *ngIf='isSelf else normal'>
  <ion-radio-group [value]='selectItem' (ionChange)='onionChange($event)'>
    <ion-item class="cabin">
      <ion-label>不限</ion-label>
      <ion-radio value='unlimit'></ion-radio>
    </ion-item>
    <ion-item *ngFor="let c of filterCondition?. cabins" class="cabin">
      <ion-label>{{c?.label}}</ion-label>
      <ion-radio [value]="c" slot="end"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ng-container>
<ng-template #normal>
  <ion-list lines='none'>
    <ion-radio-group [value]='selectItem' (ionChange)='onionChange($event)'>
      <ion-item>
        <ion-label>不限</ion-label>
        <ion-radio value='unlimit'></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-item *ngFor="let entry of filterCondition?.cabins">
      <ion-label>{{entry?.label||entry?.id}}</ion-label>
      <ion-checkbox #cbox slot="end" [(ngModel)]="entry.isChecked" (ionChange)='onionChange()'></ion-checkbox>
    </ion-item>
  </ion-list>
</ng-template>