<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-item >
        <ion-label>请输入账户</ion-label>
      <ion-input type="text" name="Name" [(ngModel)]="name"></ion-input>
    </ion-item>

      <ion-row>
     <ion-button (click)="showImageCode(null)" [disabled]="!name">下一步</ion-button>
    </ion-row>

  <ion-row>
    <ion-note color="danger" *ngIf="message">{{ message }}</ion-note>
  </ion-row>
  <app-slidvalidate-com  *ngIf="isShowImageCode" (slideEvent)='onSlideEvent($event)'></app-slidvalidate-com>
</ion-content>
