<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <!-- <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button> -->
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>请输入账户</ion-label>
    <ion-input type="text" name="Name" placeholder='请输入账户' [(ngModel)]="name" (ionChange)='message=""'></ion-input>
  </ion-item>

  <ion-row>
    <ion-col push='9'>
      <ion-button (click)="showImageCode(null)" [disabled]="!name" fill='clear' color='secondary'>下一步</ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="message">
    <ion-col class='ion-text-center'>
      <ion-note color="danger">{{ message}}</ion-note>
    </ion-col>
  </ion-row>
  <app-slidvalidate-com *ngIf="isShowImageCode" (slideEvent)='onSlideEvent($event)'></app-slidvalidate-com>
</ion-content>