<ng-container *ngFor="let car of order?.OrderCars">
  <ion-grid class="train">
    <ion-row class="number">
      <ion-col size="2.5"> 订单编号 </ion-col>
      <ion-col class="select-text dark">
        <strong>{{ order.Id }}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"><img class="img" src="assets/images/car.png" alt=""></ion-col>
      <ion-col>
        <div class="item-car">
          <div>
            <ion-text color="dark">
              {{ car.ActualFromAddress}}
            </ion-text>
          </div>
          <span>&nbsp;—&nbsp;</span>
          <div>
            <ion-text color="dark">
              {{ car.ActualToAddress }}
            </ion-text>
          </div>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="2.5"> 用车时间 </ion-col>
      <ion-col>
        <ion-text>
          {{ order.InsertDateTime?.substr(0, 16) }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2.5"> 旅客姓名 </ion-col>
      <ion-col>
        <ion-text>
          {{ car.Passenger.Name }}
        </ion-text>
        <!-- <ion-text color="secondary"> ({{ car.StatusName }}） </ion-text> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2.5"> 金额 </ion-col>
      <ion-col>
        <ion-text color="danger"> ￥{{ order.TotalAmount }} </ion-text>
        <!-- <ion-text color="secondary" class="ion-padding-end">
          ({{ order.StatusName }})
        </ion-text> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
