#divFileName{ position: fixed;z-index: 9995;width: 100%;background: #ffffff;bottom: 0;}
#divFileName div{ width: 100%;height: 50px;line-height: 50px;text-align: center;border-top: 1px solid #DDDDDD;}
#divFileName .hurl{ width: 100%;}
.quit{ display: block;background:#ff0000;height: 50px;line-height: 50px; border: 1px solid #F7F7F7;width: 98%;text-align: center;font-size: 14px;font-weight: bold;color: #ffffff;}
.element .con .quit a{ color: #ffffff;}
.black{ color: #000000;}
.cut{position: fixed; top: 0; width: 100%;background: #ffffff;z-index: 9995;}
.cutimg{ position: relative;width: 100%;overflow: hidden;z-index: 9995;}
.topmask{position: absolute; opacity: 0.3; filter: alpha(opacity=30); z-index: 999; background: #000; top: 0; left: 0; width: 100%; }
.bottommask{position: absolute; opacity: 0.3; filter: alpha(opacity=30); z-index: 999; background: #000; top: 0; left: 0; width: 100%; }
.canvas{background: #fff8dc;opacity: 0.0; filter: alpha(opacity=0);  position: absolute; left: 0; top: 100px; z-index: 9995; height: 200px; width: 100%;}
.cutbottom{position: fixed;z-index: 9995; float: left;background: #fff;height: 50px;bottom: 0;width: 100%;}
.cutbottom .btn{ float: left;height: 50px;line-height: 50px;width: 60px;text-align: center;border: 0;z-index: 9995;font-size: 14px;margin-left: 20px;}
.cutbottom .sel{ background-color: #18b4ed;}
.mask {
        position: fixed;
        opacity: 0.3;
        filter: alpha(opacity=30);
        z-index: 9990;
        background: #000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
    }