<ion-header>
    <ion-toolbar>
      <ion-title>选择验证方式</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
 
        <ion-list>
            <ion-radio-group [(ngModel)]="model">
              <ion-list-header>
                <ion-label>选择验证方式</ion-label>
              </ion-list-header>
          
              <ion-item *ngFor="let item of items;let i=index">
                <ion-label> {{item.Name}}</ion-label>
                <ion-radio slot="start" [value]="item.Type" ></ion-radio>
                <ion-label> {{item.Value}}</ion-label>
              </ion-item>
          
            </ion-radio-group>
          </ion-list>
 
            <ion-row>
           
                <ion-col>
                  <ion-input placeholder="请输入收到验证码" [(ngModel)]="code" name="Code" ></ion-input>
                </ion-col>
                <ion-col size="4" *ngIf="countDown==0; else countdown">
                    <ion-button size="small" fill="outline" color="primary"  [disabled]="!model"
                      (click)="sendMobileCode()">
                      <span [style.font-size.rem]="0.8">发送验证码</span>
                    </ion-button>
                  </ion-col>
                  <ng-template #countdown>
                    <ion-col class="down-count" size="2">
                      <ion-label color="medium">{{ countDown }} s</ion-label>
                    </ion-col>
                  </ng-template>
              </ion-row>
    <ion-row>
      <ion-col>
          <ion-button (click)="check()" [disabled]="!code" >下一步</ion-button>
      </ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-note color="danger" *ngIf="message">{{ message }}</ion-note>
      </ion-col>
      
    </ion-row>
  
  </ion-content>
  