<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>密码校验</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf='items?.length else other'>
    <ion-list class='ion-margin-start ion-margin-end ion-no-margin'>
      <ion-radio-group [(ngModel)]="model">
        <ion-list-header>
          <ion-label>选择验证方式</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of items;let i=index;let first=first" lines='none'>
          <ion-radio slot="start" [value]="item.Type" [checked]='!!first'></ion-radio>
          <ion-label> {{item.Name}} <span class='ion-margin-start'>{{item.Value}}</span> </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size='3'>
          <ion-label>验证码</ion-label>
        </ion-col>
        <ion-col size='5'>
          <ion-input placeholder="请输入验证码" [(ngModel)]="code" name="Code"></ion-input>
        </ion-col>
        <ion-col size="4" *ngIf="countDown==0; else countdown">
          <ion-button size="small" fill="outline" color="secondary" [disabled]="!model" (click)="sendMobileCode()">
            <span [style.font-size.rem]="0.8">发送验证码</span>
          </ion-button>
        </ion-col>
        <ng-template #countdown>
          <ion-col class="down-count" size="3">
            <ion-label color="medium">{{ countDown }} s</ion-label>
          </ion-col>
        </ng-template>
      </ion-row>
    </ion-grid>
    <ion-button fill='clear' color='secondary' expand='block' (click)="check()" [disabled]="!code">下一步</ion-button>
  </ng-container>
  <ng-template #other>
    <ion-text color='danger' class='tip'>
      您尚未绑定邮箱或者手机号，请联系管理员找回密码
      <!-- 对不起您的号码和邮箱没有进行认证，请通过人工方式找回 -->
    </ion-text>
  </ng-template>
  <ion-row *ngIf="message">
    <ion-col>
      <ion-note color="danger">{{ message }}</ion-note>
    </ion-col>
  </ion-row>
</ion-content>