<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=""></app-back-button>
    </ion-buttons>
    <ion-text *ngIf='isShowSelectedInfos'>酒店查询</ion-text>
    <ion-title *ngIf='!(isShowSelectedInfos)'>酒店查询</ion-title>
    <ion-buttons class='small-font' slot='end'>
      <ion-button *ngIf='isShowSelectedInfos' fill='clear' color='secondary' size='small'
        (click)='onShowSelectedBookinfos()'>已选行程<ion-badge color='danger'>
          <ion-text color='light'>{{selectedPassengersNumbers}}</ion-text>
        </ion-badge>
      </ion-button>
      <ion-button fill='clear' color='secondary' size='small' (click)='onSelectPassenger()'
        *ngIf='canAddPassengers&&!selectedPassengers?.length'>
        添加旅客<ion-badge color='danger'>
          <ion-text color='light'>{{selectedPassengers?.length}}</ion-text>
        </ion-badge>
      </ion-button>
      <ion-button fill='clear' color='secondary' size='small' (click)='onOpenSelectedPassengers()'
        *ngIf='canAddPassengers&&selectedPassengers?.length'>
        已选旅客<ion-badge color='danger'>
          <ion-text color='light'>{{selectedPassengers?.length}}</ion-text>
        </ion-badge>
      </ion-button>
      <ion-button fill='clear' color='secondary' size='small' (click)='onShowStandardDesc()' *ngIf='isSelf'>
        差旅标准
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <div class='ion-padding-top'>
        <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="{{searchCondition?.hotelType}}">
          <ion-segment-button value="normal">
            <ion-label>非协议酒店</ion-label>
          </ion-segment-button>
          <ion-segment-button value="agreement">
            <ion-label>协议酒店</ion-label>
          </ion-segment-button>
          <ion-segment-button value="specialprice">
            <ion-label>特价酒店</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <ion-item lines='none' style="margin-left: -1em;margin-right:-1em;" class="ion-margin-top">
        <section class="flight-date">
          <app-search-day-comp [day]='searchCondition?.checkinDate' [isCheckIn]='true' (click)="onSelecDate(true)"
            [disabled]='false'>
          </app-search-day-comp>
          <div *ngIf='totalFlyDays'>共{{ totalFlyDays}}晚</div>
          <app-search-day-comp [day]='searchCondition?.checkoutDate' [isCheckOut]='true' (click)="onSelecDate(false)"
            [disabled]='false'>
          </app-search-day-comp>
        </section>
      </ion-item>
      <div class='destination' (click)='onSearchCity()'>
        <ion-item lines='none' detail>
          <ion-label>目的地</ion-label>
          <ion-label>
            {{searchCondition?.destinationCity?.Name}}
            <ion-text color='medium'>{{searchCondition?.destinationCity?.EnglishName}}</ion-text>
          </ion-label>
        </ion-item>
      </div>
      <ion-item detail (click)='onAddAdultAndChildren()' style='margin:1em -1em'>
        <ion-label>
          入住人数
        </ion-label>
        <ion-label slot='end'>
          {{searchCondition?.adultCount}}成人{{searchCondition?.children?.length}}儿童
        </ion-label>
      </ion-item>
      <ion-button class='ion-margin-top' style='width: 100%' (click)="onSearchHotel()" color="secondary" expand="block">
        <ion-text>查询酒店</ion-text>
      </ion-button>
      <ion-button *ngIf='false&&(canAddPassengers) && selectedPassengers?.length==0' class='ion-margin-top'
        style='width: 100%' (click)='onSelectPassenger()' color="secondary" expand="block">
        <ion-text>请添加乘客
        </ion-text>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>