<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-scan-comp [isAutoCloseScanPage]='true' (scanResult)='onScanResult($event)'></app-scan-comp>
    </ion-buttons>
    <ion-title>欢迎您 <ng-container *ngIf='identity?.Name'>，{{identity.Name}}</ng-container>
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button [routerLink]='"settings"' color='secondary'>设置</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 扫码结果：{{scanresult}} -->
</ion-content>