<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-scan-comp [isAutoCloseScanPage]='true' (scanResult)='onScanResult($event)'></app-scan-comp>
    </ion-buttons>
    <ion-title *ngIf='identity?.Name&&identity?.Ticket'>欢迎您 <ng-container *ngIf='identity?.Name'>，{{identity.Name}}
      </ng-container>
    </ion-title>
    <ion-title *ngIf='!identity.Ticket'>您尚未登录 </ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='onSetting()' color='secondary' *ngIf='identity?.Ticket'>设置</ion-button>
      <ion-button (click)='onLogin()' color='secondary' fill='solid' *ngIf='!identity?.Ticket'>登录</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 扫码结果：{{scanresult}} -->
  <div class='wrapper' *ngIf='homeUrl&&!isWechatMini'>
    <iframe [src]="homeUrl" #iframe></iframe>
  </div>
  <ng-container *ngIf='isWechatMini'>
    <div class="img">
      <div class="swiper-container" #container>
        <div class="swiper-wrapper">
          <div class="swiper-slide" #slide><img src="assets/images/hotelBanner.jpg"
              style="object-fit: cover;-o-object-fit: cover; max-height: 40vh;width: 100vw; height: 40vh;" /></div>
          <div class="swiper-slide" #slide><img src="assets/images/useCarBanner.jpg" style="object-fit: cover;
              -o-object-fit: cover;
              max-height: 40vh;
              width: 100vw;
              height: 40vh;" /></div>
        </div>
      </div>
    </div>
    <div style='margin-top: -0.5em;'>
      <ion-list>
        <ion-grid class="products">
          <ion-row>
            <ion-col size="4">
              <div class="item" (click)='goToPage()'>
                <ion-label>
                  <!-- <i class="icon icon-home-plane"></i> -->
                  <img src="assets/svgs/home-plane2.svg" alt="国内机票">
                </ion-label>
                <ion-text>国内机票</ion-text>
              </div>
            </ion-col>
            <ion-col (click)='goToPage()' size="4">
              <div class="item">
                <ion-label>
                  <img src="assets/svgs/home-train2.svg" alt="火车票">
                  <!-- <i class="icon icon-home-train"></i> -->
                </ion-label>
                <ion-text>火车票</ion-text>
              </div>
            </ion-col>
            <ion-col (click)='goToPage()' size="4">
              <div class="item">
                <ion-label>
                  <img src="assets/svgs/hotel2.svg" alt="酒店" [style.height.em]='3'>
                  <!-- <i class="icon icon-hotel"></i> -->
                </ion-label>
                <ion-text>国内酒店</ion-text>
              </div>
            </ion-col>
            <ion-col (click)='goToPage()' size="4">
              <div class="item">
                <ion-label>
                  <img src="assets/svgs/product-hotel2.svg" alt="酒店" [style.height.em]='3'>
                  <!-- <i class="icon icon-hotel"></i> -->
                </ion-label>
                <ion-text class="ion-text-nowrap">港澳台*海外酒店</ion-text>
              </div>
            </ion-col>
            <ion-col (click)='goToPage()' size="4">
              <div class="item">
                <ion-label>
                  <img src="assets/svgs/home-rentalCar2.svg" alt="用车" [style.height.em]='3'>
                  <!-- <i class="icon icon-hotel"></i> -->
                </ion-label>
                <ion-text color=''>用车</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </ng-container>
  <!-- <ion-button (click)='onGo()' *ngIf='isWechatMini' expand='block' class="go" color='primary'>立即体验</ion-button> -->
</ion-content>