<div class="tabs-wraper" #tabsWrapper>
  <ion-list>
    <div class="tabs" #tabsContainer>
      <div class="tab" [class.active]='t.active' (click)='onActiveTab(t)' #tabItem *ngFor='let t of tabs'
        [attr.dataid]='t.value'>{{t.label}}</div>
    </div>
  </ion-list>
</div>
<main>
  <div class="swiper-container" #container>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <ng-content></ng-content>
    </div>
  </div>
  <div class="swiper-pagination" #swiperPagination></div>
</main>