<ng-container *ngIf='illegalReasons?.length else elsetemp'>
  <ion-item lines='none'>
    <ion-label>
      <strong>超标原因:</strong>
    </ion-label>
    <ion-select [disabled]='false&&isOtherIllegalReason' [(ngModel)]='illegalReason' name='Type' okText="确定"
      cancelText="取消" (ionChange)='onValueChange()'>
      <ion-select-option [value]="opt?.Name" *ngFor='let opt of illegalReasons'>
        {{opt?.Name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ng-container *ngIf='isAllowCustomReason'>
    <ion-item lines='none'>
      <ion-checkbox class="ion-margin-end" color="secondary" [(ngModel)]="isOtherIllegalReason" (ionChange)='onValueChange()'></ion-checkbox>
      <ion-label>其他原因</ion-label>
      <ion-input [disabled]='false&&!isOtherIllegalReason' [(ngModel)]='otherIllegalReason' placeholder='请输入其他原因'
        (ionChange)='onValueChange()'></ion-input>
    </ion-item>
  </ng-container>
</ng-container>
<ng-template #elsetemp>
  <ion-item lines='none'>
    <ion-label>超标原因</ion-label>
    <ion-input [(ngModel)]='illegalReason' placeholder='请输入超标原因' (ionChange)='onValueChange()'></ion-input>
  </ion-item>
</ng-template>