<ng-container *ngIf='illegalReasons?.length else elsetemp'>
  <ion-item lines='none' detail-icon='caret-down-sharp' detail (click)='onOpenSelect()' [disabled]='isOtherIllegalReason'>
    <ion-label style="flex:1">
      <strong>超标原因:</strong>
    </ion-label>
    <ion-label style="flex:2;text-align: end;">{{illegalReason}}</ion-label>
  </ion-item>
  <ng-container *ngIf='isAllowCustomReason'>
    <ion-item lines='none'>
      <ion-checkbox class="ion-margin-end" color="secondary" [(ngModel)]="isOtherIllegalReason"
        (ionChange)='onValueChange()'></ion-checkbox>
      <ion-label>其他原因</ion-label>
      <ion-input *ngIf="isOtherIllegalReason" class="ion-text-end"  [disabled]='false&&!isOtherIllegalReason' [(ngModel)]='otherIllegalReason' placeholder='请输入其他原因'
        (ionChange)='onValueChange()'></ion-input>
    </ion-item>
  </ng-container>
</ng-container>
<ng-template #elsetemp>
  <ion-item lines='none'>
    <ion-label>超标原因</ion-label>
    <ion-input [(ngModel)]='illegalReason' class="ion-text-end" placeholder='请输入超标原因' (ionChange)='onValueChange()'></ion-input>
  </ion-item>
</ng-template>