<ion-header>
    <ion-toolbar style="padding-right: 10px">
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
        </ion-buttons>
        <ion-title style="font-size: 14.5px;">Business Trip Application</ion-title>
        <ion-button mode="ios" color="secondary " style="height: 1.8em; width: 2.9em; font-size: 0.9rem; color: white" slot="end" (click)="goAddApply()">
            Add</ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form action="javascript:void(0)" (ngSubmit)="onSearch(true)">
        <ion-searchbar name="searchbar" placeholder="Query name,city,keyword,etc" mode="ios" animated="true" [(ngModel)]="searchModel&&searchModel.SearchContent"></ion-searchbar>
        <ion-item style="display: none">
            <ion-select cancelText="Cancel" okText="Determine" backdrop-dismiss="true" #statusSelect translucent="true" [interfaceOptions]="customPopoverOptions" interface="popover" [compareWith]="compareWithFn" placeholder="Please select" [(ngModel)]="searchModel&&searchModel.StatusType"
                name="status" (ionChange)="onSearch(false)">
                <ion-select-option value="0">All</ion-select-option>
                <ion-select-option value="{{ApprovalStatusType.Pass}}">Pass</ion-select-option>
                <ion-select-option value="{{ApprovalStatusType.Refuse}}">Refuse</ion-select-option>
                <ion-select-option value="{{ApprovalStatusType.Waiting}}">Waiting</ion-select-option>
                <ion-select-option value="{{ApprovalStatusType.WaiteSubmit}}">WaiteSubmit</ion-select-option>
            </ion-select>
        </ion-item>
        <img src="assets/images/shaixuan.png" (click)="statusSelect.open()" alt="" />
    </form>
    <app-refresher slot="fixed" (ionRefresh)="doRefresh()">
        <ion-refresher-content>正在加载...</ion-refresher-content>
    </app-refresher>
    <div class="no_appcalition" *ngIf="!loading&&!items?.length">
        <div>
            <div>
                <img class="app_img" src="assets/images/no_application.png" />
            </div>
            <div class="div_app">
                <p>No application</p>
            </div>
        </div>
    </div>
    <div class="list" *ngIf="searchModel">
        <div class="item" [ngClass]="{first:first,last:last}" *ngFor="let item of items;let first=first;let last=last;let key=index" (click)="onGotoDetail(item,$event)">
            <div class="row">
                <div class="start">Travelers：</div>
                <div class="main" notranslate>{{item?.Applicant}}</div>
                <div class="end" *ngIf="ApprovalStatusType.Pass==item.StatusType || ApprovalStatusType.Refuse==item.StatusType || ApprovalStatusType.Waiting==item.StatusType">
                    {{item.ApplyTime}}
                </div>
                <div class="end" *ngIf="ApprovalStatusType.WaiteSubmit==item.StatusType">
                    {{item?.InsertTime?.startsWith("1800")||item?.InsertTime?.startsWith("0001") ?" ":item?.InsertTime}}
                </div>
            </div>
            <div class="row" *ngIf="item.Trips">
                <div class="start">Trip：</div>
                <div class="main">
                    <div style="width: 165px" *ngFor="let i of item.Trips;let key1=index">
                        <div *ngIf="key1==0">
                            {{i.FromCityName}}&nbsp;~&nbsp;{{i.ToCityName}}
                        </div>
                        <div *ngIf="key1>0" class="btn_all">
                            Multipass
                        </div>
                    </div>
                </div>
                <div class="trip_end">{{item.startDate}}</div>
            </div>
            <div class="row" *ngIf="item.Trips&&tmc?.TravelApprovalType!=TravelApprovalType.Free&&tmc?.TravelApprovalType!=TravelApprovalType.Approver">
                <div class="start">Approved By:</div>
                <div class="main" notranslate>{{item?.ApprovalName}}</div>
            </div>
            <div class="row" *ngIf="item.ApprovalTime ">
                <div class="start">Approved Time：</div>
                <div class="main">{{item.ApprovalTime}}</div>
            </div>
            <div class="row">
                <div class="start">
                    <ng-container *ngIf="(ApprovalStatusType.Pass==item.StatusType||ApprovalStatusType.Refuse==item.StatusType) else apTpl ">
                        Apply status:
                    </ng-container>
                    <ng-template #apTpl> Apply status:</ng-template>
                </div>
                <div class="main">
                    <ng-container *ngIf="(ApprovalStatusType.Pass==item.Status||ApprovalStatusType.Refuse==item.Status||ApprovalStatusType.WaiteSubmit==item.Status||ApprovalStatusType.Waiting==item.Status) else statusTpl ">
                        <ion-text color="secondary " *ngIf="ApprovalStatusType.Pass==item.Status">{{item.StatusTypeName}}</ion-text>
                        <ion-text color="danger " *ngIf="ApprovalStatusType.Refuse==item.Status">{{item.StatusTypeName}}</ion-text>
                        <ion-text color="success " *ngIf="ApprovalStatusType.WaiteSubmit==item.Status">{{item.StatusTypeName}}</ion-text>
                        <ion-text color="warning " *ngIf="ApprovalStatusType.Waiting==item.Status">{{item.StatusTypeName}}</ion-text>
                        <ion-text color="medium" *ngIf="ApprovalStatusType.Closed==item.Status">{{item.StatusTypeName}}</ion-text>
                        <ion-text color="secondary " *ngIf="item?.IsOverdue">Expired</ion-text>
                    </ng-container>
                    <ng-template #statusTpl>
                        <ion-text>{{item.StatusTypeName}}</ion-text>
                    </ng-template>
                    <button *ngIf="item.Status==ApprovalStatusType.Waiting" (click)="onCancel(item.Id,$event)">
                        Revoke
                    </button>
                    <!-- <button *ngIf="item.StatusType==ApprovalStatusType.WaiteSubmit" (click)="onTravelEdit(item.Id,$event)">编辑</button> -->
                </div>

                <ion-icon slot="end" style="font-size: 18px; margin-right: 22px" name="trash-outline" color="danger" class="trash-outline" *ngIf="ApprovalStatusType.WaiteSubmit == item.Status" (click)="onDelete(item,key,$event)" class="ion-text-end"></ion-icon>
            </div>
            <img src="assets/images/pass_en.png" *ngIf="ApprovalStatusType.Pass==item.Status" alt="" />
            <img src="assets/images/deny_en.png" *ngIf="ApprovalStatusType.Refuse==item.Status" alt="" />
            <img src="assets/images/close_en.png" *ngIf="ApprovalStatusType.Closed==item.Status" alt="" />
            <img src="assets/images/overdue_en.png" *ngIf="item?.IsOverdue" alt="" />
        </div>
    </div>
    <ion-list class="ion-padding-horizontal"> </ion-list>
    <ion-infinite-scroll (ionInfinite)="gettravel() ">
        <ion-infinite-scroll-content>加载更多</ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>