ion-content{
  // --background:white;
  ion-row {
    align-items: center;
  }
  ion-col{
    align-self: center;
  }
  .down-count{
    position: relative;
    &::before{
      display: block;
      content: " ";
      left: -0.5em;
      top: 20%;
      bottom: 20%;
      width: 1px;
      background-color: var(--ion-color-medium);
      position: absolute;
    }
  }
  .third-party-logo{
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  ion-thumbnail{
    --size:4em;
  }
}