ion-content{
  // --background:white;
  ion-toolbar{
    padding: 0 .5em;
  }
  ion-row {
    align-items: center;
  }
  ion-col{
    align-self: center;
  }
  .third-party-logo{
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  ion-thumbnail{
    --size:4em;
  }
}