<ion-header>
  <ion-buttons>
    <app-back-button defaultHref=""></app-back-button>
    <ion-searchbar mode='ios' debounce="300" animated placeholder="输入中文/拼音/首字母/城市代码" (ionChange)='doSearch()'
      [(ngModel)]='vmKeyword' class="ion-margin-end">
    </ion-searchbar>
  </ion-buttons>
</ion-header>
<ion-content [scrollEvents]='true' (ionScroll)='onScroll($event)'>
  <app-refresher slot="fixed" (ionRefresh)="doRefresh(true)">
  </app-refresher>
  <ion-grid *ngIf='letters&&letters.length' class="letters-index" #lettersEle>
    <ion-row>
      字母索引
    </ion-row>
    <ion-row>
      <ion-col *ngFor='let letter of letters' (click)='onSelectLetter(letter)' class='ion-no-margin ion-no-padding'
        size='1.5'>
        <ion-button fill='clear' color='secondary' size='small' class='ion-no-margin'>
          {{letter}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf='!isLoading else loadingTemp'>
    <ion-grid *ngIf='hotCities&&hotCities.length' #hot>
      <ion-row>
        热门
      </ion-row>
      <ion-row>
        <ion-col *ngFor='let h of hotCities' size='4' (click)='onSelect(h)'>
          <ion-chip [class.selected]='h.Selected'>
            <ion-label>{{h.Name}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf='historyCities?.length' #historyEl>
      <ion-row>
        历史
      </ion-row>
      <ion-row>
        <ion-col *ngFor='let h of historyCities' size='4' (click)='onSelect(h)'>
          <ion-chip [class.selected]='h.Selected'>
            <ion-label>{{h.Name}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list #firstLetterEl>
      <ion-item-divider sticky *ngIf='activeLetter!="热门"'>{{activeLetter}}</ion-item-divider>
      <ng-container *ngIf='vmCities?.length else nomatchdata'>
        <ion-item *ngFor='let s of vmCities' (click)='onSelect(s)'>
          <ion-label>
            <ion-text [color]='s.Selected?"secondary":""'>
              {{s.Name}}
            </ion-text>
            <ion-text *ngIf='s.Pinyin' color='medium'>({{s.Pinyin}})</ion-text>
            <ion-text *ngIf='s.Code' color='medium'>({{s.Code}})</ion-text>
          </ion-label>
        </ion-item>
      </ng-container>
      <ng-template #nomatchdata>
        <app-or-comp>没有符合条件的数据</app-or-comp>
      </ng-template>
    </ion-list>
    <ion-list lines='none'>
      <ion-item *ngFor='let i of [1,2,3,4,5,6,7,8,9,10]'></ion-item>
    </ion-list>
    <!-- <ul style='list-style-type:none;margin:0;padding:0;' #list>
      <li *ngFor='let s of vmCities' (click)='onSelect(s)'>
        <ion-text [color]='s.Selected?"secondary":""'>{{s.Name}}</ion-text>
      </li> 
    </ul>-->
  </ng-container>
  <ng-template #loadingTemp>
    正在加载...
  </ng-template>
  <ion-fab>
    <app-pin-fab>
    </app-pin-fab>
  </ion-fab>
</ion-content>