<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-back-button routerLink="/tabs/my" routerDirection="back"></ion-back-button> -->
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    <ion-title>设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail (click)="accountSecurityPage()">
      <ion-label>账号与安全</ion-label>
    </ion-item>
  </ion-list>
 
  <ion-list (click)="logout()">
    <ion-item >
      <ion-label class='ion-text-center' color='danger'>退出登陆</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
