<!-- <app-flight-list-item [flight]='flight'   *ngFor='let seg of flight?.transferSegments'></app-flight-list-item> -->
<div (click)='onDismiss()'>
  <ion-list class="ion-padding">
    <ion-item *ngFor="let seg of flight?.transferSegments;let index=index" class="padding1em" lines="none" style="font-size: 0.9rem;">
      <div style="width:100%">
        <div>
          <ion-text color="secondary" *ngIf="seg['showRemind']" style="font-size: 0.6rem;display: flex;
          justify-content: center;">
            <span *ngIf="seg['showRemind']==1">转机机场不同，请保留充足中转时间。</span>
            <span *ngIf="seg['showRemind']==2">转机机场起降航站楼不同<br />请保留充足中转时间。</span>
          </ion-text>
        </div>
        <ion-row>
          <ion-col style="display: flex;align-items: center;">
            <img [src]="seg.AirlineSrc">
            <ion-text>
              {{seg.AirlineName}}{{seg.Number}}<ion-text color='secondary' *ngIf="seg.CodeShareNumber">
                ({{seg?.CodeShareNumber}})</ion-text>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            起飞
          </ion-col>
          <ion-col class="font-size">
            {{seg?.TakeoffTime.replace("T"," ")}}
            <div>
              {{seg.FromCityName}} {{seg.FromAirport}} {{seg.FromAirportName}}{{seg.FromTerminal}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col>
            <ion-text style="font-size: 0.6rem;" color="medium">
              飞行时长 {{seg.FlyTime}}
            </ion-text>
          </ion-col>
        </ion-row>
        <ng-container *ngIf='seg.IsStop||seg.StopCities'>
          <ion-row>
            <ion-col size="3">
            </ion-col>
            <ion-col>
              <ng-container *ngIf='seg.StopCities'>
                <div *ngFor='let c of seg.StopCities'>
                  <ion-text style="font-size: 0.6rem;" color="medium">
                    {{c.CityName}} <ng-container *ngIf='c.StayTime'>{{c.StayTime}}</ng-container>
                  </ion-text>
                </div>
              </ng-container>
              <ng-container *ngIf='!seg.StopCities'>
                <ion-button color='secondary' fill='clear' size='small' (click)='onGetStopCities(seg)'>经停</ion-button>
              </ng-container>
            </ion-col>
          </ion-row>
        </ng-container>
        <ion-row>
          <ion-col size="3">
            到达
          </ion-col>
          <ion-col class="font-size">
            {{seg?.ArrivalTime.replace("T"," ")}}
            <div>{{seg.ToCityName}} {{seg.ToAirport}} {{seg.ToAirportName}}{{seg.ToTerminal}}</div>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>
</div>