<ion-list lines='none'>
  <ion-radio-group mode='md' [value]='filterCondition?.userOps?.airTypeOp?"":"unlimit"'>
    <ion-item (click)='onReset()'>
      <ion-label>{{langOpt.any}}</ion-label>
      <ion-radio value='unlimit'></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-item *ngFor="let entry of filterCondition?.airTypes">
    <ion-label>{{entry?.label||entry?.id}}</ion-label>
    <ion-checkbox #cbox slot="end" [(ngModel)]="entry.isChecked" (ionChange)='onionChange()'></ion-checkbox>
  </ion-item>
  <ion-item></ion-item>
</ion-list>