<!-- 
<ng-template #normal>
  <ng-container *ngIf='disabled'>
    <ion-text class='flight-cities disabled' #flightcities [attr.mode]='mode'>
      <ion-skeleton-text style='width: 20%;height: 2em;' animated *ngIf='!vmFromCity'></ion-skeleton-text>
      <ion-text text-wrap color='medium' #fromCityEle *ngIf='vmFromCity'>
        <h2 [class.left]='!toggleCities' [class.right]='toggleCities'>{{vmFromCity?.Nickname}}
        </h2>
      </ion-text>
      <div class='toogle-icon' [class.disabled]='disabled'>
        <ion-icon name="repeat" [@rotateIcon]='rotateIcon' mode='ios' color='secondary'
          (@rotateIcon.done)='onRotateIconDone($event)'></ion-icon>
      </div>
      <ion-text color='medium' text-wrap #toCityEle>
        <h2 [class.left]='toggleCities' [class.right]='!toggleCities' *ngIf='vmToCity'>{{vmToCity?.Nickname}}
        </h2>
      </ion-text>
      <ion-skeleton-text style='width: 20%;height:2em;' animated *ngIf='!vmToCity'></ion-skeleton-text>
    </ion-text>
  </ng-container>
  <div class='flight-cities' #flightcities [class.hide]='disabled' [attr.mode]='mode'>
    <ion-skeleton-text style='width: 20%;height:2em;' animated *ngIf='!vmFromCity'></ion-skeleton-text>
    <ion-text text-wrap (click)="onSelectCity(true)" color='secondary' #fromCityEle *ngIf='vmFromCity'>
      <h2 [class.left]='!toggleCities' [class.right]='toggleCities'>{{vmFromCity?.Nickname}}
      </h2>
    </ion-text>
    <div class='toogle-icon' (click)='onRotateIcon()'>
      <ion-icon name="swap" color='secondary'></ion-icon>
    </div>
    <ion-skeleton-text style='width: 20%;height: 2em;' animated *ngIf='!vmToCity'></ion-skeleton-text>
    <ion-text (click)='onSelectCity(false)' color='secondary' text-wrap #toCityEle *ngIf='vmToCity'>
      <h2 [class.left]='toggleCities' [class.right]='!toggleCities'>{{vmToCity?.Nickname}}
      </h2>
    </ion-text>
  </div>
</ng-template> -->
<div class='flight-cities' #flightcities [class.disabled]='disabled' [attr.mode]='mode' *ngIf='!isExchange else exchangeTemp'>
  <ion-skeleton-text style='width: 20%;height:2em;' animated *ngIf='!vmFromCity'></ion-skeleton-text>
  <ion-text text-wrap (click)="onSelectCity(true)"  #fromCityEle *ngIf='vmFromCity'>
    <h2 [class.left]='!toggleCities' [class.right]='toggleCities'>{{vmFromCity?.Nickname}}
    </h2>
  </ion-text>
  <div class='toogle-icon' (click)='onRotateIcon()'>
    <ion-icon name="swap"></ion-icon>
  </div>
  <ion-skeleton-text style='width: 20%;height: 2em;' animated *ngIf='!vmToCity'></ion-skeleton-text>
  <ion-text (click)='onSelectCity(false)'  text-wrap #toCityEle *ngIf='vmToCity'>
    <h2 [class.left]='toggleCities' [class.right]='!toggleCities'>{{vmToCity?.Nickname}}
    </h2>
  </ion-text>
</div>
<ng-template #exchangeTemp>
  <div class='flight-cities' #flightcities [class.disabled]='true' [attr.mode]='mode'>
    <ion-skeleton-text style='width: 20%;height:2em;' animated *ngIf='!vmFromCity'></ion-skeleton-text>
    <ion-text text-wrap   #fromCityEle *ngIf='vmFromCity'>
      <h2 [class.left]='!toggleCities' [class.right]='toggleCities'>{{vmFromCity?.Nickname}}
      </h2>
    </ion-text>
    <div class='toogle-icon'>
      <ion-icon name="swap"></ion-icon>
    </div>
    <ion-skeleton-text style='width: 20%;height: 2em;' animated *ngIf='!vmToCity'></ion-skeleton-text>
    <ion-text (click)='onSelectCity(false)' color='secondary' text-wrap #toCityEle *ngIf='vmToCity'>
      <h2 [class.left]='toggleCities' [class.right]='!toggleCities'>{{vmToCity?.Nickname}}
      </h2>
    </ion-text>
  </div>
</ng-template>