<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <app-back-button defaultHref='' [backFn]='back.bind(this)'></app-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot='end' *ngIf='bookInfos$'>
            <ion-button fill='clear' color='secondary' size='small' (click)='onShow()'>
                <ion-icon name="person-add-outline"></ion-icon>
                <ion-badge color='danger'>
                    <ion-text color='light' class="danger">{{(bookInfos$|async).length}}</ion-text>
                </ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-refresher slot="fixed" (ionRefresh)="doRefresh(null)">
        <ion-refresher-content refreshingText="正在加载...">
        </ion-refresher-content>
    </app-refresher>
    <ion-toolbar #toolbar class="search">
        <ion-searchbar debounce="300" class="ion-no-margin ion-no-padding" style='padding:0' animated placeholder="Employee name and mobile phone" (ionChange)='onSearch($event)' [(ngModel)]='vmKeyword'>
        </ion-searchbar>
    </ion-toolbar>
    <ng-container *ngIf='vmStaffs else addTempl'>
        <ion-list *ngIf='!loading;else loadingTemp'>
            <ng-container *ngIf='vmStaffs?.length;else nodata'>
                <ion-item *ngFor='let item of vmStaffs' @flyInOut detail (click)='onSelect(item)'>
                    <ion-label color='medium' *ngIf='forType != FlightHotelTrainType.InternationalFlight'>
                        <ion-text color='dark' notranslate>{{item?.Name}}</ion-text>
                        <ng-container *ngIf='!item.CredentialsInfo'>
                            {{item.HideNumber}}
                        </ng-container>
                        <span *ngIf='item.CredentialsInfo'>
              {{item?.CredentialsInfo}}
            </span>
                    </ion-label>
                    <ion-label color='{{selectedPassengerPolicy?.Id==item.Policy?.Id?"secondary":"medium"}}' class='ion-text-wrap' *ngIf='forType == FlightHotelTrainType.InternationalFlight'>
                        <ion-text color='{{selectedPassengerPolicy?.Id==item.Policy?.Id?"secondary":"dark"}}'>{{item?.Name}}
                        </ion-text>
                        {{item?.CredentialsInfo}}
                    </ion-label>
                </ion-item>
            </ng-container>
            <ng-template #nodata>
                <app-or-comp>暂无数据</app-or-comp>
            </ng-template>
        </ion-list>
        <ng-template #loadingTemp>
            <ion-list>
                <ion-item *ngFor='let it of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16];let odd=odd;'>
                    <ion-skeleton-text style="width: 80%;height: 1em;" [animated]='odd'></ion-skeleton-text>
                </ion-item>
            </ion-list>
        </ng-template>
    </ng-container>
    <ng-template #addTempl>
        <ion-radio-group value="{{selectedCredentialId}}" mode='md' [allowEmptySelection]="true">
            <ion-list>
                <ng-container *ngFor='let item of staffCredentails' class='ion-margin-bottom'>
                    <ng-container *ngIf='item!=vmNewCredential'>
                        <ion-item-divider color='primary' (click)='onSelectCredential(item.Id)' style="border-bottom:0.01rem solid #cccccc">
                            <div notranslate style="width: 6em;min-width: 6em;font-size:12px;white-space: pre-wrap;margin-left:-0.5em;padding: 0.3em;">
                                {{item.Type|credential}}</div>
                            <div style="flex: 1;font-size: 0.6rem;padding: .5em;">
                                <div>
                                    <ion-text color='medium'>
                                        Passenger Name<span style="margin-left: 1em;" notranslate>{{item.Name}}</span>
                                    </ion-text>
                                </div>
                                <div>
                                    <ion-text color='medium'>
                                        ID number<span style="margin-left: 1em;">{{item.Number}}</span>
                                    </ion-text>
                                </div>
                            </div>
                            <ion-radio slot='end' name='credentialType' disabled="disabled" style="opacity:1" mode='md' class="ion-margin-end" value="{{item.Id}}">
                            </ion-radio>
                        </ion-item-divider>
                        <ion-item lines='none' [@flyInOut] *ngIf='selectedCredentialId ==item.Id'>
                            <div class='credential-item'>
                                <ion-row>
                                    <ion-col>
                                        ID No.:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.HideNumber}}
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        ID name:
                                    </ion-col>
                                    <ion-col notranslate>
                                        {{item?.Surname}}{{item?.Givenname}}
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        Nationality:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.Country}}
                                    </ion-col>
                                </ion-row>
                                <!-- <ion-row>
                                    <ion-col>
                                        Birth Date:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.Birthday}}
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        Expiry date:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.ExpirationDate}}
                                    </ion-col>
                                </ion-row> -->
                                <ion-row>
                                    <ion-col>
                                        Gender:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.Gender=="F"?"Female":item?.Gender=="M"?"Male":"Unknown"}}
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-item>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf='isShowNewCredential'>
                    <ion-item-divider color='primary' (click)='onSelectCredential(vmNewCredential?.Id)'>
                        <ion-label>
                            <ion-text *ngIf='!vmNewCredential?.isNotWhiteList'>Other documents of this person：</ion-text>
                            <ion-text *ngIf='vmNewCredential?.isNotWhiteList'>ID：</ion-text>
                        </ion-label>
                        <ion-radio slot='end' class="ion-margin-end" disabled="disabled" style="opacity:1" mode='md' name='credentialType' value="{{vmNewCredential?.Id}}">
                        </ion-radio>
                    </ion-item-divider>
                    <ion-grid #addForm [@flyInOut] *ngIf='selectedCredentialId ==vmNewCredential.Id'>
                        <app-credentials-comp [(credential)]='vmNewCredential' [filteredCredentialsTypes]='filteredCredentialsTypes'></app-credentials-comp>
                        <ion-row>
                            <ion-col size='12'>
                                <ion-item class='ion-no-margin ion-no-padding' lines='none'>
                                    Passenger type：
                                </ion-item>
                            </ion-col>
                            <ion-col size='12'>
                                <ion-radio-group class='credentials-remark ion-no-margin ion-no-padding' mode='md' [(ngModel)]='vmNewCredential.CredentialsRemark' name='CredentialsRemark'>
                                    <ion-item *ngFor='let r of credentialsRemarks' [style.opacity]='vmNewCredential?.Id !=selectedCredentialId?0.7:1' [disabled]='vmNewCredential?.Id !=selectedCredentialId'>
                                        <ion-label>{{r.value}}</ion-label>
                                        <ion-radio value="{{r.value}}"></ion-radio>
                                    </ion-item>
                                </ion-radio-group>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
                <ng-container *ngIf='frqPassengerCredentials?.length'>
                    <ion-item-divider color='primary' class='ion-margin-top'>
                        <ion-text color='secondary'>Frequent travellers</ion-text>
                    </ion-item-divider>
                    <ng-container *ngFor='let item of frqPassengerCredentials'>
                        <ion-item-divider color='primary' (click)='onSelectCredential(item.Id)'>
                            <ion-label>
                                <!-- {{item.Type|credential}} -->
                                {{item?.Surname}}{{item?.Givenname}}
                            </ion-label>
                            <ion-radio slot='end' name='credentialType' disabled="disabled" style="opacity:1" mode='md' class="ion-margin-end" value="{{item.Id}}">
                            </ion-radio>
                        </ion-item-divider>
                        <ion-item lines='none' [@flyInOut] *ngIf='selectedCredentialId ==item.Id'>
                            <div class='credential-item'>
                                <ion-row>
                                    <ion-col>
                                        ID No.:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.HideNumber}}
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        ID name:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.Surname}}{{item?.Givenname}}
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        Boarding name:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.Name}}
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        Nationality:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.Country}}
                                    </ion-col>
                                </ion-row>
                                <!-- <ion-row>
                                    <ion-col>
                                        Birth Date:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.Birthday}}
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        Due date:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.ExpirationDate}}
                                    </ion-col>
                                </ion-row> -->
                                <ion-row>
                                    <ion-col>
                                        Gender:
                                    </ion-col>
                                    <ion-col>
                                        {{item?.Gender=="F"?"Famale":item?.Gender=="M"?"Male":"Unknown"}}
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-item>
                    </ng-container>
                </ng-container>
            </ion-list>
        </ion-radio-group>
    </ng-template>
    <ion-infinite-scroll (ionInfinite)="loadMore()">
        <ion-infinite-scroll-content>
            正在加载...
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot='end'>
            <ion-button (click)='onAddPassenger()' fill='solid' color='secondary' [disabled]='!selectedPassenger'>Confirm
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>