<ion-header>
  <ion-toolbar>
    <ion-title>login-device-management</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"  (click)="toggleDeleteButton()">编辑</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-text>最近登录设备：您可以删除列表中的设备，删除后在该设备登录应用需要进行身份验证。</ion-text>
  </ion-toolbar>
  <ion-list #deviceList (ionDrag)='onSlidingItemDrag()'>
    <ion-item-sliding (click)="itemClick()" *ngFor="let item of devices$|async">
      <ion-item [attr.detail]="!toggleChecked">
        <ion-label>{{ item?.deviceName }}</ion-label>
        <ion-button color="danger" size='small' *ngIf="toggleChecked" (click)="delteDevice(item)">删除</ion-button>
      </ion-item>
      <ion-item-options side='end'>
        <ion-item-option color="danger" (click)="delteDevice(item)">
          删除
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>