<ion-header>
  <ion-toolbar style="padding-right: 10px;">
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>我的出差申请</ion-title>
    <ion-button mode='ios' style="height: 2em;width: 3.3em;font-size: 0.9rem;" slot="end" (click)="goAddApply()">
      添加</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-refresher slot='fixed' (ionRefresh)='doRefresh()'>
    <ion-refresher-content>正在加载...</ion-refresher-content>
  </app-refresher>
  <form action="javascript:void(0)" (ngSubmit)='onSearch(true)'>
    <ion-searchbar name='searchbar' placeholder="申请单号、出差事由等内容搜索" mode='ios' animated='true' [(ngModel)]="searchModel.SearchContent"></ion-searchbar>
    <ion-item style="display: none;" >
      <ion-select cancelText='取消' okText='确定' backdrop-dismiss='true' #statusSelect translucent='true' [interfaceOptions]="customPopoverOptions" interface="popover" [compareWith]="compareWithFn"
        placeholder="请选择" [(ngModel)]="searchModel.StatusType" name='status' (ionChange)="onSearch(false)">
        <ion-select-option value="0">全部</ion-select-option>
        <ion-select-option value="{{ApprovalStatusType.Pass}}">通过</ion-select-option>
        <ion-select-option value="{{ApprovalStatusType.Refuse}}">拒绝</ion-select-option>
        <ion-select-option value="{{ApprovalStatusType.Waiting}}">待审核</ion-select-option>
        <ion-select-option value="{{ApprovalStatusType.WaiteSubmit}}">待提交</ion-select-option>
      </ion-select>
    </ion-item>
    <img src="assets/images/shaixuan.png" (click)='statusSelect.open()' style="width: 1em;
    height: 1em;
    flex-basis: 3em;
    object-fit: contain;
    padding-right: 1em;" alt="">
  </form>
  <ion-list>
    <ion-item *ngFor='let item of items' style="border-radius: 0.5em;
      width: 96%;
      margin: 0.5em auto;
      font-size: 0.9rem;
      border: 1px solid #eeeeee;" lines="none">
      <div class="ion-padding-bottom ion-padding-top" style="width: 100%" (click)="onTravelEdit(item.Id)">
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">序号</ion-text>
          </ion-col>
          <ion-col>
            {{item.Id}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">申请时间</ion-text>
          </ion-col>
          <ion-col>
            <!-- .startsWith("1800") -->
            {{item?.ApplyTime?.startsWith("1800")||item?.ApplyTime?.startsWith("0001")?" ":item?.ApplyTime?.replace("T"," ")?.substring(0,16)}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">申请状态</ion-text>
          </ion-col>
          <ion-col>
            {{item.StatusTypeName}}
            <ion-button color="secondary" *ngIf="item.StatusTypeName=='待审核'" (click)="onCancel(item.Id,$event)">撤销</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">审批时间</ion-text>
          </ion-col>
          <ion-col>
            {{item?.ApprovalTime?.startsWith("1800")||item?.ApprovalTime?.startsWith("0001")?" ":item?.ApprovalTime?.replace("T"," ")?.substring(0,16)}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.Trips">
          <ion-col size='3'>
            <ion-text color="medium">行程</ion-text>
          </ion-col>
          <ion-col>
            <div>
              <div *ngFor="let i of item.Trips">
                {{i?.StartDate?.replace("T"," ")?.substring(0,10)}} {{i.FromCityName}}--{{i.ToCityName}}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)='gettravel()'>
    <ion-infinite-scroll-content>加载更多</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>