<ion-header>
  <ion-toolbar style="padding-right: 10px;">
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>我的出差申请</ion-title>
    <ion-button color="secondary" style="height: 2em;width: 3.3em;font-size: 0.9rem;" slot="end" (click)="goAddApply()">
      添加</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-refresher slot='fixed' (ionRefresh)='doRefresh()'>
    <ion-refresher-content>正在加载...</ion-refresher-content>
  </app-refresher>
  <ion-list>
    <ion-item *ngFor='let item of items' style="border-radius: 0.5em;
      width: 96%;
      margin: 0.5em auto;
      font-size: 0.9rem;
      border: 1px solid #eeeeee;" lines="none">
      <div class="ion-padding-bottom ion-padding-top" style="width: 100%" (click)="onTravelEdit(item.Id)">
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">申请编号</ion-text>
          </ion-col>
          <ion-col>
            {{item.Id}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">申请时间</ion-text>
          </ion-col>
          <ion-col>
            <!-- .startsWith("1800") -->
            {{item?.ApplyTime?.startsWith("1800")||item?.ApplyTime?.startsWith("0001")?" ":item?.ApplyTime?.replace("T"," ")?.substring(0,16)}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">申请状态</ion-text>
          </ion-col>
          <ion-col>
            {{item.StatusTypeName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">审批时间</ion-text>
          </ion-col>
          <ion-col>
            {{item?.ApprovalTime?.startsWith("1800")||item?.ApprovalTime?.startsWith("0001")?" ":item?.ApprovalTime?.replace("T"," ")?.substring(0,16)}}
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)='gettravel()'>
    <ion-infinite-scroll-content>加载更多</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>