ion-col {
    align-self: flex-start;
}

form {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    datalist {
        flex-basis: 10%;
    }
    background-color: var(--ion-color-light);
    img {
        width: 1em;
        height: 1em;
        flex-basis: 3em;
        object-fit: contain;
        padding-right: 1em;
    }
}

.no_appcalition {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;
}

.app_img {
    width: 11.5em;
}

.div_app {
    display: flex;
    justify-content: center;
}

.div_app p {
    font-size: 14px;
    color: #716161;
}

.item {
    margin: 0.7em 0;
    padding: 1.2em 0.1em 1.2em 1em;
    width: 100%;
    position: relative;
    background-color: var(--ion-color-light);
    .row {
        padding: 0.4em 0.5em;
        font-size: 0.8rem;
        background-color: var(--ion-color-light);
        .start,
        .end {
            align-self: flex-start;
        }
        .start {
            flex-basis: 20%;
        }
        .end {
            // flex-basis: 33%;
            margin-right: 10px;
            margin-left: auto;
        }
        .trip_end {
            flex-basis: 22%;
        }
        display: flex;
        justify-content: space-between;
        .main {
            flex: 1;
        }
        &.first,
        &.last {
            padding-top: 0.5em;
        }
    }
    img {
        position: absolute;
        right: 2.7em;
        top: 9px;
        width: 4.5em;
        z-index: 10;
        opacity: 0.5;
    }
    button {
        padding: 0.5em;
        border-radius: 4px;
        background-color: var(--ion-color-secondary);
        color: white;
        font-size: 0.7rem;
        margin-left: .5em;
        float: right;
        margin-right: 15px;
    }
    .btn_all {
        background: #ffa252;
        border-radius: 8px;
        float: left;
        width: 40px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        font-size: 11px;
    }
    .trash-outline {
        font-size: 18px;
    }
}