<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>我的出差申请</ion-title>
    <ion-button color="secondary" style="height: 2em;width: 3.3em;font-size: 0.9rem;" slot="end" (click)="goAddApply()">添加</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-refresher slot='fixed' (ionRefresh)='doRefresh()'>
        <ion-refresher-content>正在加载...</ion-refresher-content>
      </app-refresher>
  <ion-list>
    <ion-item *ngFor='let item of items' style="width: 96%;margin: 0.5em auto;font-size: 0.9rem;border: 1px solid var(--ion-color-medium);" lines="none">
      <div class="ion-padding-bottom ion-padding-top" style="width: 100%">
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">编号</ion-text>
          </ion-col>
          <ion-col>
            {{item.Id}}
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size='2.5'>
            <ion-text color="medium">出差申请单号</ion-text>
          </ion-col>
          <ion-col>
            {{item.TravelNumber}}
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">申请时间</ion-text>
          </ion-col>
          <ion-col>
            {{item?.ApplyTime?.replace("T"," ")?.substring(0,16)}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='3'>
            <ion-text color="medium">申请单状态</ion-text>
          </ion-col>
          <ion-col>
            {{item.StatusTypeName}}
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col size='3'>
            <ion-text color="medium">审批时间</ion-text>
          </ion-col>
          <ion-col>
            {{item?.ApprovalTime?.replace("T"," ")?.substring(0,16)}}
          </ion-col>
        </ion-row>
        <div style="width:100%;display: flex;justify-content: flex-end;">
          <ion-button color="secondary" style="height:2em;width: 4em;">编辑</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>