:host {
  display: none;
  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.12);
  }
}
ion-card {
  width: 5rem;
  height: 5rem;
  --background: white;
  opacity: 0.9;
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    ion-spinner {
      --color: var(--ion-color-success);
      height: 50%;
    }
  }
}
