<!-- Backdrop that sets dynamic properties -->
<ion-backdrop [tappable]="false" [visible]="true" *ngIf='loading?.isLoading' [stopPropagation]="true">
</ion-backdrop>
<ion-card>
  <div class='loading'>
    <!-- Default Spinner -->
    <!-- <ion-spinner></ion-spinner> -->

    <!-- Lines -->
    <!-- <ion-spinner name="lines"></ion-spinner> -->

    <!-- Lines Small -->
    <!-- <ion-spinner name="lines-small"></ion-spinner> -->

    <!-- Dots -->
    <!-- <ion-spinner name="dots"></ion-spinner> -->

    <!-- Bubbles -->
    <ion-spinner name="bubbles" [class.has-msg]='loading?.msg'></ion-spinner>
    <ion-text color='dark' class="msg ion-margin-horizontal" *ngIf='loading?.msg'>{{loading.msg}}</ion-text>
    <!-- Circles -->
    <!-- <ion-spinner name="circles"></ion-spinner> -->

    <!-- Crescent -->
    <!-- <ion-spinner name="crescent"></ion-spinner> -->

    <!-- Paused Default Spinner -->
    <!-- <ion-spinner paused></ion-spinner> -->
  </div>
</ion-card>