:host {
  display: none;
  z-index: -100;
  &.loading {
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.12);
  }
}
ion-card {
  min-width: 5rem;
  height: 5rem;
  --background: var(--ion-color-primary);
  opacity: 0.9;
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    ion-spinner {
      &.has-msg {
        margin-left: 1em;
      }
      --color: var(--ion-color-secondary);
      height: 50%;
    }
  }
}
