<ion-header class='ion-text-center'>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=""></app-back-button>
    </ion-buttons>
    <ion-title color='{{searchFlightModel?.isLocked?"medium":"secondary"}}' [class.ion-text-start]='showAddPassenger' [class.ion-text-center]='!showAddPassenger'>
      <ion-text class='from-city'>
        <span>
          {{searchFlightModel?.fromCity?.CityName}}
        </span>
        <ion-icon name='caret-down-outline' *ngIf='!searchFlightModel?.isLocked'></ion-icon>
      </ion-text>
      <div (@rotateIcon.done)='onRotateIconDone()' [@rotateIcon]='isRotateIcon' class='rotate-icon' [class.small-margin]='showAddPassenger'>
        <i class='icon icon-flight-plane'></i>
      </div>
      <ion-text class='to-city'>
        <span>
          {{ searchFlightModel?.toCity?.CityName}}
        </span>
        <ion-icon name='caret-down-outline' *ngIf='!searchFlightModel?.isLocked'></ion-icon>
      </ion-text>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="fly-days">
    <app-days-calendar (itemSelected)="onChangedDay($event,true)" (calenderClick)="onCalenderClick()">
    </app-days-calendar>
  </ion-toolbar>
</ion-header>
<div class="container" #container>
  <div class="left" [class.open]='isOpenGoTrip'>
    <ion-content #cntGo >
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh(true,false)">
      </ion-refresher>
      <app-or-comp *ngIf='isLoadingGoTrips'>
        {{currentProcessStatus||"数据即将加载完成"}}
      </app-or-comp>
      <app-or-comp *ngIf='!isLoadingGoTrips&&vmGoTripFlights?.length==0'>
        <div [innerHtml]='getNoMoreDataDesc()'></div>
      </app-or-comp>
      <ion-list>
        <!-- <ul class='flight recomend' *ngIf='lowestPriceSegments?.length==1'>
          <li *ngFor='let s of lowestPriceSegments' class='lowest-item' (click)='goToFlightCabinsDetails(s)'>
            <app-flight-segment-item-df [segment]='s' [isRecomendSegment]='true'>
            </app-flight-segment-item-df>
          </li>
        </ul> -->
        <ul class='flight'>
          <li *ngFor='let s of vmGoTripFlights; trackBy:trackById' #fli (click)='goToFlightCabinsDetails(s)'>
            <app-flight-segment-item-df [segment]='s'></app-flight-segment-item-df>
          </li>
        </ul>
      </ion-list>
      <ng-container #fakeList *ngIf='isLoadingGoTrips'>
        <ion-list class='fakelist'>
          <ion-item *ngFor='let item of [1,2,3,4,5,6,7,8]'>
            <div style='width: 100%;'>
              <ion-row>
                <ion-col size='10'>
                  <ion-label>
                    <h2>
                      <ion-skeleton-text animated style='width: 100%'></ion-skeleton-text>
                    </h2>
                    <h2>
                      <ion-skeleton-text style='width: 100%'></ion-skeleton-text>
                    </h2>
                    <div style='display: flex;align-items: center;'>
                      <ion-skeleton-text animated style="width: 1.2em;height:1.2em;border-radius:100%;margin-right: 0.5em;">
                      </ion-skeleton-text>
                      <ion-skeleton-text style='width: 90%'></ion-skeleton-text>
                    </div>
                  </ion-label>
                </ion-col>
                <ion-col size='2' style="align-self: center;display: flex;justify-content: center;align-items: center">
                  <ion-skeleton-text animated style='width: 50%'></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </ion-list>
      </ng-container>
    </ion-content>
  </div>
  <div class="right" [class.open]='!isOpenGoTrip'>
    <ion-content #cntBack>
      <ion-refresher slot="fixed" (ionRefresh)="doRefreshBackTrips(true,false)">
      </ion-refresher>
      <app-or-comp *ngIf='isLoadingBackTrips'>
        {{currentProcessStatus||"数据即将加载完成"}}
      </app-or-comp>
      <app-or-comp *ngIf='!isLoadingBackTrips&&vmBackTripFlights?.length==0'>
        <div [innerHtml]='getNoMoreDataDesc()'></div>
      </app-or-comp>
      <ion-list>
        <ul class='flight recomend' *ngIf='lowestPriceSegments?.length==1'>
          <li *ngFor='let s of lowestPriceSegments' class='lowest-item' (click)='goToFlightCabinsDetails(s)'>
            <app-flight-segment-item-df [segment]='s' [isRecomendSegment]='true'>
            </app-flight-segment-item-df>
          </li>
        </ul>
        <ul class='flight'>
          <li *ngFor='let s of vmBackTripFlights; trackBy:trackById' #fli (click)='goToFlightCabinsDetails(s)'>
            <app-flight-segment-item-df [segment]='s'></app-flight-segment-item-df>
          </li>
        </ul>
      </ion-list>
      <ng-container #fakeList *ngIf='isLoadingBackTrips'>
        <ion-list class='fakelist'>
          <ion-item *ngFor='let item of [1,2,3,4,5,6,7,8]'>
            <div style='width: 100%;'>
              <ion-row>
                <ion-col size='10'>
                  <ion-label>
                    <h2>
                      <ion-skeleton-text animated style='width: 100%'></ion-skeleton-text>
                    </h2>
                    <h2>
                      <ion-skeleton-text style='width: 100%'></ion-skeleton-text>
                    </h2>
                    <div style='display: flex;align-items: center;'>
                      <ion-skeleton-text animated style="width: 1.2em;height:1.2em;border-radius:100%;margin-right: 0.5em;">
                      </ion-skeleton-text>
                      <ion-skeleton-text style='width: 90%'></ion-skeleton-text>
                    </div>
                  </ion-label>
                </ion-col>
                <ion-col size='2' style="align-self: center;display: flex;justify-content: center;align-items: center">
                  <ion-skeleton-text animated style='width: 50%'></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </ion-list>
      </ng-container>
    </ion-content>
  </div>
</div>
<div class="backdrop" [class.show]='isOpenFilter' (click)='onCloseFilter()'></div>
<ion-footer color="primary">
  <ion-toolbar>
    <div class="tabs">
      <div class="tab" [class.active]="activeTab === 'filter'" (click)="onFilter()" [class.filtered]='filterConditionIsFiltered'>
        <ion-icon name="funnel"></ion-icon>
        <ion-note>筛选</ion-note>
      </div>
      <div class="tab" [class.active]="activeTab === 'time'" (click)="onTimeOrder()">
        <ion-icon name="time"></ion-icon>
        <ion-note *ngIf="activeTab !== 'time'">时间</ion-note>
        <ion-note *ngIf="activeTab === 'time' && timeOrdM2N">从早到晚</ion-note>
        <ion-note *ngIf="activeTab === 'time' && !timeOrdM2N">从晚到早</ion-note>
      </div>
      <div class="tab" [class.active]="activeTab === 'price'" (click)="onPriceOrder()">
        <ion-icon name="logo-yen"></ion-icon>
        <ion-note *ngIf="activeTab !== 'price'">价格</ion-note>
        <ion-note *ngIf="activeTab === 'price' && priceOrderL2H">从低到高</ion-note>
        <ion-note *ngIf="activeTab === 'price' && !priceOrderL2H">从高到低</ion-note>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>