<ion-header>
  <ion-toolbar style="--border-width: 0;">
    <ion-buttons slot='start' style="font-size: 25px;">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>下单成功</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="up">
      <div>
        <img src="assets/images/order.png" alt="">  
      </div>
    </div>
    <div class="down">
      <div class="success">
        下单成功
      </div>
      <div class="active">
        您的订单需要审批、请于审批完成后到订单列进行支付
      </div>
    </div>
  </div>
  <!-- <div class="hotel-item">
    <img src="" alt="">
    <div class="right-side">
      <div class='name ion-text-wrap'>
        速8酒店
      </div>
      <div class='grade-stars'>
        <ion-text class="grade" color='danger'>
          4.3★★★★
        </ion-text>
        <div class='stars'>
          <ng-container>
            <ion-icon name="star" color='warning'></ion-icon>
            <ion-icon name='star-half' color='warning'></ion-icon>
          </ng-container>
        </div>
        <ion-text class="ion-text-end ion-padding-end price" color='danger'><small>￥</small> <strong>188</strong>
          <small> 起</small> </ion-text>
      </div>
      <div class='ion-text-wrap location'>
        <ion-icon name="location" color='medium'></ion-icon>
        <div class="ion-text-wrap">地址</div>
      </div>
    </div>
  </div> -->

</ion-content>
