<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button [backFn]="back.bind(this)"></app-back-button>
    </ion-buttons>
    <ion-title>扫一扫</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scan-box">
    <div class="scan-bar" [class.moving-bar]='isMovingScanBar'></div>
    <div class="top-left ext-border"></div>
    <div class="top-right ext-border"></div>
    <div class="bottom-left ext-border"></div>
    <div class="bottom-right ext-border"></div>
    <ion-icon name="flashlight-outline" color='light' (click)='onEnableLight(true)' *ngIf='!isLighting'></ion-icon>
    <ion-icon name="flashlight-outline" color='medium' *ngIf='isLighting' (click)='onEnableLight(false)'></ion-icon>
  </div>
</ion-content>