<ion-header>
  <ion-toolbar>
    <ion-title>新增证件</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='formGroup' (ngSubmit)="addCredential()">
    <ion-list>
      <ion-item>
        <ion-label>证件类型</ion-label>
        <ion-select value="brown" okText="确定" cancelText="取消" formControlName='identityType'>
          <ion-select-option value="">--请选择--</ion-select-option>
          <ion-select-option [value]="opt" *ngFor='let opt of identityTypes'>{{opt.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>发证国籍</ion-label>
        <ion-select value="brown" okText="确定" cancelText="取消" formControlName='identityType'>
          <ion-select-option value="">--请选择--</ion-select-option>
          <ion-select-option [value]="opt" *ngFor='let opt of identityTypes'>{{opt.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>证件国籍</ion-label>
        <ion-select value="brown" okText="确定" cancelText="取消" formControlName='identityType'>
          <ion-select-option value="">--请选择--</ion-select-option>
          <ion-select-option [value]="opt" *ngFor='let opt of identityTypes'>{{opt.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
