ion-item-divider[sticky] {
  border-left: 4px solid var(--ion-color-secondary);
  z-index: 1000;
}
.price-list {
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 20vh;
  max-height: 60vh;
  overflow: auto;
  height: 50vh;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform ease-in 200ms;
  &.show {
    transform: translateY(0);
  }
  ion-item-divider {
    position: sticky;
    top: 0;
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
  }
}
:host {
  &.show-price-detail {
    .back-drop {
      pointer-events: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.5);
    }
    app-room-show-item {
      display: block;
      z-index: 101;
    }
  }
}
.small-font {
  font-size: 0.6rem;
}
.change-policy-btn {
  --padding-start: 0;
  margin-left: 0;
}
