<div class="back-drop" *ngIf='isShowPriceDetail'></div>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>信息确认</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ng-container *ngIf='!error else retryTempl'>
    <app-refresher slot='fixed' (ionRefresh)='doRefresh(true)'></app-refresher>
    <ng-container *ngIf='combindInfos?.length'>
      <ng-container *ngFor="let combindInfo of combindInfos">
        <ion-list lines='none'>
          <ion-item-divider color='light'>
            <div style="width: 100%;">
              <div style="padding: 0.5em 0;">
                {{combindInfo?.credential?.CheckName}}
                【成人】
                <span style="color:var(--ion-color-medium)">{{combindInfo?.credential?.Number}}</span>
              </div>
              <div style="display: flex;align-items: center;font-size: 0.9rem;padding-bottom: 0.5em;">
                <img src="assets/svgs/home-hotel.svg" style="width: 1.5em;height: 1.5em;margin-right: 0.5em;" alt="">
                {{tmc?.Name}}
              </div>
            </div>
          </ion-item-divider>
          <ng-container *ngIf='combindInfo.isShowApprovalInfo'>
            <ion-item class="ion-no-margin">
              <ion-label>通知语言:</ion-label>
              <ion-select value='cn' okText="确定" cancelText="取消" [(ngModel)]='combindInfo.notifyLanguage'>
                <ion-select-option value=''>不发</ion-select-option>
                <ion-select-option value='cn'>中文</ion-select-option>
                <ion-select-option value='en'>英文</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="ion-no-margin" *ngIf='isCanSkipApproval$|async'>
              <ion-label style='margin-right: 0.5em'>跳过审批:</ion-label>
              <ion-checkbox class='ion-margin-end' color="secondary" [(ngModel)]='combindInfo.isSkipApprove'>
              </ion-checkbox>
            </ion-item>
            <ion-item class="ion-no-margin" *ngIf='tmc?.IsShowServiceFee || identity?.Numbers?.AgentId'>
              <ion-label>服务费:</ion-label>
              <ion-label slot='end' class='ion-text-end ion-padding-end'>{{getServiceFee(combindInfo)}}元</ion-label>
            </ion-item>
            <ion-item class="ion-no-margin" detail *ngIf='isAllowSelectApprove(combindInfo)'
              (click)='openApproverModal(combindInfo)'>
              <ion-label>
                审批人:<ion-text *ngIf='combindInfo?.appovalStaff'>
                  {{combindInfo?.appovalStaff?.Name}}|{{combindInfo?.appovalStaff?.Email||combindInfo?.appovalStaff?.Account?.Email}}|{{combindInfo?.appovalStaff?.Number||combindInfo?.appovalStaff?.Mobile}}
                </ion-text>
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <strong>酒店预订信息</strong>
            <ion-text class="ion-margin-start" color='danger'
              *ngIf='combindInfo.bookInfo?.bookInfo?.roomPlan?.PaymentType==HotelPaymentType.SelfPay'>
              (到酒店支付)
            </ion-text>
          </ion-list-header>
          <app-room-show-item [attr.dataid]='combindInfo.id' [bookInfo]='combindInfo.bookInfo'
            (arrivalHotel)='onArrivalHotel($event,combindInfo)' (showPriceDetailEvt)='onShowPriceDetails($event)'
            [disabledEdit]='true' [showRules]='false' (bedChange)='onBedchange($event,combindInfo)'>
          </app-room-show-item>
          <ion-item lines='none' *ngIf='getRuleMessage(combindInfo.bookInfo?.bookInfo?.roomPlan) as msg'>
            <ion-label style='font-size: 0.9rem;' class='ion-text-wrap' color='danger'>超标:{{msg}}
            </ion-label>
          </ion-item>
          <ion-item lines='none'>
            <div style='width: 100%;font-size: 0.9rem;'>
              <div>
                <ion-button fill='clear' style="margin-left: -1em;"
                  (click)='combindInfo["isShowRoomPlanRulesDesc"]=!combindInfo["isShowRoomPlanRulesDesc"]'
                  color='secondary'>
                  预订规则:
                  <ion-icon name='caret-down-outline' *ngIf='combindInfo["isShowRoomPlanRulesDesc"]'></ion-icon>
                  <ion-icon name="caret-up-outline" *ngIf='!combindInfo["isShowRoomPlanRulesDesc"]'></ion-icon>
                </ion-button>
              </div>
              <ion-label *ngIf='combindInfo["isShowRoomPlanRulesDesc"]' @flyInOut class='ion-text-wrap' color='danger'>
                {{getRoomPlanRulesDesc(combindInfo.bookInfo?.bookInfo?.roomPlan)}}2019年7月1日起，部分城市将不再主动提供牙刷等一次性日用品，建议自行准备。
              </ion-label>
            </div>
          </ion-item>
        </ion-list>
        <ion-list *ngIf='combindInfo.creditCardInfo.isShowCreditCard' [attr.datacreditcardid]='combindInfo.id'>
          <ion-list-header>信用卡信息</ion-list-header>
          <ion-item>
            <ion-label>信用卡:</ion-label>
            <ion-select [(ngModel)]="combindInfo.creditCardInfo.creditCardType">
              <ion-select-option value="VI">VISA</ion-select-option>
              <ion-select-option value="AX">美国运通卡</ion-select-option>
              <ion-select-option value="CA"> 万事达卡</ion-select-option>
              <ion-select-option value="JC">JCB</ion-select-option>
              <ion-select-option value="DC">大来卡</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>信用卡号:</ion-label>
            <ion-input [(ngModel)]='combindInfo.creditCardInfo.creditCardNumber' placeholder="信用卡卡号"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>CVV:</ion-label>
            <ion-input [(ngModel)]='combindInfo.creditCardInfo.creditCardCvv' placeholder="CVV"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>有效期:</ion-label>
            <ion-select [(ngModel)]="combindInfo.creditCardInfo.expirationYear">
              <ion-select-option value="{{y}}" *ngFor='let y of combindInfo.creditCardInfo.years'>{{y}}
              </ion-select-option>
            </ion-select>
            <ion-select [(ngModel)]="combindInfo.creditCardInfo.expirationMonth"
              [selectedText]='combindInfo.creditCardInfo.expirationMonth+"月"'>
              <ion-select-option value="{{m}}" *ngFor='let m of [1,2,3,4,5,6,7,8,9,10,11,12]'>{{m}}月
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>身份证:</ion-label>
            <ion-select [(ngModel)]="combindInfo.creditCardPersionInfo.credentialType">
              <ion-select-option value="{{CredentialsType.IdCard}}">身份证</ion-select-option>
              <ion-select-option value="{{CredentialsType.Passport}}">护照</ion-select-option>
              <ion-select-option value="{{CredentialsType.Other}}">其它</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>持卡人证件号码:</ion-label>
            <ion-input [(ngModel)]='combindInfo.creditCardPersionInfo.credentialNumber' type='text'
              placeholder="持卡人证件号码">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>持卡人姓名:</ion-label>
            <ion-input [(ngModel)]='combindInfo.creditCardPersionInfo.name' type='text' placeholder="持卡人姓名">
            </ion-input>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header><strong>旅客信息</strong></ion-list-header>
          <app-book-credential-comp [credential]='combindInfo?.vmCredential'
            [canMaintainCredentials]='combindInfo.isCanEditCrendentails'
            (savecredential)='onSavecredential($event,combindInfo)'
            (managementCredentials)='onManagementCredentials(combindInfo)' [credentials]='combindInfo?.credentials'
            (modify)='onModify(combindInfo)'>
          </app-book-credential-comp>
        </ion-list>
        <ion-list>
          <ng-container *ngIf='combindInfo?.bookInfo?.bookInfo?.roomPlan?.Rules && !combindInfo?.isNotWhitelist'>
            <app-book-illegal-reason-comp [illegalReasons]='illegalReasons'
              [isAllowCustomReason]='tmc?.IsAllowCustomReason' (ionchange)='onIllegalReason($event,combindInfo)'>
            </app-book-illegal-reason-comp>
          </ng-container>
          <app-book-costcenter-comp [isOtherCostCenter]='combindInfo.isOtherCostCenter'
            [costCenter]='combindInfo.costCenter' [otherCostCenterCode]='combindInfo.otherCostCenterCode'
            [otherCostCenterName]='combindInfo.otherCostCenterName'
            (ionChange)='onCostCenterChange($event,combindInfo)'>
          </app-book-costcenter-comp>
          <app-book-organization-comp (ionChange)='onOrganizationChange($event,combindInfo)'
            [organization]='combindInfo?.organization' [isOtherOrganization]='combindInfo?.isOtherOrganization'
            [otherOrganizationName]='combindInfo?.otherOrganizationName'></app-book-organization-comp>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <strong>联系方式</strong>
          </ion-list-header>
          <div class='mobiles'>
            <ion-item *ngFor='let mobile of combindInfo?.credentialStaffMobiles'>
              <ion-checkbox color="secondary" [(ngModel)]="mobile.checked"></ion-checkbox>
              <ion-label style='margin-left: 0.5em'>{{mobile.mobile}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label style='margin-right: 0.5em'>其他号码:</ion-label>
              <ion-input [(ngModel)]="combindInfo.credentialStaffOtherMobile" placeholder='请输入其他号码'></ion-input>
            </ion-item>
          </div>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <strong> 联系邮箱</strong>
          </ion-list-header>
          <div class='emails'>
            <ion-item *ngFor='let email of combindInfo?.credentialStaffEmails'>
              <ion-checkbox color="secondary" [(ngModel)]="email.checked"></ion-checkbox>
              <ion-label style='margin-left: 0.5em'>{{email.email}}</ion-label>
            </ion-item>
            <ion-item class='ion-no-margin'>
              <ion-label>其他邮箱</ion-label>
              <ion-input [(ngModel)]="combindInfo.credentialStaffOtherEmail" placeholder='请输入其他邮箱'></ion-input>
            </ion-item>
          </div>
        </ion-list>
        <ion-list *ngIf="isShowApprove(combindInfo)">
          <ion-list-header>
            <strong>审批人</strong>
          </ion-list-header>
          <ion-item>
            <div>
              <ion-row style='margin-top: .5em;'>
                <ion-col>
                  <app-timeline [hideLastTimeLineTail]='false'>
                    <app-timeline-item *ngFor='let it of combindInfo?.credentialStaffApprovers'>
                      第{{it.Tag}}级审批:
                      <ion-label class='ion-text-wrap' *ngFor='let ap of it.approvers;let last'>
                        {{ap.Name}}({{it?.Type==1?"所有通过":"任意通过"}})
                      </ion-label>
                    </app-timeline-item>
                  </app-timeline>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </ion-list>
        <ion-list>
          <app-book-tmc-outnumber [isShowGroupedInfo]="true" [tmcOutNumberInfos]='combindInfo?.tmcOutNumberInfos'
            (tmcOutNumber)='onSelectTravelNumber($event,combindInfo)'></app-book-tmc-outnumber>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <strong>添加联系人:</strong>
          </ion-list-header>
          <ion-item>
            <app-book-addcontacts-comp [addContacts]='combindInfo?.addContacts'
              (contactChange)='onContactsChange($event,combindInfo)'></app-book-addcontacts-comp>
          </ion-item>
        </ion-list>
      </ng-container>
      <ion-list>
        <ion-list-header>
          <strong>支付方式</strong>
        </ion-list-header>
        <ion-radio-group [(ngModel)]='orderTravelPayType' name='travelPayType' (ionChange)='onOrderTravelPayTypeSelect()'>
          <ng-container
            *ngIf='hotelPaymentType==HotelPaymentType.Prepay||hotelPaymentType==HotelPaymentType.Settle else zhifu2'>
            <ng-container *ngFor='let pt of orderTravelPayTypes'>
              <ion-item
                *ngIf='checkOrderTravelPayType(pt.value)||(pt.value == OrderTravelPayType.Credit&&identity?.Numbers?.AgentId)'>
                <ion-label>{{pt.label}}</ion-label>
                <ion-radio [value]="pt.value" [class.radio-checked]='orderTravelPayType==pt.value'>
                </ion-radio>
              </ion-item>
            </ng-container>
          </ng-container>
          <ng-template #zhifu2>
            <ion-item *ngIf='hotelPaymentType==HotelPaymentType.SelfPay&&notShowServiceFee() else zhifu3'>
              <ion-label>前台现付</ion-label>
              <ion-radio value="Company">
              </ion-radio>
            </ion-item>
          </ng-template>
          <ng-template #zhifu3>
            <ng-container *ngFor='let pt of orderTravelPayTypes'>
              <ion-item
                *ngIf='checkOrderTravelPayType(pt.value)||(pt.value==OrderTravelPayType.Credit&&identity?.Numbers?.AgentId)'>
                <ion-label>前台现付(服务费:{{pt.label}})</ion-label>
                <ion-radio [value]="pt.value">
                </ion-radio>
              </ion-item>
            </ng-container>
          </ng-template>
        </ion-radio-group>
      </ion-list>
    </ng-container>
  </ng-container>
  <ng-template #retryTempl>
    <ion-row style="position: relative;top:35%">
      <ion-col class='ion-text-center'>
        <ion-label color='danger'>请求数据出错</ion-label>
        <ion-button fill='clear' expand='block' color='secondary' (click)='doRefresh(false)'>点击重试</ion-button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='secondary'>总计:
        <ion-text slot='end' color='danger'>￥{{totalPrice}}</ion-text>
      </ion-button>
    </ion-buttons>
    <ion-button slot='end' color='secondary' [disabled]='isSubmitDisabled' size='small' (click)='onBook(false)'> 提交
    </ion-button>
    <ion-buttons slot='end' *ngIf='identity?.Numbers?.AgentId'>
      <ion-button color='secondary' (click)='onBook(true)' [disabled]='isSubmitDisabled'>保存订单</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<div [class.show]='isShowPriceDetail' class="price-list">
  <div>{{calcNights()}}晚,共<small>￥</small>{{curSelectedBookInfo?.bookInfo?.roomPlan?.TotalAmount}}
  </div>
  <ul>
    <li *ngFor='let d of dates'>
      <span>{{d.date}}</span>
      <ion-label class='ion-margin-start'>1&times;<small>￥</small>{{d.price}}</ion-label>
    </li>
  </ul>
</div>
<app-waiting-check-pay [isLoading]='true' *ngIf='isCheckingPay'>正在预订中，请稍后...</app-waiting-check-pay>