ion-header {
    ion-toolbar {
        // --ion-safe-area-top: 1em;
        // --padding-bottom: 0.5em;
        ion-buttons {
            app-back-button {
                align-self: flex-start;
            }
        }
    }
    .bar {
        width: 100%;
        .date {
            height: 3em;
            min-height: 3em;
            padding-right: 1em;
            display: flex;
            align-items: center;
            font-size: 0.7rem;
            .checkin-checkout-date {
                min-width: 5em;
                .checkin,
                .checkout {
                    color: var(--ion-color-secondary);
                    margin-left: 0.25em;
                }
            }
            .search-box {
                width: calc(100% - 9em);
                height: 80%;
                padding: 0.5em;
                display: flex;
                margin-left: 0.5em;
                align-items: center;
                background-color: #f6f6f6;
                .hint {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    opacity: 0.4;
                }
                ion-icon {
                    opacity: 0.4;
                    min-width: 1em;
                }
                .close {
                    margin-left: auto;
                    font-size: 1rem;
                    opacity: 1;
                }
            }
            min-width: 5em;
        }
        .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.fake {
    h2:nth-child(2n) {
        padding: 0.5em 0;
    }
}

.query-condition {
    position: fixed;
    // top: 7em;
    left: 0;
    right: 0;
    margin-top: -0.25em;
    background-color: white;
    opacity: 0;
    z-index: -1000;
    top: 6em;
    &.md {
        top: 6em;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -100;
    opacity: 0;
    width: 100vw;
    background-color: rgba(var(--ion-color-dark-rgb), 0.5);
    overflow: hidden;
    height: 100%;
    top: 6em;
    &.show {
        z-index: 1;
        opacity: 1;
    }
}

// ion-infinite-scroll {
//   bottom: 0;
//   background-color: white;
//   visibility: hidden;
//   &.infinite-scroll-loading {
//     visibility: visible;
//   }
// }
.empty-padding {
    padding-top: 3em;
}

ion-fab {
    margin-bottom: 3em;
}

:host.dark {
    ion-header .bar .date .search-box {
        background-color: var(--ion-item-background, var(--ion-background-color, #fff));
    }
}