.list-item {
    // background-color: white;
    padding: 0.5em 1em;
    &.shade {
        background-color: rgba(var(--ion-color-medium-rgb), 0.3);
    }
}

.list-item {
    border-bottom: 1px solid rgba(var(--ion-color-dark-rgb), 0.13);
}

.left .airports,
.desc,
.price,
.left .time {
    display: flex;
    align-items: center;
}

.desc {
    margin: 0.3em 0;
}

.desc img {
    margin: 0 0.3em 0 0;
    width: 1em;
}

.left {
    margin-right: 1em;
    flex: 1;
}

.left .airports,
.line,
.desc {
    font-size: 0.8rem;
}

.left .airports,
.left .time {
    justify-content: space-between;
}

.code-share-number {
    color: var(--ion-color-secondary);
}

.price {
    text-align: end;
    display: block;
    width: calc(20vw - 1em);
    color: var(--ion-color-danger);
    .tip {
        font-size: 0.7rem;
        font-weight: bold;
        color: var(--ion-color-success);
    }
}

.addoneday {
    position: relative;
    right: 0.2em;
    bottom: 0.5em;
    font-size: 0.6rem;
    color: var(--ion-color-secondary);
}

.recomend-segment {
    padding: 0.5em;
    border-radius: 0.3em;
    border-top-left-radius: 0;
    .price {
        align-self: flex-start;
    }
    background-color: rgba(var(--ion-color-secondary-rgb), 0.1);
}

.tip.recomend-segment {
    background: var(--ion-color-primary);
    // background: transparent;
    width: 9em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0.1em 0.2em;
    font-size: 0.7rem;
    color: var(--ion-color-success);
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
}

.agreement {
    color: tomato;
    font-weight: bold;
}

.line {
    color: initial;
    margin: 0 -3px;
    font-weight: initial;
}

:host {
    display: block;
    width: 100%;
}