<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'>
      <ion-button fill='clear'>
        <app-scan-comp></app-scan-comp>
      </ion-button>
    </ion-buttons>
    <ion-title text-center appShowtip>
      <ion-text *ngIf='selectedCompany$|async as company'>{{company}}</ion-text>
      {{(identity$|async)?.Name}}
    </ion-title>
    <ion-buttons slot='end' *ngIf='(identity$|async)?.Numbers?.AgentId;else selectCompany'>
      <ion-button fill='clear' size='small' (click)='onSwitchCustomer()'>
        <ion-chip color='success'>
          <ion-label>切换客户</ion-label>
        </ion-chip>
      </ion-button>
    </ion-buttons>
    <ng-template #selectCompany>
      <ion-buttons slot='end' *ngIf="companies?.length>1">
        <ion-button fill='clear' size='small' (click)='onSwitchCompany()'>
          <ion-chip color='success'>
            <ion-label>切换公司</ion-label>
          </ion-chip>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar (click)='goToBulletinList("agentNotice")'>
    <div class="marquee">
      <ion-text *ngFor='let notice of agentNotices;let index = index;'>{{index+1}}.{{notice?.Title}}</ion-text>
    </div>
  </ion-toolbar>
  <div class="img">
    <img appLazyloadimage [lazyloadImage]='"assets/images/home_top_bg.png"' />
  </div>
  <ion-grid>
    <ion-row wrap>
      <ion-col size="4">
        <div class="item" [routerLink]="['/book-flight']">
          <ion-label>
            <i class="icon icon-home-plane"></i>
            <!-- <img src="assets/svgs/home-plane.svg" appLazyloadimage alt="机票"> -->
          </ion-label>
          <ion-text>国内机票</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col [routerLink]="['/book-hotel']" size="4">
        <div class="item">
          <ion-label>
              <img src="assets/svgs/hotel.svg" appLazyloadimage alt="酒店">
            <!-- <i class="icon icon-hotel"></i> -->
          </ion-label>
          <ion-text>国内酒店</ion-text>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
      <ion-col [routerLink]="['/book-train']" size="4">
        <div class="item">
          <ion-label>
              <!-- <img src="assets/svgs/home-train.svg" appLazyloadimage alt="火车票"> -->
            <i class="icon icon-home-train"></i>
          </ion-label>
          <ion-text>火车票</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>

      <!-- <ion-col>
        <div class="item" (click)="wechatpay()">
          <ion-label>
            <i class="icon-train"></i>
          </ion-label>
          <ion-text>微信支付</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col>
        <div class="item" (click)="alipay()">
          <ion-label>
            <i class="icon-train"></i>
          </ion-label>
          <ion-text>支付宝支付</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <ion-grid margin-top>
    <ion-row>
      <ion-col (click)='goToBulletinList()' size="4">
        <div class="item">
          <ion-label>
              <!-- <img src="assets/svgs/home-train.svg" appLazyloadimage alt="火车票"> -->
            <i class="icon icon-home-train"></i>
          </ion-label>
          <ion-text>公告</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <app-crop-image-comp></app-crop-image-comp> -->

  <!-- <div margin>
    
    <ion-text>{{ aliPayResult$ | async | json }}</ion-text>
    <ion-button (click)="accountSecurityEn()" expand="block"
      >account-security-en，已经定义</ion-button
    >
    <ion-button (click)="aliPay()" expand="block"
      >跳转到setting-en，当前未定义该页面</ion-button
    >
    <ion-button [routerLink]="['/bind_en']" expand="block"
      >bind-en，当前未定义该页面</ion-button
    >
    <ion-button [routerLink]="['/login_en']" expand="block"
      >login-en，当前未定义该页面</ion-button
    >
    <ion-button (click)="wxPay()" expand="block">微信支付</ion-button>
    <ion-text>{{ wxPayResult$ | async | json }}</ion-text>
  </div> -->
  <!-- <ion-item class='hat' no-padding no-margin lines='none'>
    <ion-thumbnail class='left' (click)='testAction()'>
      <img src='/assets/images/hotel.jpg'>
    </ion-thumbnail>
    <div class='ta'>
      <img src='/assets/images/airplane.jpg'>
      <img src='/assets/images/train.jpg'>
    </div>
  </ion-item> -->
</ion-content>