<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot='start'>
      <ion-button fill='clear' *ngIf='canShow'>
        <app-scan-comp></app-scan-comp>
      </ion-button>
    </ion-buttons>
    <ion-title class='ion-text-center' appShowtip>
      <ng-container *ngIf='canSelectCompany$|async'>
        <ion-text *ngIf='selectedCompany$|async as company'>{{company}}</ion-text>
      </ng-container>
      {{identity?.Name}}
    </ion-title>
    <ion-buttons slot='end' *ngIf='identity?.Numbers?.AgentId;else selectCompany'>
      <ion-button fill='clear' size='small' (click)='onSwitchCustomer()'>
        <ion-chip color='success'>
          <ion-label>切换客户</ion-label>
        </ion-chip>
      </ion-button>
    </ion-buttons>
    <ng-template #selectCompany>
      <ion-buttons slot='end' *ngIf="(canSelectCompany$|async)&&companies?.length>1">
        <ion-button fill='clear' size='small' (click)='onSwitchCompany()'>
          <ion-chip color='success'>
            <ion-label>切换公司</ion-label>
          </ion-chip>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="img">
    <img [src]='"assets/images/home_top_bg.png"' />
  </div>
  <ion-toolbar class="text-swiper" (click)='goToBulletinList("agentNotice")'> 
    <ion-slides  class="announcement-container" [options]='options' (ionSlideTouchEnd)='onSlideTouchEnd()'>
      <ion-slide *ngFor='let n of agentNotices'>
        <div class='announcement'>
          <img src="assets/svgs/announcement.svg" alt="通知图片">
          <div class="text ion-text-start">{{n.text}}</div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
  <ion-grid>
    <ion-row wrap>
      <ion-col size="4">
        <div class="item" (click)='goToPage("flight")'>
          <ion-label>
            <!-- <i class="icon icon-home-plane"></i> -->
            <img src="assets/svgs/home-plane.svg" alt="机票">
          </ion-label>
          <ion-text>国内机票</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col (click)='goToPage("hotel")' size="4">
        <div class="item">
          <ion-label>
            <img src="assets/svgs/hotel.svg" alt="酒店" [style.height.em]='3'>
            <!-- <i class="icon icon-hotel"></i> -->
          </ion-label>
          <ion-text>国内酒店</ion-text>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
      <ion-col (click)='goToPage("train")' size="4">
        <div class="item">
          <ion-label>
            <img src="assets/svgs/home-train.svg" alt="火车票">
            <!-- <i class="icon icon-home-train"></i> -->
          </ion-label>
          <ion-text>火车票</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>

      <!-- <ion-col>
        <div class="item" (click)="wechatpay()">
          <ion-label>
            <i class="icon-train"></i>
          </ion-label>
          <ion-text>微信支付</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col>
        <div class="item" (click)="alipay()">
          <ion-label>
            <i class="icon-train"></i>
          </ion-label>
          <ion-text>支付宝支付</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <ion-grid class='ion-margin-top'>
    <ion-row>
      <ion-col (click)='goToPage("rentalCar")' size="4">
        <div class="item">
          <ion-label>
            <img src="assets/svgs/home-rentalCar.svg" alt="租车" [style.height.em]='3'>
            <!-- <i class="icon icon-hotel"></i> -->
          </ion-label>
          <ion-text>租车</ion-text>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
      <ion-col (click)='goToPage("bulletin","notice")' size="4">
        <div class="item">
          <ion-label>
            <img src="assets/svgs/announcement.svg" alt="通知">
            <!-- <i class="icon icon-announcement"></i> -->
          </ion-label>
          <ion-text style="margin-top: 0;">通知</ion-text>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <app-crop-image-comp></app-crop-image-comp> -->

  <!-- <div margin>
    
    <ion-text>{{ aliPayResult$ | async | json }}</ion-text>
    <ion-button (click)="accountSecurityEn()" expand="block"
      >account-security-en，已经定义</ion-button
    >
    <ion-button (click)="aliPay()" expand="block"
      >跳转到setting-en，当前未定义该页面</ion-button
    >
    <ion-button [routerLink]="['/bind_en']" expand="block"
      >bind-en，当前未定义该页面</ion-button
    >
    <ion-button [routerLink]="['/login_en']" expand="block"
      >login-en，当前未定义该页面</ion-button
    >
    <ion-button (click)="wxPay()" expand="block">微信支付</ion-button>
    <ion-text>{{ wxPayResult$ | async | json }}</ion-text>
  </div> -->
  <!-- <ion-item class='hat' no-padding no-margin lines='none'>
    <ion-thumbnail class='left' (click)='testAction()'>
      <img src='/assets/images/hotel.jpg'>
    </ion-thumbnail>
    <div class='ta'>
      <img src='/assets/images/airplane.jpg'>
      <img src='/assets/images/train.jpg'>
    </div>
  </ion-item> -->
</ion-content>