ion-header ion-title {
  font-size: 0.9rem;
}
app-image-swiper {
  height: 3em;
  width: 100%;
  display: block;
}
.img {
  --background: white;
  --border-width: 0;
  position: relative;
  img {
    object-fit: cover;
    -o-object-fit: cover;
    max-height: 45vh;
    width: 100vw;
    height: 45vh;
  }
}

ion-grid ion-row ion-col {
  outline: none;
  .item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    outline: none;
    ion-text {
      margin-top: 0.5rem;
    }
    ion-label {
      // background: var(--ion-color-primary);
      // padding: 0;
      // margin: 0;
      // width: 4rem;
      // height: 4rem;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // border-radius: 50%;
      [class*="icon-"] {
        font-size: 2.5rem;
        color: var(--ion-color-secondary);
      }
    }
  }
}
.hat {
  .left {
    flex: 3;
    height: 100%;
    padding: 4px;
  }
  .ta {
    padding-top: 2px;
    padding-bottom: 2px;
    flex: 2;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    ion-img {
      flex: 1;
    }
    overflow: hidden;
  }
}
@keyframes marqueeanimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-203%);
  }
}
.marquee {
  width: 100%;
  white-space: nowrap;
  animation: 15s linear 0s infinite normal both marqueeanimation;
  ion-text {
    margin-left: 0.5em;
  }
}
