<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
        </ion-buttons>
        <ion-title style="font:inherit;margin:auto">审批任务</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-refresher slot='fixed' (ionRefresh)='doRefresh()'>
        <ion-refresher-content>正在加载...</ion-refresher-content>
    </app-refresher>
    <div class="container">
        <div class="tabbar">
            <span class="tabbar_wait" (click)="onTaskApp()" [class.active]='isactivename=="待我审批"'>待我审批</span>
            <span class="tabbar_has" (click)="onTaskReviewed()" [class.active]='isactivename=="已审任务"'>已审任务</span>
        </div>
        <div class="no_appcalition" *ngIf="!isLoading&&!tasks?.length">
            <div>
                <div>
                    <img class="app_img" src="assets/images/no_application.png" />
                </div>
                <div class="div_app">
                    <p *ngIf="isStates">暂无审批</p>
                    <p *ngIf="!isStates">暂无内容</p>
                </div>
            </div>
        </div>
        <div class="bg wait_apply" *ngIf='tasks?.length'>
            <div *ngFor="let task of tasks" (click)='onTaskDetail(task)' class="task-item">
                <section class="section" *ngIf="task.Tag=='TravelForm' ">
                    <p class="h_line h_line_mini"></p>
                    <div class="apply_info" style="padding: 18px 23px;">
                        <p><span class="apply_info_tit"><span>申请人：</span><span>{{task?.Applicant}}</span></span><span class="apply_info_time"></span></p>
                        <p><span class="apply_info_tit"><span>申请时间：</span><span>{{task?.ApplicationTime}}</span></span><span class="apply_info_time"></span></p>
                        <p>
                            <span class="apply_info_tit" style="display: flex;">
                                <span class="start">
                                    行程：
                                </span>
                            <span>
                                    <span style="min-width: 220px;color: black;">
                                        {{task?.Trip}}
                                    </span>
                            </span>
                            <!-- <span>出差城市：</span><span>{{task?.Trip}}</span></span> -->
                            </span>
                            <span class="apply_info_time"></span>
                        </p>
                        <p *ngIf="isChenkInCity">
                            <span class="apply_info_tit"><span>入住城市：
                                </span><span>{{task?.CheckInCity}}</span></span><span class="apply_info_time"></span>
                        </p>
                        <p><span class="apply_info_tit"><span>出差总天数：</span><span>{{task?.DayCount}}</span></span><span class="apply_info_time"></span></p>
                        <p><span class="apply_info_tit"><span>类别：</span><span *ngIf="task?.Tag=='TravelForm'">事前审批</span><span *ngIf="task?.Tag!='TravelForm'">{{task.OrderTypeName}}</span></span><span class="apply_info_time"></span></p>
                        <p><span class="apply_info_tit"><span>单号：</span><span>{{task?.ConsumerId}}</span></span><span class="apply_info_time"></span></p>
                    </div>
                </section>
                <section class="section" *ngIf="task.Tag!='TravelForm'">
                    <p class=" h_line h_line_mini "></p>
                    <div class="apply_info ">
                        <p><span class="apply_info_tit "><span>申请人：</span><span>{{task?.Applicant}}</span></span><span class="apply_info_time "></span></p>
                        <p><span class="apply_info_tit "><span>出行人：</span><span>{{task?.Travelers}}</span></span><span class="apply_info_time "></span></p>
                        <p><span class="apply_info_tit "><span>出行时间：</span><span>{{task?.TravelTime}}</span></span><span class="apply_info_time "></span></p>
                        <p><span class="apply_info_tit "><span>行程：</span><span>{{task?.Trip}}</span></span><span class="apply_info_time "></span></p>
                        <!-- <p><span class="apply_info_tit " style="display: flex; ">
                            <span class="start ">
                                行程:
                            </span>
                            <span class="main ">
                                <span style="min-width: 220px;color: black; ">
                                    {{task?.Trip}}
                                </span>
                            </span>
                            </span><span class="apply_info_time "></span>
                        </p> -->
                        <p><span class="apply_info_tit "><span>类别：</span><span>{{task?.OrderTypeName}}</span></span><span class="apply_info_time "></span></p>
                        <p><span class="apply_info_tit "><span>单号：</span><span>{{task?.OrderId}}</span></span><span class="apply_info_time "></span></p>
                    </div>
                </section>
                <img class="img" src="assets/images/pass.png " *ngIf='task.StatusPicName=="Pass"' alt=" ">
                <img class="img" src="assets/images/deny.png " *ngIf='task.StatusPicName=="Refuse"' alt=" ">
                <img class="img" src="assets/images/close.png " *ngIf='task.StatusPicName=="Close"' alt=" ">
                <img class="img" src="assets/images/overdue.png" *ngIf='task.StatusPicName=="Overdue"'>

            </div>
        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)='doLoadMoreTasks()'>
        <ion-infinite-scroll-content>加载更多</ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>