
<ion-content>
  <ion-list class="list">
    <div class="container">
      <ion-segment (ionChange)="segmentChanged($event)" mode='md' value="plane" color='secondary'>
        <ion-segment-button value="plane">
          <ion-label>接/送机</ion-label>
        </ion-segment-button>
        <ion-segment-button value="train">
          <ion-label>接/送火车</ion-label>
        </ion-segment-button>
        <ion-segment-button value="domestic">
          <ion-label>国内包车</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ng-container *ngIf='carType=="plane"'>
        <div class="plane">
          <div class="item">
            <ion-input placeholder='请输入联系人'></ion-input>
          </div>
          <div class="item">
            <ion-input placeholder='请输入手机号'></ion-input>
          </div>
          <div class="item">
            <ion-text>12月20日
              <span>今天</span>
            </ion-text>
            <ion-text>12:30</ion-text>
          </div>
          <div class="item">
            <ion-text>MU3880</ion-text>
          </div>
          <div class="item">
            <div class="label">上海市</div>
            <div class="main">
              <ion-text>徐汇区肇家浜路</ion-text>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </div>
          <div class="item">
            <div class="main">
              <ion-input size='2' placeholder='请输入备注'></ion-input>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf='carType=="train"'>
        <div class="train">
          <div class="item">
            <ion-input placeholder='请输入联系人'></ion-input>
          </div>
          <div class="item">
            <ion-input placeholder='请输入手机号'></ion-input>
          </div>
          <div class="item">
            <ion-text>12月20日
              <span>今天</span>
            </ion-text>
            <ion-text>12:30</ion-text>
          </div>
          <div class="item">
            <ion-text>上海火车站</ion-text>
          </div>
          <div class="item">
            <div class="label">上海市</div>
            <div class="main">
              <ion-text>徐汇区肇家浜路</ion-text>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </div>
          <div class="item">
            <div class="main">
              <ion-input size='2' placeholder='请输入备注'></ion-input>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf='carType=="domestic"'>
        <div class="department">
          <div class="item">
            <ion-input placeholder='请输入联系人'></ion-input>
          </div>
          <div class="item">
            <ion-input placeholder='请输入手机号'></ion-input>
          </div>
          <div class="time">
            <div class="left">
              <div class="up">12月20日</div>
              <div class="down"><span>今天</span><span>22:00</span></div>
            </div>
            <div>7天</div>
            <div class="right">
              <div class="up">12月27日</div>
              <div class="down a"><span>今天</span><span>22:00</span></div>
            </div>
          </div>
          <div class="item">
            <div class="left">
              <div class="label"><div class="yellow"></div>开始地点</div>
              <div class="address">
                <div class="city">上海市</div>
                <div class="detailed">上海市徐汇区肇嘉浜路376号</div>
              </div>
            </div>
            <div class="right">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </div>
          <div class="item">
            <div class="left">
              <div class="label"><div class="green"></div>结束地点</div>
              <div class="address">
                <div class="city">上海市</div>
                <div class="detailed">上海市徐汇区肇嘉浜路376号</div>
              </div>
            </div>
            <div class="right">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </div>
          <div class="item">
            <div class="main">
              <ion-input size='2' placeholder='请输入备注'></ion-input>
            </div>
          </div>
          <!-- <div class="btn">
            <ion-button color="secondary" class="ion-top">
              <ion-text>提 交</ion-text>
            </ion-button>
          </div> -->
        </div>
      </ng-container>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="btn_container">
    <ion-button color="secondary" class="ion-top">
      <ion-text>提 交</ion-text>
    </ion-button>
  </div>
</ion-footer>
