.list {
  margin: 10px;
  border-radius: 10px;
  .container {
    line-height: 3.3;
  }
  .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 1.5em;
    line-height: 2;
    ion-input {
      height: 52px;
      font-size: 15px;
    }
    .label {
      font-size: 15px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
      min-width: 7em;
    }
    label {
      font-size: 15px;
      display: flex;
      align-items: center;
      margin-right: 13px;
      input {
        margin-right: 12px;
      }
    }

    .main {
      display: flex;
      align-items: center;
      width: 100%;
      ion-input {
        font-size: 15px;
        height: 52px;
      }
    }
    ion-icon {
      font-size: 18px;
      margin-left: 3em;
    }
    ion-text {
      min-width: 13.5em;
      font-size: 15px;
    }

    .left {
      display: grid;
      .label {
        font-size: 11px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #666666;
        min-width: 7em;
        display: flex;
        align-items: center;
      }
      .address {
        display: flex;
        font-size: 15px;
      }
      .yellow,
      .green {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .yellow {
        background: chocolate;
      }
      .green {
        background: green;
      }
    }
  }
  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5em;
    line-height: 2.2;
    border-bottom: 1px solid #e0e0e0;
    .left,
    .right {
      display: grid;
    }
    .up {
      font-size: 18px;
    }
    .down {
      font-size: 14px;
      color: #666666;
    }
    .a {
      justify-content: flex-end;
    }
  }

  .department {
    margin-right: 15px;
  }
}

ion-footer {
  display: flex;
  align-items: center;
  justify-items: center;
  background: #fff;
  .btn_container {
    display: flex;
    justify-content: center;
    width: 100%;
    .ion-top {
      --border-radius: 20px;
      width: 90%;
      height: 2.5rem;
    }
  }
}
