<div class="list">
  <div class="container">
    <ion-segment
      scrollable
      (ionChange)="segmentChanged($event)"
      mode="md"
      value="{{demandCarType}}"
      color="secondary">
      <ion-segment-button value="{{CarType.PickUpFlight}}">
        <ion-label>接机</ion-label>
      </ion-segment-button>
      <ion-segment-button value="{{CarType.DeliverFlight}}">
        <ion-label>送机</ion-label>
      </ion-segment-button>
      <ion-segment-button value="{{CarType.PickUpTrain}}">
        <ion-label>接火车</ion-label>
      </ion-segment-button>
      <ion-segment-button value="{{CarType.DeliverTrain}}">
        <ion-label>送火车</ion-label>
      </ion-segment-button>
      <ion-segment-button value="{{CarType.CharterCar}}">
        <ion-label>国内包车</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ng-container *ngIf="demandCarType == CarType.PickUpFlight">
      <ion-list lines="none">
        <ion-radio-group value="biff" class="group" mode="md">
          <ion-item style="border-bottom: 0">
            <ion-label>国内</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>
          <ion-item style="border-bottom: 0">
            <ion-label>境外</ion-label>
            <ion-radio slot="start" value="Griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <div class="plane">
        <div class="item">
          <ion-input placeholder="请输入联系人" [(ngModel)]="demandPickUpFlightModel.LiaisonName"></ion-input>
        </div>
        <div class="item">
          <ion-input placeholder="请输入手机号" [(ngModel)]="demandPickUpFlightModel.LiaisonPhone"></ion-input>
        </div>
        <div class="item">
          <div class="date">起飞日期</div>
          <ion-datetime style="flex: 3;" displayFormat="YYYY-DD-MM" [(ngModel)]="demandPickUpFlightModel.FilghtDepartureDate" doneText="确定" cancelText="取消">
          </ion-datetime>
        </div>
        <div class="item">
          <ion-input placeholder="请输入航班号" [(ngModel)]="demandPickUpFlightModel.FlightNumber"></ion-input>
        </div>
        <div class="item">
          <div class="main" (click)="onSelectFromCity()">
            <ion-text size="2">{{demandPickUpFlightModel.CityName}}</ion-text>
          </div>
        </div>
        <div class="item">
          <div class="main">
            <ion-input size="2" placeholder="请输入备注" [(ngModel)]="demandPickUpFlightModel.Remarks"></ion-input>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="demandCarType == CarType.DeliverFlight">
      <ion-list lines="none">
        <ion-radio-group value="biff" class="group" mode="md">
          <ion-item style="border-bottom: 0">
            <ion-label>国内</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>
          <ion-item style="border-bottom: 0">
            <ion-label>境外</ion-label>
            <ion-radio slot="start" value="Griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <div class="plane">
        <div class="item">
          <ion-input placeholder="请输入联系人" [(ngModel)]="demandDeliverFlightModel.LiaisonName"></ion-input>
        </div>
        <div class="item">
          <ion-input placeholder="请输入手机号" [(ngModel)]="demandDeliverFlightModel.LiaisonPhone"></ion-input>
        </div>
        
        <div class="item">
          <div class="date">起飞日期</div>
          <ion-datetime style="flex: 3;" displayFormat="YYYY-DD-MM" [(ngModel)]="demandDeliverFlightModel.DeliverFilghtDepartureDate" doneText="确定" cancelText="取消">
          </ion-datetime>
          <ion-datetime style="max-width: initial;flex: 3;" displayFormat="HH:mm" [(ngModel)]="demandDeliverFlightModel.DeliverFilghtDepartureTime" doneText="确定" cancelText="取消">
          </ion-datetime>
        </div>
        <!-- <div class="item">
          <ion-text
            >{{demandDeliverFlightModel.FlightNumber}}
          </ion-text>
        </div> -->
        <div class="item">
          <ion-input placeholder="请输入航班号" [(ngModel)]="demandDeliverFlightModel.FlightNumber"></ion-input>
        </div>
        <div class="item">
          <ion-input placeholder="请输入城市" value='上海市' [(ngModel)]="demandDeliverFlightModel.CityName"></ion-input>
        </div>
        <div class="item">
          <div class='address'>详细地址</div>
          <div class="main" (click)="onSelectDetailCity()">
            <ion-text>{{demandDeliverFlightModel.Address}}</ion-text>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="item">
          <div class="main">
            <ion-input size="2" [(ngModel)]="demandDeliverFlightModel.Remarks" placeholder="请输入备注"></ion-input>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="demandCarType == CarType.PickUpTrain">
      <ion-list lines="none">
        <ion-radio-group value="biff" class="group" mode="md">
          <ion-item style="border-bottom: 0">
            <ion-label>国内</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>
          <ion-item style="border-bottom: 0">
            <ion-label>境外</ion-label>
            <ion-radio slot="start" value="Griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <div class="train">
        <div class="item">
          <ion-input placeholder="请输入联系人" [(ngModel)]="demandPickUpTrainModel.LiaisonName"></ion-input>
        </div>
        <div class="item">
          <ion-input placeholder="请输入手机号" [(ngModel)]="demandPickUpTrainModel.LiaisonPhone"></ion-input>
        </div>
        <div class="item">
          <div class="date">用车时间</div>
          <ion-datetime  displayFormat="YYYY-DD-MM" [(ngModel)]="demandPickUpTrainModel.PickUpUseCarDate" doneText="确定" cancelText="取消">
          </ion-datetime>
          <ion-datetime style="max-width: initial;" displayFormat="HH:mm" [(ngModel)]="demandPickUpTrainModel.PickUpUseCarTime" doneText="确定" cancelText="取消">
          </ion-datetime>
        </div>
        <div class="item">
          <ion-input placeholder="请输入火车站" [(ngModel)]="demandPickUpTrainModel.TrainStationName"></ion-input>
        </div> 
        <div class="item">
          <ion-input placeholder="请输入城市" value='上海市' [(ngModel)]="demandPickUpTrainModel.CityName"></ion-input>
        </div>
        <div class="item">
          <div class='address'>详细地址</div>
          <div class="main" (click)="onSelectPickUpCity()">
            <ion-text>{{demandPickUpTrainModel.Address}}</ion-text>
          </div>
        </div>
        <div class="item">
          <div class="main">
            <ion-input size="2" [(ngModel)]="demandPickUpTrainModel.Remarks" placeholder="请输入备注"></ion-input>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="demandCarType == CarType.DeliverTrain">
      <ion-list lines="none">
        <ion-radio-group value="biff" class="group" mode="md" >
          <ion-item style="border-bottom: 0">
            <ion-label>国内</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>
          <ion-item style="border-bottom: 0">
            <ion-label>境外</ion-label>
            <ion-radio slot="start" value="Griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <div class="train">
        <div class="item">
          <ion-input placeholder="请输入联系人" [(ngModel)]="demandDeliverTrainModel.LiaisonName"></ion-input>
        </div>
        <div class="item">
          <ion-input placeholder="请输入手机号" [(ngModel)]="demandDeliverTrainModel.LiaisonPhone"></ion-input>
        </div>
        <div class="item">
          <div class="date">用车时间</div>
          <ion-datetime  displayFormat="YYYY-DD-MM" [(ngModel)]="demandDeliverTrainModel.DeliverUseCarDate" doneText="确定" cancelText="取消">
          </ion-datetime>
          <ion-datetime style="max-width: initial;" displayFormat="HH:mm" [(ngModel)]="demandDeliverTrainModel.DeliverUseCarTime" doneText="确定" cancelText="取消">
          </ion-datetime>
        </div>
        <div class="item">
          <ion-input placeholder="请输入火车站" [(ngModel)]="demandDeliverTrainModel.TrainStationName"></ion-input>
        </div>
        <div class="item">
          <ion-input placeholder="请输入城市" value='上海市' [(ngModel)]="demandDeliverTrainModel.CityName"></ion-input>
        </div>
        <div class="item">
          <div class='address'>详细地址</div>
          <div class="main" (click)="onSelectDeliverCity()">
            <ion-text>{{demandDeliverTrainModel.Address}}</ion-text>
            <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
          </div>
        </div>
        <div class="item">
          <div class="main">
            <ion-input size="2" placeholder="请输入备注" [(ngModel)]="demandDeliverTrainModel.Remarks"></ion-input>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="demandCarType == CarType.CharterCar">
      <ion-list lines="none">
        <ion-radio-group value="biff" class="group" mode="md" [(ngModel)]="demandCharterCarModel.CharterCarType">
          <ion-item style="border-bottom: 0">
            <ion-label>市内</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>
          <ion-item style="border-bottom: 0">
            <ion-label>跨域</ion-label>
            <ion-radio slot="start" value="Griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <div class="department">
        <div class="item">
          <ion-input placeholder="请输入联系人" [(ngModel)]="demandCharterCarModel.LiaisonName"></ion-input>
        </div>
        <div class="item">
          <ion-input placeholder="请输入手机号" [(ngModel)]="demandCharterCarModel.LiaisonPhone"></ion-input>
        </div>
        <div class="item">
          <div class="date">用车时间</div>
          <ion-datetime  displayFormat="YYYY-DD-MM" [(ngModel)]="demandCharterCarModel.CharterCarDate" doneText="确定" cancelText="取消">
          </ion-datetime>
          <ion-datetime style="max-width: initial;" displayFormat="HH:mm" [(ngModel)]="demandCharterCarModel.CharterCarTime" doneText="确定" cancelText="取消">
          </ion-datetime>
        </div>
        <div class="item">
          <div class="date">包车天数</div>
          <div class="main">
            <ion-select class="custom-options" cancelText="取消" okText="确定" value="1" [(ngModel)]="demandCharterCarModel.CharterCarDays">
              <ion-select-option value="1天">1天</ion-select-option>
              <ion-select-option value="2天">2天</ion-select-option>
              <ion-select-option value="3天">3天</ion-select-option>
              <ion-select-option value="4天">4天</ion-select-option>
              <ion-select-option value="5天">5天</ion-select-option>
              <ion-select-option value="6天">6天</ion-select-option>
              <ion-select-option value="7天">7天</ion-select-option>
              <ion-select-option value="8天">8天</ion-select-option>
              <ion-select-option value="9天">9天</ion-select-option>
              <ion-select-option value="10天">10天</ion-select-option>
              <ion-select-option value="更多天数">更多天数</ion-select-option>
            </ion-select>
          </div>
        </div>
        <div class="item" (click)="onSelectStartCity()">
          <div class="left">
            <div class="label">
              <div class="yellow"></div>
              开始地点
            </div>
            <div class="address">
              <div class="detailed" >
                <ion-text>{{demandCharterCarModel.ServiceStartCity}}</ion-text>
              </div>
            </div>
          </div>
          <div class="right">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="item" (click)="onSelectEndCity()">
          <div class="left">
            <div class="label">
              <div class="green"></div>
              结束地点
            </div>
            <div class="address">
                <div class="detailed" >
                  <ion-text>{{demandCharterCarModel.ServiceEndCity}}</ion-text>
                </div>
            </div>
          </div>
          <div class="right">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="item">
          <div class="main">
            <ion-input size="2" [(ngModel)]="demandCharterCarModel.Remarks" placeholder="请输入备注"></ion-input>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="ion-footer">
  <div class="btn_container">
    <ion-button color="secondary" class="ion-top" (click)="onSubmit()">
      <ion-text>提 交</ion-text>
    </ion-button>
  </div>
</div>
