<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button defaultHref=''></app-back-button>
    </ion-buttons>
    <ion-title>选择公司</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!-- Searchbar with a custom debounce -->
    <ion-searchbar debounce="300" animated placeholder="搜索" (ionChange)='onSearch()' [(ngModel)]='keyword'>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
    <ion-refresher-content 
      refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf='!loading;else loadingTemp'>
    <ng-container *ngIf='customers.length;else nodata'>
      <ion-item *ngFor='let item of customers' detail (click)='onSelect(item)'>
        <ion-label class='ion-text-wrap'>
          {{item?.Name}}
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-template #nodata>
      <app-or-comp>无数据</app-or-comp>
    </ng-template>
  </ion-list>
  <ng-template #loadingTemp>
    正在加载...
  </ng-template>
</ion-content>