<ion-header>
  <ion-toolbar class='header'>
    <div class='top-text' text-center>
      <ion-button fill='clear' color='secondary' (click)='goback()'>取消</ion-button>
      <ion-text color='dark'>{{title}}</ion-text>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let week of weeks" text-center no-padding>
          <ion-text color="{{week?.color}}">
            {{week?.text}}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class=''>
    <ion-list class='week-of-year-month' *ngFor='let ym of calendars'>
      <ion-item-divider color='light'>
        <ion-label text-center>{{ym?.yearMonth.replace("-","年")}}月</ion-label>
      </ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col text-center  [class.selected]="day?.selected" [class.today]='day?.isToday'
            [class.between-selected-days]='day?.isBetweenDays' [attr.first-selected-day]='day?.firstSelected'
            [attr.last-selected-day]='day?.lastSelected' [class.hidden]="day?.isLastMonthDay" size='1.71' *ngFor='let day of ym.dayList;
        let first= first;let last=last;'
            [class.not-enabled]='!(day?.enabled)'>
            <app-day [dayModel]='day' (daySelected)='onDaySelected($event,true)'></app-day>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>

</ion-content>