.sticky {
  border-left: 4px solid var(--ion-color-secondary);
}
.back-icon {
  color: rgba(var(--ion-color-dark-rgb), 0.5);
}
ion-input.TravelNumber {
  // opacity: .8;
  font-size: 0.8rem;
}
ion-content {
  ion-list + ion-list {
    padding: 0.3em 0;
    margin: 1em 0;
  }
  ion-col {
    align-self: center;
  }

  .change-policy-btn {
    --padding-start: 0;
    margin-left: 0;
  }
  .date {
    margin-bottom: -0.5em;
  }
  .price {
    display: flex;
    align-items: flex-end;
    flex-flow: column nowrap;
    margin: -0.5em 0 0.5em;
    padding-right: 0.5em;
  }
  .refund-change-info {
    font-size: 0.8rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  ion-item-group {
    margin: 0.5em;
  }
}
