<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>

      <app-back-button defaultHref='' [backFn]='back.bind(this)'></app-back-button>
    </ion-buttons>
    <ion-title>当前已选择的乘客信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group *ngFor='let s of bookInfos$|async' class='ion-margin-bottom'>
    <ion-item-divider >
      <ion-text appShowtip>{{s?.credential?.Name}} {{s?.credential?.Number}}</ion-text>
      <ion-button fill='clear'  slot='end' (click)='remove(s)'>
        <ion-icon name="trash" color='danger' mode='ios'>
        </ion-icon>
      </ion-button>
    </ion-item-divider>

    <ion-item>
      <ion-label>证件号:</ion-label>
      <ion-label appShowtip>{{s?.credential?.Number}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> 证件姓名:</ion-label>
      <ion-label appShowtip> {{s?.credential?.Name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>国籍:</ion-label>
      <ion-label>{{s?.credential?.Country}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>出生年月:</ion-label>
      <ion-label>{{s?.credential?.Birthday}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> 到期日期:</ion-label>
      <ion-label>{{s?.credential?.ExpirationDate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>性别:</ion-label>
      <ion-label>{{s?.credential?.Gender=="F"?"女":s?.credential?.Gender=="M"?"男":"未知"}}</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>