.jin {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.selectSeatLocation {
  border: 1px;
  width: 35px;
  text-align: center;
  cursor: pointer;
  // background: #fff;
  margin-left: 0.5em;    
  margin-top: 4px;
}
.selectSeatLocationBlank {
  border: none;
  margin-left: 1em;
}
.selected {
  color: white;
  background: url(/assets/images/blue.png);
  
}
.trainCode {
  display: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
  height: 30px;
  font-weight: bolder;
}
.red {
  color: tomato;
}
.window{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 35px;
  background: #D2D2D2;
  border-radius: 3px;
}

.font{
  font-size: 0.6rem;
}
