ion-item {
  ion-label {
    display: flex;
    align-items: center;
  }
}
.logo,
.register-forgetpassword,
.third-party-logo {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.third-party-logo {
  width: 100%;
  justify-content: flex-end;
}
.logo {
  width: 100%;
  margin: 5em auto 0;
  justify-content: center;
}
