<div class='order-item' *ngIf='order'>
  <!-- 飞机 -->
  <ng-container *ngIf='order.OrderFlightTickets?.length'>
    <ng-container *ngIf='order.OrderFlightTickets?.length'>
      <div class="item">
        <div class="left">
          <div class="id">编号</div>
          <div class="select-text">
            <span>{{order.Id}}</span>
          </div>
        </div>
        <div class="status">
          <span>{{order.StatusName}}</span>
        </div>
      </div>
      <ng-container *ngFor='let ticket of order.OrderFlightTickets;let i=index;'>
        <ng-container *ngIf='ticket.VariablesJsonObj&&ticket.VariablesJsonObj["isShow"]'>
          <div class="order-flight-ticket">
            <ng-container *ngFor='let trip of ticket.OrderFlightTrips ;let first=first;'>
              <div class="item">
                  <div class="item-con">
                    <span>
                      <img src="assets/images/aircraft.png" alt="">
                    </span>
                    <span>
                      {{trip.FlightNumber}}
                    </span>
                    <div>
                      {{trip.FromCityName}}—{{trip.ToCityName}}
                    </div>
                  </div>
              </div>
              <div class="item">
                <div>起飞时间</div>
                <div>
                    <span *ngIf='order.InsertDateTime'>{{order.InsertDateTime}}</span>
                </div>
              </div>
              <div class="item" style='align-items: center;' *ngIf='(ticket.TicketType==OrderFlightTicketType.International?first:true)'>
                <div>
                  旅客姓名
                </div>
                <div>
                  <span>{{trip.OrderFlightTicket?.Passenger?.Name}}</span>
                </div>
              </div>
              <div class="item" style="display: flex; align-items: center;">
                <div [style.align-self]='order["checkPay"]?"center":""'>应付金额</div>
                <div class="item-tail">
                  <ion-text color='danger' class="ion-text-nowrap">
                    <ion-text>￥{{order.TotalAmount}}</ion-text>
                  </ion-text>
                  <div>
                    <ng-container *ngIf='order.VariablesJsonObj.isPay'>
                      <ion-button (click)='onPay($event)' size='small' color='secondary'>去支付
                      </ion-button>
                    </ng-container>
                    <ng-container *ngFor='let trip of ticket.OrderFlightTrips ;let first=first;'>
                      <ion-button *ngIf='ticket.VariablesJsonObj.isShowRefundButton' size='small' (click)='onRefundFlightTicket($event,ticket)' color='danger'>
                        <ion-text color='light'>退票 </ion-text>
                      </ion-button>
                      <ng-container *ngIf='ticket.VariablesJsonObj.isCustomApplyRefunding'>
                        <ion-text color='medium' (click)='onHelp($event)'>
                          退票申请中
                        </ion-text>
                        <ion-icon name="help-circle-outline" color='secondary' (click)='onHelp($event)'></ion-icon>
                      </ng-container>
                        <ion-button *ngIf='ticket.VariablesJsonObj.isShowExchangeButton' size='small' (click)='onExchangeFlightTicket($event,ticket,trip)' color='secondary'>
                          <ion-text color='light'>改签</ion-text>
                        </ion-button>
                      <ng-container *ngIf='ticket.VariablesJsonObj.isCustomApplyExchanging'>
                        <ion-text color='medium'>改签申请中</ion-text>
                      </ng-container>
                      <ion-button *ngIf='ticket.VariablesJsonObj.isShowCancelButton' size='small' (click)='onAbolishFlightOrder($event,ticket)' color='secondary'>
                        <ion-text color='light'>取消订单</ion-text>
                      </ion-button>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      
      
    </ng-container>
  </ng-container>
  <!-- 火车 -->
  <ng-container *ngIf='order.OrderTrainTickets?.length'>
    <ng-container *ngIf='order.OrderTrainTickets?.length'>
      <ion-grid class="train" *ngFor='let orderTrainTicket of order.OrderTrainTickets'>
        <ion-row class="frist-ion">
          <ion-col size='2.5'>
            <ion-text color="medium">订单编号</ion-text>
          </ion-col>
          <ion-col class='select-text' class='dark'>
            <strong class="strong">{{order.Id}}</strong>
          </ion-col>
          <ion-col style="text-align: end;" class='dark'>
            <strong class="strong">{{order.StatusName}}</strong>
          </ion-col>
          <!-- <ion-text color='medium'>
            （{{order.StatusName}}）
          </ion-text> -->
          <!-- <ion-col>
            <span *ngIf='order.InsertDateTime'>{{order.InsertDateTime}}</span>
          </ion-col> -->
        </ion-row>
        <ion-row class="ion-img">
          <ion-col size='1.2'>
            <ion-text color="medium"><img src="assets/images/3.png" alt=""></ion-text>
          </ion-col>
          <!-- <ion-col class='select-text' class='dark'>
            <strong>
              {{orderHotel.HotelName}}
            </strong>
          </ion-col> -->
          <ion-col class='select-text' class='dark' *ngFor='let orderTrainTrip of orderTrainTicket.OrderTrainTrips'>
              <strong>
                <ion-text >{{orderTrainTrip.TrainCode}}</ion-text>&nbsp;&nbsp;
                <ion-text *ngFor='let train of orderTrainTicket.OrderTrainTrips'>
                  <ion-text class='from-station-name'>{{train?.FromStationName}} </ion-text>
                  —
                  <ion-text class='to-station-name'> {{train?.ToStationName}}</ion-text>
                </ion-text>
              </strong>
          </ion-col>
        </ion-row>
        <ion-row class="train_ion">
          <ion-col size='2.5'>
            <ion-text color="medium">发车时间</ion-text>
          </ion-col>
          <ion-col >
            <ion-text color='medium'>
              <span *ngIf='order.InsertDateTime'>{{order.InsertDateTime}}</span>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="train_ion" [class.btn-show-margin]="order.VariablesJsonObj.isPay">
          <ion-col size='2.5'>
            <ion-text color="medium"> 旅客姓名</ion-text>
          </ion-col>
          <ion-col >
            <ion-text color='medium' *ngIf='orderTrainTicket.Passenger as p'>
              <ion-text>{{p.Name}}</ion-text>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row [class.btn-show-margin]="order.VariablesJsonObj.isPay" style="align-items: center;">
          <ion-col size='2.5'>
            <ion-text color="medium">应付金额</ion-text>
          </ion-col>
          <ion-col style="display: flex;align-items: center;">
            <ion-text color='danger'>
              <ion-text>￥{{order.TotalAmount}}</ion-text>
              <span *ngIf="order.OrderInsurances?.length">
                (含保险)
              </span>
            </ion-text>
          </ion-col>
          <!-- <ion-col color='danger' class="train_ion_money">
            <ion-text color='danger'>￥{{order.TotalAmount}}</ion-text>
            <ion-text color='medium' class="ion-padding-end">{{orderTrainTicket.StatusName}}</ion-text>
          </ion-col> -->
          <ion-col class='ion-text-end' *ngIf='check(orderTrainTicket)' size='3'>
            <ion-col style="justify-content: flex-end;">
              <ng-container *ngIf='order["checkPay"]'>
                <ion-button (click)='onPay($event)' size='small' color='secondary'>去支付
                </ion-button>
              </ng-container>
            </ion-col>
          </ion-col>
          <ng-container *ngIf='orderTrainTicket.VariablesJsonObj.isShowRefundOrExchangeBtn'>
            <ion-button (click)='onExchangeTrainTicket($event,orderTrainTicket)' color='secondary' *ngIf='orderTrainTicket.VariablesJsonObj.isShowExchangeButton'>
              <span>改签</span>
            </ion-button>
            <ion-button (click)='onRefundTrainTicket($event,orderTrainTicket)' color='secondary' *ngIf='orderTrainTicket.VariablesJsonObj.isShowRefundButton'>
              <span>退票</span>
            </ion-button>
          </ng-container>
          <ion-button size='small' *ngIf='orderTrainTicket.VariablesJsonObj.isShowCancelButton' (click)='onAbolishTraninOrder($event,orderTrainTicket)' color='secondary'>
            <ion-text color='light'>取消订单</ion-text>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
  <!-- 酒店 -->
  <ng-container *ngIf='order.OrderHotels?.length'>
    <ng-container *ngFor='let  orderHotel of order.OrderHotels'>
      <ion-grid class="hotel">
        <ion-row class="frist-ion">
          <ion-col size='2.5'>
            <ion-text color="medium">订单编号</ion-text>
          </ion-col>
          <ion-col class='select-text' class='dark'>
            <strong class="strong">{{order.Id}}</strong>
          </ion-col>
          <ion-col style="text-align:end" class='dark'>
            <strong class="strong">{{order.StatusName}}</strong>
          </ion-col>
        </ion-row>
        <ion-row class="ion-img">
          <ion-col size='1.2'>
            <ion-text color="medium"><img src="assets/images/hotel_1.png" alt=""></ion-text>
          </ion-col>
          <ion-col class='select-text' class='dark'>
            <strong>
              {{orderHotel.HotelName}}
            </strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='2.5'>
            <ion-text color="medium">入住时间</ion-text>
          </ion-col>
          <ion-col>
            <div style="display:flex">
              <div>{{orderHotel.BeginDate}}至{{orderHotel.EndDate.substring(0,10)}}</div>
              &nbsp;{{orderHotel.countDay}}晚
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf='order?.OrderPassengers?.length'>
          <ion-col size='2.5'>
            <ion-text color="medium">旅客姓名</ion-text>
          </ion-col>
          <ion-col>
            <ng-container *ngIf='orderHotel.Passenger as p'>
              <div>
                <span>
                  {{p.Name}}
                </span>
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size='2.5'>
            <ion-text color="medium">地址</ion-text>
          </ion-col>
          <ion-col>
              <ion-text>
                {{orderHotel.HotelAddress}}
              </ion-text>
          </ion-col>
        </ion-row> -->
        <ion-row [class.btn-show-margin]="order['checkPay']" style="align-items: center">
          <ion-col size='2.5'>
            <ion-text color="medium"> 应付金额</ion-text>
          </ion-col>
          <ion-col>
            <div class="payin" >
              <ion-text color='danger'>
                <ion-text>￥{{order.TotalAmount}}</ion-text>
              </ion-text>
              <!-- <ion-text color='medium'>
                {{orderHotel.PaymentType==2?"(现付)":orderHotel.PaymentType==1?"(预付)":""}}
              </ion-text> -->
              <ion-button *ngIf='order["checkPay"]' (click)='onPay($event)' size='small' color='secondary'>去支付
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf='orderHotel.ConfirmNumber as cnumber'>
          <ion-col size='3'>
            酒店确认号
          </ion-col>
          <ion-col>
            {{cnumber}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf='false'>
          <ion-col *ngIf='false'>
            <!-- <ion-text color='danger'>￥{{getTotalAmount(order,orderHotel.Key)}}</ion-text> -->
            <ion-text color='danger'>￥{{order.TotalAmount}}</ion-text>
          </ion-col>
          <ion-col>
            {{orderHotel.StatusName}}
            <ion-button *ngIf='false&&orderHotel.Status == OrderHotelStatusType.PayFailure && orderHotel.PaymentType == HotelPaymentType.SelfPay'>
              重新担保</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
  <ng-container *ngIf='order.OrderCars?.length'>
    <app-car-item [order]="order"></app-car-item>
  </ng-container>
</div>
<!-- <ion-datetime cancelText='取消' doneText='确定' class="hidden ion-hide" displayFormat="YYYY-MM-DD" ></ion-datetime> -->