:host {
  width: 100%;
  ion-row {
    align-items: start;
    font-size: 12px;
  }
}
.order-item{
  margin: 5px;
}
.item {
  padding: 0.5em 0;
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  & > *:first-child {
    min-width: 3rem;
    margin-right: 0.5em;
    color: var(--ion-color-medium);
  }
  span {
    margin-right: 0.5em;
  }
  .item-con{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    img{
      width: 27.5px;
    }
  }
  .item-tail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.select-text {
  user-select: text;
}

.select-text strong{
  user-select:text;
  font:inherit
}
.order-flight-ticket ~ .order-flight-ticket {
  border-top: 1px dashed rgba(var(--ion-color-medium-rgb), 0.2);
}
.order-flight-ticket{
  border-top: 1px solid #dad1d1;
}
.btn-show-margin {
  margin-top: -8px;
  margin-bottom: -8px;
}



.hotel,.train {
  .frist-ion {
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #666666;
    border-bottom: 1px solid #eadcdc;
    line-height: 22px;
    .strong{
      font: inherit;
    }
  }

  .ion-img,
  .ion-train{
    display: flex;
    align-items: center;
    font-size: 16px;
    img{
      width: 22px;
      margin-top: 5px;
    }
  }

  

  .payin{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

