:host {
  width: 100%;
  ion-row{
    align-items: start;
  }
}
.item {
  padding: 0.2em 0;
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  & > *:first-child {
    min-width: 2.25rem;
    margin-right: 0.5em;
    color: var(--ion-color-medium);
  }
  span {
    margin-right: 0.5em;
  }
}

.select-text {
  user-select: text;
}

.select-text strong{
  user-select:text;
  font:inherit
}
.order-flight-ticket ~ .order-flight-ticket {
  border-top: 1px dashed rgba(var(--ion-color-medium-rgb), 0.2);
}
.btn-show-margin{
  margin-top: -8px;
  margin-bottom: -8px;
}

.train_ion_id{
  font-size: 12px;
}
.stop-line .line{
  background-color: rgba(var(--ion-color-dark-rgb), 0.3);
  height: 1px;
  width: 4.6em;
  position: relative;
}
.station{
  display: flex;
  align-items: center;
  min-width: 10em;
  font-size: 18px;
}
img{
  width: 1.1em;
  margin-left: 14px;
}

.line{
  position: relative;
  height: 1px;
  width: 1.8em;
  background: #5099FE;
  display: flex;
  justify-content: flex-end;
}
.xian{
  height: 1px;
  background: #5099FE;
  width: 0.5em;
  transform: rotate(45deg);
  transform-origin: right top; 
}
.train_ion_money{
  display: grid;
  justify-content: flex-end;
}

.ion-padding-end{
  font-size: 12px;
  margin-left: 12px;
}

.train_ion{
  font-size: 0.71em;
  margin-left: 4.6em;
}