<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>

      <app-back-button defaultHref="" (click)='back()'></app-back-button>
    </ion-buttons>
    <ion-text>{{getMothDay()}}</ion-text>
    <!-- <ion-buttons slot='end' *ngIf='(showOpenBtn$|async) as num'>
      <ion-button fill='clear' color='secondary' (click)='onShowSelectedInfosPage()' size='small'>
        <ion-text class='xs-font-size'>
          已选行程
        </ion-text>
        <ion-badge color='danger' slot='end'>
          <ion-text color='light'>{{num}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons> -->
    <!-- <ion-buttons slot='end'>
      <ion-button fill='clear' color='secondary' (click)='filterPolicyFlights()' size='small'>
        <ion-text class='xs-font-size'>过滤差标</ion-text>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <!-- <ion-row *ngIf='(filteredPolicyPassenger$|async) as bookInfo' class='rule'>
    <ion-col *ngIf='bookInfo.credential as credential' class='ion-text-center'>
      <ion-text color='secondary'>
        当前已过滤【{{credential.Name}}】({{credential.Number}})差标
      </ion-text>
    </ion-col>
  </ion-row> -->
</ion-header>
<ion-content>
  <ion-toolbar class='ion-text-center'>
    <ion-item lines='none'>
      <div style='width: 100%;margin-top: .5em;'>
        <ion-label class='ion-no-margin ion-no-padding' style="margin-bottom: -0.5em;">
          <strong>
            <ion-text color='secondary'>{{vmFlightSegment?.FromCityName}}</ion-text>
            <span style='font-size: 0.9rem;'>-</span>
            <ion-text color='secondary'>{{vmFlightSegment?.ToCityName}}</ion-text>
          </strong>
        </ion-label>
        <app-fly-list-item [flightSegment]='vmFlightSegment' [langOpt]='langOpt' [showDetails]='true'></app-fly-list-item>
      </div>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar style='font-size: .6rem;padding:0 1em;'>
    <div>
      过滤差标：
    </div>
    <ion-label color='success' class='ion-margin-start'>
      绿色代表符合差标
    </ion-label>
    <div>
      <ion-label class='ion-margin-start' color='warning'>
        黄色代表违规可以预订
      </ion-label>
    </div>
    <ion-label color='danger' class='ion-margin-start'>
      红色代表违规不可预订
    </ion-label>
  </ion-toolbar>
  <!-- <ng-container *ngIf='!isSelf else other'>
    <ion-radio-group *ngIf='cabinTypes?.length' (ionChange)='onFilterCabinType($event)'>
      <ion-item *ngFor='let ct of cabinTypes'>
        <ion-radio [value]='ct.id' [checked]='ct.isChecked'></ion-radio>
        <ion-label slot='end'>{{ct.label}}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ng-container>
  <ng-template #other>
    <ion-radio-group *ngIf='cabinTypes?.length' (ionChange)='onFilterCabinType($event)'>
      <ion-item *ngFor='let ct of cabinTypes'>
        <ion-checkbox [value]='ct.id' (ionChange)='onionChange(ct)' [checked]='ct.isChecked'>
        </ion-checkbox>
        <ion-label slot='end'>{{ct.label}}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ng-template> -->
  <ion-list>
    <ion-segment mode='ios' (ionChange)="onSegmentChanged($event)" [value]="segmenttype" color="secondary">
      <ion-segment-button value="normal">
        <ion-label>经济舱</ion-label>
      </ion-segment-button>
      <ion-segment-button value="others">
        <ion-label>头等舱/商务舱</ion-label>
      </ion-segment-button>
    </ion-segment>
    <app-or-comp *ngIf='vmCabins?.length==0'>暂无数据</app-or-comp>
  </ion-list>
  <ion-list class='ion-margin-top'>
    <ion-item *ngFor='let cabin of vmCabins'>
      <ng-container *ngIf='cabin.Cabin'>
        <div class='cabin-item'>
          <ion-row class='ion-margin-top'>
            <ion-col size='8'>
              <ion-label (click)='openrules(cabin)'>
                <h3 class='discount'>
                  <ion-text color='dark' *ngIf='identity?.Numbers&&identity.Numbers["AgentId"] else aatemp'>
                    <span class="capital"
                      *ngIf=' cabin.Cabin?.TypeName?.length > 4 ? cabin.Cabin?.TypeName?.replace("舱", "") : cabin.Cabin?.TypeName'></span>
                    {{cabin.Cabin?.TypeName |cabintype }}({{cabin.Cabin?.Code }})
                  </ion-text>
                  <ng-template #aatemp>
                    <ion-text color='dark'>
                      <span class="capital"
                      *ngIf=' cabin.Cabin?.TypeName?.length > 4 ? cabin.Cabin?.TypeName?.replace("舱", "") : cabin.Cabin?.TypeName'></span>
                    {{cabin.Cabin?.TypeName |cabintype }}
                    </ion-text>
                  </ng-template>
                  <!-- <ion-text color='dark'>{{cabin.Cabin?.Discount|discount}}</ion-text> -->
                  <ion-text color='secondary' *ngIf='cabin.Cabin?.FareType==FlightFareType.Agreement'>
                    <strong >
                      <span class="agreement" style="color: red;">
                        'A'
                      </span>
                    </strong>
                  </ion-text>
                  <ion-text color='secondary' *ngIf='cabin?.Cabin?.FlightPolicy&&isAgent'>
                    <strong>政</strong>
                  </ion-text>
                </h3>
                <h3>
                  <ion-text color='secondary'>Policies&nbsp;> </ion-text>
                </h3>
                <h3 *ngIf="cabin.Cabin?.Count<10" >{{cabin.Cabin?.Count}} Left</h3>
              </ion-label>
            </ion-col>
            <ion-col size='4'>
              <ion-text color='danger'>￥{{cabin.Cabin?.SalesPrice}}</ion-text>
              <ion-button [color]='cabin.color' class='ion-margin-top' expand='block' [class.disabled]='!cabin?.IsAllowBook'
                (click)='onBookTicket(cabin)'>
                <ion-text color='light'>Book</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf='cabin?.Rules'>
            <ion-col>
              <ion-label *ngFor='let r of cabin.Rules' color='danger'  class='rule ion-text-wrap'>{{r}}</ion-label>
              <ion-label *ngIf='cabin.Rules?.length&&getFlightIllegalTip()' color='danger'  class='rule ion-text-wrap'>提示：({{getFlightIllegalTip()}})
              </ion-label>
              <ion-label *ngIf='!cabin.Rules?.length&&getFlightlegalTip()' color='danger'  class='rule ion-text-wrap'>提示：({{getFlightlegalTip()}})
              </ion-label>
            </ion-col>
          </ion-row>
        </div>
      </ng-container>
    </ion-item>
  </ion-list>
  <!-- <div class='show-more'>
    <ion-chip color='secondary' (click)='onShowMoreCabins()' *ngIf='hasMoreCabins'>
      <ion-label>Show all</ion-label>
      <ion-icon name="chevron-forward-outline" mode='ios'></ion-icon>
    </ion-chip>
  </div> -->
  <ng-template #fakeList>
    <ion-list>
      <ion-item *ngFor='let cabin of [1,2,3]'>
        <div class='cabin-item'>
          <ion-row class='ion-margin-top'>
            <ion-col size='8'>
              <ion-label>
                <h3 class='discount'>
                  <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
                  <ion-skeleton-text style="width: 45%"></ion-skeleton-text>
                </h3>
                <h3>
                  <ion-skeleton-text style="width: 650%"></ion-skeleton-text>
                </h3>
                <h3>
                  <ion-skeleton-text style="width: 40%"></ion-skeleton-text>
                </h3>
              </ion-label>
            </ion-col>
            <ion-col size='4'>
              <ion-label>
                <h3 text-end class='book'>
                  <ion-skeleton-text style="width: 60%"></ion-skeleton-text>
                </h3>
                <ion-skeleton-text style="width: 90%;height: 1.5em;--border-radius: 4px;"></ion-skeleton-text>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              <ion-skeleton-text style="width: 65%"></ion-skeleton-text>
              <ion-skeleton-text style="width: 80%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>