<ng-container *ngFor='let orderTrainTicket of getCurrentPassengerTicket()'>
  <ng-container *ngIf='true||orderTrainTicket.Status!=OrderTrainTicketStatusType.ChangeTicket'>
    <ion-row>
      <ion-col size='4'>
        {{orderTrainTicket.Id=="0"?"":"车票事务号"}}
      </ion-col>
      <ion-col style="user-select: text;">
        {{orderTrainTicket.Id}}
      </ion-col>
      <ion-col class="ion-text-center">
        {{orderTrainTicket.StatusName}}
      </ion-col>
    </ion-row>
    <ng-container *ngFor='let orderTrainTrip of orderTrainTicket.OrderTrainTrips'>
      <ion-row>
        <ion-col size='4'>
          出发
        </ion-col>
        <ion-col>
          <div>
            {{orderTrainTrip.StartTime?.replace("T"," ")?.substring(0,19)}}
          </div>
          <div>
            {{orderTrainTrip.FromStationName}}({{orderTrainTrip.FromStationCode}})
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='4'>
          到达
        </ion-col>
        <ion-col>
          <div>
            {{orderTrainTrip.ArrivalTime?.replace("T"," ")?.substring(0,19)}}
          </div>
          <div>
            {{orderTrainTrip.ToStationName}}({{orderTrainTrip.ToStationCode}})
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='4'>
          耗时(约)
        </ion-col>
        <ion-col>
          {{orderTrainTrip.TravelMinutes}}(分钟)
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='4'>
          席别
        </ion-col>
        <ion-col>
          {{orderTrainTicket.SeatTypeName}}
        </ion-col>
      </ion-row>
      <ion-label class='ion-text-wrap' *ngIf='orderTrainTicket.Detail'>
        <span>信息:{{orderTrainTicket.Detail}}</span>
      </ion-label>
    </ng-container>
  </ng-container>
</ng-container>