<ng-container *ngFor='let orderTrainTicket of getCurrentPassengerTicket()'>
  <ng-container *ngIf='orderTrainTicket.Status!=OrderTrainTicketStatusType.ChangeTicket'>
    <ion-row>
      <ion-col>
        {{orderTrainTicket.Id=="0"?"":"火车票事务号"}}
      </ion-col>
      <ion-col>
        {{orderTrainTicket.Id}}
      </ion-col>
      <ion-col>
        {{orderTrainTicket.StatusName}}
      </ion-col>
    </ion-row>
    <ng-container *ngFor='let orderTrainTrip of orderTrainTicket.OrderTrainTrips'>
      <ion-row>
        <ion-col>
          <span>
            {{orderTrainTrip.FromStationName}}
          </span>
          <span [attr.travelminutes]='orderTrainTrip.TravelMinutes'
            [attr.traincode]='orderTrainTrip.TrainCode'>---</span>
          <span>{{orderTrainTrip.ToStationName}}</span>
          <span>席别:{{orderTrainTicket.SeatTypeName}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span>出发:{{orderTrainTrip.StartTime?.substr(0,"yyyy-MM-dd".length)}}</span>
          <span>{{orderTrainTrip.StartTime?.substr("yyyy-MM-ddT".length,'"HH:mm"'.length)}}</span>
          <span>{{orderTrainTrip.FromStationName}}({{orderTrainTrip.FromStationCode}})</span>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col>
          <span>到达:{{orderTrainTrip.ArrivalTime?.substr(0,"yyyy-MM-dd".length)}}</span>
          <span>{{orderTrainTrip.ArrivalTime?.substr("yyyy-MM-ddT".length,'"HH:mm"'.length)}}</span>
          <span>{{orderTrainTrip.ToStationName}}({{orderTrainTrip.ToStationCode}})</span>
        </ion-col>
      </ion-row>
      <ion-label text-wrap *ngIf='orderTrainTicket.Detail'>
        <span >信息:{{orderTrainTicket.Detail}}</span>
      </ion-label>
    </ng-container>
  </ng-container>
</ng-container>