<div [class.disabled]='isOtherCostCenter'>
  <ion-item detail lines='none' [disabled]='isOtherCostCenter' no-margin no-padding (click)='searchCostCenter()'>
    <ion-label>成本中心：</ion-label>
    <ion-label text-end>{{costCenter?.name}}</ion-label>
  </ion-item>
  <ion-item lines='none' no-margin no-padding>
    <ion-label style='margin-right: 0.5em'>其他:</ion-label>
    <ion-checkbox color="secondary" (ionChange)='onCheckboxValueChange($event)' [(ngModel)]='isOtherCostCenter'></ion-checkbox>
    <ion-input [disabled]='!isOtherCostCenter' [(ngModel)]='otherCostCenterName' placeholder='名称'
      (ionChange)='onValueChange()'>
    </ion-input>
    <ion-input [disabled]='!isOtherCostCenter' [(ngModel)]='otherCostCenterCode' placeholder='代码'
      (ionChange)='onValueChange()'>
    </ion-input>
  </ion-item>
</div>