<div class='wrapper'>
  <div class='left' (click)='onDateClick()'>
    <div class='date-city'>
      <div>
        <span>{{langOpt.checkin}}</span>
        <span class='date'>{{checkInDate?.substring("2019-".length)}}</span>
      </div>
      <div>
        <span>{{langOpt.checkout}}</span>
        <span class='date'>{{checkOutDate?.substring("2019-".length)}}</span>
      </div>
    </div>
    <!-- <span class='date'>{{getDays()}}{{langOpt.night}}</span> -->
  </div>
  <div class='city' (click)='onCityClick()'>
    <ion-text color='secondary'>{{city?.Name}}</ion-text>
  </div>
  <div class="right">
    <div class='search-bar' (click)='onSearchBarClick()'>
      <ion-icon name="search" mode='ios'></ion-icon>
      <input type="text" placeholder="{{keywords||langOpt.placeholder}}" disabled>
    </div>
  </div>
</div>