.date-city {
  font-size: 10px;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-width: 4em;
}
.city {
  text-overflow: ellipsis;
  max-width: 5em;
  overflow: hidden;
  white-space: nowrap;
  font-size: 10px;
  margin-left: 0.5em;
}
.nights {
  font-size: 10px;
}
.left {
  white-space: nowrap;
}
.wrapper,
.left,
.right,
.search-bar {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.date {
  color: var(--ion-color-secondary);
  font-size: 0.6rem;
  margin: 0 0.5em;
}
.right {
  flex: 1;
}
input {
  padding: 0.4em;
  border: none;
  outline: none;
  background: transparent;
}
.search-bar {
  height: 30px;
  background: #F6F6F6;
  border-radius: 5px;
  margin-left: 0.5em;
  flex: 1;
  color: #9a9a9a;
  text-align: center;
  justify-content: center;
  ion-icon {
    font-size: 1rem;
    margin-left: 0.3em;
  }
}
