<div class='wrapper'>
  <div class='left' (click)='onDateClick()'>
    <div class='date-city'>
      <div>
        <span>住</span>
        <span class='date'>{{checkInDate?.substring("2019-".length)}}</span>
      </div>
      <div>
        <span>离</span>
        <span class='date'>{{checkOutDate?.substring("2019-".length)}}</span>
      </div>
    </div>
    <span class='date'>{{getDays()}}晚</span>
  </div>
  <div class="right">
    <div class='city' (click)='onCityClick()'>
      <ion-text color='secondary'>{{city?.Name}}</ion-text>
    </div>
    <div class='search-bar' (click)='onSearchBarClick()'>
      <ion-icon name="search" mode='ios'></ion-icon>
      <input type="text" placeholder="{{keywords||'地名/酒店/关键词'}}" disabled >
    </div>
  </div>
</div>