<ion-header>
  <ion-toolbar>
    <ion-title>设置密码</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" color="primary" fill="solid" (click)="done()"
        >完成</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>账号</ion-label>
      <ion-input disabled="true" value="{{ identityEntity?.Name }}"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="!validatedBySmsCode">
      <ion-label>原密码</ion-label>
      <ion-input
        value="{{ identityEntity?.Name }}"
        name="originalPassword"
        [(ngModel)]="originalPassword"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>新密码</ion-label>
      <ion-input
        type="password"
        value="{{ identityEntity?.Name }}"
        name="newPassword"
        [(ngModel)]="newPassword"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>确认密码</ion-label>
      <ion-input
        type="password"
        value="{{ identityEntity?.Name }}"
        name="confirmNewPassword"
        [(ngModel)]="confirmNewPassword"
      ></ion-input>
    </ion-item>
    <h6 text-end>
      <ion-note color="primary" (click)="forgetOriginalPassword()"
        >忘记密码？</ion-note
      >
    </h6>
  </ion-list>
</ion-content>
