.f-t {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
        margin: 0 1em;
    }
    ion-text {
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
    }
}
.main-info {
    .f-list-item {
        padding: 13.5px 1em;
        .row1 {
            display: flex;
            margin-bottom: 11.5px;
            justify-content: space-between;
        }
        .row2 {
            font-size: 12px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #333333;
        }
        background: #ffffff;
        border-radius: 5px;
        position: relative;
        .price {
            position: absolute;
            right: 0.5em;
            top: 13.5px;
            font-size: 18px;
            font-family: PingFang SC;
            font-weight: bold;
            color: #ff3333;
            small {
                font-size: 9px;
            }
        }
        .center {
            margin: 0 1em;
        }
        .name {
            font-size: 12px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #333333;
            margin-top: 9.5px;
        }
        .time {
            font-size: 18px;
            font-family: DIN;
            font-weight: 550;
            color: #333333;
        }
        .line {
            opacity: 0.5;
            color: gray;
            margin: 0 2px;
        }
        .air {
            display: flex;
            align-items: center;
            img {
                width: 1.3em;
                height: 1.3em;
                object-fit: contain;
                min-height: 1.3em;
                min-width: 1.3em;
            }
            .agreement {
                color: tomato;
            }
        }
        .tax {
            padding: 0.7em 0;
            display: flex;
            line-height: 1.7;
            .insurance small {
                font-size: 8px;
            }
            .s-t-p {
                display: flex;
                flex-flow: column;
                align-items: flex-end;
                margin-left: auto;
            }
        }
        .takeofftime {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #333333;
        }
        .center {
            min-width: 75px;
            .txt {
                font-family: PingFang SC;
                font-weight: 400;
                color: #333333;
                font-size: 10px;
                text-align: center;
            }
            .img-t {
                padding-bottom: 2px;
            }
            .img-b {
                padding-top: 8px;
            }
            .img {
                line-height: 0;
            }
        }
    }
    .insurances {
        ion-radio-group {
            font-size: 14px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #333333;
            display: flex;
            flex-flow: row wrap;
        }
        .ins {
            width: 100%;
            background: transparent;
            border-bottom: 1px solid #eeeeee;
        }
        .ins-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 1em;
            ion-item {
                font-size: 14px;
                padding: 0;
                margin: 0;
            }
            small {
                font-size: 10px;
                margin-left: 1em;
                margin-right: -0.5em;
            }
            .name {
                margin-right: auto;
                margin-left: 0.5em;
            }
        }
        .show-more {
            display: flex;
            justify-content: space-between;
            ion-icon {
                opacity: 0.6;
                font-size: 16px;
            }
            padding: 0.5em;
        }
        .ins-detail {
            padding: 0 1em;
            font-size: 14px;
            margin-top: -0.5em;
        }
    }
    .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
        padding: 0.8em 1em;
    }
    .c-num {
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #333333;
    }
    .c-name {
        margin-right: 0.5em;
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
    }
    .toggle-icon {
        margin-left: auto;
    }
}

.section {
    margin: 1em 0;
    .title {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
        .name {
            font-size: 18px;
            font-family: PingFang SC;
            font-weight: bold;
            color: #333333;
        }
    }
    .row {
        padding: 1em;
        display: flex;
        align-items: center;
        font-size: 14px;
        .label {
            width: 90px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #666666;
        }
        .value {
            flex: 1;
        }
        .mobiles,
        .emails {
            &.ismulti .label {
                align-self: flex-start;
                padding-top: 1em;
            }
        }
        ion-item {
            width: 100%;
            font-size: 14px;
            --padding-start: 0;
            ion-checkbox {
                width: 1.2em;
                height: 1.2em;
                margin: 0;
            }
        }
        ion-icon {
            opacity: 0.6;
            font-size: 16px;
            margin-left: auto;
        }
        border-bottom: 1px solid #eeeeee;
        &.n-b {
            border: none;
        }
    }
}
.spacebetween {
    display: flex;
    justify-content: space-between;
    color: var(--ion-color-dark);
}
ion-footer {
    height: 49px;
    &.freebook {
        height: 70px;
    }
    background: #ffffff;
    .price-detail {
        display: flex;
        align-items: center;
        padding: 0.8em;
        .submit-btn {
            flex: 1;
            width: 90px;
            height: 32px;
            background: #5099fe;
            border-radius: 5px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: 0.5em;
        }
        .detail {
            font-size: 8px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #333333;
            margin-left: 1em;
        }
        .total {
            font-size: 12px;
            color: red;
        }
        .price {
            font-size: 18px;
        }
        .left {
            flex: 30%;
            display: flex;
            align-items: center;
            white-space: nowrap;
        }
        .btns {
            flex: 1;
            display: flex;
            align-items: center;
        }
    }
    &.freebook .freebook-price {
        padding: 0.5em 0.8em;
        margin-top: -1.2em;
    }
}
.transfrom {
    background-color: white;
    transform: translate(0, 100%);
    position: fixed;
    transition: all ease-in-out 200ms;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    max-width: 100%;
    width: 100%;
    &.show {
        z-index: 1;
        opacity: 1;
        transform: translate(0, -44px);
    }
    .wrapper {
        display: flex;
        width: 100%;
        // max-width: 100%;
        overflow: scroll;
    }
}

.zz {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    background-color: var(--ion-color-dark);
}
