<ion-header>
    <ion-toolbar>
        <ion-buttons solt='start'>
            <app-back-button defaultHref="" [backFn]='back.bind(this)'></app-back-button>
        </ion-buttons>
        <ion-title>担保协议</ion-title>
    </ion-toolbar>
</ion-header>

<div style="overflow-y: scroll;">
    <p class="MsoNormal">
        <b>天行商旅快捷支付及信用卡担保协议<span></span></b></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal">为使用天行商旅（以下简称“我们”）提供的银行卡快捷支付及信用卡担保服务，请用户（以下或称“您”）仔细阅读本协议内容。如果您不同意或者不能准确理解本协议的条款内容，请不要进行后续操作。您的使用、登录行为即视为您已经充分阅读并理解本协议所有条款的含义及相应法律后果，同意接受本协议的全部条款。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal">您保证，在您同意接受本协议并使用我们的支付或信用卡担保服务时，您是具有中华人民共和国法律规定的完全民事权利能力和民事行为能力的，能够独立承担民事责任的年满<span>18</span>周岁的自然人，或者您是在中国大陆地区合法开展经营活动或其他业务的法人或其他组织；本协议内容不受您所属国家或地区法律的排斥。不具备前述条件的，您应立即停止使用本服务。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">1、本协议下所称银行卡快捷支付或信用卡担保服务是指我们与银行、银联等清算机构和第三方支付公司等合作方（“支付机构”）合作为您提供的支付服务，即您在通过天行商旅预订产品或服务时，可以在支付时通过本人的天行商旅账户输入本人银行卡信息和持卡人身份信息，银行或者第三方或将发送动态口令到您在该银行登记的手机号码上，您输入正确的手机动态口令，经银行与其系统预留的信息校验一致后，无需输入银行卡密码即可完成支付。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">2、您在使用银行卡快捷支付或信用卡担保服务时，应认真确认交易信息（如交易金额、服务类型等）后再进入支付流程。您认可，您所提供的银行信息是天行商旅和支付机构判断用户身份的充分必要条件。您认可和同意，输入个人信息进行交易即视为您已确认交易和交易金额并已不可撤销地向系统发出指令，我们有权根据您的指令委托支付机构或供应商从您提交的银行卡中将您确认的交易资金划扣给收款人，您不应以非本人意愿交易或任何其他原因要求退款或承担其他责任。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">3、您应保证为使用银行卡快捷支付或信用卡担保服务而提供的所有信息是真实、合法、正确、完整的，前款所指信息是指您在绑定或使用本人银行卡时需要提供的相关信息，包括但不限于账户、个人姓名、身份证号码、银行卡号、手机号、交易金额等。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">4、您应对使用银行卡快捷支付或信用卡担保服务过程中您发出的所有指令的真实性、有效性承担全部责任；我们依照您的指令进行操作的一切风险应由您自行承担。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal"><span>5</span>、您同意在使用银行卡快捷支付或信用卡担保服务过程中所涉及的使用记录数据、交易金额数据等均以我们系统平台记录的数据为准。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal"><span>6</span>、您应妥善保管银行卡号、密码、有效期、<span>CVV2</span>以及您的账号、密码、数字证书、证件号等与银行卡或与您的账户有关的一切信息，不应向任何人泄露该等信息。如您遗失银行卡、泄露密码或相关信息的，您应及时通知发卡行及我们，以减少可能发生的损失。因泄露密码、数字证书、丢失银行卡、身份证信息、丢失手机等导致的损失需由您自行承担。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal"><span>7</span>、您同意我们有权依据自身判断对涉嫌欺诈或被他人控制并用于欺诈目的的账户采取相应的措施，上述措施包括但不限于暂停或终止提供本服务、冻结账户及资金、处置涉嫌欺诈的资金等。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">8、您同意，在我们有合理理由怀疑您提供的资料错误、不实、过时或不完整的情况下，我们有权暂停或终止向您提供部分或全部本服务，您将承担因此产生的一切责任，我们对此不承担任何责任。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">9、如果您违反本协议的约定、或我们提供服务所在网站的条款、协议、规则、通告等相关规定而被终止提供服务的，我们有权暂停或终止为您提供本协议下的服务，您将承担因此产生的一切责任，我们对此不承担任何责任。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">10、如您发现有他人冒用或盗用您的账户及密码、银行卡或任何其他未经合法授权之情形时，应立即以书面或其他有效的形式通知我们并要求我们暂停服务，以避免或者减少可能发生的损失。我们将积极响应您的要求，但因您未及时通知而造成的损失，我们不承担任何责任。您理解，我们对您的请求采取行动需要合理期限，在此之前，我们对银行或第三方支付机构已执行的指令及导致的您的损失不承担任何责任。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">11、若您的相关信息变更而未及时更新资料或经我们合理判断您所提供的资料错误、不实、过时或不完整，导致我们无法提供本协议下服务或提供时发生任何错误的，您不得将此作为取消交易、拒绝付款的理由，您将承担因此产生的一切后果，我们不承担任何责任。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">12、在您使用银行卡快捷支付或信用卡担保服务时，可能由于银行或第三方支付机构本身系统问题、相关政策和法律法规的变更或其他不可抗拒因素，造成我们无法向您提供相关服务或提供服务时发生异常状况的，我们不承担任何责任。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">13、您同意，基于运行和交易安全的需要，我们有权暂停提供或者限制本协议下服务的部分或全部功能，或提供新的功能，且无需提前通知您；在出现该等变更时，如您仍然使用本协议下服务的，则视为您同意本协议或者变更后的条款。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal"><span>14</span>、您承诺，不得利用本支付服务实施下列任一项的行为<span></span></p>
    <p class="MsoNormal">（<span>1</span>）反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一；<span></span></p>
    <p class="MsoNormal">（<span>2</span>）侵害我们及其他第三人名誉、隐私权、商业秘密、商标权、著作权、专利权及其他权利；<span></span></p>
    <p class="MsoNormal">（<span>3</span>）冒用他人名义使用本支付服务；<span></span></p>
    <p class="MsoNormal">（<span>4</span>）使用无效信用卡或他人信用卡进行交易；<span></span></p>
    <p class="MsoNormal">（<span>5</span>）使用无效银行账户或他人银行账户进行交易；<span></span></p>
    <p class="MsoNormal">（<span>6</span>）侵害本支付服务系統；<span></span></p>
    <p class="MsoNormal">（<span>7</span>）违反法律法规、监管规定、或我们及其关联公司网站的条款、协议、规则、通告等相关规定，而被上述任一主体终止提供服务；<span></span></p>
    <p class="MsoNormal">（<span>8</span>）从事其他违反国家法律、法规、规章及政策法令的行为，或其他违反本协议的行为。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal"><span>15</span>、您同意，我们有权随时对本协议内容进行单方面的变更，并将在您使用服务时所登录的网站进行公告，该等变更一经公告即自动生效，无需另行单独通知您，您可以随时登录账户查阅最新版条款。若您在本协议内容发生变更后继续使用本协议下服务的，则视为您同意上述变更；若您不同意上述变更，您应立即停止使用本协议下的服务，否则由此给您造成的一切损失应由您自行承担。<span></span></p>
    <p class="MsoNormal"><span>16</span>、本协议由本协议条款与您使用服务时所登录的网站公示的各项用户协议及相关规则组成。本协议任何条款或其一部分无论因何种原因被认定无效或不可执行，该无效或不可执行不应影响本协议的其余条款的效力，其余条款对双方仍具有约束力。<span></span></p>
    <p class="MsoNormal"><span></span></p>
    <p class="MsoNormal"><span>17</span>、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，没有相关法律规定的，应参照通用国际商业惯例和<span>/</span>或行业惯例。因本协议所产生的争议，双方应当友好协商解决，无法达成一致的，应提交签署地（上海市徐汇区）有管辖权的法院解决。</p>
</div>