<div class="room-plan-item">
  <div *ngIf='room?.RoomDetails'>
    <div class="room-detail-desc">
      <span *ngIf='getBreakfast(roomPlan) as it'>
        <ion-text color='success'>{{it}}</ion-text>
      </span>
      <span *ngIf='getBedType(room) as it'>{{it.Description}}</span>
      <span *ngIf='getCapacity(room) as it'>可住{{it.Description}}人</span>
      <span *ngIf='getRoomArea(room) as it'>{{it.Description}}m²</span>
    </div>
    <div class="room-detail-desc">
      <span>
        <strong>{{roomPlan?.Name}}</strong>
      </span>
      <span class='desc'>{{roomPlan?.Facility}}</span>
    </div>
    <div class="room-detail-desc"
      *ngIf='roomPlan?.BookType == HotelBookType.Elong || roomPlan?.BookType == HotelBookType.Inventory'>
      <ion-text color='secondary' class='desc' (click)='showRoomRateRuleMessage(roomPlan)'>{{getRules(roomPlan)}}
      </ion-text>
      （即时确认）
    </div>
    <!-- <div>{{colors|json}} {{getRoomPlanUniqueId(roomPlan)}}</div> -->
    <div class="price" *ngIf='colors[getRoomPlanUniqueId(roomPlan)] as color'
      [class.can-not-be-book]='color.includes("danger")' [attr.color]='color.includes("danger")?"danger":color'>
      <ion-text color='danger' class='avg-price'>￥{{getAvgPrice(roomPlan)}}</ion-text>
      <div class="btn-book" (click)='onBook(roomPlan,color)'>
        <ion-button slot='end' no-margin [disabled]='color.includes("danger")' expand='full'>
          <ion-text color='light'>{{color.includes('danger_full')?"满房":color.includes("disabled")?"超标":"预订"}}
          </ion-text>
        </ion-button>
        <ng-container *ngIf='!color.includes("disabled")'>
          <ion-text color='danger' *ngIf='roomPlan?.PaymentType==HotelPaymentType.SelfPay'>现付</ion-text>
          <ion-text color='secondary' *ngIf='roomPlan?.PaymentType==HotelPaymentType.Prepay'>预付</ion-text>
          <ion-text color='dark' *ngIf='roomPlan?.PaymentType==HotelPaymentType.Settle'>月结</ion-text>
        </ng-container>
        <ion-text *ngIf='color.includes("disabled")' color='danger'>不可预订</ion-text>
      </div>
    </div>
  </div>
</div>