<ion-header>
  <ion-toolbar>
    <ion-title>
      待出行
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)='doRefresh()' slot='fixed'></ion-refresher>
  <ng-container *ngIf='!isLoading '>
    <ng-container *ngIf='trips?.length else nomoredata'>
      <div *ngFor='let trip of trips' (click)='goToDetailPage(trip)'>
        <ng-container *ngIf='trip.Type=="Train"'>
          <app-train-trip [trip]="trip"></app-train-trip>
        </ng-container>
        <ng-container *ngIf='trip.Type=="Hotel"'>
          <app-hotel-trip [trip]="trip"></app-hotel-trip>
        </ng-container>
        <ng-container *ngIf='trip.Type == "Flight"'>
          <app-flight-trip [trip]="trip" [isShowInsurance]='true' (showInsuranceEvt)='onShowSelectedInsurance($event)'
            (payInsuranceEvt)="payInsurance($event)"></app-flight-trip>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #nomoredata>
    <app-or-comp>暂无数据</app-or-comp>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)='loadMoreTrips()'>
    <ion-infinite-scroll-content>正在加载...</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>