<ion-header>
  <ion-toolbar>
    <ion-title>
      行程
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)='doRefresh()' slot='fixed'></ion-refresher>
  <ion-list *ngIf='!isLoading && trips?.length else nomoredata'>
    <ion-item *ngFor='let trip of trips'>
      {{trip|json}}
    </ion-item>
  </ion-list>
  <ng-template #nomoredata>
    暂无数据
  </ng-template>
  <ion-infinite-scroll (ionInfinite)='loadMoreTrips()'>
    <ion-infinite-scroll-content>正在加载更多...</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>