<div class="hotel-item">
  <!-- <div class="hotel-img" [lazyLoad]='hotel?.FileName' [defaultImage]='defaultImage'></div> -->
  <img class="hotel-img" [lazyLoad]='hotel?.FileName' [loadingImage]='loadingImage' [recoverImage]='false'
    [defaultImage]='defaultImage' alt="酒店图片">
  <div class="right-side ion-padding-end">
    <div class='name' *ngIf='!hotel?.EnName'>{{hotel?.Name}}</div>
    <div class='name' *ngIf='hotel?.EnName'>{{hotel?.EnName}}</div>
    <div class="grade-stars">
      <ng-container *ngFor='let i of hotel?.grades'>
        <ion-icon name='star' *ngIf='i>=1' color='warning'></ion-icon>
        <ion-icon name='star-half' *ngIf='i<1' color='warning'></ion-icon>
      </ng-container>
      <ion-text class='ion-margin-start' color='secondary' *ngIf='hotel?.Grade'>{{hotel?.Grade}}分</ion-text>
    </div>
    <div class="location">
      <ion-icon name='location' color='secondary'> </ion-icon>
      <ng-container *ngIf='!hotel?.EnAddress'>{{hotel?.Address}}</ng-container>
      <ng-container *ngIf='hotel?.EnAddress'>{{hotel?.EnAddress}}</ng-container>
    </div>
    <div class="ion-text-end price">
      <small>￥</small>
      <span>{{hotel?.avgPrice||hotel?.VariablesJsonObj?.AvgPrice}}</span>
      <small>{{langOpt.rise}}</small>
    </div>
  </div>
</div>