<div class='cropper-container' [class.hidden]='!showCropBox'>
    <ion-button color='light' fill='clear' class="cancel-btn" size='small' (click)='cancel()'>取消</ion-button>
    <ion-button color='light' fill='clear' class="rotate-btn" size='small' (click)='rotate()'>旋转</ion-button>
    <ion-button color='light' fill='clear' class="ok-btn" size='small' (click)='ok()'>完成</ion-button>
    <img id="image" [src]="avatar" alt='待裁切的图片' [class.hidden]='!showCropBox'>
</div>
<!-- <div class='result-image' [class.hidden]='showCropBox' *ngIf='resultImageUrl' (click)='reset()'>
  <img [src]="resultImageUrl" alt="裁切后的图片">
</div> -->
<input type="file" id='file' hidden>