ion-content {
  position: relative;
  .bottom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
