<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <!-- <ion-button color='dark' (click)='back()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button> -->
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>钉钉维护</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDeleteButton()">
        <ion-text color='secondary' *ngIf='!toggleChecked'>编辑</ion-text>
        <ion-text color='secondary' *ngIf='toggleChecked'>完成</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar *ngIf='items?.length==0&&isShowBindButton' class='ion-text-center'>
    <ion-label color='medium' style='width:100%'>请至钉钉的应用“天行商旅”中绑定账号</ion-label>
  </ion-toolbar>
  <ion-list #List (ionDrag)='onSlidingItemDrag()'>
    <ion-item-sliding (click)="itemClick()" *ngFor="let item of items">
      <ion-item>
        <ion-label>{{ item?.Name }}</ion-label>
        <ion-button color="danger" size='small' *ngIf="toggleChecked" (click)="delete(item)">删除</ion-button>
      </ion-item>
      <ion-item-options side='end'>
        <ion-item-option color="danger" (click)="delete(item)">
          <ion-text color='light'>删除</ion-text>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <section class="bottom">
    <ion-button (click)="bind()" color='secondary' *ngIf='isShowBindButton'>绑定钉钉</ion-button>
  </section>
</ion-content>