<ion-header *ngIf='roomImages?.length'>
  <ion-toolbar>
    <div class="images" #imagesEle>
      <app-image-swiper [loop]='false' [imagesUrls]='roomImages' [autoplay]='true' (close)='onClose()'></app-image-swiper>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="house-info">
    <ion-item-divider>
      {{room?.Hotel?.Name}}
    </ion-item-divider>
    <ion-item-group>
      <ion-item *ngIf='room?.RoomDetails'>
        <ion-label text-wrap>
          <ng-container *ngFor='let it of room.RoomDetails'>
            <ng-container *ngIf='it.Description'>
              <span class='name'>{{it.Name}}：</span>
              <span class='desc'>{{it.Description}}</span>
            </ng-container>
          </ng-container>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>