<ion-header *ngIf='roomImages?.length'>
  <ion-toolbar>
    <div class="images" #imagesEle>
      <app-image-scroller [images]='roomImages' (close)='onClose()'></app-image-scroller>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="house-info">
    <ion-item-divider>
      {{room?.Hotel?.Name}}
    </ion-item-divider>
    <ion-item-group>
      <ion-item *ngIf='room?.RoomDetails'>
        <ion-label text-wrap>
          <ng-container *ngFor='let it of room.RoomDetails'>
            <ng-container *ngIf='it.Description'>
              <span class='name'>{{it.Name}}：</span>
              <span class='desc'>{{it.Description}}</span>
            </ng-container>
          </ng-container>
        </ion-label>
      </ion-item>
      <!-- <ion-item *ngFor='let plan of room?.RoomPlans'>
        <ion-label text-wrap>
          <div style="display: flex;align-items:center;justify-content:space-between">
            <strong>{{plan.Name}}</strong>
            <ion-text color='danger'>￥{{getAvgPrice(plan)}}</ion-text>
          </div>
          <div>
            <span class='desc'>{{getBreakfast(plan)}}</span>
            <span class='desc'>{{plan.Facility}}</span>
          </div>
          <div *ngIf='plan.BookType == HotelBookType.Elong ||
          plan.BookType == HotelBookType.Inventory'>
            <span class='desc'>{{getRules(plan)}}</span>
            （即时确认）</div>
        </ion-label>
        <ng-container *ngIf='(color$|async)[plan.Number] as color'>
          <ion-button slot='end' color='{{color}}' [disabled]='color=="danger"'
             (click)='onBook(plan)'>
            <span [style.color]='color=="danger"?"white":"initial"'>
              {{color=='danger'?"满房":"预订"}}
            </span>
          </ion-button>
        </ng-container>
      </ion-item> -->
    </ion-item-group>
  </ion-list>
</ion-content>