ion-header ion-title {
    font-size: 0.9rem;
}

.img {
    --background: white;
    --border-width: 0;
    position: relative;
    img {
        object-fit: cover;
        -o-object-fit: cover;
        max-height: 45vh;
        width: 100vw;
        height: 45vh;
    }
}

.announcement-container {
    height: 100%;
    list-style-type: none;
    height: 3em;
    overflow: auto;
    transition: all 200ms ease-in-out;
    li,
    & {
        margin: 0;
        padding: 0;
    }
    .announcement {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        .text {
            overflow: hidden;
            text-overflow: ellipsis;
            // white-space: nowrap;
            width: 100%;
        }
        img {
            width: 1.5em;
            margin-left: 0.5em;
        }
    }
}

ion-grid ion-row ion-col {
    outline: none;
    .item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        outline: none;
        ion-text {
            margin-top: 0.5rem;
        }
        ion-label {
            img {
                max-width: 3em;
            }
            // background: var(--ion-color-primary);
            // padding: 0;
            // margin: 0;
            // width: 4rem;
            // height: 4rem;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // border-radius: 50%;
            [class*="icon-"] {
                font-size: 2.5rem;
                color: var(--ion-color-secondary);
            }
        }
    }
}

.hat {
    .left {
        flex: 3;
        height: 100%;
        padding: 4px;
    }
    .ta {
        padding-top: 2px;
        padding-bottom: 2px;
        flex: 2;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        ion-img {
            flex: 1;
        }
        overflow: hidden;
    }
}

@keyframes marqueeanimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-203%);
    }
}

.marquee {
    width: 100%;
    white-space: nowrap;
    animation: 15s linear 0s infinite normal both marqueeanimation;
    ion-text {
        margin-left: 0.5em;
    }
}