<ion-header>
  <ion-toolbar>
    <ion-title>提示</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='container'>
    <div>
      <ion-label class='ion-text-center' color='danger'>
        您没有权限操作
      </ion-label>
      <ion-row class='ion-text-center'>
        <ion-col>
          <ion-button (click)='onBackToLoginPage()' *ngIf='isBackToLoginPage' color='secondary'>返回登录页面</ion-button>
          <ion-button (click)='onBack()' *ngIf='!isBackToLoginPage' color='secondary'>返回</ion-button>
        </ion-col>
        <ion-col *ngIf='isApp'>
          <ion-button  color='secondary'>退出应用</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>