<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>用车订单详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-swiper-slide-content [tabs]="tabs">
    <div class="swiper-slide">
      <div>
        <!-- 订单信息 -->
        <ion-item-divider>
          订单信息
        </ion-item-divider>
        <ion-row>
          <ion-col size='4'>订单编号</ion-col>
          <ion-col> {{orderDetail?.Order?.Id}}</ion-col>
        </ion-row>
        <ion-row *ngIf='orderDetail?.Order?.OrderCars?.length'>
          <ion-col size='4'>事务号</ion-col>
          <ion-col> {{orderDetail?.Order?.OrderCars[0].Id}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'>集团名称</ion-col>
          <ion-col> {{tmc?.Name}}</ion-col>
        </ion-row>
        <ion-row *ngIf="tmc?.IsShowServiceFee">
          <ion-col size='4'> 应付金额</ion-col>
          <ion-col> {{(orderDetail?.Order?.TotalAmount)}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'> 车费金额</ion-col>
          <ion-col> {{(orderDetail?.Order?.TotalCostAmount)}}</ion-col>
        </ion-row>
        <ion-row *ngIf="tmc?.IsShowServiceFee">
          <ion-col size='4'> 服务费</ion-col>
          <ion-col>{{getServicetip(orderDetail?.Order)}}</ion-col>
        </ion-row>
        <ion-row *ngIf='orderDetail?.Order?.OrderCars?.length'>
          <ion-col size='4'>其它费用</ion-col>
          <ion-col> {{getOtherAmount(orderDetail?.Order,orderDetail?.Order.OrderCars[0].Key)}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'>个人支付金额</ion-col>
          <ion-col> {{orderDetail?.Order?.OrderCars[0]?.PersonPayAmount}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'> 已付金额</ion-col>
          <ion-col> {{(orderDetail?.Order?.PayAmount)}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'> 订单状态</ion-col>
          <ion-col> {{orderDetail?.Order?.StatusName == "等待处理" ? "等待审批" : orderDetail?.Order?.StatusName}}</ion-col>
          <ion-col *ngIf='orderDetail?.Order?.Status == OrderStatusType.WaitPay'>
            <ion-button color='secondary' slot='end' (click)='onPay()'>
              现在去支付</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'> 订单来源</ion-col>
          <ion-col> {{orderDetail?.Order?.Channel}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4'> 付款方式</ion-col>
          <ion-col> {{orderDetail?.TravelType}}-{{orderDetail?.TravelPayType}}</ion-col>
        </ion-row>
        <!-- 审批记录 -->
        <ion-item-divider  *ngIf='orderDetail?.Histories?.length>0'>
          审批记录
        </ion-item-divider>
          <div>
            <div *ngFor='let history of orderDetail?.Histories'>
              <div class='approval-info'>
                <ion-row>
                  <ion-col size='4'>审批人:</ion-col>
                  <ion-col>{{history.Account?.RealName}} <span
                      *ngIf='history.StatusName'>({{history.StatusName}})</span></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size='4'>发起审批时间:</ion-col>
                  <ion-col>{{history?.InsertDateTime}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size='4'>审批截止时间:</ion-col>
                  <ion-col>{{history?.ExpiredTime?.startsWith("1800")?"":history?.ExpiredTime}}</ion-col>
                </ion-row>
                <ion-row *ngIf="history.Status==TaskStatusType.Passed||history.Status==TaskStatusType.Rejected">
                  <ion-col size='4'>审批时间:</ion-col>
                  <ion-col>{{history?.UpdateTime?.startsWith("0001")?"":history?.UpdateTime?.replace("T"," ")?.substring(0,16)}}</ion-col>
                </ion-row>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="swiper-slide" *ngFor="let orderHotel of orderDetail?.Order?.OrderCars">
      <!-- 乘客信息 -->
      <div>
        <ion-item-divider>
          乘客信息
        </ion-item-divider>
        <div *ngFor='let p of orderDetail?.Order?.OrderPassengers'>
          <ion-row>
            <ion-col size='4'>姓名</ion-col>
            <ion-col>
              {{p.Name}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='4'>证件类型</ion-col>
            <ion-col>
              {{p.CredentialsTypeName}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='4'>证件号</ion-col>
            <ion-col>
              {{p.CredentialsNumber}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='4'>性别</ion-col>
            <ion-col>
              {{p.Gender == "F" ? "女" : "男"}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='4'>生日</ion-col>
            <ion-col>
              {{p.Birthday?.substr(0,10)}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='4'>国籍</ion-col>
            <ion-col>
              {{p.IssueCountry}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='4'>证件到期日</ion-col>
            <ion-col>
              {{p.ExpirationDate?.substr(0,10)}}
            </ion-col>
          </ion-row>
          <ng-container *ngIf='orderDetail?.Order?.OrderCars?.length'>
            <ng-container *ngIf='orderDetail?.Order?.OrderCars[0] as orderCar'>
              <ion-row>
                <ion-col size='4'>违规</ion-col>
                <ion-col> {{orderCar.OrderTravel?.IllegalPolicy}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='4'>违规原因</ion-col>
                <ion-col> {{orderCar.OrderTravel?.IllegalReason}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='4'>成本中心</ion-col>
                <ion-col> {{orderCar.OrderTravel?.CostCenterCode}}-{{orderCar.OrderTravel?.CostCenterName}}
                  <ng-container *ngFor='let number of getOrderNumbers()'>
                    <span>{{number.Name}}</span>
                    <span class="ion-margin-start">{{number.Number}}</span>
                  </ng-container>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="getVariableObj(orderCar,'ExceptionMessage') as exmsg">
                <ion-col size='4'>异常消息</ion-col>
                <ion-col> {{exmsg}}
                </ion-col>
              </ion-row>
            </ng-container>
          </ng-container>
        </div>
        <!-- 联系信息 -->
        <ng-container *ngIf="orderDetail?.Order?.OrderLinkmans">
          <ion-item-divider>
            联系信息
          </ion-item-divider>
          <div *ngFor='let p of orderDetail?.Order?.OrderLinkmans'>
              <ion-row>
                <ion-col size='4'>类型</ion-col>
                <ion-col>
                  联系人
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='4'>姓名</ion-col>
                <ion-col>{{p.Name}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='4'>邮箱</ion-col>
                <ion-col>{{p.Email}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size='4'>电话</ion-col>
                <ion-col>{{p.Mobile}}</ion-col>
              </ion-row>
            </div>
        </ng-container>

      
        <!-- 用车信息 -->
        <ion-item-divider>
          用车信息
        </ion-item-divider>
        <div *ngFor='let orderCar of orderDetail?.Order?.OrderCars'>
          <ion-row>
            <ion-col size='4'>实际出发地址</ion-col>
            <ion-col>
              <div>
                {{orderCar.ActualFromAddress}}
                <div>{{orderCar.FromTime?.substr(0,19)?.replace("T"," ")}}</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='4'>实际目的地址</ion-col>
            <ion-col>
              <div>
                {{orderCar.ActualToAddress}}
                <div>{{orderCar.ArriveTime?.substr(0,19)?.replace("T"," ")}}</div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </app-swiper-slide-content>
</ion-content>