.desc {
  margin-right: 1em;
}
.name {
  font-weight: bold;
}
.room-plan-item {
  display: flex;
  .room-detail {
    flex: 1;
  }
  .room-detail-desc {
    line-height: 1.6;
    font-size: 0.9rem;
    padding: 0.15em 0;
    color: var(--ion-text-color);
    span {
      margin-right: 1em;
    }
  }
  .price {
    text-align: right;
    & > ion-text {
      margin-right: 1em;
      font-weight: bold;
    }
    &.can-not-be-book .avg-price {
      color: var(--ion-color-danger);
      opacity: 0.6;
    }
    &.can-not-be-book .btn-book {
      border: 2px solid var(--ion-color-danger);
      opacity: 0.7;
      ion-button {
        --background: var(--ion-color-danger);
        ion-text {
          color: white;
        }
      }
      ion-button + ion-text {
        color: var(--ion-color-danger);
      }
    }
    .btn-book {
      display: inline-flex;
      flex-flow: column nowrap;
      width: 5em;
      justify-content: center;
      text-align: center;
      border: 2px solid tomato;
      border-radius: 5px;
      font-size: 0.9rem;
      ion-button {
        --background-activated: var(--ion-color-secondary);
        --background: tomato;
        ion-text {
          font-size: 1rem;
        }
      }
    }
    &[color="success"] .btn-book {
      border: 1px solid var(--ion-color-success);
      ion-button {
        --background: var(--ion-color-success);
      }
    }
    &[color="warning"] .btn-book {
      border: 1px solid var(--ion-color-warning);
      ion-button {
        --background: var(--ion-color-warning);
      }
    }
    &[color="medium"] .btn-book {
      border: 1px solid var(--ion-color-medium);
      ion-button {
        --background: var(--ion-color-medium);
      }
    }
  }
}
:host {
  min-width: 100%;
  display: block;
  padding: 0.3em 0;
}
.disabled {
  opacity: 0.4;
}
.freebook {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ion-icon {
    font-size: 26px;
  }
}
