<ion-header>
  <ion-toolbar>
    <ion-title>退票信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-train-ticket [train]='train' [passenger]='passenger' [order]='order'></app-train-ticket>
  <ion-row>
    <ion-col>
      <ion-button expand='block' (click)='back()'>取消</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color='danger' expand='block' (click)='back(true)'>
        <ion-text color='light'>确认退票</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>