<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <app-back-button></app-back-button>
      <ion-searchbar class="searchbar" style='padding:0' #searchCountryEle animated (ionChange)='onSearchCountry()'
        [(ngModel)]='keywords'>
      </ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-refresher (ionRefresh)="doRefresh()" slot='fixed'>
    <ion-refresher-content></ion-refresher-content>
  </app-refresher>
  <ion-list>
    <ng-container *ngIf='isLoadingCountries else loadedC'>
      正在加载...
    </ng-container>
    <ng-template #loadedC>
      <ion-item *ngFor='let c of searchCountries' @flyInOut (click)='onSelectCountry(c)'>
        <ion-label class="ion-text-wrap">{{c.Name}}</ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)='loadMore()'>
    <ion-infinite-scroll-content>加载更多...</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>