:host {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  z-index: 100;
  user-select: none;
  background-color: var(--ion-color-light);
  // pointer-events            : none;
  margin: 0;
}

.pic {
  top: 10%;
  transform: translateY(-10%);
  position: relative;
  margin: 0;
  width: 100%;
  left: 2.5em;
  right: 2.5em;
}

.block {
  position: absolute;
  left: 0;
  top: 0;
}

.sliderContainer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  background: #f7f9fa;
  color: #45494c;
  border: 1px solid #e4e7eb;
}

.sliderContainer_active .slider {
  height: 38px;
  top: -1px;
  border: 1px solid var(--ion-color-primary);
}

.sliderContainer_active .sliderMask {
  height: 38px;
  border-width: 1px;
}

.sliderContainer_success .slider {
  height: 38px;
  top: -1px;
  border: 1px solid var(--ion-color-success);
  background-color: var(--ion-color-success) !important;
}

.sliderContainer_success .sliderMask {
  height: 38px;
  border: 1px solid var(--ion-color-success);
  background-color: rgba(var(--ion-color-success-rgb), 0.5);
}

.sliderContainer_success .sliderIcon {
  background-position: 0 0 !important;
}

.sliderContainer_fail .slider {
  height: 38px;
  top: -1px;
  border: 1px solid var(--ion-color-danger);
  background-color: var(--ion-color-danger) !important;
}

.sliderContainer_fail .sliderMask {
  height: 38px;
  border: 1px solid var(--ion-color-danger);
  background-color: rgba(var(--ion-color-danger-rgb), 0.5);
}

.sliderContainer_fail .sliderIcon {
  top: 14px;
  background-position: 0 -82px !important;
}

.sliderContainer_active .sliderText,
.sliderContainer_success .sliderText,
.sliderContainer_fail .sliderText {
  display: none;
}

.sliderMask {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  border: 0 solid var(--ion-color-secondary);
  background: rgba(var(--ion-color-secondary-rgb), 0.3);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background 0.2s linear;
  pointer-events: initial;
}

.slider:hover {
  background: var(--ion-color-secondary);
}

.slider:hover .sliderIcon {
  background-position: 0 -13px;
}

.sliderIcon {
  pointer-events: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  height: 100%;
}

.sliderContainer_active .sliderIcon {
  color: var(--ion-color-light);
  background-color: var(--ion-color-secondary);
}

.sliderContainer_success,
.sliderContainer_fail {
  .sliderIcon {
    color: var(--ion-color-light);
  }
}

.refreshIcon {
  z-index: 101;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 34px;
  height: 34px;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bolder;
  // background     : url(http://cstaticdun.126.net//2.6.3/images/icon_light.f13cff3.png) 0 -437px;
  background-size: 34px 471px;
}
