<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>出差申请</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="background: transparent;">
    <ion-item detail (click)='onSelectOrg()' [attr.organization]='"organization"'>
      <ion-text [color]="!enable?'dark':'dark'">
        所属部门
      </ion-text>
      <ion-text [color]="!enable?'medium':'dark'" style="max-width: initial;flex: 3; text-align: end;"  class="ion-text-end">{{searchModel.TravelForm?.Organization?.Name||" "}} <ng-container
          *ngIf="searchModel.TravelForm?.Organization?.Code">({{searchModel.TravelForm?.Organization?.Code}})
        </ng-container>
      </ion-text>
    </ion-item>
    <ion-item [attr.Subject]='"Subject"'>
      <ion-text [color]="!enable?'dark':'dark'">
        出差事由
      </ion-text>
      <ion-input placeholder="请输入" type="text" slot="end" class="ion-text-end"
        [(ngModel)]="searchModel.TravelForm.Subject" [disabled]="!enable">
      </ion-input>

    </ion-item>
    <ion-item>
      <ion-text [color]="!enable?'dark':'dark'">客户或公司</ion-text>
      <ion-input placeholder="请输入" slot="end" class="ion-text-end" [(ngModel)]="searchModel.TravelForm.CustomerName"
      [disabled]="!enable">
      </ion-input>
    </ion-item>
    <ion-item [attr.tripType]='"tripType"'>
      <ion-text [color]="!enable?'dark':'dark'">
        出差类别
      </ion-text>
      <ion-select slot="end" class="ion-text-end" [(ngModel)]="searchModel.TravelForm.TripType" okText="确定"
        cancelText="取消" [compareWith]="compareWithFn" [disabled]="!enable">
        <ion-select-option value="国内">国内</ion-select-option>
        <ion-select-option value="国际">国际</ion-select-option>
        <ion-select-option value="港澳台">港澳台</ion-select-option>
      </ion-select>
    </ion-item>
    <app-add-stroke [enable]="enable" [attr.addStroke]='idx' *ngFor="let item of searchModel.TravelForm.Trips;let idx=index;"
      [index]="idx" [trip]='item' (remove)='onRemoveTrip($event)'></app-add-stroke>
    <ion-button color='secondary' class="ion-padding-horizontal" expand='block' fill='outline' (click)="onAddTrip()"
      *ngIf="enable">
      <ion-icon name='add-circle-outline' color='secondary'></ion-icon>
      添加行程
    </ion-button>
    <ion-item>
      <ion-text [color]="!enable?'dark':'dark'">
        出差天数统计
      </ion-text>
      <ion-label slot="end" class="ion-text-end" [color]="!enable?'medium':'dark'">
        {{getAllTravelDays()}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-text [color]="!enable?'dark':'dark'">
        备注
      </ion-text>
      <ion-input [disabled]="!enable" placeholder="请输入" slot="end" class="ion-text-end" [(ngModel)]="searchModel.TravelForm.Detail">
      </ion-input>
    </ion-item>
    <ion-item detail (click)="onSelectCostCenter()">
      <ion-text [color]="!enable?'dark':'dark'">成本中心</ion-text>
      <ion-label class="ion-text-end" color="{{searchModel.TravelForm?.CostCenterName}}" [color]="!enable?'medium':'dark'">
        {{searchModel.TravelForm?.CostCenterName||" "}}</ion-label>
    </ion-item>
    <ion-item *ngIf="tmc?.OutNumberNameArray?.length>0">
      <div>
        <div *ngFor="let item of tmc?.OutNumberNameArray" [attr.OutNumberName]='item'>
          <ion-input placeholder="{{item}}" [(ngModel)]="outNumbers[item]" [disabled]="!enable"></ion-input>
        </div>
      </div>
    </ion-item>
    <ion-item detail (click)='openApproverModal()' *ngIf="tmc?.TravelApprovalType==TravelApprovalType.Free"
      [attr.accountId]='"accountId"'>
      <ion-text [color]="!enable?'dark':'dark'">
        审批人
      </ion-text>
      <ion-text [color]="!enable?'medium':'dark'" style="max-width: initial;flex: 3; text-align: end;" class="ion-text-end">
        {{appovalStaff}}
      </ion-text>
    </ion-item>
    <ion-item *ngIf="!enable">
      <div *ngIf="searchModel.Histories">
        <ion-item-divider>
          审批记录
        </ion-item-divider>
        <div *ngFor="let h of searchModel?.Histories">
          <div>
            <label>审批时间:</label>
          <label>{{h.HandleTime}}</label>
          </div>
          <div>
            <label>审批人:</label>
          <label>{{h.Account.RealName}}</label>
          </div>
          <div>
            <label>审批结果:</label>
          <label>{{h.StatusName}}</label>
          </div>
          <div>
            <label>审批意见:</label>
          <label>{{h.Remark}}</label>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-button slot='end' color="secondary" style="width: 7em;height: 2.4em;" (click)="onSave()">
        保存
      </ion-button>
      <ion-button slot='end' color="secondary" (click)="onSubmit()" style="width: 7em;height: 2.4em;">
        提交
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>