<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>添加出差申请</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list  style="background: transparent;">
    <ion-item detail (click)='onSelectOrg()'> 
      <ion-label>
        所属部门
      </ion-label>
      <ion-label>{{searchModel.TravelForm}} <ng-container *ngIf='organizationCode as code'>({{code}})</ng-container>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        出差事由
      </ion-label>
      <ion-input placeholder="请输入出差事由" slot="end" class="ion-text-end" [(ngModel)]="searchModel.TravelForm.Subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>将要拜访的客户或公司</ion-label>
      <ion-input placeholder="请输入" slot="end" class="ion-text-end"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        出差类别
      </ion-label>
      <ion-select slot="end" class="ion-text-end">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
    <app-add-stroke></app-add-stroke>
    <div class="add_btn">
          添加行程
    </div>
    <ion-item>
      <ion-label>
        出差天数统计
      </ion-label>
      <ion-input placeholder="请输入" slot="end" class="ion-text-end"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        出差信息备注
      </ion-label>
      <ion-input placeholder="请输入" slot="end" class="ion-text-end"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        成本中心
      </ion-label>
      <ion-select slot="end" class="ion-text-end">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button color="secondary">
        保存
      </ion-button>
      <ion-button color="secondary" (click)="onSubmit()">
        提交
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>