.add_btn{
    background: var(--ion-color-secondary);
    color: var(--ion-color-light);
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0.5em auto;
}