<div style="width: 100%;" *ngIf='trip'>
  <ion-card>
    <div class="row">
      <ion-label color='secondary' class='title'>
        <img src="assets/images/1.png" alt="机票">
        <span class="name">机票</span>
      </ion-label>
      <ion-button [disabled]='true' size='small' fill="clear" color='secondary' slot="end">{{trip.Status}}</ion-button>
    </div>
    <ion-card-content>
      <div class='ticket'>
        <div class="start">
          <div class="time">
            {{startHHmm}}
          </div>
          <div class="airport-name">{{trip.FromName?.replace("国际机场","")?.replace("机场","")}}</div>
        </div>
        <div class="center">
          <div class="flightno">{{trip.Name}}</div>
          <div class="arrow">
            <img src="assets/images/right-arrow.png" class="right-arrow" alt="">
          </div>
          <div class="duration" *ngIf='trip?.Number'>{{trip?.Number}}</div>
        </div>
        <div class="end ion-text-end">
          <div class="time">
            {{endHHmm}}
          </div>
          <div class="airport-name">{{trip.ToName?.replace("国际机场","")?.replace("机场","")}}</div>
        </div>
      </div>
      <div class='date'>
        起飞日期：{{startDate}}
      </div>
      <div class="passenger" >
        <span class="notranslate">{{trip.Passenger?.Name}}</span>：{{trip.HideCredentialsNumber}}
      </div>
      <div class="orderno">
        <span>订单编号：</span>{{trip.OrderId}}
      </div>
      <div class='btns' *ngIf='isShowInsurance'>
        <ng-container *ngFor='let p of trip.InsuranceProducts'>
          <ion-button color='secondary' size='small' (click)='onShowSelectedInsurance(p,trip,$event)'>
            {{p.Name}}({{p.Price}})
          </ion-button>
        </ng-container>
        <ng-container *ngIf='orderInsurad'>
          <ion-button color='secondary' (click)='payInsurance(orderInsurad.Key,trip.OrderId,$event)' size='small'>
            继续支付{{orderInsurad.Name}}
          </ion-button>
        </ng-container>
      </div>
    </ion-card-content>
  </ion-card>
</div>