<ion-content class="cnt">
  <ng-container *ngIf='gallaeries?.length else tpl'>
    <ion-grid *ngFor='let d of gallaeries'>
      <ion-row class="date">
        <ion-item-divider>{{d.date}}</ion-item-divider>
      </ion-row>
      <ion-row>
        <ion-col size='4' *ngFor="let item of d.datas" (click)='onSelect(item)'>
          <img [lazyLoad]='item.ImageUrl' [loadingImage]='config?.PrerenderImageUrl' [defaultImage]='config?.DefaultImageUrl' alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-template #tpl>
    <app-or-comp *ngIf='!isLoading'>暂无数据</app-or-comp>
  </ng-template>
  <ion-infinite-scroll (ionInfinite)='loadMore()'>
    <ion-infinite-scroll-content>加载更多</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab>
  <ion-fab-button (click)='onBack()' size='small'>
    <ion-icon color='light' name="chevron-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>