<div class="container {{isSegments?'hidden':''}}" [ngStyle]='containerStyle' #containerEle [ngClass]='{"horizontal":direction=="horizontal","vertical":direction=="vertical"}'>
  <div class="tab" #tabEle [attr.tabid]='t.value' *ngFor='let t of tabs' [class.active]='t.isActive' (click)='onTab(t)'>
    <ng-container *ngIf='options.tabRef else tabTpl'>
      <ng-container [ngTemplateOutlet]='options.tabRef' [ngTemplateOutletContext]='{tab:t}'></ng-container>
    </ng-container>
    <ng-template #tabTpl>
      {{t.name}}
    </ng-template>
  </div>
</div>
<ion-segment #segmentEle mode='ios' [class]='isSegments?"":"hidden"' [value]='activeTab?.value' scrollable (ionChange)='onActiveSegment($event)'>
  <ion-segment-button *ngFor='let t of tabs' [value]='t.value' [attr.tabid]='t.value' #segmentbtnEle>{{t.name}}</ion-segment-button>
</ion-segment>