<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='back()'>
        <ion-icon color='dark' name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>当前已选择火车信息</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngFor='let bookInfo of bookInfos'>
    <ng-container *ngIf='bookInfo.info'>
      <ion-card (click)='onSelect(bookInfo)'>
        <ion-card-header>
          <ion-item-divider color='primary' sticky>
            <ion-label>
              <div class="passenger">
                <strong>
                  {{bookInfo.info?.passenger?.Name}}:
                </strong>
                <span>{{bookInfo.info?.credential?.Number}}</span>
              </div>
            </ion-label>
            <ion-checkbox slot='end' [(ngModel)]="bookInfo.isSelected" [disabled]='true'
              style="opacity: 1;margin-right: 1em;">
            </ion-checkbox>
          </ion-item-divider>
        </ion-card-header>
        <ion-card-content>
          <div class='time'>
            <ion-text color='dark'>
              发车时间：{{bookInfo.info.bookInfo?.trainEntity?.StartTime?.substr(0,"yyyy-MM-dd".length)}}
            </ion-text>
          </div>
          <div class='ticket'>
            <div class="start">
              <div>{{train?.FromStationName}}</div>
              <div>
                <strong>{{bookInfo.info.bookInfo?.trainEntity?.StartTime?.substr("yyyy-MM-ddT".length,'hh:mm'.length)}}</strong>
              </div>
            </div>
            <div class="center">
              <div class='stop-line-stop' [attr.data]='train?.TrainCode'>
                <div class="line"></div>
              </div>
            </div>
            <div class="end text-end">
              <div>{{train?.ToStationName}}</div>
              <div>
                <strong>{{bookInfo.info.bookInfo?.trainEntity?.ArrivalTime?.substr("yyyy-MM-ddT".length,'hh:mm'.length)}}</strong>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>




  <!-- <ion-item-group *ngFor='let bookInfo of  bookInfos'>
      <ng-container *ngIf='bookInfo.info'>
        <ion-item-divider color='primary' sticky (click)='onSelect(bookInfo)'>
          <ion-label color='dark'>
            {{bookInfo.info?.passenger?.Name}}{{bookInfo.info?.credential?.Number}}</ion-label>
          <ion-checkbox slot='end' [(ngModel)]="bookInfo.isSelected" [disabled]='true' style="opacity: 1;margin-right: 1em;">
          </ion-checkbox>
        </ion-item-divider>
        <ion-item (click)='onSelect(bookInfo)'>
          <div class='detail'>
            <div class='date'>
              <strong>{{bookInfo.info?.bookInfo?.trainEntity?.StartTime?.substr(0,"yyyy-MM-dd".length)}}</strong>
            </div>
            <div>
              <ion-row>
                <ion-col class='ion-text-end'>
                  <div>
                    <ion-label color='danger'>￥{{bookInfo.info?.bookInfo?.selectedSeat?.SalesPrice}}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <ion-label class='rules' color='danger' class='ion-text-wrap'>
              {{bookInfo.info?.bookInfo?.trainPolicy?.Rules?.join("; ")}}
            </ion-label>
          </div>
        </ion-item>
      </ng-container>
    </ion-item-group> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot='end' expand='block' (click)='onCancel()' color='secondary'>取消
    </ion-button>
    <ion-button slot='end' expand='block' (click)='onConfirm()' color='secondary'>确定
    </ion-button>
  </ion-toolbar>
</ion-footer>