<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>注册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]='form'>
    <section>
      <ion-row>
        <ion-col size="3">
          <ion-label position="floating">手机号</ion-label>
        </ion-col>
        <ion-col>
          <ion-input placeholder="手机号" formControlName="Mobile" type="number" min="11"
           ></ion-input>
        </ion-col>
        <ion-col size="4" *ngIf="countDown==0; else countdown">
          <ion-button size="small" fill="outline" color="primary" [disabled]="!isMobileNumberOk"
            (click)="showImageCode()">
            <span [style.font-size.rem]="0.8">发送验证码</span>
          </ion-button>
        </ion-col>
        <ng-template #countdown>
          <ion-col class="down-count" size="2">
            <ion-label color="medium">{{ countDown }} s</ion-label>
          </ion-col>
        </ng-template>
      </ion-row>


      <ion-row>
        <ion-col size="4">
          <ion-label position="floating">短信验证码</ion-label>
        </ion-col>
        <ion-col>
          <ion-input placeholder="请输入收到短信验证码" formControlName="MobileCode" (blur)="showImageCode(null)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>输入密码</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="password" value="" name="Password" formControlName="Password" placeholder="新密码">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>确认密码</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="password" value="" name="surePassword" formControlName="SurePassword" placeholder="确认密码">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row text-center>

        <ion-col>
          <ion-button fill='clear' (click)='register()' color='primary' [disabled]="!isCodeOk" text-end>注册</ion-button>
        </ion-col>

      </ion-row>
    </section>
  </form>
  <app-slidvalidate-com *ngIf="isShowImageCode" (slideEvent)='onSlideEvent($event)'></app-slidvalidate-com>
</ion-content>