.flight-date {
  width: 100%;
  padding-right: 2px;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .date-week {
    display: flex;
    align-items: flex-end;
    margin: 0 0.5rem;
    h2 {
      font-size: 1.2rem;
    }
    h6 {
      margin-left: 0.5rem;
      font-size: 0.7rem;
    }
  }
}
.destination {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 1em -1em;
  ion-item {
    width: 100%;
    ion-label:first-child {
      flex: 0.6;
    }
  }
  ion-button {
    margin-left: auto;
    font-size: 0.6rem;
    &.ios {
      height: 5em;
    }
    .pos {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    .pos ion-icon {
      font-size: 1rem;
    }
  }
}
ion-card-header {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

