<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color='dark' (click)="cancel()">取消</ion-button>
    </ion-buttons>
    <ion-title text-center>{{title||"日历"}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)='onPreviousMonth()'>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ul class='weeks'>
    <li *ngFor='let w of weeks;let first=first;let last=last'>
      <ion-text color='{{first||last?"danger":"secondary"}}'>
        {{w}}
      </ion-text>
    </li>
  </ul>
  <ul *ngFor='let ym of calendars;let last=last;' class='calendar' >
    <li style="width: 100%;display: block;height: 1em;">
      <strong>{{ym.yearMonth?.substr(0,4)}}年</strong>
    </li>
    <li *ngFor='let day of ym.dayList' class='day' [ngClass]='clazz(day)'>
      <app-day [dayModel]='day' (daySelected)='onDaySelected(day)'></app-day>
    </li>
    <div class='shadow-month'>
      {{ym.yearMonth?.substr(5,2)<"10"?ym.yearMonth?.substr(5,2)?.replace('0',""):ym.yearMonth?.substr(5,2)}}</div>
  </ul>
  <ion-infinite-scroll (ionInfinite)='loadMore()'>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>