<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color='secondary' (click)="cancel()">取消</ion-button>
    </ion-buttons>
    <ion-title text-center>日历</ion-title>
  </ion-toolbar>
  <ion-grid class='weeks'>
    <ion-row>
      <ion-col *ngFor='let w of weeks' size='{{12/7}}'>{{w}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-grid *ngFor='let ym of calendars' class='calendar' [attr.ymonth]='getMonth(ym.yearMonth)'>
    <ion-row margin-top>
      <ion-datetime color='secondary' id="dynamicDisabled"  pickerFormat="YYYY MM" style='display: none' [min]='minyear' 
        max='2119-12-31' [value]="ym.yearMonth"></ion-datetime> 
      <ion-col class='ym' (click)='showPicker()'>
        <div class='ym'>{{ym.yearMonth?.substr(0,4)}}年{{getMonth(ym.yearMonth)}}月
          <ion-icon name="arrow-dropdown" mode='md'></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center *ngFor='let day of ym.dayList' size='{{12/7}}' class='day' [class.active]='day.selected'
        [class.selected]="day?.selected" [class.today]='day?.isToday' [class.between-selected-days]='day?.isBetweenDays'
        [attr.first-selected-day]='day?.firstSelected' [attr.last-selected-day]='day?.lastSelected'
        [class.last-month-day]="day?.isLastMonthDay" [class.not-enabled]='!(day?.enabled)' [class.today]='day.isToday'>
        <app-day [dayModel]='day' (daySelected)='onDaySelected(day)'></app-day>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>