ion-grid {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;

  &,
  ion-row,
  ion-col {
    margin: 0;
    padding: 0;
  }
  &.calendar {
    margin-bottom: 2em;
    position: relative;
    .shadow-month {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      color: rgba(0, 0, 0, 0.16);
      font-family: serif;
      font-size: 15rem;
    }
    // &::after {
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform-origin: left top;
    //   content: attr(ymonth);
    //   color: rgba(0, 0, 0, 0.16);
    //   font-size: 15rem;
    //   transform: translate3d(-50%, -50%, 0);
    //   z-index: -1;
    //   font-family: serif;
    // }
    // ion-row:first-child {
    //   position: sticky;
    //   top: 0;
    //   background: white;
    //   z-index: 100;
    // }
  }
  ion-row ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-row:not(:first-child) ion-col {
    border-radius: 0;
    &.not-enabled {
      background-color: rgba(var(--ion-color-dark-rgb), 0.15);
    }
    &.last-month-day {
      visibility: collapse;
    }
    &[last-selected-day="true"] {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &[first-selected-day="true"] {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.selected.between-selected-days:not(.not-enabled),
    &.selected.between-selected-days {
      background-color: rgba(var(--ion-color-secondary-rgb), 0.8);
      color: var(--ion-color-primary);
    }
  }
  &.weeks {
    padding: 0 0.5em;
    ion-row:first-child {
      background-color: transparent;
      margin: 0;
    }
    ion-col {
      border: none;
    }
    z-index: 1000;
  }
  ion-row:first-child {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-secondary);
  }
}
.ym {
  display: flex;
  align-items: center;
  justify-content: center;
}
.day {
  &.active {
    background-color: var(--ion-color-secondary);
    color: white;
  }
  &.today {
    color: white;
    background-color: rgba(var(--ion-color-danger-rgb), 0.7);
    &.active {
      background-color: rgba(var(--ion-color-danger-rgb), 0.9);
    }
  }
}
ion-content {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}
:host {
  height: 100%;
  width: 100%;
}
