<ion-header class='ion-text-center'>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <app-back-button [backFn]='back' >
      </app-back-button>
    </ion-buttons>
    <ion-title class='ion-text-center' color='secondary'>
      <ion-text>{{vmFromCity?.Nickname}}</ion-text>
      <i class='icon icon-search-train'></i>
      <ion-text>{{ vmToCity?.Nickname}}</ion-text>
    </ion-title>
    <ion-buttons slot='end' class='h'>
      <app-back-button [backFn]='back' >
      </app-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor='let item of schedules;let i=index;' class='ion-text-center'
      [class.time-color]='getTimeColor(item.ArriveTime)||getTimeColor(item.StartTime)'>
      <ion-col size='1' class='ion-text-start'>
        <div class='station-no'>{{item.StationNo}}</div>
      </ion-col>
      <ion-col class='ion-text-start'>{{item.StationName}}</ion-col>
      <ion-col>{{item.ArriveTime}}</ion-col>
      <ion-col>{{item.StartTime}}</ion-col>
      <ion-col>{{item.StayTime}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>