.station-no {
  width: 1.5em;
  height: 1.5em;
  min-width: 1.5em;
  font-size: 0.6rem;
  min-height: 1.5em;
  border: 1px solid var(--ion-color-medium);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 0.005em;
}
.time-color {
  color: var(--ion-color-medium);
}
ion-col {
  align-self: center;
}
ion-content {
  font-size: 0.8rem;
}
