<ion-header text-center>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='back()'>
        <ion-icon color='dark' name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>
      <ion-text>{{vmFromCity?.Nickname}}</ion-text>
      <i class='icon icon-home-train'></i>
      <ion-text>{{ vmToCity?.Nickname}}</ion-text>
    </ion-title>
    <ion-buttons slot='end' class='h'>
      <ion-button (click)='back()'>
        <ion-icon color='dark' name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor='let item of schedules;let i=index;' text-center
      [class.time-color]='getTimeColor(item.ArriveTime)||getTimeColor(item.StartTime)'>
      <ion-col size='1' text-start>
        <div class='station-no'>{{item.StationNo}}</div>
      </ion-col>
      <ion-col text-start>{{item.StationName}}</ion-col>
      <ion-col>{{item.ArriveTime}}</ion-col>
      <ion-col>{{item.StartTime}}</ion-col>
      <ion-col>{{item.StayTime}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>