<ion-list>
    <div class='wrapper'>
        <ul class='first-list'>
            <li class='tab' *ngFor='let tab of hotelQuery?.locationAreas' (click)='onTabClick(tab)' [class.active]='tab.active' [class.has-item-filtered]='tab.hasFilterItem'>
                {{tab.label}}
            </li>
        </ul>
        <ng-container *ngIf='secondaryItems?.length||thirdItems?.length else contents'>
            <ul class='secondary-list' *ngIf='secondaryItems?.length'>
                <li *ngFor='let item of secondaryItems' (click)='onItemClick(item,secondaryItems)' [attr.dataid]='item.id'>
                    <ion-text color='{{item.isSelected?"secondary":"dark"}}'>{{item.label}}</ion-text>
                </li>
            </ul>
            <ul class='third-list' *ngIf='thirdItems?.length'>
                <li *ngFor='let item of thirdItems' (click)='onItemClick(item,thirdItems)' [attr.dataid]='item.id'>
                    <ion-text color='{{item.isSelected?"secondary":"dark"}}'>{{item.label}}</ion-text>
                    <ion-icon name="checkmark" *ngIf='item.isSelected' color='secondary'></ion-icon>
                </li>
            </ul>
        </ng-container>
        <ng-template #contents>
            <ul class='normal-list' *ngIf='normalItems?.length'>
                <li *ngFor='let item of normalItems' (click)='onItemClick(item,normalItems)' [attr.dataid]='item.id'>
                    <ion-text color='{{item.isSelected?"secondary":"dark"}}'>{{item.label}}</ion-text>
                    <ion-icon name="checkmark" *ngIf='item.isSelected' color='secondary'></ion-icon>
                </li>
            </ul>
        </ng-template>
    </div>
</ion-list>
<ion-list>
    <ion-row>
        <ion-col size='3'>
            <ion-button expand='block' (click)='onReset()'>{{langOpt.Reset}}</ion-button>
        </ion-col>
        <ion-col size='9'>
            <ion-button expand='block' (click)='onFilter()' color='secondary'>{{langOpt.determine}}</ion-button>
        </ion-col>
    </ion-row>
</ion-list>